@{
    var tabNum = ViewBag.tabNum;
    var cur_stat = ViewBag.CurrStatus;
    @using Newtonsoft.Json;
    var dvobj = JsonConvert.SerializeObject(ViewBag.StatusHistory);
}
<script>

    $(document).ready(function () {
          $('.selectpicker').selectpicker({
        size: 4
          });
          $('.selectpicker').selectpicker('refresh');
          $.each(@Html.Raw(dvobj), function (i, obj) {
                $('#timeline' + @tabNum).append(" <li class='timeline-item' id= 'stat" + i + "' > " +
                    "<div class='timeline-badge' id='timeline-badge" + i + "'><i class='glyphicon glyphicon-check'></i></div>" +
                    "<div class='timeline-panel'> "+
                    "<div class='timeline-heading col-md-12'> " +
                    "<strong class='timeline-title col-md-1'>" + obj.Status + "</strong>" +
                     "<div class='timeline-time col-md-9'>"+
                    "<p><small class='text-muted col-md-10'><i class='glyphicon glyphicon-time'></i>" + obj.CommitTs + "</small><small class='pull-left col-md-2' > " + obj.CommitUname + "</small ></p> " +
                    "</div> " +
                        "<img src= '../static/dp_29_micro.jpg" + "' class='img-circle pull-right col-md-2' />" +
                    "</div>" +
                    "<div class='timeline-body' id='timeline-body"+i+"'> "+
                            "<p class='timeline-body-clickmore'>" + obj.ChangeLog + "</p>" +
                            "<a class='primary pull-right more'>more</a>" +
                    "</div>" +
                    "</div> "+
                    "</li>");
                var classname;
                if (obj.Status === "Test")
                    classname = "info";
                if (obj.Status === "UAT")
                   classname = "primary";
                if (obj.Status === "Live")
                {
                    classname = "success";
                    $('#stat' + i).addClass("livestat");
                }
                if (obj.Status === "Offline")
                    classname = "warning";
                if (obj.Status === "Obsolete")
                    classname = "danger";
                $('#timeline-badge' + i).addClass(classname);

                $('#stat' + i + ' .more').on('click', function () {
                    var p_element = $('#stat' + i + ' #timeline-body'+i+' p');
                    p_element.toggleClass("timeline-body-clickmore");
                    var a_element = $('#stat' + i + ' #timeline-body' + i + ' a');
                    if (a_element.text() === 'more')
                        a_element.text('less');
                    else
                        a_element.text('more')
                });
           });
    });

</script>
<div class='container'>
    <div class='row statwindow col-md-12' id="statwindow@(tabNum)">
        <ul class='timeline' id='timeline@(tabNum)'>
            <li class='timeline-item' id='stat0'>
                <div class='timeline-badge' id='timeline-badge0'>
                    <i class='glyphicon glyphicon-check'></i>
                </div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h5 class='timeline-title' style='display:inline'> Current Status :@(cur_stat)</h5>
                        <select class='selectpicker btn' id='status_drpdwn@(tabNum)' style='display:inline'>
                            <option value='Select Status'>Select Status</option>
                            if (cur_stat == "Dev")
                            <option value='Test'>Test</option>");
                            if (cur_stat == "Test") {
                            <option value='Dev'>Dev</option>
                            <option value='UAT' id='uat'>UAT</option>
                            <option value='Live'>Live</option>
                            }
                            if (cur_stat == "UAT") {
                            <option value='Live'>Live</option>
                            }
                            if (cur_stat == "Live") {
                            <option value='Dev'>Dev</option>
                            <option value='Test'>Test</option>
                            <option value='Offline'>Offline</option>
                            }
                            if (cur_stat == "Offline") {
                            <option value='Dev'>Dev</option>
                            <option value='Test'>Test</option>
                            <option value='Obsolete'>Obsolete</option>
                            }
                            if (cur_stat == "Obsolete") {
                            @*do something*@
                            }
                        </select>
                    </div>
                    <div class='timeline-body'>
                        <div class='st_chnglog'>
                            <textarea id='StatChlog@(tabNum)' class='StatChlog' style='width:100%;height: 35px;border-radius: 6px;margin-top: -3px;' placeholder='Change log'></textarea>
                        </div>
                        <div class=''><button class='btn btn-primary pull-right' id='confirm_stat_change'>Apply</button></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
