.eb__-bot___-eb_iframecont {
    BOT_IFRAME_CSS display: none;
    z-index: 16777270;
    /*right: 0.8%;
    bottom: 1.5%;
    width: 28%;
    height: 97%;
    min-width: 300px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, .175);
    flex-direction: column;
    position: fixed;
    transition: 0.4s;
    overflow: hidden;
    border-radius: 2px;
    background-color: white;
    border-radius: 20px;*/
}

.eb__-bot___-eb-chat-head {
    BOT_HEADER_PART
    /*color: white;
    padding: 10px 15px;
    background-color: var( --ebbotThemeColor );*/
}

.eb__-bot___-headericonCont {
    BOT_HEADER_ICON_CONT
    /*width: 35px;
height: 35px;
border-radius: 50%;
display: flex;
float: left;*/
}

.eb__-bot___-headerIcon {
    BOT_HEADER_IMAGE
    /*border-radius: 50%;
height: 100%;
width: 100%;*/
}
/*amal*/
/*.eb__-bot___-eb-chat-head {
    background-color: var( --ebbotThemeColor );
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    padding: 5px 15px;
}*/
.eb__-bot___-eb-chat-head .eb__-bot___-bot-head {
    BOT_APP_NAME
}

.eb__-bot___-headersubtext {
    BOT_HEADERSUBTEXT
}

.usecase-bots-cont .eb__-bot___-eb_iframecont {
    position: absolute !important;
}

.loderdiv {
    display: flex;
    background-color: #ffffff;
    background: url("https://expressbase.com/images/svg/botloader.svg") no-repeat center;
    background-size: 30%;
    flex: 1 1 auto;
}

.eb__-bot___-eb_iframecont .ebbot_iframe {
    visibility: hidden;
    width: 100%;
    flex: 1 1 auto;
    /*border-radius: 0px 0px 3.5px 3.5px;*/
}

/*amal*/
/*.eb__-bot___-eb_iframecont .ebbot_iframe {
    visibility: hidden;
    width: 100%;
    flex: 1 1 auto;
   border-radius:10px;
}*/
.eb__-bot___-chatbtn {
    BOT_CHAT_BUTTON z-index: 16777271;
}

.eb__-bot___-iconCont {
    BOT_IMAGE_CONT
}

.eb__-bot___-boticon {
    BOT_BUTTON_IMAGE
}

#refreshdiv {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .eb__-bot___-eb_iframecont {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
    }

    .eb__-bot___-eb_iframecont {
        border-radius: 0px;
    }
}

.usecase-bots-cont {
    float: right;
}

@media (max-width: 450px) and (min-width: 20px) {
    .eb__-bot___-eb_iframecont {
        width: 100% !important;
    }
    
    .usecase-bots-cont {
        margin-left: auto !important;
        width: 100% !important;
    }

    .eb__-bot___-chatmaximize {
        /*display: none !important;*/
    }
}

.eb-chatbtn {
    bottom: calc( 65% - 55px) !important;
    right: 0 !important;
    box-shadow: unset !important;
    background-color: #428bca !important;
}

/*-----*/

.eb__-bot___-eb-chat-head .bot-icon {
    height: 44px;
    width: 44px;
    float: left;
    border-radius: 4px;
    text-align: center;
}


.poweredby {
    font-size: 10px;
    font-family: arial;
}



.inline-block {
    display: inline-block;
}

.eb__-bot___-chatclose {
    BOT_CLOSE_BUTTON
    /*display: inline-block;
    float: right;
    font-size: 1.2em;
    padding: 0px 5px;
    margin: 10px 0px;
    cursor: pointer;*/
}

.eb__-bot___-chatmaximize {
    BOT_MAXIMIZE_BUTTON
    /*margin-left: auto !important;
    display: inline-block;
    float: right;
    font-size: 1.2em;
    padding: 0px 5px;
    margin: 8px 3px;
    cursor: pointer;*/
}

.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
}

.cssload-double-torus {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 4px double;
    border-radius: 50%;
    border-color: transparent rgba(28,54,227,0.9) rgba(62,28,199,0.9);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
