@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
    string home = string.Empty;
    string sociallink = string.Empty;
    string signinLink = string.Empty;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        sociallink = "http://localhost:41600";
        signinLink = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.xyz";
        sociallink = "https://ss.eb-test.xyz";
        signinLink = "https://myaccount.eb-test.xyz";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        sociallink = "https://ss.expressbase.com";
        signinLink = "https://myaccount.expressbase.com";
    }
}
@*<link rel="stylesheet" href="~/css/Resetpassword.css">*@
<link rel="stylesheet" href="~/css/EbCommonStyles/Ebsitepage.css">





<div class="eb_ext_pge_stl ">


    <div class="container-fluid col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 fgshwd">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs row-flex ">
                <div class=" col-sm-12 col-md-12 col-lg-12 fgimgdiv">

                    <img src="~/images/forgot_pswd.png" class="leftsideimg">
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 rightpart">
                <div id="loaderdiv" style="left:0;top:0;">
                </div>
                <div class="row-flex right-part-inner">
                    <div class="center_rightpart col-xs-12" id="userdetails">

                        <div class=" col-sm-12 col-md-12 col-lg-12">
                            <h1>Your Account has been verified </h1>
                        </div>

                        <div class=" col-sm-12 col-md-12 col-lg-12">
                            <p><h5>Welcome to EXPRESSbase,</h5></p> <br />
                            <p>Please login in to continue.. <br /></p>

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 rightcolpadtop ">
                            <button id="logintnt" class="btn save-tenant lg_button " type="button">
                                Login
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script>
    console.log("sdf");
    $(document).ready(function () {

        $("#logintnt").click(function (e) {
            e.preventDefault();
            location.href = "/Ext/TenantSignin";
        });

    });
</script>


<div class="form-group">
    
    <input type="submit" id="subverify" style="display:none;" />
</div>

<div class="form-group">
    <button id="btnlogin" type="submit" class=" ebbtn eb_btngreen eb_btn_md pull-right">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>