@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker.min.js"></script>
<link rel="stylesheet" href="~/css/EbOnBoarding/Ebsitepage.css">
<script src="~/js/EbOnBoarding/EbOnBoarding.js" type="text/javascript"></script>
<script src="~/js/EbOnBoarding/Ebsitepagejs.js" type="text/javascript"></script>





<section class="card">
    <div class="card--content mr-l-20" id="everifycard">
        <div class="loader_top" id="loader_profile"></div>
        <div id="verifycard" class="col-md-8 card--form">
            <div class="products-head">
                <h4>Email Verification</h4>
            </div>
            <div class="card--content-body">
                <form class="form-horizontal" id="formcard" method="post">
                    <br />
                    <div class="col-md-12">
                        <div class="form-group">
                            <p><h2>WELCOME TO EXPRESSBASE</h2></p>
                            <br />
                            <p>><h3>Your account has been verified <br />Enjoy our services</h3></p>
                            <input type="submit" id="subverify" style="display:none;" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card--content-footer">
                <div class="form-inline">
                  
                    <button id="btnclose"  type="submit" class=" ebbtn eb_btngreen eb_btn_md pull-right">Close <i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                </div>
            </div>
        </div>
       
    </div>


</section>