@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
    string home = string.Empty;
    string sociallink = string.Empty;
    string signinLink = string.Empty;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        sociallink = "http://localhost:41600";
        signinLink = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.xyz";
        sociallink = "https://ss.eb-test.xyz";
        signinLink = "https://myaccount.eb-test.xyz";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        sociallink = "https://ss.expressbase.com";
        signinLink = "https://myaccount.expressbase.com";
    }
}
@*<link rel="stylesheet" href="~/css/Resetpassword.css">*@
<link rel="stylesheet" href="~/css/EbCommonStyles/Ebsitepage.css">


<script>
    $("#signIn").remove();
    function onSubmit(token) {
        document.getElementById("rstForm").submit();
        $(".loader_top").EbLoader("show");
    }
</script>


<div class="eb_ext_pge_stl ">


    @*<div class="header hidden-xs">
            <div class="container-fluid">
                <div class="callFrAction" style="display: flex;align-items: center;">
                    <a href="@home"><img src="~/images/EB_Logo.png" class="log-eblogo" /></a>
                    <spn style="margin-left: auto;font-size: 13px;">
                        New to EXPRESSbase?
                    </spn>
                    <a href="/Platform/onBoarding" class="callActionBtn">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>*@



    <div class="container-fluid col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 fgshwd">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs row-flex ">
                <div class=" col-sm-12 col-md-12 col-lg-12 fgimgdiv">

                    <img src="~/images/forgot_pswd.png" class="leftsideimg">
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 rightpart">
                <div id="loaderdiv" style="left:0;top:0;">
                </div>
                <div class="row-flex right-part-inner">
                    <div class="center_rightpart col-xs-12" id="userdetails">

                        <div class=" col-sm-12 col-md-12 col-lg-12">
                            <h1>Forgot Password</h1>
                        </div>
                        <div class="infopara col-sm-12 col-md-12 col-lg-12">
                            <p>Please enter the email address for your account. </p>
                            <p>A verification link will be sent to you.</p>
                        </div>
                        <div class=" col-sm-12 col-md-12 col-lg-12">
                            <label>Email</label>
                            <div class="icon_input">
                                <input class="form-control sinpt" type="text" name="Email" id="mailid" placeholder="" required>
                                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                            </div>
                            <div id="emaillbl" class="ebnotify" style=" visibility:hidden"> Enter a valid Email</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 rightcolpadtop ">
                            <button id="btnmail" type="button" class="btn save-tenant lg_button g-recaptcha " data-sitekey="@ViewBag.ReCaptchaKey"  data-callback="RecaptchaCallbackforgot">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@if (ViewBag.message != null)
{
    <script>
    EbMessage("show", { Message: "@ViewBag.message", Background: "#d83535" });
    </script>
}
<script>
    console.log("sdf");
    $(document).ready(function () {

        $("#btnmail").click(function () {
            var emailval = $("#mailid").val();
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (re.test(String(emailval).toLowerCase())) {
                $("#emaillbl").css("visibility", "hidden");
                $("#loaderdiv").EbLoader("show");
                $.ajax({
                    url: "../Ext/ForgotPassword",
                    beforeSend: function () {
                          $('#btnmail').prop('disabled', true).css('opacity', 0.5);
                    },
                    data: { email: emailval },
                    cache: false,
                    type: "POST",
                    success: function (status) {
                        $("#loaderdiv").EbLoader("hide");
                        if (status == 1) {
                            let msgmail = "Email for password reset has been sent to your account: " + emailval;

                            EbMessage("show", { Message: msgmail });

                            setTimeout(function () {
                                location.href = "../Ext/TenantSignin";
                            }, 3000);

                        }
                        if (status == 0) {
                             $('#btnmail').prop('disabled', false).css('opacity', 1);
                            let msgerr = "Sorry you have not registered with EXPRESSbase . Please sign-up first "
                            EbMessage("show", { Message: msgerr, Background: "#d83535" });
                        }

                    }
                });
            }
            else {
                $("#mailerr").css("visibility", "visible");
                $(".commonLoader").EbLoader("hide");
            }

        });
        $("#mailid").focusout(function () {
            let com = $("#mailid").val();

            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if ((com.length == 0) || (re.test(com) == false)) {
                $("#emaillbl").css("visibility", "visible");
                $("#mailid").focus();
                $('#mailid').removeClass('txthighlight').addClass('txthighlightred');
                sts = false;
            }
            else {
                $("#emaillbl").css("visibility", "hidden");
                $('#country').removeClass('txthighlightred').addClass('txthighlight');
            }
        });

    });
</script>
