@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<style>
    .resetpw-container {
        height: 100VH;
        background: var(--eb-grey);
    }

    .eb-label {
        font-weight: 400;
    }

    .eb-green-btn {
        color: #fff;
        background-color: #31d031;
        border-color: #31d031;
    }

    .h-40 {
        height: 40px;
    }

    .w-100 {
        width: 100%;
    }

    .eb-green-btn:hover, focus {
        color: #fff;
        background-color: #31d031;
        border-color: #31d031;
    }

    .resetform-container {
    }

    .eb-logo-sec {
        width: 100%;
        text-align: center;
    }

        .eb-logo-sec img {
            height: 60px;
            margin-bottom: 20px;
        }

    .wrapper-whitebg {
        background: white;
        padding: 30px;
        margin-top: 10%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-family: Montserrat;
    }
</style>
<script>
    $("#signIn").remove();
    function onSubmit(token) {
        document.getElementById("rstForm").submit();
        $(".loader_top").EbLoader("show");
    }
</script>
<section class="message-box-indexpage">
    @ViewBag.message
    <i class="fa fa-close pull-right" id="close-msg"></i>
</section>
<div class="container-fluid resetpw-container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 col-md-offset-4 col-lg-offset-4 col-sm-offset-4 wrapper-whitebg">
            <div class="resetform-container">
                <form method="post" action="~/Ext/ForgotPassword" id="rstForm">
                    <div class="eb-logo-sec">
                        <img src="~/images/EB_Logo-png.png" />
                    </div>
                    <div class="form-group">
                        <label class="eb-label">Email Address</label>
                        <input type="text" name="Email" class="form-control h-40" required />
                    </div>
                    <div class="form-group">
                        <button class="btn eb-green-btn h-40 w-100 g-recaptcha" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit' type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.message != null)
{
    <script>
        $(".message-box-indexpage").show();
        $("#close-msg").click(function (e) {
            $(".message-box-indexpage").hide();
        });
    </script>
}