
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<!--Navigation bar/-->
<!--Slider-->
<section class="slider">
    <div class="container-fluid">
        <div class="row eb-banner"> 
            <div class="bg-color-banner">

            </div>
            @*<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>       
                <div class="carousel-inner">                    
                    <div class="item active">
                        <img src="~/images/bgpic.jpg" alt="First slide" class="img-responsive">
                    </div>
                   <div class="item">
                        <img src="~/images/bgpic.jpg" alt="First slide" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/images/bgpic.jpg" alt="First slide" class="img-responsive">
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!--Slider/-->
<!--work-shop-->
<section id="work-shop">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h3>EXPRESSbuild Enterprise Applications</h3>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-cloud faa-cloud animated"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Apps on cloud</h4>
                        <h6 class="content">Forget about the infrastructure, leave it to us. Focus on your applications and business.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Develop Once, Deploy Anywhere</h4>
                        <h6 class="content">Use our state-of-the-art developer Studio to develop business apps that can run anywhere.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Secure</h4>
                        <h6 class="content">Role Based Access Control (RBAC) standard implemented which will help you authorize your team members on varying Roles & permissions. All connections via https.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Own your data</h4>
                        <h6 class="content">Bring in your database (cloud hosted or in-premise) and hook it into our cloud infrastructure via a secure link.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Low Code</h4>
                        <h6 class="content">Put your existing skills to use. Code in JavaScript & SQL.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Faster Time to Market</h4>
                        <h6 class="content">Express build enterprise applications. Manage change efficiently.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ work-shop-->
<section id="overlay2" class="section-padding">
    <div class="container-fluid">
        <div class="row eb-banner2">            
            <img class="col-md-8 eb-banner2-img" src="~/images/wall4.png">           
            <div class="col-md-4 header-section">
                <div class="eb-banner2-text">                   
                    <h2 class="text-center">Get Started for FREE</h2>
                    <p>specifically focusing on customer retention and ultimately driving sales growth.
                        One important aspect of the CRM approach is the systems of CRM that compile data
                    from a range of different communication channels, including a company's website, 
                    telephone, email, live chat, marketing materials, and more recently, social media.
                    Through the CRM approach and the systems used to facilitate it, businesses learn more
                    </p>
                    <a href="SignUp" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--partners-->
<section id="partners" class="section-padding">
    
    @*<div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h4>WE ARE SUPPORTED BY</h4>
            </div>
        </div>
    </div>*@
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h3>We Are Supported By</h3>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6">
                <a href="https://bizspark.microsoft.com/"><img src="~/images/perk-bizspark.jpg" class="img-responsive"></a>
            </div>
            <div class="col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-2">
                <a href="http://10000startups.com/"><img src="~/images/10000-startups.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
</section>
<!--partners/-->
<section class="getStarted">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">Try EXPRESSbase for FREE</h3>
            <h5 class="text-center">No credit required</h5>
            <button class="btn btn-trial">Get Free Trial</button>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("PageFooter");
}
