<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
            sih_auth_api_key = "kerala";
            sih_auth_callback_uri ="https://ksum.eb-test.cloud/Ext/StartUpIndiaRedirect";
    </script>

</head>
<body>
    <button class="oauth-login">Sign In with Startup India</button>
</body>

<script type="text/javascript" src="https://www.startupindia.gov.in/etc/designs/invest-india/investindialibs/js/siauthlogin.js"></script>