@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<section class="apaas" style="padding-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-12">
                <img src="https://expressbase.com/wp-content/uploads/2016/11/services-1-1600x1040.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-6 col-sm-12">
                <div class="detail-info">
                    <hgroup>
                        <h3>What is Enterprise aPaaS?</h3>
                    </hgroup>
                    <p>As per GARTNER, Application infrastructure functionality, enriched with cloud characteristics and offered as a service, is platform as a service (PaaS). Gartner refers to it more precisely as cloud application infrastructure services. Application platform as a service (aPaaS) is a form of PaaS that provides a platform to support application development, deployment and execution in the cloud. It is a suite of cloud services designed to meet the prevailing application design requirements of the time, and, in 2015, includes mobile, cloud, the Internet of Things (IoT) and big data analytics innovations.</p>
                    <p>An aPaaS that is designed to support the enterprise style of applications and application projects (high availability, disaster recovery, security and technical support) is an enterprise aPaaS.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="work-shop">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2></h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Write very less Code</h4>
                        <h6 class="content">Writing less code means saving development and time. Adopting ExpressBase can reduce application development time and fasten deployment by more than 60% compared to conventional methods of engineering enterprise software.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Own your Data</h4>
                        <h6 class="content">Bring in your database (PostgreSql, MySql, Microsoft Sql Server, Oracle or MongoDB) hosted in cloud or in-premise and hook it into our aPaaS cloud infrastructure via a secure link. You can switch anytime to in-premise model or vice versa. Support for more databases are being planned.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Business Intelligence</h4>
                        <h6 class="content">ExpressBase developer Studio can be used to develop Business Intelligence (BI) tools for your organization. You may want to stick with your legacy client-server application, but can leverage our platform's capability in BI & Reporting.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Powerful Notifications</h4>
                        <h6 class="content">ExpressBase apps can notify you or a group of users of business events via a number of methods - Email, SMS, Push Notifications, Chat/Messenger etc.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Security is prime</h4>
                        <h6 class="content">Connections to database, communications with web services etc. are encrypted. Your tenant instance will have a built-in RBAC module which you can use for allowing/denying user login, manage roles and permissions etc.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <div class="icon-box">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="icon-text">
                        <h4 class="ser-text">Develop Once, Deploy Anywhere</h4>
                        <h6 class="content">Use our state-of-the-art developer Studio to develop business apps that can run anywhere - Desktop, Web and Tablet/Mobile (Android/iOS/Windows).</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="technnology" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h3>Technology Stack</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://www.microsoft.com/net/"><img class="img-responsive" src="~/images/aspnetcore.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://servicestack.net/"><img class="img-responsive" src="~/images/servicestack.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://www.postgresql.org/"><img class="img-responsive" src="~/images/postgresql.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://redis.io/"><img class="img-responsive" src="~/images/redis-logo.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6" ><a href="http://jquery.com/"><img class="img-responsive" src="~/images/jquery.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://azure.microsoft.com/"><img class="img-responsive" src="~/images/azure.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-3"><a href="https://www.digitalocean.com/"><img class="img-responsive" src="~/images/digitalOcean.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://www.mongodb.com/"><img class="img-responsive" src="~/images/mongo.png" /></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="https://www.rabbitmq.com/"><img class="img-responsive" src="~/images/rebitmQ.png" /></a></div>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("PageFooter");
}