@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<section id="headerPricing">
    <div class="container">
        <div class="row ">            
                <h2>Pricing</h2>
                <h4>
                    Sell faster and smarter with any of our fully customisable CRM editions.
                </h4>
            </div>
        </div>
</section>
<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            FREE FOR EVER
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $0
                            </h1>
                            <small></small>
                        </div>
                        <table class="table">
                            <tr class="active">
                                <td>
                                    1 App
                                </td>
                            </tr>
                            <tr class="left">
                                <td>
                                    Objects
                                </td>
                            </tr>
                            <tr class="right"><td>10 Forms</td></tr>
                            <tr class="right"><td>10 Data Visualizations</td></tr>
                            <tr class="right"><td>10 PDF Reports</td></tr>
                            <tr>
                                <td class="left">
                                    Security
                                </td>
                            </tr>
                            <tr class="right"><td>5 Users</td></tr>
                            <tr class="right"><td>5 Roles</td></tr>
                            <tr class="right"><td>0 User Groups</td></tr>
                            <tr>
                                <td class="left">
                                    Template
                                </td>
                            </tr>
                            <tr class="right"><td>1 Applications</td></tr>
                            <tr class="right"><td>10 Objects</td></tr>
                            <tr>
                                <td class="left">
                                    Support
                                </td>
                            </tr>
                            <tr class="right"><td>1 Support Ticket</td></tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="SignUp" class="btn btn-success">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-info">
                    
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            PRO
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                Coming Soon
                            </h1>
                            <small></small>
                        </div>
                        <table class="table">
                            <tr class="active">
                                <td>
                                    3 App's
                                </td>
                            </tr>
                            <tr class="left">
                                <td>
                                    Objects
                                </td>
                            </tr>
                            <tr class="right"><td>30 Forms</td></tr>
                            <tr class="right"><td>30 Data Visualizations</td></tr>
                            <tr class="right"><td>30 PDF Reports</td></tr>
                            <tr>
                                <td class="left">
                                    Security
                                </td>
                            </tr>
                            <tr class="right"><td>10 Users</td></tr>
                            <tr class="right"><td>10 Roles</td></tr>
                            <tr class="right"><td>10 User Groups</td></tr>
                            <tr>
                                <td class="left">
                                    Template
                                </td>
                            </tr>
                            <tr class="right"><td>3 Applications</td></tr>
                            <tr class="right"><td>30 Objects</td></tr>
                            <tr>
                                <td class="left">
                                    Support
                                </td>
                            </tr>
                            <tr class="right"><td>3 Support Tickets</td></tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="SignUp" class="btn btn-success">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-success">
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">
                                MOST
                                <br>
                                POPULR
                            </span>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            ENTERPRISE
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                Coming Soon
                            </h1>
                            <small></small>
                        </div>
                        <table class="table">
                            <tr class="active">
                                <td>
                                    5 App's
                                </td>
                            </tr>
                            <tr class="left">
                                <td>
                                    Objects
                                </td>
                            </tr>
                            <tr class="right"><td>50 Forms</td></tr>
                            <tr class="right"><td>50 Data Visualizations</td></tr>
                            <tr class="right"><td>50 PDF Reports</td></tr>
                            <tr>
                                <td class="left">
                                    Security
                                </td>
                            </tr>
                            <tr class="right"><td>25 Users</td></tr>
                            <tr class="right"><td>25 Roles</td></tr>
                            <tr class="right"><td>5 User Groups</td></tr>
                            <tr>
                                <td class="left">
                                    Template
                                </td>
                            </tr>
                            <tr class="right"><td>5 Applications</td></tr>
                            <tr class="right"><td>50 Objects</td></tr>
                            <tr>
                                <td class="left">
                                    Support
                                </td>
                            </tr>
                            <tr class="right"><td>5 Support Tickets</td></tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="SignUp" class="btn btn-success">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            UNLIMITED
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                Coming Soon
                            </h1>
                            <small></small>
                        </div>
                        <table class="table">
                            <tr class="active">
                                <td>
                                    Unlimited App's
                                </td>
                            </tr>
                            <tr class="left">
                                <td>
                                    Objects
                                </td>
                            </tr>
                            <tr class="right"><td>Unlimited Forms</td></tr>
                            <tr class="right"><td>Unlimited Data Visualizations</td></tr>
                            <tr class="right"><td>Unlimited PDF Reports</td></tr>
                            <tr>
                                <td class="left">
                                    Security
                                </td>
                            </tr>
                            <tr class="right"><td>Unlimited Users</td></tr>
                            <tr class="right"><td>Unlimited Roles</td></tr>
                            <tr class="right"><td>Unlimited User Groups</td></tr>
                            <tr>
                                <td class="left">
                                    Template
                                </td>
                            </tr>
                            <tr class="right"><td>Unlimited Applications</td></tr>
                            <tr class="right"><td>Unlimited Objects</td></tr>
                            <tr>
                                <td class="left">
                                    Support
                                </td>
                            </tr>
                            <tr class="right"><td>7 Support Tickets</td></tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="SignUp" class="btn btn-success">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("PageFooter");
}