@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}
<script>
    $("#signIn").hide();
    $("#signUpFree").hide();
    $(document).ready(function () {
        $('.input-phone').intlInputPhone();
    });
</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
        background-color: #3b5998;
        color: white;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }

    .image-cropper {
    width:65px;
        height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

    .dropdown ul.dropdown-menu {
        border-radius: 4px;
        width: 250px;
    }

    .navbar-default {
        height: 70px !important;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
            <a href="index">
                <img class="img-responsive" src="~/images/EB_Logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="image-cropper">
                           <img class="img-responsive img-rounded" alt="dropdown-toggle" data-toggle="dropdown" src="~/images/proimg.jpg" id="img-upload"/>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Account<span class="fa fa-user pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">My Preferences<span class="fa fa-user pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sign Out<span class="fa fa-sign-out pull-right"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>-
</nav>
<div class="container">
    <div class="row">
        <form class="form-horizontal" role="form">

            <!-- edit form column -->
            <div class="col-md-12 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-thumbs-up fa-2x"></i>
                    Thanks for signing up for ExpressBase Systems! Now edit your Profile.
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <h3>Personal info</h3>
                <hr>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="Name">
                </div>
                <div class="form-group">
                    <div class="input-phone"></div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Company">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="" placeholder="Designtion">
                </div>
                <div class="form-group">
                    <div class="ui-select">
                        <select id="user_time_zone" class="form-control">
                            <option value="0">Employees</option>
                            <option value="1-10">1-10</option>
                            <option value="11-50">11-50</option>
                            <option value="51-100">51-100</option>
                            <option value="101-250">101-250</option>
                            <option value="251-500">250-500</option>
                            <option value="greater than 500">greater than 500</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">

                        <input id="imgInp" type="file" style="display:none;" />
                        <input class="form-control" type="text" placeholder="Uplaoad Photo">
                        <span class="input-group-addon" onclick="$('#imgInp').click();"><i class="fa fa-folder-open"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="button" class="btn btn-primary" value="Save">
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-primary" value="Skip">
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>
<hr>
<script>
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
		        log = label;

            if (input.length) {
                input.val(log);
            }
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });
</script>
<script type="text/javascript" src="~/js/intlInputPhone.min.js"></script>