<html >
<head>
    <title></title>
</head>
<body>
    <div style='border: 3px solid #22BCE5; padding:10px;'>
        <figure style='text-align: center;'>
            <img src='https://expressbase.com/images/logos/EB_Logo.png' /><br />
        </figure>
        <br />

      
        Hello <b>{UserName}</b>,<br />
        <br />
        Reset your password by clicking below.<br />
        <a  href='{Url}'>Reset password</a><br />
        <input type='button'  value='Reset password' />
        <br />
        Thanks<br />
        EXPRESSbase Systems Private Limited.
       
    </div>
</body>
</html>