@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker.min.js"></script>

<script src="~/js/EbOnBoarding/EbOnBoarding.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/EbOnBoarding/Ebsitepage.css">
<link rel="stylesheet" href="~/css/Resetpassword.css">


<div class="container-fluid resetpw-container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 col-md-offset-4 col-lg-offset-4 col-sm-offset-4 wrapper-whitebg">
            <div class="resetform-container">
                <form>
                    <div class="eb-logo-sec">
                        <img src="~/images/EB_Logo-png.png" />
                    </div>
                    <div>
                        <label class="eb-label">New Password</label>
                        <div class="input-group h-40">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input class="form-control h-40 txthighlight" data-minlength="8" type="password" name="Password" id="inputPassword">
                            <span toggle="#inputPassword" style=" padding-right: 13px;" id="psvisible" class="fa fa-fw fa-eye fa-eye-slash field-icon toggle-password "></span>
                            <span toggle="#inputPassword" style="padding-right: 13px;" id="pshide" hidden class="fa fa-fw fa-eye  field-icon toggle-password "></span>
                        </div>


                        <div style="margin-top:1px;margin-bottom:2px; display:inline-block " id="psdinfo" class="inline_css">
                            <span> <i id="psdinfo1" class="fa fa-info-circle" style="color:dodgerblue;display:inline-block"> </i>  </span>
                            <span style="display:inline-block"> <p id="passlbl" style="color:cornflowerblue;margin-bottom:15px" class="p_hover">Enter a strong password</p></span>
                        </div>

                        <div id="rcorners1" style="position:absolute;z-index:3;visibility:hidden">
                            <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                <span> <i id="passcheck_1" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block"> </i>  </span>
                                <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least eight characters.</p></span>
                            </div>
                            <br />
                            <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                <span> <i id="passcheck_2" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block"> </i>  </span>
                                <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one uppercase character.</p></span>
                            </div>
                            <br />
                            <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                <span> <i id="passcheck_3" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block"> </i>  </span>
                                <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one lowercase character.</p></span>
                            </div>
                            <br />
                            <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                <span> <i id="passcheck_4" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block"> </i>  </span>
                                <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one number.</p></span>
                            </div>
                            <br />
                            <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                <span> <i id="passcheck_5" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block"> </i>  </span>
                                <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one special character</p></span>
                            </div>

                        </div>
                    </div>

                    <div>
                        <label class="eb-label">New Password</label>
                        <div class="input-group h-40">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input class="form-control h-40" type="password" name="Repeat-password" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Password donot match">

                        </div>
                        <input type="hidden" id="elink" value="@ViewBag.rep" name="code" />
                        <div class="help-block with-errors">
                            <p id="repeat_passwordlbl" style="color:red;margin-bottom: 0px; visibility :hidden"> Password Didn't match</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn eb-green-btn h-40 w-100" id="btnpswreset" type="button">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("here it is");
        var boarding = new PasswordValidation();
    });
    $("#AppIcon").iconpicker({ placement: 'top', iconset: 'fontawesome', icon: 'fa-home' }).on('change', function (e) { $("input[name='AppIcon']").val(e.icon); });




</script>
