@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
}
@section StyleSheet{
    <link rel="stylesheet" href="~/css/EbCommonStyles/Ebsitepage.css" asp-append-version="true">
}
@section JavaScript{
    <script src="~/js/EbDashBoards/Ebsitepagepass.js" type="text/javascript" asp-append-version="true"></script>
}

@Html.Raw(new System.Net.WebClient().DownloadString("https://expressbase.com/GetHeader/" + ViewBag.Env))

<div class="eb_ext_pge_stl ">
    <div class="container-fluid col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 fgshwd">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs row-flex ">
                <div class=" col-sm-12 col-md-12 col-lg-12 fgimgdiv">

                    <img src="~/images/forgot_pswd.png" class="leftsideimg">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 rightpart">
                <div id="loaderdiv" style="left:0;top:0;">
                </div>

                <div class="row-flex right-part-inner">
                    <div class="center_rightpart col-xs-12" id="userdetails">

                        <div class=" col-sm-12 col-md-12 col-lg-12" style="top:-50px;">
                            <h1>Reset Password</h1>
                        </div>


                        <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12  ">
                            <div id="rcorners1">
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_1" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least eight characters.</p></span>
                                </div>
                                <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_2" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one uppercase character.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_3" class="fa fa-times ebnotify  " style="font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one lowercase character.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_4" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block ;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"><p style="margin-bottom:0px" class="p_hover">At least one number.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_5" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one special character</p></span>
                                </div>
                            </div>


                            <div class="rightcolpad ">
                                <label>Password</label>
                                <input type="hidden" id="elink" value="@ViewBag.rep" name="code" />
                                <div class="icon_input">
                                    <input class="form-control sinpt " data-minlength="8" type="password" name="Password" id="inputPassword">
                                    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
                                    <span toggle="#inputPassword" style=" padding-right: 30px;" id="psvisible" class="fa fa-fw fa-eye fa-eye-slash  fa-lg fa-fw field-icon toggle-password "></span>
                                    <span toggle="#inputPassword" style="padding-right: 30px;" hidden id="pshide" class="fa fa-fw fa-eye  fa-lg fa-fw field-icon toggle-password "></span>
                                </div>
                                <div style="margin-top:1px;margin-bottom:2px; display:inline-block " id="psdinfo" class="inline_css">
                                    <span> <i id="psdinfo1" class="fa fa-info-circle" style="color:cornflowerblue;display:inline-block"> </i>  </span>
                                    <span style="display:inline-block">
                                        <p id="passlbl" style="color:cornflowerblue;margin-bottom:0px" class="p_hover ">Enter a strong password</p>
                                    </span>
                                </div>
                            </div>


                            <div class=" rightcolpad  tbpad">
                                <label>Repeat Password</label>
                                <div class="icon_input">
                                    <input class="form-control sinpt " type="password" name="Repeat-password" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Password donot match">
                                    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="help-block with-errors">
                                    <p id="repeat_passwordlbl" class="ebnotify" style="margin-bottom: 0px; visibility :hidden"> Password Didn't match</p>
                                </div>
                            </div>
                        </div>




                        <div class="col-sm-12 col-md-12 col-lg-12 rightcolpadtop ">
                            <button id="btnpswreset" type="button" class="btn save-tenant lg_button ">
                                Reset Password
                            </button>
                        </div>
                        <div class="g-recaptcha grecap" data-sitekey="@ViewBag.ReCaptchaKey" data-callback="RecaptchaCallbackreset" data-size="invisible">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
@section JsCode{
    <script>
        var psd = new PasswordValidation();
        function RecaptchaCallbackreset(token) {
            psd.SavePasword(token);
            grecaptcha.reset()
        }
        $(document).ready(function () {
            console.log("here it is");
            $('#inputPassword,#inputPasswordConfirm').bind('cut copy paste', function (e) {
                e.preventDefault(); //disable cut,copy,paste
            });
        });
    </script>
}

