<html>
<head>
    <title></title>
</head>
<body>
    <div style='border: 3px solid #22BCE5'>
        <figure style='text-align: center;'>
            <img src='https://expressbase.com/images/logos/EB_Logo.png' /><br />
        </figure>
        <br />

        @*<span style="font-family: Arial; font-size: 10pt">*@
        Hello <b>{UserName}</b>,<br />
        <br />
        Thanks for registering with EXPRESSbase Systems Private Limited.<br />
            <br />
            Please verify your email address to confirm your account registration by clicking bleow<br />
 
        <br />
        <a style='color: #22BCE5' href='{Url}'>Reset password</a><br />
        <input type='button'  value='Reset password' />
        <br />
        <br />
        Thanks<br />
        EXPRESSbase Systems Private Limited.
        @*</span>*@
    </div>
</body>
</html>