@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<script>
    $('document').ready(function () {
        $("#signUpFree").hide();

        function onSubmit(token) {
            document.getElementById("signup_form").submit();
        }
        $.fn.goValidate = function () {
            var $form = this,
                $inputs = $form.find('input:password');

            var validators = {
                name: {
                    regex: /^[A-Za-z]{3,}$/
                },
                pass: {
                    regex: /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/
                }
            };
            var validate = function (klass, value) {
                var isValid = true,
                    error = '';

                if (!value && /required/.test(klass)) {
                    error = 'This field is required';
                    isValid = false;
                } else {
                    klass = klass.split(/\s/);
                    $.each(klass, function (i, k) {
                        if (validators[k]) {
                            if (value && !validators[k].regex.test(value)) {
                                isValid = false;
                                error = validators[k].error;
                            }
                        }
                    });
                }
                return {
                    isValid: isValid,
                    error: error
                }
            };
            var showError = function ($input) {
                var klass = $input.attr('class'),
                    value = $input.val(),
                    test = validate(klass, value);

                $input.removeClass('invalid').parent().removeClass('has-error');

                if (!test.isValid) {
                    $input.addClass('invalid');

                    if (typeof $input.data("shown") == "undefined" || $input.data("shown") == false) {
                        $input.popover('show').parent().addClass('has-error');
                    }

                }
                else {
                    $input.popover('hide');
                }
            };
            $inputs.each(function () {
                if ($(this).is('.required')) {
                    //showError($(this)); /* rem comment to enable initial display of validation rules */
                }
            });
            $inputs.keyup(function () {
                showError($(this));
            });

            $inputs.on('shown.bs.popover', function () {
                $(this).data("shown", true);
            });

            $inputs.on('hidden.bs.popover', function () {
                $(this).data("shown", false);
            });

            return this;
        };
        $('form').goValidate();
        $(function () {
            $('input[type=password]').each(function () {
                $(this).attr('data-background-color', $(this).css('white'));
                $(this).css('background-color', $(this).css('white'));
                $(this).attr('type', 'text');

                //$(this).focus(function () {
                //    $(this).attr('type', 'password');
                //    $(this).css('background-color', $(this).attr('data-background-color'));
                //});

                //$(this).blur(function () {
                //    $(this).css('background-color', $(this).css('color'));
                //    $(this).attr('type', 'text');
                //});
            });
        });
        });
        function uniquecheck()
        {
           
            var timer;
            clearTimeout(timer);
            //timer = setTimeout(function (event) {
                var text = $('#email').val();
                alert(text);
                $.post("../Common/uniquecheck", { "text": text }, function (result) {/* alert(result); */});
            //}, 1000);


        }
</script>
<section id="signup" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form id="signup_form" role="form" class="form-horizontal" action="~/Ext/TenantExtSignup" method="post" data-toggle="validator">
                    <div class="form-group">
                        <h3 class="text-center">
                            Sign Up
                        </h3>
                        <br />
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" onfocusout="uniquecheck()" id="email" name="email" placeholder="Email" data-error="email address is invalid" required />

                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control required pass" id="password" name="password" placeholder="Password" data-placement="right" data-trigger="manual" data-content="Must be   at least 8 characters long,contain at least one number, one uppercase and one lowercase letter." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6>By clicking 'Sign Up', you agree to the Terms of Service and Privacy Policy.</h6>
                            <button type="submit" class="btn btn-block btn-flat g-recaptcha btn-primary" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit'>
                                SIGN UP
                            </button>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <hr class="bottom-line">
                            <p>
                                Or Sign In with
                            </p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-justified">
                                <a href="@ViewBag.ServiceUrl/auth/facebook" class="btn btn-lg btn-block">
                                    <i class="fa fa-facebook fa-lg"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/twitter" class="btn btn-lg btn-block">
                                    <i class="fa fa-twitter fa-lg text-info"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/googleoauth" class="btn btn-lg btn-block">
                                    <i class="fa fa-google-plus fa-lg text-danger"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/github" class="btn btn-lg btn-block">
                                    <i class="fa fa-github fa-lg text-muted"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<style>
    .popover {
    width:200px;
}
</style>