@{
    @using ExpressBase.Common.Constants;
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    string home = string.Empty;
    string sociallink = string.Empty;
    string signinLink = string.Empty;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400/";
        sociallink = "http://localhost:41600";
        signinLink = "http://myaccount.localhost:41500";

    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.xyz";
        sociallink = "https://ss.eb-test.xyz";
        signinLink = "https://myaccount.eb-test.xyz";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        sociallink = "https://ss.expressbase.com";
        signinLink = "https://myaccount.expressbase.com";
    }
}
@section StyleSheet{
    <link rel="stylesheet" href="~/css/EbCommonStyles/Ebsitepage.css">
}
@section JavaScript{
    <script src="~/js/EbDashBoards/EbOnBoarding.js" type="text/javascript"></script>
    <script src="~/js/EbDashBoards/countrypicker.js" type="text/javascript"></script>
    <script src="~/js/EbDashBoards/Ebsitepagepass.js" type="text/javascript"></script>
}

<div class="eb-signup_wrapper h-100">
    <div class="header hidden-xs hidden-sm" style="background: white;">
        <div class="container-fluid">
            <div class="callFrAction" style="display: flex;align-items: center;">
                <a href="@home">
                    <img src="~/images/EB_Logo.png" class=" imglogo" />
                </a>
                <spn style="margin-left: auto;font-size: 13px;">
                    Already an User?
                </spn>
                <a class="callActionBtn signintop" href="@signinLink/Ext/TenantSignIn" role="button">
                    Sign In
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs row-flex ">
                <div class=" col-sm-12 col-md-12 col-lg-12 leftpart ">
                    <div class="eb-signup-selltext">
                        <h2>Are you <b>Struggling?</b></h2>
                        <h4>with frequent changes</h4>
                    </div>
                    <div class="eb-signup-sellimg">
                        <img src="~/images/developer.jpg" class="leftsideimg">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 rightpart">
                <div class="row-flex right-part-inner">
                    <div class="center_rightpart col-xs-12" id="userdetails">
                        <div id="loaderdiv" style="left:0;top:0;">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                            <h1>SIGN UP</h1>
                        </div>
                        <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12 tbpad">
                            <label>Email</label>
                            <div class="icon_input">
                                <input class="form-control sinpt" type="text" name="Email" id="email" placeholder="">
                                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                            </div>
                            <span id="emaillbl" class="ebnotify" style=" visibility:hidden"> Enter a valid Email</span>
                            <span id="emaillbl2" class="ebnotify" style=" visibility:hidden; float:right;"> You have already registered. Please login</span>
                        </div>
                        <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12  tbpad">
                            <div id="rcorners1">
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_1" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least eight characters.</p></span>
                                </div>
                                <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_2" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one uppercase character.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_3" class="fa fa-times ebnotify  " style="font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one lowercase character.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_4" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block ;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"><p style="margin-bottom:0px" class="p_hover">At least one number.</p></span>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px; display:inline-block ">
                                    <span> <i id="passcheck_5" class="fa fa-times ebnotify" style="font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
                                    <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one special character</p></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 rightcolpad " style="padding-left: 0px;padding-right: 0px;">
                                <label>Password</label>
                                <div class="icon_input">
                                    <input class="form-control sinpt " data-minlength="8" type="password" name="Password" id="inputPassword">
                                    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
                                    <span toggle="#inputPassword" style=" padding-right: 30px;" id="psvisible" class="fa fa-fw fa-eye fa-eye-slash  fa-lg fa-fw field-icon toggle-password "></span>
                                    <span toggle="#inputPassword" style="padding-right: 30px;" hidden id="pshide" class="fa fa-fw fa-eye  fa-lg fa-fw field-icon toggle-password "></span>
                                </div>
                                <div style="margin-top:1px;margin-bottom:2px; display:inline-block " id="psdinfo" class="inline_css">
                                    <span> <i id="psdinfo1" class="fa fa-info-circle" style="color:cornflowerblue;display:inline-block"> </i>  </span>
                                    <span style="display:inline-block">
                                        <p id="passlbl" style="color:cornflowerblue;margin-bottom:0px" class="p_hover ">Enter a strong password</p>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12  tbpad">
                            <div class="col-md-6 col-lg-6 rightcolpad" style="padding-left: 0px;">

                                <label>Name</label>
                                <div class="icon_input">
                                    <input class="form-control sinpt" type="text" name="Name" id="name">
                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                </div>
                                <div id="namelbl" class="ebnotify" style=" visibility :hidden"> Enter a valid name</div>

                            </div>

                            <div class="col-md-6 col-lg-6 rightcolpad" style=" padding-right: 0px;">
                                <label>Country</label>
                                <div class="icon_input">
                                    <select class="selectpicker countrypicker custom-select  custom-select-lg selinp" id="country" data-live-search="true" data-flag="true"></select>
                                    <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
                                </div>
                                <span id="countrylbl" class="ebnotify" style=" visibility :hidden"> Select your Country</span>
                            </div>

                        </div>



                        <div class="row ">
                            <div class="eb-signup-tnc ">

                                <div class="tandp tbpad text-center">
                                    By proceeding, you agree to our
                                    <a rel="Terms of Service" target="" href="#">Terms of Service</a>
                                    and
                                    <a rel="Privacy Policy" href="#">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 rightcolpadtop tbpad ">

                            <button id="save-profile" class="btn save-tenant lg_button">
                                Join Now
                                <i class="iconspin"></i>
                            </button>

                        </div>
                    </div>
                    <div class="g-recaptcha grecap" data-sitekey="@ViewBag.ReCaptchaKey" data-callback="RecaptchaCallback" data-size="invisible">
                    </div>
                    @{ if (ViewBag.Env != "Production")
                        {

                            <div class="eb-signup_socilaWrpr text-center">
                                <div class="eb-signup_socilaWrpr_inner">
                                    @*<a href="@ViewBag.ServiceUrl/auth/facebook" class="btn btn-lg">*@
                                    <a href="@sociallink/auth/facebook" class="btn btn-lg">
                                        <i class="fa fa-facebook text-muted"></i>
                                    </a>
                                    <a href="@sociallink/auth/github" class="btn btn-lg">
                                        <i class="fa fa-github text-muted"></i>
                                    </a>
                                    @*<a href="@sociallink/auth/twitter" class="btn btn-lg">
                                            <i class="fa fa-twitter text-muted"></i>
                                        </a>
                                        <a href=" @sociallink/auth/google" class="btn btn-lg">
                                             <i class="fa fa-google-plus text-muted"></i>
                                        </a>
                                        <a href=" @sociallink/auth/linkedin" class="btn btn-lg">
                                        <i class="fa fa-linkedin text-muted"></i>
                                        </a>*@
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>

    </div>
</div>

@section JsCode{
    <script>
        var boarding = new EbOnBoarding();
        var psd = new PasswordValidation();

        function RecaptchaCallback(token) {
            boarding.SaveUser(token);
            grecaptcha.reset()
        }
        $(document).ready(function () {
            //disable cut,copy,paste
            $('#inputPassword,#inputPasswordConfirm').bind('cut copy paste', function (e) {
                e.preventDefault();
            });
        });

    </script>
}



