@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<script>
    $("#signUpFree").hide();
</script>

<section id="signup" style="margin-top:100px;">
    <div class="container">
        <div class="row">         
            <div class="col-md-5 col-md-offset-5">
                <form id="signup_form" role="form" class="form-horizontal" action="~/Ext/TenantExtSignup" method="post" data-toggle="validator">
                    <div class="form-group">
                        <h4 class="text-center">
                            Start your FREE trial now
                        </h4>
                        <hr /> 
                        <label for="email" class="col-sm-2 control-label">
                           
                        </label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" data-error="email address is invalid" required style="border:none;border-bottom:1px solid;border-radius:0;outline:0;"/>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">
                            
                        </label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" data-minlength="8" id="password" name="password" placeholder="Password" data-error="Minimum of 8 characters" style="border:none;border-bottom:1px solid;border-radius:0;outline:0;"/>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6>By clicking 'Start my trial', you agree to the Terms of Service and Privacy Policy.</h6>
                            <button type="submit" class="btn btn-block btn-flat g-recaptcha" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit' style="background-color:#3b5998;color:white;border-radius:0;">
                                START MY TRIAL
                            </button>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <hr class="bottom-line">
                            <p>
                                Or Sign up with
                            </p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-justified">
                                <a href="@ViewBag.EbConfig.ServiceStackUrl/auth/facebook" class="btn btn-lg btn-block">
                                    <i class="fa fa-facebook fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-twitter fa-2x text-info"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-linkedin fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-google-plus fa-2x text-danger"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-github fa-2x text-muted"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>