@{
    //Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<link rel="stylesheet" href="~/css/EbOnBoarding/Ebsitepage.css">

<script src="~/js/EbOnBoarding/EbOnBoarding.js" type="text/javascript"></script>
<script src="~/js/EbOnBoarding/Ebsitepagejs.js" type="text/javascript"></script>
<script src="~/js/EbOnBoarding/countrypicker.js" type="text/javascript"></script>

<div>
    <div id="fstdiv" style="position:absolute">

    </div>

    <div class="col-sm-5 col-md-5 col-lg-5 leftpart">

    </div>

    <div class="col-sm-7 col-md-7 col-lg7 rightpart">
        <div class="center_rightpart" id="userdetails">


            <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12">
                <label>Email</label>
                <div class="icon_input">
                    <input class="form-control  input-lg sinpt txthighlight" type="text" name="Email" id="email" placeholder="">
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <p id="emaillbl" style="color:red; visibility :hidden"> Enter a valid Email</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12  eb_required_group required">
                <label>Name</label>
                <div class="icon_input">
                    <input class="form-control  input-lg sinpt txthighlight" type="text" name="Name" id="name">
                    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <p id="namelbl" style="color:red; visibility :hidden"> Enter a valid name</p>
            </div>
            <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12  ">


                <div class="col-md-6 col-lg-6" style=" padding-left: 0px;">
                    <label>Country</label>
                    <div class="icon_input">
                      
                        <select class="selectpicker countrypicker custom-select  custom-select-lg selinp txthighlight" id="country" data-live-search="true" data-flag="true"></select>
                        <i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <p id="countrylbl" style="color:red; visibility :hidden"> Select your Country</p>
                </div>
                <div class="col-md-6 col-lg-6" style=" padding-right: 0px;">

                    <label>You are</label>

                    <div class="col-sm-12 col-md-12 col-lg-12 radiodiv" style=" padding-left: 0px;">
                        <div class="   col-md-6 col-lg-6" style=" padding-left: 0px; ">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input radio_cstm txthighlight" id="developer" name="account_typ" value="developer" checked>
                                <label class="custom-control-label" for="developer">Developer</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input radio_cstm txthighlight" id="business" value="business" name="account_typ">
                                <label class="custom-control-label" for="business">Business</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="eb_required_group required col-sm-12 col-md-12 col-lg-12  ">
                <div class="col-md-6 col-lg-6" style=" padding-left: 0px;">
                    <label>Password</label>
                    <div class="icon_input">
                        <input class="form-control  input-lg sinpt txthighlight" data-minlength="8" type="password" name="Password" id="inputPassword">
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                        <span toggle="#inputPassword" style=" padding-right: 30px;" id="psvisible" class="fa fa-fw fa-eye fa-eye-slash  fa-lg fa-fw field-icon toggle-password "></span>
                        <span toggle="#inputPassword" style="padding-right: 30px;" hidden id="pshide" class="fa fa-fw fa-eye  fa-lg fa-fw field-icon toggle-password "></span>
                    </div>
                    <div style="margin-top:1px;margin-bottom:2px; display:inline-block " id="psdinfo" class="inline_css">
                        <span> <i id="psdinfo1" class="fa fa-info-circle" style="color:cornflowerblue;display:inline-block"> </i>  </span>
                        <span style="display:inline-block"> <p id="passlbl" style="color:cornflowerblue;margin-bottom:0px" class="p_hover">Enter a strong password</p></span>
                    </div>

                </div>


                <div class="col-md-6 col-lg-6" style=" padding-right: 0px;">
                    <label>Repeat Password</label>
                    <div class="icon_input">
                        <input class="form-control  input-lg sinpt txthighlight" type="password" name="Repeat-password" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Password donot match">
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="help-block with-errors">
                        <p id="repeat_passwordlbl" style="color:red;margin-bottom: 0px; visibility :hidden"> Password Didn't match</p>
                    </div>

                </div>

            </div>
            <div class="col-md-7 " style="margin-bottom:50px;padding-left: 0px;">
                <button id="save-profile" class="submit-validate lg_button  ">Create account </button>
            </div>
            <footer class="col-md-11 col-md-offset-2">
                <span>
                    By proceeding, you agree to our
                    <a rel="Terms of Service" target="" href="#">Terms of Service</a>
                    and
                    <a rel="Privacy Policy" href="#">Privacy Policy</a>
                </span>
            </footer>


        </div>


    </div>
    <div id="rcorners1" style="position:absolute;visibility:hidden; ">
        <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
            <span> <i id="passcheck_1" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
            <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least eight characters.</p></span>
        </div>
        <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
            <span> <i id="passcheck_2" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
            <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one uppercase character.</p></span>
        </div>
        <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
            <span> <i id="passcheck_3" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block; padding-right:5px"> </i>  </span>
            <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one lowercase character.</p></span>
        </div>
        <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
            <span> <i id="passcheck_4" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block ;padding-right:5px"> </i>  </span>
            <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one number.</p></span>
        </div>
        <div style="margin-top=0px;margin-bottom:0px; display:inline-block ">
            <span> <i id="passcheck_5" class="fa fa-times" style="color:#cf4f4f;font-size:11px;display:inline-block;padding-right:5px"> </i>  </span>
            <span style="display:inline-block"> <p style="margin-bottom:0px" class="p_hover">At least one special character</p></span>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        //disable cut,copy,paste
        $('#inputPassword,#inputPasswordConfirm').bind('cut copy paste', function (e) {
            e.preventDefault();
        });
        var boarding = new EbOnBoarding();
        var psd = new PasswordValidation();
    });
    $("#AppIcon").iconpicker({ placement: 'top', iconset: 'fontawesome', icon: 'fa-home' }).on('change', function (e) { $("input[name='AppIcon']").val(e.icon); });

    $("#rcorners1").position({
        my: "right-20px",
        at: "top-20px",
        of: "#psdinfo1",


    });

</script>


