@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<style>
    .signupSuccess {
        margin-top: 100px;
        border: solid 1px rgba(0, 0, 0,0.1);
        border-radius: 4px;
    }
</style>
<script>$("#signUpFree").hide();</script>
<div class="container">
    <div class="signupSuccess">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3><i class="fa fa-check text-success ta" style="font-size:30px;margin-left:-40px;" aria-hidden="true"></i> You have successfully signed up. </h3>
                <h4>An email has been sent to @ViewBag.SignupEmail. Verify the email to continue with EXPRESSbase.</h4>
            </div>
        </div>
        <div class="row" style="margin:150px;">
            <div class="col-md-4 col-md-offset-6">
                <button class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>
