
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SwitchContext</title>
</head>
<body>
    <h2>Redirecting ....</h2>
</body>
</html>
