@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    Html.RenderPartial("ExtPageHeader2");
}
<div id="tenatDtls" class="container-fluid">
    <div class="row">
        
        </div>
    </div>

