@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader2");
}
<a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="fa fa-list" aria-hidden="true"></span></a>


<div id="wrapper" class="toggled">
    <div class="container-fluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <br>
                </li>
                <li class="sidebar-brand">
                    <a href="#" class="navbar-brand">
                        <span class="fa fa-user" aria-hidden="true"></span> MAIN HEAD
                    </a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
                <li>
                    <span class="fa fa-user" aria-hidden="true"></span><font color="#337AB7"> HEAD 1</font>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
                <li>
                    <span class="fa fa-user" aria-hidden="true"></span><font color="#337AB7"> HEAD 2</font>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
            </ul>
        </div>
 </div>
    </div>      
        <script>
         $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });</script>


        