@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPAgeHeader2");

}
<script>
    $('document').ready(function () {
        $('#submen').click(function () {
            $('.side').toggle(300);
        });
    });
</script>
<style>
    .objitems {
        border: solid 1px #e6e0e0;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bottpadd {
        margin-bottom: 50px;
    }
    #btnOpen{
    margin-top: 43px;
    margin-left: 53px;
    }
    .main-cont {
        margin-bottom: 60px;
    }
    label { display: block; width: 100px !important; }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-3 side">
            @{
                Html.RenderPartial("_SidebarMenu");
            }
        </div>
        <div class="col-md-8">
            <div class="row main-cont">
                <div class="form-inline">
                    <button class="btn btn-default">Add</button>
                    <button class="btn btn-default">Refresh Test</button>
                    <button class="btn btn-default">Import</button>
                    <button class="btn btn-default">Export</button>
                    <div class="input-group pull-right">
                        <div class="input-group-btn">
                            <input type="text" class="form-control" aria-label="...">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row objitems">
                <div class="col-md-8" style="border: solid 1px #e6e0e0;margin-left:5px;">
                    <h4>Name</h4>
                    <p class="text-justify">dfdsgdfzh dgsdfsh dfhfdhyb dsgre dgrsgete dd fdfdsf sdfesf ada f sdfsef sfesfsdv sefdsv sdfesf</p>
                    <h5>Date created sfs grdg xgrdgvdfg degergreg dfgregergreg</h5>
                </div>
                <div class="col-md-1">
                    <span class="label label-primary">Dependency</span>
                    <span class="label label-success">Application</span>
                    <span class="label label-default">Version</span>
            
                </div>   
                <div class="col-md-2 pull-right">
                    <span class="label label-danger"style="margin-right:20px;">Modules</span>
                    <span class="label label-default">Status.</span>
                    <button class="btn btn-default" id="btnOpen">Open <i class="caret"></i></button>
                </div>             
            </div>
            <div class="row objitems">
                <div class="col-md-8" style="border: solid 1px #e6e0e0;margin-left:5px;">
                    <h4>Name</h4>
                    <p class="text-justify">dfdsgdfzh dgsdfsh dfhfdhyb dsgre dgrsgete dd fdfdsf sdfesf ada f sdfsef sfesfsdv sefdsv sdfesf</p>
                    <h5>Date created sfs grdg xgrdgvdfg degergreg dfgregergreg</h5>
                </div>
                <div class="col-md-1">
                    <span class="label label-primary">Dependency</span>
                    <span class="label label-success">Application</span>
                    <span class="label label-default">Version</span>

                </div>
                <div class="col-md-2 pull-right">
                    <span class="label label-danger" style="margin-right:20px;">Modules</span>
                    <span class="label label-default">Status.</span>
                    <button class="btn btn-default" id="btnOpen">Open <i class="caret"></i></button>
                </div>
            </div>
            <div class="row objitems">
                <div class="col-md-8" style="border: solid 1px #e6e0e0;margin-left:5px;">
                    <h4>Name</h4>
                    <p class="text-justify">dfdsgdfzh dgsdfsh dfhfdhyb dsgre dgrsgete dd fdfdsf sdfesf ada f sdfsef sfesfsdv sefdsv sdfesf</p>
                    <h5>Date created sfs grdg xgrdgvdfg degergreg dfgregergreg</h5>
                </div>
                <div class="col-md-1">
                    <span class="label label-primary">Dependency</span>
                    <span class="label label-success">Application</span>
                    <span class="label label-default">Version</span>

                </div>
                <div class="col-md-2 pull-right">
                    <span class="label label-danger" style="margin-right:20px;">Modules</span>
                    <span class="label label-default">Status.</span>
                    <button class="btn btn-default" id="btnOpen">Open <i class="caret"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
