@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader2");
}
<a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="fa fa-list" aria-hidden="true"></span></a>


<div id="wrapper" class="toggled">
    <div class="container-fluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <br>
                </li>
                <li class="sidebar-brand">
                    <a href="#" class="navbar-brand">
                        <span class="fa fa-user" aria-hidden="true"></span> MAIN HEAD
                    </a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
                <li>
                    <span class="fa fa-user" aria-hidden="true"></span><font color="#337AB7"> HEAD 1</font>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
                <li>
                    <span class="fa fa-user" aria-hidden="true"></span><font color="#337AB7"> HEAD 2</font>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 1</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user" aria-hidden="true"></span> sub 2</a>
                </li>
            </ul>
        </div>
       
        <script>
         $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });</script>


        <div class="form-group">
            <label class="col-lg-3 control-label">Employees:</label>
            <div class="col-lg-8">
                <div class="ui-select">
                    <select id="user_time_zone" class="form-control">
                        <option value="0"></option>
                        <option value="1-10">1-10</option>
                        <option value="11-50">11-50</option>
                        <option value="51-100">51-100</option>
                        <option value="101-250">101-250</option>
                        <option value="251-500">250-500</option>
                        <option value="greater than 500">greater than 500</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-lg-3 control-label">Mobile:</label>
            <div class="col-lg-8">
                <div class="input-phone"></div>
            </div>
        </div>


        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-thumbs-up fa-2x"></i>
            Thanks for signing up for ExpressBase Systems! Now edit your Profile.
        </div>
        <h3>Personal info</h3>


        <input class="form-control" type="file" id="imgInp">