@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("_PageheaderDev");
}
<style>
    .eb-body{
        background-color:#6de1f6;
    }  
</style>
<div class="container-fluid eb-body">
    <div class="row">
        
    </div>
</div>

<script>
    $(function () {
       
    });
</script>
