<style>
    .objcetitems {
       width:15%;
        border:1px solid #ccc;
        margin-left:10px;
        float:left;
        
    }
    .topsec {
        height: 150px;
        background: #b84cd3;
        width: 100%;
        font-size: 22px;
        color: white;
        padding: 56px;
    }
    .mid{
        height:50px;
        
    }
    .bott {
        height: 50px;
       
    }
</style>

<div class="container-fluid">
    <div class="objcetitems">
        <div class="topsec">
            heading
        </div>
        <div class="mid">
            content gfdg
            gfdgdfdsfdsfd           
        </div>
        <div class="bott">
            configure
        </div>
    </div>
    <div class="objcetitems">
        
        <div class="topsec">

        </div>
        <div class="mid">

        </div>
        <div class="bott">

        </div>
    </div>
    <div class="objcetitems">
        
        <div class="topsec">

        </div>
        <div class="mid">

        </div>
        <div class="bott">

        </div>
    </div>
    <div class="objcetitems">
       
        <div class="topsec">

        </div>
        <div class="mid">

        </div>
        <div class="bott">

        </div>
    </div>
    <div class="objcetitems">
        
        <div class="topsec">

        </div>
        <div class="mid">

        </div>
        <div class="bott">

        </div>
    </div>   
</div>