@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    Html.RenderPartial("ExtPageHeader2");
}
<div class="col-md-4 col-md-offset-4">
    <h3 class="text-center">Create User</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="" placeholder="Name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="" placeholder="Email" />
    </div>
    <div class="form-group pull-right">
        <div class="input-group">
            <span>Send mail. </span><input type="checkbox" id="sendmail" />
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="pw" name="" placeholder="Password" />
    </div>
    <div class="form-group">
        <div id="roleSel" class="input-group">
            <select class="selectpicker" data-live-search="true" id="roles" multiple>
                <option value="ME">Select Role</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">chigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">souri</option>
            </select>
        </div>
    </div>
    <div class="form-group pull-right">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</div>
<script>
    $('document').ready(function () {
        $('#sendmail').change(function () {
            if (!this.checked)
                $('#pw').fadeIn();
            else
                $('#pw').fadeOut();
        });
        var f = true;
        $('.selectpicker').on('rendered.bs.select', function (e) {
            if (f)
                $("#roleSel").find("span:eq(0)").text("Select Role")
            f = false;
        });
    });
</script>
<style>

</style>