@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
<style>
    .mt-89 {
        margin-top: 89px;
    }

    .pd-0 {
        padding: 0;
    }

    .profImageSec {
        background: #6da49f;
        height: calc(100vh - 89px);
        padding: 30px;
    }

    .profSetupSec {
        height: calc(100vh - 89px);
        background: #eeeeee;
    }

    .prof-picDiv {
        width: 100%;
        background: white;
        height: 150px;
    }

    .profDetailHead {
        color: white;
        font-size: 22px;
        padding-left: 20px;
    }

    .profImagePrevSec {
        background: #eeeeee;
        height: calc(100vh - 89px);
    }

    .previewsec-outer {
        width: 100%;
        height: inherit;
        background: white;
        padding: 10px 10px 10px 20px;
    }

    .previewsec-outer-head {
        width: 100%;
        
    }

    .preview-img {
        width: 100%;
        height: 200px;
        border: 1px solid #6da49f;
    }

    .submitsec .btn {
        float: right;
    }
    .Eb-CommonMenuStyle{
        height:32px;
        border:none;
    }
    .Eb-CommonMenuStyle .btn{      
        border: none;
    }

</style>
<div class="Eb-CommonMenuStyle">
    <div class="col-md-3 profDetailHead">Personal info</div>
    <div class="pull-right">
        <input type="button" class="btn btn-primary" id="save" value="Save">
        <input type="button" class="btn btn-primary" value="Skip" style="margin-right:10px;">
    </div>
</div>
<div class="container-fluid pd-0">   
    <div class="col-md-2 profImageSec">
        <div class="prof-picDiv">

        </div>
    </div>
    <div class="col-md-6 profSetupSec">
        <form class="form-horizontal" style="margin-top:35px">           
            <div class="form-group">
                <label for="name" class="col-md-2">Name:</label>
                <div class="col-md-8 pd-0">
                    <input class="form-control" type="text" name="Name" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-md-2">Phone:</label>
                <div class="col-md-8 pd-0">
                    <input class="form-control" type="text" name="Phone" id="phone" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="company" class="col-md-2">Company:</label>
                <div class="col-md-8 pd-0">
                    <input class="form-control" type="text" name="Company" id="company" placeholder="Company">
                </div>
            </div>
            <div class="form-group">
                <label for="designation" class="col-md-2">Designation:</label>
                <div class="col-md-8 pd-0">
                    <input class="form-control" type="text" name="Designation" id="designation" placeholder="Designation">
                </div>
            </div>
            <div class="form-group">
                <div class="ui-select">
                    <label for="employees" class="col-md-2">Employees:</label>
                    <div class="col-md-8 pd-0">
                        <select id="employees" name="Employees" class="form-control">
                            <option value="0">Employees</option>
                            <option value="1-10">1-10</option>
                            <option value="11-50">11-50</option>
                            <option value="51-100">51-100</option>
                            <option value="101-250">101-250</option>
                            <option value="251-500">250-500</option>
                            <option value="greater than 500">greater than 500</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="upload" class="col-md-2">Image:</label>
                <div class="col-md-8 pd-0">
                    <input id="profImgUp" type="file" style="display:none"/>
                    <button class="btn btn-success" onclick="$('#profImgUp').click();" style="width:100%">Browse</button>
                </div>
            </div>          
            <input type="hidden" id="imgsrc" name="imgsrc" />
            <div class="Img-upload-modal" id="promodal-container"></div>
        </form>
    </div>
    <div class="col-md-4 pd-0 profImagePrevSec">
        <div class="previewsec-outer" id="previewsec-outer">
            <div class="previewsec-outer-head">
                <i class="fa fa-times pull-right" aria-hidden="true"></i>
            </div>
            <h4>gfdgdfgdfh.jpg</h4>
            <p>345.7 kb</p>
            <div class="preview-img" id="preview-img">
            </div>
            <input type="button" class="btn btn-primary pull-right" id="up" value="Upload" style="margin-top:10px;">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#profImgUp').change(function () {
            alert();
            $('#previewsec-outer').animate({ width: 'toggle' });
            
            previewAndUpload(this);
        });
        previewAndUpload = function (input) {
            console.log();
        };
    });
</script>