@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
  
}


 
<div class="row" style="margin-top:90px">
    <div id="div1" class="col-lg-6" style="border:1px solid;width:100px; height:auto">
        <div id="123" class="alert alert-success columnDrag">test1</div>
        <div id="11" class="alert alert-success columnDrag">test2</div>
        <div id="34" class="alert alert-success columnDrag">test3</div>
        <div id="45" class="alert alert-success columnDrag">test4</div>
        <div id="56" class="alert alert-success columnDrag">test5</div>
    </div>
    <div id="div2" class="col-lg-6" style="border:1px solid;width:100px; height:100px">
        
    </div>
    <input type="text" id="abc">
</div>
<script>
    $('document').ready(function () {
        var ids = "";
        var temp = new dragula([document.getElementById("div1"), document.getElementById("div2")], {
            accepts: function (el, target, source, sibling) {
                if ($(target).attr("id") === "div1") {
                    return false;
                }
                else {
                    return true;
                }

            }
        });
        temp.on("drop", function (el, target, source, sibling) {
            $(el).append("<button class='close' type='button' style='font-size: 15px;margin: 2px 0 0 4px;'>x</button>")
            ids = $(el).attr("id") + ",";
            //ids = ids.substring(0, ids.length - 1);
            var txt = $("#abc").val();
            $("#abc").val(txt+ids);
        });
        $(document).on('click', '.close', function (e) {
            var id = $(e.target).parent().attr("id");
            var text = $(e.target).parent().text();
            text = text.substring(0, text.length - 1);
            $("#" + id).remove();
            $("#div1").append("<div id=" + id + " class='alert alert-success columnDrag'>" + text + "</div>");
            //var arr =$("#abc").text().split(",");
            var txt = $("#abc").val();
            alert(txt);
            txt = txt.toString().replace(id + ",", "");
            $("#abc").val(txt);
        });
        
    });
   


</script>