@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
}
<script src="~/js/eb_common.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("log_form").submit();
        $(".loader_top").EbLoader("show");
    }
    @{
        string console = ViewBag.WhichConsole == "dc" ? "Dev" : "User";

        string LogoUrl = "/static/logo/logo_" + ViewBag.SolutionId + ".png";
    }
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.8/jquery.lazy.min.js"></script>@*amal*@
<section class="eb_login">
    <div class="container">
        <div class="row">
            <div class="log_error">@ViewBag.ErrorMsg <i class="fa fa-close log_error_close" onclick="$('.log_error').hide();"></i></div>
            <div class="login_container">
                <div class="loader_top" id="loader_profile"></div>
                <form id="log_form" action="~/Ext/TenantSignin" method="post" data-toggle="validator">
                    <div class="login-sec-image text-center">
                        <img src="~/images/your_company_logo.png" data-src=@LogoUrl class="T_logo Eb_Image" />
                    </div>
                    <h1 class="text-center">Sign In as @console</h1><br>
                    <div class="form-group mb-25">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="email" name="uname" class="form-control inputEmail" placeholder="Email" id="inputEmail" data-error="Email address is invalid." required><br />
                        </div>
                        <div class="help-block with-errors f12 text-right"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" id="pass" name="pass" class="form-control" placeholder="Password" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox icheck remembrpw text-right">
                            <label>
                                <input type="checkbox" id="loginrem"> Remember Me
                            </label>
                            @*<div class="text-right nopadding">
                                    <a href="~/Ext/ForgotPassword">Forgot password?</a>
                                </div>*@
                        </div>
                        <button type="submit" id="logNow" class="btn signin-btn g-recaptcha" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit'>
                            Sign In <i class="fa fa-spinner fa-spin login_spiner"></i>
                        </button>
                    </div>
                    @*<div class="text-center">Or Sign In by</div>
                        <div style="padding-left: 34px;">
                            <div class="col-xs-2 col-sm-2">
                                <a href="@ViewBag.ServiceUrl/auth/facebook" class="btn btn-lg btn-block">
                                    <i class="fa fa-facebook"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-twitter text-info"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-google-plus text-danger"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-linkedin"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-github text-muted"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                        </div>*@
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.Eb_Image').Lazy();

     if ('@ViewBag.ErrorMsg')
            $(".log_error").show();
    $("#log_form").on("submit", function () {
        $(".loader_top").EbLoader("show");
     });
    });
</script>