<html>
<head>
    <title></title>
</head>
<body>
    <div style='border: 1px solid #508bf9;padding:20px 40px 20px 40px;width:70%; '>
        <figure style='text-align: center;margin:0px;'>
            <img src='https://expressbase.com/images/logos/EB_Logo.png' /><br />
        </figure>
        <br />
        <h3 style='color:#508bf9;margin:0px'>Build Business Apps 10x faster!</h3> <br />
        <div style='line-height: 1.4;'>
            Dear {UserName},<br />
            <br />
            Welcome to EXPRESSbase! An Open-Source, Low-Code Rapid application development & delivery platform on the cloud for businesses & developers to build & run business apps 10 times faster.<br />
            We're excited to help you get started with your new EXPRESSbase account. Please go thru our <a href='{wikiurl}'>Wiki</a> for tutorials. <br />
            If you wish to connect the database used by your existing applications, you could do it in very simple  <a href='{stepsurl}'>steps</a> – and it is secure too!<br />
            Just click the button below to verify your email address.<br />
        </div>
        <br />
        <table>
            <tr>
                <td class='btn-read-online' style='text-align: center; background-color: #508bf9; padding: 10px 15px; border-radius: 5px;'>
                    <a href='{Url}' style='color: #fff; font-size: 16px; letter-spacing: 1px; text-decoration: none;  font-family: Arial, Helvetica, sans-serif;'>Verify Account</a>
                </td>
            </tr>
        </table>
        <br />
        Need help? Please drop in a mail to <a href='{supporturl}'>support@expressbase.com</a>. We're right here for you.<br /><br />
        Sincerely,<br />
        EXPRESSbase<br />
    </div>
</body>
</html>