<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @* JQUERY CSS *@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.22.5/skin-awesome/ui.fancytree.min.css" />@*Dona*@

    @* BOOTSTRAP CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />@*amal*@

    @* OTHER CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />@*jith*@

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ValYouW/jqPropertyGrid/9218bbd5df05bf7efe58591f434ea27ece11a045/jqPropertyGrid.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />@*amal*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.css" />*@

    @* EB CSS *@
    <link rel="stylesheet" type="text/css" href="~/css/Eb.css" />
    <link rel="stylesheet" type="text/css" href="~/css/EbWizard.css" />
    <link rel="stylesheet" type="text/css" href="~/css/eb_objlist.css" />
    <link rel="stylesheet" type="text/css" href="~/css/GridStackStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" />

    @* JQUERY JS *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.fancytree/2.22.4/jquery.fancytree-all.min.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js"></script>
    <script type="text/javascript" src="~/js/jquery.datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fontselect.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>


    @* BOOTSTRAP JS *@
    <script type="text/javascript" src="~/js/semantic.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-checkbox.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/bootstrap-checkbox.js"></script>
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/bootstrap-select.min.js"></script>@*amal*@
    @* OTHER JS *@
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/dropdown.min.js"></script>
    <script type="text/javascript" src="~/js/ReportBuilder.js"></script>@*amal*@
    @*<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <script type="text/javascript" src="~/js/vue-select.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script type="text/javascript" src="~/js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="~/js/ss-utils.js"></script>
    <script type="text/javascript" src="~/js/ElementQueries.js"></script>
    <script type="text/javascript" src="~/js/ResizeSensor.js"></script>   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
    @* EB JS *@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/EbDataTable.js"></script>@*roby*@
    <script type="text/javascript" src="~/js/Eb_jqPropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/Eb_PropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/wizardFuns.js"></script>
    <script type="text/javascript" src="~/js/Eb_select.js"></script>
    <script type="text/javascript" src="~/js/eb_validations.js"></script>
    <script type="text/javascript" src="~/js/thirdpartysignup.js"></script>
    <script type="text/javascript" src="~/js/Infra.js"></script>
    <script type="text/javascript" src="~/js/eb_objlist_tbl.js"></script>
    <script type="text/javascript" src="~/js/DVSettings.js"></script>
    <script type="text/javascript" src="~/js/FilterDialogFn.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/Eb_chart.js"></script>
    <script type="text/javascript" src="~/js/dygraphPlotters.js"></script>
    <script type="text/javascript" src='~/js/Eb_dragula.js'></script>
    <script type="text/javascript" src='~/js/Eb_formBuilder.js'></script>
    <script type="text/javascript" src="~/js/jqPropertyGrid.js"></script>
    <script type="text/javascript" src="~/js/Eb_DataTableUtils.js"></script>
    <script>
        $('document').ready(function () {
            $('#submen').click(function () {
                $('.side').toggle();
                if ($('.side').css("display") === "none")
                    $('div[id^="layout_div"]').removeClass('col-md-9').addClass('col-md-12');
                else
                    $('div[id^="layout_div"]').removeClass('col-md-12').addClass('col-md-9');
            });

            $('.list-group a').on('click', function () {
                var $this = $(this),
                    $bc = $('<div class="item"></div>');

                $this.parents('li').each(function (i, parent) {
                    var i = $(parent).children('a').text();
                    $bc.prepend(' / ', i);
                    parent = i;
                });
                $('.item').html($bc.prepend('<a href="#"> Home</a>'));
            })           
        })
    </script>
</head>
<body>
    @{if (ViewBag.wc == "tc")
            {
                Html.RenderPartial("_PageheaderTenant");
            }
            else if (ViewBag.wc == "dc" || ViewBag.wc == "uc")
            {
                Html.RenderPartial("_PageheaderDev");

            }
    }
    <div id="tenatDtls" class="container-fluid">
        <div class="row">
            <div class="col-md-3 side">
                @if (ViewBag.wc == "tc")
                {
                    Html.RenderPartial("_SidebarMenu");
                }
                else if (ViewBag.wc == "dc")
                {
                    Html.RenderPartial("_SidebarDev");
                }
                else
                {
                    Html.RenderPartial("_SidebarmenuTUser");

                }

            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 pull-right" style="padding:0;">
                <div class="item">
                    <a href="#"> Home/</a>
                </div>
            </div>
            <div id="layout_div" class="col-md-9 col-sm-12 col-xs-12 main-cont pull-right">
                <i class="fa fa-spinner fa-pulse fa-4x fa-fw center-block" id="loader" aria-hidden="true" style="display:none;margin:200px 400px;color:#808080;z-index:5;">  </i>
                @RenderBody()
                @RenderSection("EbHead", false)
            </div>
        </div>
    </div>
</body>
</html>
<style>
    .item {
        color: #337ab7;
        margin-top: 57px;
        margin-bottom:10px;
    }
</style>