<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @* JQUERY CSS *@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.22.5/skin-awesome/ui.fancytree.min.css" />@*Dona*@

    @* BOOTSTRAP CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-checkbox.css" />

    @* OTHER CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/fontselect.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ValYouW/jqPropertyGrid/9218bbd5df05bf7efe58591f434ea27ece11a045/jqPropertyGrid.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.css" />*@

    @* EB CSS *@
    <link rel="stylesheet" type="text/css" href="~/css/Eb.css" />
    <link rel="stylesheet" type="text/css" href="~/css/EbWizard.css" />
    <link rel="stylesheet" type="text/css" href="~/css/navbootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/eb_objlist.css" />

    @* JQUERY JS *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.fancytree/2.22.4/jquery.fancytree-all.min.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js"></script>
    <script type="text/javascript" src="~/js/jquery.datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fontselect.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>

    @* BOOTSTRAP JS *@
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/bootstrap-checkbox.js"></script>
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    @* OTHER JS *@
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <script type="text/javascript" src="~/js/vue-select.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script type="text/javascript" src="~/js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="~/js/ss-utils.js"></script>
    <script type="text/javascript" src="~/js/ElementQueries.js"></script>
    <script type="text/javascript" src="~/js/ResizeSensor.js"></script>

    @* EB JS *@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/EbDataTable.js"></script>@*roby*@
    <script type="text/javascript" src="~/js/Eb_jqPropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/Eb_PropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/wizardFuns.js"></script>
    <script type="text/javascript" src="~/js/Eb_select.js"></script>
    <script type="text/javascript" src="~/js/eb_validations.js"></script>
    <script type="text/javascript" src="~/js/thirdpartysignup.js"></script>
    <script type="text/javascript" src="~/js/Infra.js"></script>
    <script type="text/javascript" src="~/js/eb_objlist_tbl.js"></script>

    <style>
        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            #wrapper.toggled {
                padding-left: 250px;
            }

        #sidebar-wrapper {
            position: fixed;
            left: 250px;
            z-index: 1000;
            overflow-y: auto;
            margin-left: -250px;
            width: 0;
            height: 100%;
            background: #6c6d72;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            padding: 15px;
            width: 100%;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }

        /* Sidebar Styles */

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                position: relative;
                line-height: 20px;
                display: inline-block;
                width: 100%;
            }

                .sidebar-nav li:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    height: 100%;
                    width: 3px;
                    background-color: #1c1c1c;
                    -webkit-transition: width .2s ease-in;
                    -moz-transition: width .2s ease-in;
                    -ms-transition: width .2s ease-in;
                    transition: width .2s ease-in;
                }

                .sidebar-nav li:hover:before,
                .sidebar-nav li.open:hover:before {
                    background-color: #35acdf;
                    width: 100%;
                    -webkit-transition: width .2s ease-in;
                    -moz-transition: width .2s ease-in;
                    -ms-transition: width .2s ease-in;
                    transition: width .2s ease-in;
                }

                .sidebar-nav li a {
                    display: block;
                    color: #ddd;
                    text-decoration: none;
                    padding: 10px 15px 10px 30px;
                }

                    .sidebar-nav li a:hover,
                    .sidebar-nav li a:active,
                    .sidebar-nav li a:focus,
                    .sidebar-nav li.open a:hover,
                    .sidebar-nav li.open a:active,
                    .sidebar-nav li.open a:focus {
                        color: #fff;
                        text-decoration: none;
                        background-color: transparent;
                    }

            .sidebar-nav > .sidebar-brand {
                height: 55px;
                font-size: 15px;
                line-height: 44px;
            }

            .sidebar-nav .dropdown-menu {
                position: relative;
                width: 100%;
                padding: 0;
                margin: 0;
                border-radius: 0;
                border: none;
                background-color: #222;
                box-shadow: none;
            }

            // temporary .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }


        #wrapper.toggled {
            padding-left: 0;
        }

        #sidebar-wrapper {
            width: 250px;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            padding: 20px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    </style>
    <script>
        $(document).ready(function () {

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height:10px" role="navigation">

        @{if (ViewBag.cid == "expressbase" || string.IsNullOrEmpty(ViewBag.cid))
            {
                Html.RenderPartial("_PageHeader");
            }
            else
            {
                Html.RenderPartial("_PageheaderTUser");

            }
        }

    </nav>
    <div id="wrapper" class="toggled">
        <div class="container-fluid">

            <div id="sidebar-wrapper">
                @if (ViewBag.cid == "expressbase" || string.IsNullOrEmpty(ViewBag.cid))
                {
                    Html.RenderPartial("_SidebarMenu");
                }
                else
                {

                    if (@Context.Request.Path == "/Tenant/objects")
                    {
                        Html.RenderPartial("_SideBarObjects");
                    }
                    else
                    {
                        Html.RenderPartial("_SidebarmenuTUser");
                    }
                }
            </div>

            <div id="page-content-wrapper" style="margin-top: 40px;">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12" style="height: 0px;">
                            @RenderBody()
                            @RenderSection("EbHead", false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
