<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://github.com/lipis/bootstrap-social/blob/gh-pages/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/intlInputPhone.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/EbWizard.css" />
    <script type="text/javascript" src="~/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
    <script type="text/javascript" src="~/js/validator.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="~/js/wizardFuns.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
