<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @* BOOTSTRAP CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    @*<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">*@
    <link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />@*amal*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />@*amal*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <link rel="icon" href="~/images/favicon.ico">
    @* JQUERY CSS *@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.22.5/skin-awesome/ui.fancytree.min.css" />@*Dona*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    @* OTHER CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.css">*@@*jith*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />@*jith*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.2/jquery.contextMenu.min.css" />@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/imagehover.min.css">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.css" />*@

    @* EB CSS *@
    <link rel="stylesheet" type="text/css" href="~/css/Eb.css" />
    <link rel="stylesheet" type="text/css" href="~/css/EbWizard.css" />
    <link rel="stylesheet" type="text/css" href="~/css/eb_objlist.css" />
    <link rel="stylesheet" type="text/css" href="~/css/GridStackStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/PropertyGrid.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ChartStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/EbChatBot.css" />@*jith*@
    <link rel="stylesheet" type="text/css" href="~/css/Eb_ReportBuilder.css" />@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/ObjectDashboard.css" />
    @* JQUERY JS *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.fancytree/2.22.4/jquery.fancytree-all.min.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js"></script>
    <script type="text/javascript" src="~/js/jquery.datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fontselect.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>


    @* BOOTSTRAP JS *@
    <script type="text/javascript" src="~/js/semantic.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-checkbox.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/bootstrap-checkbox.js"></script>
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>@*Dona*@
    @*<script type="text/javascript" src="~/js/bootstrap-select.min.js"></script>amal*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    @* OTHER JS *@
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/dropdown.min.js"></script>
    <script type="text/javascript" src="~/js/split.js"></script>@*amal*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>@*amal*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>@*amal*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/se-1.2.0/datatables.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <script type="text/javascript" src="~/js/vue-select.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.js"></script>@*jith*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script type="text/javascript" src="~/js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="~/js/ss-utils.js"></script>
    <script type="text/javascript" src="~/js/ElementQueries.js"></script>
    <script type="text/javascript" src="~/js/FormBuilder/Eb_pgCXVE.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/ResizeSensor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>*@
    <script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/piexif.min.js" type="text/javascript"></script>@*amal*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/sortable.min.js" type="text/javascript"></script>@*amal*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/purify.min.js" type="text/javascript"></script>@*amal*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>@*amal*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/fileinput.min.js"></script>@*amal*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.2/jquery.contextMenu.min.js"></script>@*amal*@

    @* EB JS *@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/EbDataTable.js"></script>@*roby*@
    <script type="text/javascript" src="~/js/Eb_jqPropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/FormBuilder/Eb_PropertyGrid.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/ChatBot/Eb_chatBot.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/eb_common.js"></script>
    <script type="text/javascript" src="~/js/wizardFuns.js"></script>
    <script type="text/javascript" src="~/js/Eb_select.js"></script>
    <script type="text/javascript" src="~/js/eb_validations.js"></script>
    <script type="text/javascript" src="~/js/thirdpartysignup.js"></script>
    <script type="text/javascript" src="~/js/Infra.js"></script>
    <script type="text/javascript" src="~/js/eb_objlist_tbl.js"></script>
    <script type="text/javascript" src="~/js/DVSettings.js"></script>
    <script type="text/javascript" src="~/js/DataSource.js"></script>@*Dona*@
    <script type="text/javascript" src="~/js/Eb_chart.js"></script>
    <script type="text/javascript" src="~/js/dygraphPlotters.js"></script>
    <script type="text/javascript" src='~/js/Eb_dragula.js'></script>
    <script type="text/javascript" src='~/js/FormBuilder/Eb_formBuilder.js'></script>
    <script type="text/javascript" src="~/js/jqPropertyGrid.js"></script>
    <script type="text/javascript" src="~/js/Eb_ReportBuilder.js"></script>@*amal*@
    <script src="~/js/FormBuilder/EbControlCollection.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/Eb_UtilityFuncions.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/EbAlerts.js"></script>@*jith*@
    <script type="text/javascript" src="~/js/dvContainer.js"></script>@*roby*@
    <script type="text/javascript" src="~/js/Eb_ObjectCommon.js"></script>
    <script type="text/javascript" src="~/js/ImageUploader.js"></script>@*amal*@
    <script type="text/javascript" src="~/js/EmailBuilder.js"></script>@*bini*@
    <script type="text/javascript" src="~/js/Menu.js"></script>

    @*code editor*@
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>

</head>
<body>
    <div id="tenatDtls" class="container-fluid">

        @{
            if (ViewBag.wc == "tc")
            {
                <div class="row">
                    @await Component.InvokeAsync("PageHeaderTenant", new { solnid = ViewBag.cid, email = ViewBag.email, console = ViewBag.wc });
                </div>
            }
            else
            {
                 <div id="submen" class="togglemenu"><i class="fa fa-bars fa-lg" alt="Brand"></i></div>

            }
        }
       
        <div class="row">
            @{
                if (ViewBag.wc == "dc" || ViewBag.wc == "uc")
                {
                    <div class="modal fade" tabindex="-1" role="dialog" id='ObjModal'>
                        <div class="modal-dialog modal-lg" role="document" style="width:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div id="headerDiv" style="height:50px;width:100%">
                                        @{
                                            if (ViewBag.wc == "dc" || ViewBag.wc == "uc")
                                            {
                                                Html.RenderPartial("PageHeaderDev");

                                            }
                                        }
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-body" style="height:500px;padding: 5px;">
                                    <div id="EbsideBar" class="col-md-3" style="height:100%;">
                                    </div>
                                    <div class="col-md-9" style="height:100%;">
                                        @{
                                            var hei = "93%";
                                            if (ViewBag.wc == "dc")
                                            {
                                                <div class="Eb-CommonMenuStyle">
                                                    <div id="topmenu" class="pull-right">
                                                        <button class="btn"><i class="fa fa-download" aria-hidden="true"></i></button>
                                                        <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                                        <a href="" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                hei = "86%";
                                            }
                                            <div id="objList" style="height:@hei; overflow-y:auto; width: 100%;"></div>
                                        }
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" id="dropbuttn" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    All<span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" id="MyDropDownId">
                                                    <li><a href="#">All</a></li>
                                                </ul>
                                            </div>
                                            <input type="text" class="form-control" id="searchobj">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="EbsideBar" class="col-md-3" style="height:100%;display:none;">
                        @{ 

                            Html.RenderPartial("_SidebarMenu");
                        }

                    </div>

                }
            }

            <div id="layout_div" class="col-md-12 col-sm-12 col-xs-12 main-cont">
                @RenderBody()
                @RenderSection("EbHead", false)
            </div>

            @*<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="item">
                        <a href="#"> Home/</a>
                    </div>
                </div>*@
        </div>
    </div>
</body>
</html>
<style>
    .item {
        color: #337ab7;
        margin-top: 57px;
        margin-bottom: 10px;
    }
</style>
<script>
    var menu = new menujs('@ViewBag.wc');
    $("#layout_div").data("menu", menu);


    $('.list-group a').on('click', function () {
        var $this = $(this),
            $bc = $('<div class="brdCrumb"></div>');

        $this.parents('li').each(function (i, parent) {
            var i = $(parent).children('a').text();
            $bc.prepend(' / ', i);
            parent = i;
        });
        $('.brdCrumb').html($bc.prepend('<a href="#"> Home</a>'));
    });

    EbFonts = {};
    EbFontsCallback = function (data, status) {
        EbFonts = data;
    };
</script>
@*<script src="https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyBEWdu2IGQZ2dE2BK8v3BzEe2-Msb2jipA&callback=EbFontsCallback"></script>amal*@
<script src="https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyBWjEI20zK2D3RPFyTKd6v045OGHO0Mwvk&callback=EbFontsCallback"></script>