<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92530019-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-92530019-1');
    </script>
    <title>EXPRESSbase: Rapid Application Development & Delivery Platform for SMBs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="RAD platform on the cloud (or hpaPaaS) specially designed for SMBs
                        Build complex business apps 10x faster, with drag n drop & low-code. Efficiently manage change
                        in business processes with versioning & branching of building blocks like SQL data-sources,
                        portable reports, visualizations, web-forms or even bots" /> 

    <meta name="hpapaas" content="hpapaas" /> 
    <meta name="apaas" content="apaas" />
    <meta name="apaas:platform" content="high productivity platform" />
    <meta name="hpapaas:platform" content="high productivity application platform as a service" />
    <meta name="saas" content="saas" />
    <meta name="rad" content="rad" />
    <meta name="rad:platform" content="rapid application development platform" />
    <meta name="cloud" content="cloud" />
    <meta name="smb" content="smb" />
    <meta name="business" content="business" />
    <meta name="google" content="Results from expressbase.com" />
    
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="icon" href="~/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Pwd.css" />
    @*<script type="text/javascript" src="~/js/jquery.easing.min.js"></script>*@ 
    
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script async type="text/javascript" src="~/js/validator.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
