<style>
    .dropdown ul.dropdown-menu {
        border-radius: 4px;
        width: 250px;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="fa fa-bars" id="submen" style="padding-top:14px;font-size:24px;padding-right:15px;"></a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index">
                <img class="img-responsive" src="~/images/your_company_logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="fa fa-bell" href="#" style="font-size:25px;"></a></li>
                <li class="dropdown">
                    <img id="prof" class="img-responsive" alt="dropdown-toggle" data-toggle="dropdown" src="~/images/proimg.jpg" />
                    <ul class="dropdown-menu">
                        <li><a href="#">My Account<span class="fa fa-user pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">My Preferences<span class="fa fa-user pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sign Out<span class="fa fa-sign-out pull-right"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
