@using ExpressBase.Common;
@using ServiceStack.Redis;
@using ExpressBase.Security;
@{
    var EbConfig = ViewBag.EbConfig;
    var redisClient = EbConfig.GetRedisClient();
    string imgpro = "";
    var __tmpStr = "";
    WebPageLoginStateTypes __state = WebPageLoginStateTypes.TenantUserInt;
    __tmpStr = "<ul class='list-group' style='list-style-type: none;'> <li class='list-group-item'><a href='#'><i class='fa fa-user fa-fw' aria-hidden='true'></i>&nbsp; My Profile</a></li> <li class='list-group-item'><a href='UserPreferences'><i class='fa fa-cog fa-fw' aria-hidden='true'></i>&nbsp;My preferences</a></li> <li class='list-group-item'><a href='TenantSignup'><i class='fa fa-sign-out fa-fw' aria-hidden='true'></i>&nbsp; Log out</a></li>  </ul>";
    string profileimg = string.Format("uid_{0}_cid_{1}_profileimage", ViewBag.UId, ViewBag.cid);
    imgpro = redisClient.Get<string>(profileimg);

    __state = string.IsNullOrEmpty(ViewBag.Fname)
        ? WebPageLoginStateTypes.TenantUserExt : WebPageLoginStateTypes.TenantUserInt;
    
}
<div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
        @{ if (ViewBag.Fname != null)
            {
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
            }
        }

        <a class="navbar-brand" href="~/tenant/signin"><img class="img-responsive" src="/images/your_company_logo.png" width="175" height="50" /></a>
        @if (__state == WebPageLoginStateTypes.TenantUserInt )
        {
            @if (!string.IsNullOrEmpty(imgpro))
            {
                <a href="#" data-toggle="popover" data-placement="bottom" data-content="@__tmpStr" style="margin-right:30px" class="navbar-right">@Html.Raw(imgpro)</a>

            }
            else
            {
                <a href="#" data-toggle="popover" data-placement="bottom" data-content="@__tmpStr" style="margin-right:30px" class="navbar-right"><img src="~/images/proimg.jpg" class="img-circle navbar-right" /></a>
            }


        }
    </div>
</div>

<style>
    .img-cir {
        /*padding: 20px;*/
        height: 50px;
        width: 50px;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true });
    });


</script>
