@using ExpressBase.Common;
@using ServiceStack.Redis;
@using ExpressBase.Security;
@{
    var EbConfig = ViewBag.EbConfig;
    var redisClient = EbConfig.GetRedisClient();
    string imgpro = "";
    WebPageLoginStateTypes __state = WebPageLoginStateTypes.TenantUserInt;
    string profileimg = string.Format("uid_{0}_cid_{1}_profileimage", ViewBag.UId, ViewBag.cid);
    imgpro = redisClient.Get<string>(profileimg);

    __state = string.IsNullOrEmpty(ViewBag.cid)
        ? WebPageLoginStateTypes.TenantUserExt : WebPageLoginStateTypes.TenantUserInt;

}
<div>
    <div class="navbar-header">
        @{ if (!string.IsNullOrEmpty(ViewBag.cid))
            {
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
            }
        }
        <a class="navbar-brand" href="~/tenant/signin"><img class="img-responsive" src="/images/your_company_logo.png" width="175" height="50" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="background-color:#3b5998;height:60px !important ">
        @if (__state == WebPageLoginStateTypes.TenantUserInt)
        {
                <ul style="list-style-type:none;">
                    <li class="dropdown navbar-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @if (string.IsNullOrEmpty(imgpro))
                            {
                                <img src="~/images/proimg.jpg" class="img-circle img-cir">
                            }
                            else
                            {
                                @Html.Raw(imgpro)

                            }
                        </a>
                        <ul class='dropdown-menu' style='list-style-type: none;'>
                            <li class='list-group-item'><a href='#'><i class='fa fa-user fa-fw' aria-hidden='true'></i>&nbsp; My Profile</a></li>
                            <li class='list-group-item'><a href='UserPreferences'><i class='fa fa-cog fa-fw' aria-hidden='true'></i>&nbsp;My preferences</a></li>
                            <li class='list-group-item'><a href='TenantLogout'><i class='fa fa-sign-out fa-fw' aria-hidden='true'></i>&nbsp; Log out</a></li>
                        </ul>
                    </li>
                </ul>
        }
    </div>
</div>

<style>
    .img-cir {
        /*padding: 20px;*/
        height: 50px;
        width: 50px;
        margin-right:40px
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true });
    });


</script>
