@using ExpressBase.Common.Objects;
@using ExpressBase.Objects;
<div class="side-menu-container">
    <ul class="outer" style="padding-left:0;">
        <li>
            <a href="ListApplications" class="list-group-item">
                <i class="fa fa-align-right"></i> Applications
            </a>
        </li>        
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown2">
                <i class="fa fa-object-group"></i>Objects<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown2">
                @{  foreach (var Op in Enum.GetValues(typeof(EbObjectType)))
                        {
                            var intop = (int)Op;
                            <li onclick="LoadObjectList44(@intop)"><a class="list-group-item" href="EbObjectList?type=@intop"><i class="fa fa-caret-right"></i> @Op</a></li>

                    }

                }
                       
            </ul>
        </li>
    </ul>
</div>
<script>
    function LoadObjectList44(type44) {
        event.preventDefault();
        var _container = $("#layout_div");
        $.LoadingOverlay("show");
        $.ajax({
            url: "EbObjectList",
            type: "GET",
            cache: false,
            data: { "type": type44 },
            success: function (result) {
                _container.html(result);
                $.LoadingOverlay("hide");
                $('#EbsideBar').toggle(300);
            }
        });
    }
</script>
<style>
    li{
        border:0;
    }
   
</style>
