
<div class="list-group">
    <ul style="padding-left:0;">
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown1">
                <i class="fa fa-cog"></i> Chat
            </a>
            <ul class="sub-menu collapse" id="dropdown1">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li> 
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown2">
                <i class="fa fa-money"></i> Financial Accounts<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown2">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown3">
                <i class="fa fa-comment-o"></i> General<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown3">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown4">
                <i class="fa fa-comment-o"></i> Operations-Van Sales<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown4">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown5">
                <i class="fa fa-comment-o"></i>Payroll Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown5">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown6">
                <i class="fa fa-comment-o"></i>Procurement Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown6">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown7">
                <i class="fa fa-comment-o"></i>Production<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown7">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown8">
                <i class="fa fa-comment-o"></i>Vehicle Fleet Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown8">
                <li><i class="fa fa-caret-right"></i><a href="#"> Forms</a></li>
                <li><i class="fa fa-caret-right"></i><a href="DataVisualizations?id=@ViewBag.UId"> Data visualizations</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown9">
                <i class="fa fa-lock"></i>Security<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown9">
                <li><i class="fa fa-caret-right"></i><a href="CreateUser"> Users</a></li>
                <li><i class="fa fa-caret-right"></i><a href="#"> User Groups</a></li>
                <li><i class="fa fa-caret-right"></i><a href="EbRoles"> Roles</a></li>
            </ul>
        </li>
</ul>
</div>