@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ServiceStack;

@{
    EbObjectResponse fr = null;
    var EbConfig = ViewBag.EbConfig;
    if (EbConfig != null)
    {
        IServiceClient client = EbConfig.GetClient();
        fr = client.Get<EbObjectResponse>(new EbObjectRequest { Id = 0, Token = ViewBag.Token });
    }
}

@if (string.IsNullOrEmpty(ViewBag.cid))
{

        <ul class="sidebar-nav list-group" style="list-style-type: none;">
        <li class="list-group-item"><a href="TenantAccounts?id=@ViewBag.UId"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; My Accounts</a></li>
    </ul>  

}
else
{

        <ul class="sidebar-nav list-group" style="list-style-type: none;">
@{  if (fr != null)
    {
        foreach (var f in fr.Data)
        {
            string fname = f.Name;
            string formid = string.Format("f?fid={0}", f.Id);
        <li class="list-group-item"><a href="@formid"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; @fname</a></li>

            }
        }
    }

        </ul>
    }