
            <div class="list-group">
                <ul style="padding-left:0;">
                <li><a href="TenantAcc" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown1">
                    <i class="fa fa-cog"></i>&nbsp; My Account</a>
                </li>
                @*<ul class="sub-menu collapse" id="dropdown1">
                    <li><i class="fa fa-caret-right"></i><a href="#"> General</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Buttons</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Tabs & Accordions</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Typography</a></li>
                </ul>
                <a href="#" class="list-group-item">
                    <i class="fa fa-search"></i> Lorem ipsum
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-user"></i> Lorem ipsum
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i>Lorem ipsum 
                </a>
                <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown2">
                    <i class="fa fa-comment-o"></i>DROPDOWN<i class="fa fa-caret-down pull-right"></i>
                </a>
                <ul class="sub-menu collapse" id="dropdown2">
                    <li><i class="fa fa-caret-right"></i><a href="#"> General</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Buttons</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Tabs & Accordions</a></li>
                    <li><i class="fa fa-caret-right"></i><a href="#"> Typography</a></li>
                </ul>
                <a href="#" class="list-group-item">
                    <i class="fa fa-envelope"></i> Lorem ipsum
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-envelope"></i> Lorem ipsum
                </a>*@
                </ul>
            </div>
     
