
<ul class="sidebar-nav list-group" style="list-style-type: none;">
    <li class="list-group-item"><a href="TenantAccounts?id=@ViewBag.UId"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; My Accounts</a></li>
</ul>

