@{
    @using ServiceStack;
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Web2;

    EbSetupConfig EbConfig = ViewBag.EbConfig;
    IServiceClient client = EbConfig.GetServiceStackClient(ViewBag.token, ViewBag.rToken);
    var resultlist = client.Get<EbObjectResponse>(new EbObjectRequest { Id = 0, VersionId = Int32.MaxValue, EbObjectType = 9, TenantAccountId = ViewBag.cid, Token = ViewBag.token });
    List<EbObjectWrapper> responselist = resultlist.Data;
}
<div class="list-group">
    <ul class="outer" style="padding-left:0;">
        @{ 
            foreach(var element in responselist)
            {
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown1_@element.Id">
                <i class="fa fa-cog"></i> @element.Name <i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown1_@element.Id">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" onclick="LoadObjectListUser(11)"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li> 
            }
            }
        @*<li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown2">
                <i class="fa fa-money"></i> Financial Accounts<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown2">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown3">
                <i class="fa fa-comment-o"></i> General<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown3">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown4">
                <i class="fa fa-comment-o"></i> Operations-Van Sales<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown4">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown5">
                <i class="fa fa-comment-o"></i>Payroll Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown5">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown6">
                <i class="fa fa-comment-o"></i>Procurement Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown6">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i>Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown7">
                <i class="fa fa-comment-o"></i>Production<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown7">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown8">
                <i class="fa fa-comment-o"></i>Vehicle Fleet Management<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown8">
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="DataVisualizations?id=@ViewBag.UId"><i class="fa fa-caret-right"></i> Data visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown9">
                <i class="fa fa-lock"></i>Security<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown9">
                <li><a class="list-group-item" href="CreateUser"><i class="fa fa-caret-right"></i> Users</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> User Groups</a></li>
                <li><a class="list-group-item" href="EbRoles"><i class="fa fa-caret-right"></i> Roles</a></li>
            </ul>
        </li>*@
</ul>
</div>
<script>
    function LoadObjectListUser(type44) {       
        event.preventDefault();
        var _container = $("#layout_div");
        $('#loader').show();
        $.ajax({
            url: "../Dev/EbObjectList",
            type: "GET",
            cache: false,
            data: { "type": type44 },
            success: function (result) {
                _container.html(result);
                $('#loader').hide();              
            }
        });
    }
</script>