@using ExpressBase.Objects;
<div class="list-group">
    <ul class="outer" style="padding-left:0;">
        <li>
            <a href="#" class="list-group-item">
                <i class="fa fa-align-right"></i> Applications
            </a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-cog fa-fw"></i> Modules
        </a></li>
        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown2">
                <i class="fa fa-object-group"></i>Objects<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown2">
                <li onclick="LoadObjectList44(9)"><a class="list-group-item" href="EbObjectList?type=9"><i class="fa fa-caret-right"></i> Applications</a></li>
                <li onclick="LoadObjectList44(2)"><a class="list-group-item" href="EbObjectList?type=2"><i class="fa fa-caret-right"></i> Data Sources</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Filter Dialogs</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Forms</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Javascript Functions</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Javascript Validators</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Reports</a></li>
                <li onclick="LoadObjectList44(5)"><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Sql Functions</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Sql Validators</a></li>
                <li onclick="LoadObjectList44(11)"><a class="list-group-item" href="EbObjectList?type=11"><i class="fa fa-caret-right"></i> Data Visualizations</a></li>
                <li><a class="list-group-item" href="#"><i class="fa fa-caret-right"></i> Views</a></li>
            </ul>
        </li>
    </ul>
</div>
<script>
    function LoadObjectList44(type44) {
        event.preventDefault();
        var _container = $("#layout_div");
        $('#loader').show();
        $.ajax({
            url: "EbObjectList",
            type: "GET",
            cache: false,
            data: { "type": type44 },
            success: function (result) {
                _container.html(result);
                $('#loader').hide();
            }
        });
    }
</script>
<style>
    li{
        border:0;
    }
   
</style>
