<script>
    $(document).ready(function () {
        $('#ds').on("click", function () {  
            window.open('DSList', '_blank');
        });

        $('#dv').on("click", function () {
            window.open('DVList', '_blank');
        });
    });
</script>

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <br>
        </li>
        <li>
            <a href="#"><i class="fa fa-align-right fa-rotate-90" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Applications</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Application Modules</a>
        </li>
        <li>
            <a href="#" id="ds"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Data Sources</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Forms</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Javascript Functions</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Javascript Validators</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Reports</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Sql Functions</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Sql Validators</a>
        </li>
        <li>
            <a href="#" id="dv"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Data Visualizations</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Views</a>
        </li>
    </ul>
</div>