<div class="modal fade Eb_quick_menu" tabindex="-1" role="dialog" id='ObjModal'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row mr-0 header_topmenu" id="topmenu">
                    <button class="btn c_btn cls_btn pull-right" data-toggle="tooltip" title="Close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    @{
                        if (ViewBag.wc == "dc")
                        {
                            <div class="dropdown drp_new pull-right">
                                <button class="ebbtn eb_btn_md eb_btngreen btn-default dropdown-toggle" type="button" id="newBuildermenu1" data-toggle="dropdown" style="border-radius: 20px;">
                                    <span class="fa fa-plus"></span>
                                    New Object
                                </button>
                                <ul class="dropdown-menu drp_new_wrapper" role="menu" id="drp_new_wrapper" aria-labelledby="newBuildermenu1"></ul>
                            </div>
                        }
                    }

                    <div class="searchBox pull-left">
                        <div class="input-group w-100">
                            <input type="text" class="form-control search_input w-100" id="searchobj" placeholder="Search.">
                            <span class="input-group-addon search_icon"><i class="material-icons">search</i></span>
                        </div>
                    </div>
                    <button class="btn c_btn pull-right" id="menu_refresh"><i class="material-icons">refresh</i></button>
                </div>
                <div class="quick_menu_load" id="quick_menu_load"></div>
            </div>
            <div class="modal-body menu_wrapper">
                <div class="col-md-3 col-lg-3 pd-0 menu_sidebar">
                    <div id="EbsideBar" class="menu_sidebar_sub"></div>
                    <div class="shrtcurt_info">Ctrl + M for this menu</div>
                </div>
                <div class="col-md-9 col-lg-9 menu_workpane" id="ObjListCont">
                    <div id="objList" class="objList_Container">
                        <div class="menu_notifiction">Application empty.</div>
                    </div>
                    <div class="modal-footer pwrd_by">
                        Powered by expressbase
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>