@{ 
    string url = "";
    if (ViewBag.Env == "Development")
    {
        url = "http://localhost:41400";
    }
    else if(ViewBag.Env == "Staging")
    {
        url = "http://eb-test.info";
    }
    else if(ViewBag.Env == "Production")
    {
        url = "https://expressbase.com";
    }

}
<section class="ext-pageheader" id="pgheaderExt">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a href="@url" id="logo">
                        <img class="img-responsive" src="~/images/EB_Logo.png">
                    </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                        <li><a class="hvr-underline-from-center" href="@url" id="Home">Home</a></li>
                        <li>
                            <a class="hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu drp_container">
                                <a class="w-100" href="@url/Products/Reports">
                                    <div class="drp_items_log">
                                        <img src="/images/svg/bi.svg" class="w-100" />
                                    </div>
                                    <div class="drp_items_desc">
                                        <h4>Reporting as a Service</h4>
                                        @*<p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>*@
                                    </div>
                                </a>
                                <a class="w-100" href="@url/Products/Bots">
                                    <div class="drp_items_log">
                                        <img src="/images/svg/chat_.svg" class="w-100" />
                                    </div>
                                    <div class="drp_items_desc">
                                        <h4>ChatBots as a Service</h4>
                                        @*<p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>*@
                                    </div>
                                </a>
                                <a class="w-100 disabled">
                                    <div class="drp_items_log">
                                        <img src="/images/svg/form_.svg" class="w-100" />
                                    </div>
                                    <div class="drp_items_desc">
                                        <h4>Forms as a Service<span class="label-cs pull-right">Coming soon</span></h4>
                                        @*<p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>*@
                                    </div>
                                </a>
                                <a class="w-100 disabled">
                                    <div class="drp_items_log">
                                        <img src="/images/svg/document_ .svg" class="w-100" />
                                    </div>
                                    <div class="drp_items_desc">
                                        <h4>Managed.Documents<span class="label-cs pull-right">Coming soon</span></h4>
                                        @*<p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>*@
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li><a class="hvr-underline-from-center" href="@url/Platform" id="Platform">Platform</a></li>
                        <li><a class="hvr-underline-from-center" href="@url/AboutUs" id="AboutUs">About Us</a></li>
                        <li id="signIn"><a class="hvr-underline-from-center" href="">Sign in &#8594;</a></li>                   
                </ul>
            </div>
        </div>
    </nav>
</section>