@{
    string signinurl = string.Empty, appstoreurl = string.Empty, home = string.Empty; ;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        signinurl = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.info";
        signinurl = "https://myaccount.eb-test.info";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        signinurl = "https://myaccount.expressbase.com";
    }
}
<section class="ext-pageheader" id="pgheaderExt">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@home"><img class="img-responsive" src="~/images/EB_Logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hvr-underline-from-center" href="@home" id="Home">Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle drp_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Platform <span class="caret"></span></a>
                        <ul class="dropdown-menu navmain drp_container">
                            <li>
                                <div class="dropdown dropdown-multi">
                                    <div class="drop-body">
                                        <div class="drop-col" style="width:62%;">
                                            <span class="drop-title">Products</span>
                                            <ul>
                                                <li>
                                                    <a href="@home/Products/Reports" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/laptop.svg" class="attachment-full" alt="saas" width="16">
                                                        </span>
                                                        <strong class="dl-title">Reporting</strong>
                                                        <span class="dl-sub">Drag-n-Drop Reporting</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@home/Products/Bots" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/chat.svg" class="attachment-full" alt="financial-services" width="16">
                                                        </span>
                                                        <strong class="dl-title">ChatBots</strong>
                                                        <span class="dl-sub">Enterprise grade bots</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@home/Products/Forms" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/forms.svg" class="attachment-full" alt="consumer-tech" width="14">
                                                        </span>
                                                        <strong class="dl-title">Forms</strong>
                                                        <span class="dl-sub">Enterprise grade forms</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@home/Products/Documents" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/docs.png" class="attachment-full" alt="media-entertainment" width="16">
                                                        </span>
                                                        <strong class="dl-title">Documents</strong>
                                                        <span class="dl-sub">Manage your Files</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="drop-col" style="width:38%;">
                                            <span class="drop-title">Help</span>
                                            <ul>
                                                <li>
                                                    <a href="@home/FAQS" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/faq.svg" class="attachment-full" width="16">
                                                        </span>
                                                        <strong class="dl-title">FAQ</strong>
                                                        <span class="dl-sub">Frequently Asked</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@home/Wiki" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/expert.svg" class="attachment-full" width="16">
                                                        </span>
                                                        <strong class="dl-title">Wiki</strong>
                                                        <span class="dl-sub">Learn More</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@home/Support" class="drop-link">
                                                        <span class="ico">
                                                            <img src="~/images/svg/customer-support.svg" class="attachment-full" width="16">
                                                        </span>
                                                        <strong class="dl-title">Support</strong>
                                                        <span class="dl-sub">Get in touch with us</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="drop-foot single">
                                        <a href="@home/Platform" class="drop-link">
                                            <span class="ico-plain">
                                                <img src="~/images/svg/layers.svg" class="attachment-full" width="24">
                                            </span>
                                            <strong class="dl-title">Platform</strong>
                                            <span class="dl-sub">Open Source Enterprise aPaaS</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a class="hvr-underline-from-center" href="Public/AppStore" id="AppStore">App Store</a></li>
                    <li><a class="hvr-underline-from-center" href="@home/AboutUs" id="AboutUs">About Us</a></li>
                    <li><a class="hvr-underline-from-center" href="@home/Blog" id="Blog">Blog</a></li>
                    <li id="signIn"><a class="hvr-underline-from-center" href=@signinurl>Sign in &#8594;</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div class="commonLoader"></div>
    </nav>
</section>
<!--/ Navigation bar-->
