<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
            <a href="index">
                <img class="img-responsive" src="~/images/EB_Logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="nav navbar-nav navbar-right">
                <img class="img-responsive img-circle" src="~/images/proimg.jpg">
            </div>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->