<div class="container-fluid ext-pageheader" id="pgheaderExt">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/Ext/index" id="logo">
                <img class="img-responsive" src="~/images/EB_Logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">  
                <li><a class="hvr-underline-from-center" id="products" href="#prd">Products</a></li> 
                <li><a class="hvr-underline-from-center" href="~/Common/AboutUs">About Us</a></li>
                <li id="signIn"><a class="hvr-underline-from-center" data-toggle="modal" data-target="#login-modal">Sign in</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--/ Navigation bar-->
