@{
    var name = ViewBag.Fname;
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/tenant/tenantsignin"><img class="img-responsive" src="~/images/EB_Logo11.png" width="175" /></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            @{ if (ViewBag.Fname == null)
                {

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="#">Platform</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="~/Tenant/TenantSignin">Login</a></li>
                    </ul>

                }
                else
                {

                    <div class="btn-group navbar-right">
                        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> @name</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Tenant/TenantLogout"><i class="fa fa-unlock"></i>Log out</a></li>
                        </ul>
                    </div>
                }
            }
        </div>

    </div>
</nav>
        @{ if (ViewBag.Fname != null)
            {
                @*<div class="container-fluid">*@
                    @*<div class="row" id="ddd">*@
                        @*<div class="col-sm-3 col-md-2 sidebar">
                            <ul class="nav nav-sidebar ">
                                <li class="active"><a href="#">My Profile <span class="sr-only">(current)</span></a></li>
                                <li><a target="_top" href="~/Tenant/TenantAccounts?access_token=@ViewBag.token">My Accounts</a></li>
                                <li><a href="#">Billing</a></li>
                            </ul>
                        </div>*@

                    @*</div>*@
                @*</div>*@
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="nav-side-menu" style="margin-left:-15px;">
                        <div class="brand">Brand Logo</div>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dashboard fa-lg"></i> My Profile
                                    </a>
                                </li>
                                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                                    <a href="~/Tenant/TenantAccounts?access_token=@ViewBag.token"><i class="fa fa-gift"></i> My Accounts <span class="arrow"></span></a>
                                </li>
                               

                                <li data-toggle="collapse" data-target="#service" class="collapsed">
                                    <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="service">
                                    <li>New Service 1</li>
                                    <li>New Service 2</li>
                                    <li>New Service 3</li>
                                </ul>

                                <li data-toggle="collapse" data-target="#new" class="collapsed">
                                    <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="new">
                                    <li>New New 1</li>
                                    <li>New New 2</li>
                                    <li>New New 3</li>
                                </ul>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-user fa-lg"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users fa-lg"></i> Users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    }

                    }



                    <!-- Bootstrap core JavaScript
                    ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                    <script src="../../dist/js/bootstrap.min.js"></script>
                    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
                    <script src="../../assets/js/vendor/holder.min.js"></script>
                    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
                    <script src="https://use.fontawesome.com/5eb5791954.js"></script>
                     <link rel="stylesheet" href="~/css/navbootstrap.css" />

