@*
   
*@
@{
}
<!--footer start from here-->
<!--Footer-->
<footer id="footer" class="footer">
    <div class="container text-center">

        <h3>Start Your Free Trial Now!</h3>

        <form class="mc-trial row">
            <div class="form-group col-md-3 col-md-offset-2 col-sm-4">
                <div class=" controls">
                    <input name="name" placeholder="Enter Your Name" class="form-control" type="text">
                </div>
            </div><!-- End email input -->
            <div class="form-group col-md-3 col-sm-4">
                <div class=" controls">
                    <input name="EMAIL" placeholder="Enter Your email" class="form-control" type="email">
                </div>
            </div><!-- End email input -->
            <div class="col-md-2 col-sm-4">
                <p>
                    <button name="submit" type="submit" class="btn btn-block btn-submit">
                        Submit <i class="fa fa-arrow-right"></i>
                    </button>
                </p>
            </div>
        </form><!-- End newsletter-form -->
        <ul class="social-links">
            <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
        ©2016 Mentor Theme. All rights reserved
        <div class="credits">
            <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor
            -->
            Designed by <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a>
        </div>
    </div>
</footer>
<!--/ Footer-->
  