<style>
    .dd {
        display: inline-block;
        cursor: pointer;
    }
    .dd1 {
        vertical-align: 8px;
    }
</style>

@{ 
    string wc = "";
    string preference = "";
    if (ViewBag.wc == "dc")
    {
        wc = "Logout";
        preference = "";

    }
    else
    {
        wc = "Logout";
        preference = "UserPreferences";
    }
}
    <input id="hiddenTxtUserId" type="hidden" style="display:none" value=@ViewBag.UId>
    <div class="col-md-3" style="height:100%;">
        <a href="#"><img alt="Brand" src="~/images/EB_Logo.png" style="width: 100%;height: 100%;"></a>
    </div>
    <div class="col-md-9" style="height: 100%;">
        <div class="pull-right" style="height: 100%;display: inline;padding-top: 10px;">
            <div class="dropdown dd dd1" style="margin: 0px 4px;">
                <i class="fa fa-lock fa-lg" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu">
                    <li><a onclick="LoadCommonList('user')" href="CommonList?type='user'"><i class="fa fa-caret-right"></i> Users</a></li>
                    <li class="divider"></li>
                    <li><a onclick="LoadCommonList('usergroup')" href="CommonList?type='usergroup'"><i class="fa fa-caret-right"></i> User Groups</a></li>
                    <li class="divider"></li>
                    <li><a onclick="LoadCommonList('roles')" href="CommonList?type='roles'"><i class="fa fa-caret-right"></i> Roles</a></li>
                    @*<li class="divider"></li>
                    <li><a onclick="LoadNewCommonList('TestUser')" href="CommonList"><i class="fa fa-caret-right"></i>Test List Usr</a></li>*@

                </ul>
            </div>
            <div class="dropdown dd dd1" style="margin: 0px 12px;">
                <i class="fa fa-bell fa-lg" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i><span class="badge bg-green">6</span>
                <ul class="dropdown-menu">
                    <li>
                        <a>
                            Notifications
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown dd">
                <img id="prof" class="img-responsive" alt="dropdown-toggle" data-toggle="dropdown" src="~/images/proimg.jpg" style="border-radius:50%;width: 66%;"/>
                <ul class="dropdown-menu">
                    <li><a onclick="LoadMyProfile()" href="#">My Profile<span class="fa fa-user pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="@preference">My Preferences<span class="fa fa-user pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="../TenantUser/Logout">Sign Out<span class="fa fa-sign-out pull-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    

@*<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand"><i class="fa fa-bars fa-lg" id="submen" alt="Brand"></i></a>*@
           @* <a class="navbar-brand" href="#"><img alt="Brand" src="~/images/EB_Logo.png"></a>
    </div>
    @*<div id="chatbtn" class="chat-icon"><i class="fa fa-comment-o" aria-hidden="true"></i></div>*@
        @*<div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown notifications">
                        <i class="fa fa-lock fa-lg" style="margin-right:12px;margin-top:5px" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu">
                            <li><a class="list-group-item" onclick="LoadCommonList('user')" href="CommonList?type='user'"><i class="fa fa-caret-right"></i> Users</a></li>
                            <li class="divider"></li>
                            <li><a class="list-group-item" onclick="LoadCommonList('usergroup')" href="CommonList?type='usergroup'"><i class="fa fa-caret-right"></i> User Groups</a></li>
                            <li class="divider"></li>
                            <li><a class="list-group-item" onclick="LoadCommonList('roles')" href="CommonList?type='roles'"><i class="fa fa-caret-right"></i> Roles</a></li>

                        </ul>
                    </li>
                    <li class="dropdown notifications">
                        <i class="fa fa-bell fa-lg" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i><span class="badge bg-green">6</span>
                        <ul class="dropdown-menu noti">
                            <li>
                                <a>
                                    Notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <img id="prof" class="img-responsive" alt="dropdown-toggle" data-toggle="dropdown" src="~/images/proimg.jpg" />
                        <ul class="dropdown-menu">
                            <li><a href="#">My Account<span class="fa fa-user pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="@preference">My Preferences<span class="fa fa-user pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="../TenantUser/Logout">Sign Out<span class="fa fa-sign-out pull-right"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@

<script>

    function LoadCommonList(type) {
        event.preventDefault();
        var _container = $("#layout_div");
        $.LoadingOverlay("show");
        $.ajax({
            url: "../TenantUser/CommonList",
            type: "GET",
            cache: false,
            data: { "type": type },
            success: function (result) {
                _container.html(result);
                $.LoadingOverlay("hide");
                $("#ObjModal").modal('hide');
            }
        });
    }

    function LoadNewCommonList(type) {
        event.preventDefault();
        var _container = $("#layout_div");
        $.LoadingOverlay("show");
        $.ajax({
            url: "../Security/CommonList",
            type: "POST",
            cache: false,
            data: { "type": type },
            success: function (result) {
                _container.html(result);
                $.LoadingOverlay("hide");
                $("#ObjModal").modal('hide');
            }
        });
    }

    function LoadMyProfile() {
        event.preventDefault();
        window.open("../Security/ManageUser?itemid=" + $("#hiddenTxtUserId").val(), "_blank");
    }

</script>
