<!--footer start from here-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 cmpny-details">
                <h5> EXPRESSbase Systems Private Limited</h5>
                <p>
                    NASSCOM 10K Startup Warehouse, Infopark Campus<br />Kakkanad Kochi 682030, Kerala, India<br />
                    CIN#U72900KL2016PTC046963
                </p>
                <div class="supportedBy">
                    <div class="support_logos">
                        <a href="http://10000startups.com/">
                            <img src="~/images/10K-logo(white).png" class="img-responsive">
                        </a>
                    </div>
                    <div class="support_logos">
                        <a href="https://startupmission.kerala.gov.in/">
                            <img src="~/images/ksum_logo_1.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="support_logos">
                        <a href="https://www.startupschool.org/">
                            <img src="~/images/ycomb.png" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 gl">
                <ul>
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/AboutUs">About us</a></li>
                    <li><a href="~/Blog">Blog</a></li>
                    <li><a href="~/Wiki">Wiki</a></li>
                    <li><a href="~/FAQS">FAQ</a></li>
                    <li><a href="~/Support">Support</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 gl">
                <ul>
                    <li class="hidden-xs" style="margin-left:-10px;font-size:14px;"><a class="txt_decor_none">Products</a></li>
                    <li><a class="f12" href="/Products/Reports">Reporting</a></li>
                    <li><a class="f12" href="/Products/Forms">Forms</a></li>
                    <li><a class="f12" href="/Products/Bots">ChatBots</a></li>
                    <li><a class="f12" href="/Products/Documents">Documents</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-4 gl">
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col=md-2 col-lg-2 col-sm-2 col-xs-12 text-right for-mob for-mob-pd-t pd-0">
                <a class="f_social" data-toggle="tooltip" data-placement="top" title="facebook" href="https://www.facebook.com/expressbase">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="f_social" data-toggle="tooltip" data-placement="top" title="twitter" href="https://twitter.com/expressbasesys">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="f_social" data-toggle="tooltip" data-placement="top" title="linkedIn" href="https://www.linkedin.com/company/expressbase-systems-private-limited/">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="f_social" data-toggle="tooltip" data-placement="top" title="youtube" href="https://www.youtube.com/channel/UCWDg_DmIWHPAJ_WHLMWzMog" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!--/ Footer-->
<!--copyrights-->
<div class="copyright">
    <div class="container">
        <div class="row gl text-center">
            <p>Copyright © 2017 EXPRESSbase Systems Private Limited. All rights reserved.</p>
        </div>
    </div>
</div>
<!--/copyrights-->
