@*
    
*@
@{
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Express<span>Base</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Platform</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#" data-target="#login" data-toggle="modal">Sign in</a></li>
                <li class="btn-trial"><a href="#cta-2">Get Started for FREE</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->