<!--footer start from here-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12 cmpny-details">
                    <h5> EXPRESSbase Systems Private Limited</h5>
                    <p>NASSCOM 10K Startup Warehouse, Infopark Campus, Kakkanad, Kochi-682030, Kerala, INDIA<br/>
                    Regd. Off: #PP1/933 (new #2/49), Nadavayal PO, Cheengode, Wayanad-670721, Kerala, INDIA<br />
                    CIN#U72900KL2016PTC046963</p>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                <h5>GENERAL LINKS</h5>
                <ul>
                    <li><a href="#"> Career</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                </ul>
            </div>     
        </div>
    </div>
</footer>
<!--/ Footer-->
<!--copyrights-->
<div class="copyright">
    <div class="container-fluid">
        <div class="col-md-6 col-sm-6 col-sm-6 col-xs-12">
            <p>Copyright © 2017 EXPRESSbase Systems Private Limited. All rights reserved.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-sm-6 col-xs-12">
            <ul class="bottom_ul">
                <li><a href="~/Ext/index">Home</a></li>
                <li><a href="~/Ext/AboutUs">About us</a></li>
                <li><a href="~/Ext/Platform">Platform</a></li>
                <li><a href="~/Ext/Pricing">Pricing</a></li>               
            </ul>
        </div>
    </div>
</div>
<!--/copyrights-->
