<!--footer start from here-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 cmpny-details">
                    <h5> EXPRESSbase Systems Private Limited</h5>
                    <p>NASSCOM 10K Startup Warehouse, Infopark Campus<br />Kakkanad Kochi 682030, Kerala, India<br/>
                    CIN#U72900KL2016PTC046963 </p>
                <div class="supportedBy">
                    <div class="support_logos"><a href="http://10000startups.com/"><img src="~/images/10000-startups.png" class="img-responsive"></a></div>
                    <div class="support_logos"><a href="https://bizspark.microsoft.com/"><img src="~/images/perk-bizspark.jpg" class="img-responsive"></a></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 gl">  
                <ul>
                    <li><a href="~/Ext/index">Home</a></li>
                    <li><a href="~/Ext/AboutUs">About us</a></li>
                    <li><a href="~/Ext/Platform">Platform</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 gl">            
                <ul>
                    <li class="hidden-xs" style="margin-left:-10px;font-size:14px;"><a href="">Products</a></li>
                    <li><a class="f12" href="https://forms.expressbase.com/">Forms</a></li>
                    <li><a class="f12" href="https://bi.expressbase.com/">Visualizations</a></li>
                    <li><a class="f12" href="https://reports.expressbase.com/">Portable Reports</a></li>
                    <li><a class="f12" href="https://bots.expressbase.com/">Bots</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-4 gl">
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col=md-2 col-lg-2 col-sm-2 col-xs-12 text-right for-mob for-mob-pd-t">
                <a class="f_social" href="https://www.facebook.com/expressbase"><i class="fa fa-facebook"></i></a>
                <a class="f_social" href="https://twitter.com/expressbasesys"><i class="fa fa-twitter"></i></a>
                <a class="f_social" href="https://www.linkedin.com/company/expressbase-systems-private-limited/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--/ Footer-->
<!--copyrights-->
<div class="copyright">
    <div class="container">
        <div class="row gl text-center">
            <p>Copyright © 2017 EXPRESSbase Systems Private Limited. All rights reserved.</p>
        </div>        
    </div>
</div>
<!--/copyrights-->
