<!--footer start from here-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                    <h5 class="main"> EXPRESSBASE SYSTEMS PRIVATE LIMITED</h5>
                    <h6>Nasscom startup warehouse,Infopark,Kakanadu,Kochi,kerala,682030</h6>
                    <h6>Regd Office:#PP1/933(new#2/49),Nadavayal PO,Cheengode,Wayanad</h6>
                    <h6>CIN#U72900KL2016PTC046963</h6>
                    <h6><i class="fa fa-envelope"></i> E-mail :info@expressbas.com</h6>
            </div>
            <div class="col-md-2">
                <h5 class="main">GENERAL LINKS</h5>
                <ul>
                    <li><a href="#"> Career</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <h5 class="main">CONTACT US</h5>
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="Email1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="Message" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-primary">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
<!--/ Footer-->
<!--copyrights-->
<div class="copyright">
    <div class="container-fluid">
        <div class="col-md-6">
            <p>©2017. All rights reserved</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">About us</a></li>
                <li><a href="#">Platform</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</div>
<!--/copyrights-->
