.eb_mobpage_wraper {
    width: 100%;
    height: calc(100% - 73px);
}

    .eb_mobpage_wraper .eb_mobpage_toolbox {
        width: 25%;
        background: white;
        height: 100%;
        padding: 0 !important;
        border: 1px solid #ccc;
        overflow-y: auto;
        border-top-right-radius: 4px;
        height: calc(100% - 73px);
        position: fixed;
    }

    .eb_mobpage_wraper .eb_mobpage_pane {
        width: 50%;
        min-height: 300px;
        margin-left: 25%;
        padding: 0 5px;
    }

    .eb_mobpage_wraper .eb_mobpage_properties {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        padding-top: 37px;
        border: 1px solid #ccc;
        box-shadow: var(--eb-shadow);
        height: 100%;
        background-color: white;
        width: 25%;
    }

    .eb_mobpage_wraper .eb_mobpage_toolbox .head {
        padding: 5px 5px;
        border-bottom: 1px solid #ddd;
        background: #eee;
        font-size: 13px;
        cursor: pointer;
    }

.eb_mobpage_pane_body {
    height: 100%;
    display: flex;
}

.eb_mobpage_pane_layout {
    min-height: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: white;
    border-radius: 5em;
}

.eb_mobpage_pane_layout_emulator {
    height: 100%;
    z-index: 1;
}

.eb_mobpage_pane_layout .eb_mobpage_emulatorbody {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.eb_mobpage_pane_layout .eb_mobpage_drparea {
    width: 100%;
    height: 100%;
    padding: 72px 12px 52px 14px;
}

    .eb_mobpage_pane_layout .eb_mobpage_drparea .eb_mobpage_drop {
        width: 100%;
        height: 100%;
    }

.eb_mobpage_wraper .eb_mobpage_toolbox .bdy .toolitems {
    width: 50%;
    display: inline-block;
    font-size: 0.98em;
    padding: 3px;
    float: left;
    cursor: pointer;
}

    .eb_mobpage_wraper .eb_mobpage_toolbox .bdy .toolitems .toolitems-inner {
        width: 100%;
        padding: 10px 10px;
        border-radius: 2px;
        box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
        background-color: white;
        border: solid 1px rgba(0, 0, 255, 0);
        transition-duration: 0.05s;
    }

    .eb_mobpage_wraper .eb_mobpage_toolbox .bdy .toolitems i {
        padding-right: 10px;
    }

.eb_mobpage_toolbox_body .bdy {
    display: flex;
    flex-flow: column;
}

.eb_mobpage_tbxcategory {
}

.eb_mobpage_tbx_head {
    padding: 5px;
    font-weight: 500;
}

.eb_mobpage_tbxbdy {
}
/*ctrl layout*/
.eb_stacklayout {
    margin: 10px 0;
    cursor: pointer;
}

.ctrl_label {
    font-weight: 500;
    margin-bottom: 2px;
    margin-left: 1px;
}

.eb_ctrlhtml {
}

.drag_el_style {
    background-color: white;
    border: 1px dotted black;
    width: auto;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-flow: row;
}
/*container*/
.eb_mob_form_container, .eb_mob_vis_container {
    width: 100%;
    height: 100%;
    position: relative;
}

    .eb_mob_vis_container:focus, .eb_mob_form_container:focus {
        outline: none;
    }

        .eb_mob_vis_container:focus .eb_mob_container_inner, .eb_mob_form_container:focus .eb_mob_container_inner {
            border-color: #316396;
        }

.eb_mob_container_inner {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    padding: 0 10px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}

.emulator_h_f {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 6px 0px 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.emulator_h {
    height: 60px;
    background: #0046bb;/*#508bf9;*/
    width: 100%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}

.emulator_f {
    height: 50px;
    background: #0046bb;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eb_mob_form_container:before {
}
/*form ctrls*/
.eb_mob_textbox, .eb_mob_numericbox {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
    padding: 0 5px;
}

.eb_mob_numericbox-btntype {
    display: none;
}

    .eb_mob_numericbox-btntype .wraper {
        display: flex;
        justify-content: space-between;
    }

        .eb_mob_numericbox-btntype .wraper .numeric-btn {
            border-radius: 50%;
            border: 1px solid #ccc;
            background: white;
            width: 25px;
            height: 25px;
            padding: 0;
        }

        .eb_mob_numericbox-btntype .wraper .nemric-text input {
            border-radius: 4px;
            border: 1px solid #ccc;
            height: 25px;
            width: 80px;
        }

.drop-hover {
    border: 1px solid red;
}

.drop-hover-layout {
    border: 2px solid #0046bb !important;
}

.drop-hover-td {
    border: 2px solid #0046bb !important;
}

.eb_mob_select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
}

.eb_mob_fupbtn {
    border-radius: 4px;
    background: white;
    border: 1px solid #ccc;
    width: 49%;
}

.geoloc-ctrlwrapr {
    height: 100px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-flow: column;
}

    .geoloc-ctrlwrapr .map-container {
        display: flex;
        flex: 1;
        margin-top: 5px;
        background-color: #eee;
        background: url(/images/LocMapImg3.PNG) center no-repeat;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.eb_stacklayout .eb_mob_autoid {
    background: #dedddd;
    border: 1px solid #ccc;
    width: 100%;
    height: 25px;
    border-radius: 4px;
}
.eb_stacklayout .dp-avatar {
    text-align:center;
    border:1px solid #ccc;
    border-radius:4px;
    margin-bottom:5px;
    background:#ddd;
    height:100px;
}
.eb_stacklayout .dp-avatar img{
    height:100%;
}

.eb_stacklayout .eb-mob-qrreader input {
    flex: 1;
    border: none;
}
.eb_stacklayout .eb-mob-qrreader span {
    align-self: center;
}
.eb_stacklayout .ctrl-group {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
    padding: 0 5px;
}
/*table layout*/
.eb_mob_tablelayout {
    display: flex;
}

    .eb_mob_tablelayout .eb_mob_tablelayout_inner {
        display: flex;
        height: 100%;
        width: 100%;
    }

        .eb_mob_tablelayout .eb_mob_tablelayout_inner td {
            height: 30px;
            border: 1px dashed #a5a4a4;
            position: relative;
        }

        .eb_mob_tablelayout .eb_mob_tablelayout_inner table {
            width: 100%;
        }

    .eb_mob_tablelayout .eb_tablelayout_tr .eb_tablelayout_td:not(:last-child) {
    }
/*tree div*/
.eb_mobtree_body {
    width: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    margin-bottom: -10px;
}

    .eb_mobtree_body .eb_mobtree_inner {
        display: flex;
        flex-flow: column nowrap;
    }

        .eb_mobtree_body .eb_mobtree_inner .eb_mobtree_body-tabhead {
            background: #eeeeee;
        }

            .eb_mobtree_body .eb_mobtree_inner .eb_mobtree_body-tabhead.nav > li > a {
                padding: 5px 15px;
                font-size: 13px;
                color: #323d46;
            }

.eb-styledTab > li.active > a, .eb-styledTab > li.active > a:focus {
    color: #508bf9 !important;
}

.eb_mobtree_body .eb_mobtree_inner .eb_mobtree_body-content {
    flex: 1;
}

.eb_mobtree_body .eb_mobtree_inner ul {
    list-style: none;
}

.eb_mobtree_body .eb_mobtree_inner .eb_mobtree_ds a {
    font-size: 15px;
    font-weight: 500;
}

.eb_mobtree_body .mobtree_f-controls {
    padding: 5px;
}

.eb_mobtree_body .filter_controls {
    width: 100%;
    padding: 10px 10px;
    border-radius: 2px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    background-color: white;
    border: solid 1px rgba(0, 0, 255, 0);
    transition-duration: 0.05s;
    margin-bottom: 5px;
    cursor: pointer;
}
/*data col*/
.data_column {
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

    .data_column .data_column_inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/*visualization*/
.eb_mob_vis_container .eb_mob_container_inner {
    /*display: flex;
    justify-content: center;*/
}

    .eb_mob_vis_container .eb_mob_container_inner .vis-table-container {
        margin-bottom: 15px;
    }

    .eb_mob_vis_container .eb_mob_container_inner .vis-filter-container, .eb_mob_vis_container .vis-search-container {
        overflow-y: auto;
        padding: 0 10px;
        height: 100%;
    }

    .eb_mob_vis_container .eb_mob_container_inner .filter_sort-tab {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        flex: 1;
        display: flex;
        flex-flow: column;
    }

        .eb_mob_vis_container .eb_mob_container_inner .filter_sort-tab .nav > li > a {
            padding: 5px 15px;
        }

    .eb_mob_vis_container .eb_mob_container_inner .filter_sort-tab-content {
        flex: 1;
    }

    .eb_mob_vis_container .eb_mob_container_inner .vis-sort-container, .eb_mob_vis_container .vis-search-container {
        height: 100%;
        padding: 10px;
    }

        .eb_mob_vis_container .eb_mob_container_inner .vis-sort-container .data_column, .eb_mob_vis_container .vis-search-container .data_column {
            background: #888888;
            color: white;
            padding: 5px;
            border-radius: 4px;
            font-size: 13px;
            position: relative !important;
            height: auto;
            margin-bottom: 10px;
        }

.eb_mob_vis_container .vis-container-newbtn {
    position: absolute;
    background: #0046bb;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 6px;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    display:none;
}
/*DASBOARD CONTAINER*/
.eb_mob_dashboard_container {
    width: 100%;
    height: 100%;
    position: relative;
}

    .eb_mob_dashboard_container:focus {
        outline: none;
    }

        .eb_mob_dashboard_container:focus .eb_mob_container_inner {
            border-color: #316396;
        }

.mob_dash_control {
    display: flex;
    width: 100%;
    background: white;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 10px;
}

    .mob_dash_control .eb_dash_ctrlhtml {
        display: flex;
        width: 100%;
    }

        .mob_dash_control .eb_dash_ctrlhtml table {
            width: 100%;
        }

            .mob_dash_control .eb_dash_ctrlhtml table th {
                height: 20px;
                border: 1px solid #ccc;
            }

/*pdf container*/
.eb_mob_pdf_container {
    width: 100%;
    height: 100%;
    position: relative;
}

    .eb_mob_pdf_container:focus {
        outline: none;
    }

        .eb_mob_pdf_container:focus .eb_mob_container_inner {
            border-color: #316396;
        }
/*datagrid*/
.eb_stacklayout .ctrl_as_container {
    padding: 10px;
    background: white;
    border-radius: 4px;
}

    .eb_stacklayout .ctrl_as_container .data_layout {
        margin: 0px 0px 10px 0px;
    }

    .eb_stacklayout .ctrl_as_container .control_container {
        min-height: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0px 5px;
    }
/*coloum tree style*/
.column_tree_typeicon {
    background: #eee;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    margin-right: 3px;
    width: 20px;
    text-align: center;
}

.content-editable {
    background: white;
    padding: 2px;
    min-width: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*toggle button styles*/
    .ebmb-tooglebtn{

    }
/**/

/*Button control*/
.eb_mob_vis_container [eb-type="EbMobileButton"] {
    margin: 0;
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    font-size:12px;
}
    .eb_mob_vis_container [eb-type="EbMobileButton"] .eb_btnctrlhtml {
        height: 100%;
    }
    .eb_mob_vis_container [eb-type="EbMobileButton"] .eb_btnctrlhtml button {
        height: 100%;
    }