<div class='row'>

    <div class='col-lg-6 well scrollable-menu' style='height:300px'>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" id="searchuser" placeholder="Search">
            <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>

        </div>
        <div id='div1'>
        </div>
    </div>
    <input type="hidden" name="userlist" id="userslist" />
</div>

<script>
    $('document').ready(function () {
        var i = 0;
        var ids = "";
        var arr = [];    
        
        var temp = new dragula([document.getElementById("div1"), document.getElementById('@ViewBag.targetdiv')], {
            accepts: function (el, target, source, sibling) {
                var bb = true;
                if ($(target).attr("id") === "div1")
                    bb = false;
                else
                    bb = Isexist(el, target);
                return bb;
            },
            copy: true
        });

        temp.on("drop", function (el, target, source, sibling) {
            if ($(target).children().length > 0) {
                var text = $("#userslist").val();
                arr = text.split(',');
                var txt = arr.join();
                $(el).append("<button class='close' type='button' style='font-size: 15px;margin: 2px 0 0 4px;'>x</button>")
                var id = $(el).attr("id");
                var i = arr.indexOf(id);
                if (i === -1) {
                    arr.push(id);   
                }                           
                var txt = arr.join();
                $("#userslist").val(arr.join());
            }

        });

        function Isexist(el, target) {
            var res = true;
            if ($(target).children().length > 0) {
                $.each($(target).children(), function (i, obj) {
                    if ($(obj).attr("id") === $(el).attr("id")) {
                        res = false;
                        //alert("already exist.............");
                        return false;
                    }
                });
                return res;
            }
            else
                return res;
        }

        $(document).on('click', '.close', function (e) {
            var id = $(e.target).parent().attr("id");
            var text = $(e.target).parent().text();
            text = text.substring(0, text.length - 1);
            $("#" + id).remove();               
            var txt = $("#userslist").val();
            var rm_arr = txt.split(',');
            var i = rm_arr.indexOf(id);
            if (i != -1) {
                rm_arr.splice(i, 1);
            }
            $("#userslist").val(rm_arr.join());

        });

        var timer;
        $('#searchuser').keyup(function () {

            clearTimeout(timer);
            timer = setTimeout(function (event) {

                var text = $('#searchuser').val();
                $.post("../TenantUser/GetAllUsers",
                {
                    "searchtext": text
                }, function (result) {

                    if (result) {
                        document.getElementById("div1").innerHTML = result;
                    }
                    else {
                        document.getElementById("div1").innerHTML = " <div class='alert alert-info'>No such user exists!!</div>";
                    }
                });
            }, 1000);
        });
    });
</script>