.survey_Outercontainer {
    background-color: white;
    height: 100vh;
}
.survey_Innercontainer {
    display: flex;
    flex-direction: column;
}

.survey_left_sidebar {
    height: 100vh;
    background-color: lightsteelblue;
    //box-shadow: 0 2px 20px 0 rgba(0,0,0,0.21);
}

.survey_left_sidebar textarea {
    border: none;
    resize: none;
    height: 30px;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dashed;
}

.survey_center_div {
    height:100vh;
}
.survey_right_sidebar {
    height: 100vh;
    background-color: lightcyan;
}

.question-menubar {
    height: 30px;
    background-color: #efeaea;
}

.question-cont {
    height: calc( 100vh - 30px );
}

.question-new{
    height:100%;
    cursor:pointer;
}
.question-text {
    width: 78%;
    border: none;
    border-bottom: 1px solid;
    background-color: #f8f9fc;
    height: 53px;
    padding: 10px;
}
.question-choice {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dee1e8;
    box-shadow: 0 1px 1px #dfe3ea inset;
    padding: 10px;
    margin-top: 10px;
}

.question-Choices {
    width: inherit;
    margin-top: 10px;
}

.choice {
    width: 203px;
    display: inline-block;
}

.question-type-label {
    font-size: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
}
.question-choice-yesno {
    resize: none;
    padding: 8px 1em;
    text-align: center;
}

.question-choice-text {
    resize: none;
    padding: 8px 1em;
    width:100%;
}


/*latest*/
.qust-cont {
    height:60vh;
}
.qust-cont-col-3, .qust-cont-col-9 {
    height: 100%;
}
.q-type-container, .q-container {
    height: 100%;
    border: 1px solid #ccc;
}
.question-label {
    background: var(--ebbg);
    color: white;
    padding: 5px;
}
.pd-5{
    padding:5px;
}
.pd-l-0{
    padding-left:0;
}
.question-required-input, .question-required-text {
    display: inline-block;
}
.question-required-input input[type=checkbox] {
    width: 14px;
    height: 14px;
}

.question-required-cont {
    margin-top: -6px;
}

.qst-type {
    border: 1px dashed #efb6b6;
    /* border-radius: 0px; */
    background-color: cornsilk;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 11px;
}

.qst-type i {
    margin-right: 5px;
    font-size: 15px;
}
