.survey_Outercontainer {
    background-color: white;
    height: 100vh;
}
.survey_Innercontainer {
    display: flex;
    flex-direction: column;
}

.survey_left_sidebar {
    height: 100vh;
    background-color: lightsteelblue;
}

.survey_left_sidebar textarea {
    border: none;
    resize: none;
    height: 30px;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dashed;
}

.survey_center_div {
    height:100vh;
}
.survey_right_sidebar {
    height: 100vh;
    background-color: lightcyan;
}

.question-menubar {
    height: 30px;
    background-color: #efeaea;
}

#questionModal .modal-body {
    padding: 0px;
}

.question-cont {
    height: calc( 100vh - 30px );
}

.question-new{
    height:100%;
    cursor:pointer;
}

.qst-choice-text {
    /*height: 35px;
    /*border-radius: 3px;*/
    /*border: 1px solid #dee1e8;
    box-shadow: 0 1px 1px #dfe3ea inset;
    padding: 5px;*/
    /*margin-top: 10px;*/
    width: 80%;
    padding: 2px 5px;
}
.qst-choice-number {
    width: 20%;
    padding: 2px 5px;
}
.choice {
    /*width: 240px;*/
    /*display: inline-block;*/
    margin-bottom: 10px;
}
.choice-action {
    padding: 0px 4px;
    background-color: transparent;
    border:0px!important;
}

.choice-action:hover {
    
}
.question-type-label {
    font-size: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
}
.question-choice-yesno {
    resize: none;
    padding: 8px 1em;
    text-align: center;
}

.qst-types-cont {
    overflow: auto;
    height: calc( 100% - 30px);
}
.qst-set-cont {
    overflow: auto;
    height: calc( 100% - 30px);
}
/*latest*/
.qust-cont {
    height: 60vh;
    margin-right: 0px;
    margin-left: 0px;
}
.qust-cont-l-col-3, .qust-cont-r-col-3, .qust-cont-col-6 {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.qust-cont-l-col-3 {
    background-color: #fafafa;
    border-right: 1px solid #ccc;
}
.qust-cont-col-6 {
    background-color:#eeeeee;
}
.q-type-container, .q-container {
    height: 100%;
    /*border: 1px solid #ccc;*/
}
.question-label {
    padding: 5px;
    background-color: #e2e2e2;
}
.pd-5{
    padding:5px;
}
.pd-l-0{
    padding-left:0;
}
.question-required-input, .question-required-text {
    display: inline-block;
}
.question-required-input input[type=checkbox] {
    width: 14px;
    height: 14px;
}

.question-required-cont {
    margin-top: -6px;
}
.question-settings {
    margin-top: -4px;
}
.qst-type {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 12px;
    background-color: #fafafa;
    color: rgba(0,0,0,0.54);
    vertical-align: middle;
    font-weight: 600;
}
    .qst-type:hover {
        background-color: #e2e2e2;
    }

.qst-type i {
    margin-right: 10px;
    font-size: 15px;
}
.qst-text-cont {
    
}
.qst-opt-cont {
    margin-top: 15px;
}
.q-opt-cont-inner {
    padding-left:0px!important;
}
.qst-text-opt-cont {
    height: 100%;
    padding: 10px;
}
.qst-text {
    background-color: white;
    min-height: 65px;
    padding: 10px;
    width: 100%;
    resize: none;
    border-left: none;
}

.qst-text-cont:empty:not(:focus):before {
    content: attr(data-text)
}

[contenteditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}
.q-set-input{
    display:inline-block;
}
.q-set-text {
    display: inline-block;
    margin-left: 5px;
}
.q-set-item {
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    padding: 4px;
    font-weight: 600;
}
.qst-type-label-cont, .qst-set-label-cont{
    height:50%;
}

.qst-set-number {
    color: black;
    width: 30%;
    height: 50%;
    padding: 3px 5px;
    font-size: 11px;
}

.q-set-select {
    padding: 0px 4px;
    font-size: 11px;
    height: 25px;
}
.q-set-textarea {
    resize: none;
    min-height: 100px;
    border: none;
}
.q-user-choice-text {
    border: none;
}
.q-user-choice-textarea {
    resize: none;
    border:none;
    width: 100%;
    height:100px!important;
}

.q-opt-new-choice-btn {
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 15px;
}
.q-label{
    border-right:1px solid #ccc!important;
}
.q-label-requird {
    color: red;
}
.q-opt-input-cont{
    margin-top:6px;
    margin-right:-20px;
}
.q-opt-radio {
    width: 20px;
    height: 16px;
}
/*survey 14/08/18 edits by amal*/
.open-sans {
    font-family: open sans;
}
.survey_menu_load {
    bottom: -1px;
    left: 0;
}
.survey_container{
    padding:15px;
    float:left;
}
.rating_star_control span {
    color: #dad5d5;
}
.rating_star_control .R_checked {
    color: #528ff0;
}
.rating_star_control {
    background-color: white;
    width: max-content;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
}