.survey_Outercontainer {
    background-color: white;
    height: 100vh;
}
.survey_Innercontainer {
    display: flex;
    flex-direction: column;
}

.survey_left_sidebar {
    height: 100vh;
    background-color: lightsteelblue;
    //box-shadow: 0 2px 20px 0 rgba(0,0,0,0.21);
}

.survey_left_sidebar textarea {
    border: none;
    resize: none;
    height: 30px;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dashed;
}

.survey_center_div {
    height:100vh;
}
.survey_right_sidebar {
    height: 100vh;
    background-color: lightcyan;
}

.question-menubar {
    height: 30px;
    background-color: #efeaea;
}

.question-cont {
    height: calc( 100vh - 30px );
}

.question-new{
    height:100%;
    cursor:pointer;
}
.question-text {
    width: 78%;
    border: none;
    border-bottom: 1px solid;
    background-color: #f8f9fc;
    height: 53px;
    padding: 10px;
}
.question-choice {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dee1e8;
    box-shadow: 0 1px 1px #dfe3ea inset;
    padding: 10px;
    margin-top: 10px;
}

.question-Choices {
    width: inherit;
    margin-top: 10px;
}

.choice {
    width: 203px;
    display: inline-block;
}

.question-type-label {
    font-size: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
}
.question-choice-yesno {
    resize: none;
    padding: 8px 1em;
    text-align: center;
}

.question-choice-text {
    resize: none;
    padding: 8px 1em;
    width:100%;
}




