<div class="card--content-large mr-l-10">
    <div class="col-md-9 card--form">
        <div class="products-head">
            <h4>Select Plans</h4>
        </div>
        <div class="card--content-body">
            <table class="table add-accPricing-sec-table">
                <thead>
                    <tr>
                        <th class="tadd-pricing-head"></th>
                        <th class="tadd-pricing-head">FREE</th>
                        <th class="tadd-pricing-head">STANDARD</th>
                        <th class="tadd-pricing-head">PRO</th>
                        <th class="tadd-pricing-head">ENTERPRISE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr pritem="Forms">
                        <td class="pricing-icon"><img src="~/images/svg/form1.svg" /><div class="p-icon-text">Forms</div></td>
                        <td product="Forms" p-type="1" plan="0" price="0">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td product="Forms" p-type="1" plan="1" price="1" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td product="Forms" p-type="1" plan="2" price="2" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td p-type="1" plan="3" price="3" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td class="compare">
                            <div class="pricing-container">
                                <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                            </div>
                        </td>
                    </tr>
                    <tr pritem="Visualization">
                        <td class="pricing-icon"><img src="~/images/svg/dv1.svg" /><div class="p-icon-text">Visualization</div></td>
                        <td class="tdclass disabled-click" product="Visualization" p-type="2" plan="0" price="0">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td product="Visualization" p-type="2" plan="1" price="1" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td product="Visualization" p-type="2" plan="2" price="2" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount">$2</div>
                            </div>

                        </td>
                        <td plan="3" p-type="2" price="3" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td class="compare">
                            <div class="pricing-container">
                                <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                            </div>
                        </td>
                    </tr>
                    <tr pritem="Report">
                        <td class="pricing-icon"><img src="~/images/svg/report1.svg" /><div class="p-icon-text">Report</div></td>
                        <td product="Report" p-type="3" plan="0" price="0">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td product="Report" p-type="3" plan="1" price="1" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td product="Report" p-type="3" plan="2" price="2" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td plan="3" p-type="3" price="3" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td class="compare">
                            <div class="pricing-container">
                                <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                            </div>
                        </td>
                    </tr>
                    <tr pritem="ChatBot">
                        <td class="pricing-icon"><img src="~/images/svg/chat1.svg" /><div class="p-icon-text">ChatBot</div></td>
                        <td product="ChatBot" p-type="4" plan="0" price="0">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td product="ChatBot" p-type="4" plan="1" price="1" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td product="ChatBot" p-type="4" plan="2" price="2" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td plan="3" p-type="4" price="3" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td class="compare">
                            <div class="pricing-container">
                                <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                            </div>
                        </td>
                    </tr>
                    <tr pritem="Documents">
                        <td class="pricing-icon"><img src="~/images/svg/document1.svg" /><div class="p-icon-text">Documents</div></td>
                        <td product="Documents" p-type="5" plan="0" price="0">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td product="Documents" p-type="5" plan="1" price="1" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td product="Documents" p-type="5" plan="2" price="2" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>

                            </div>

                        </td>
                        <td plan="3" p-type="5" price="3" class="paid">
                            <div class="pricing-container">
                                <div class="T-add-amount"></div>
                            </div>

                        </td>
                        <td class="compare">
                            <div class="pricing-container">
                                <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 desc-section">
        <div class="steps">
            <a class="step-no">
                1
            </a>
            <a class="step-no">
                2
            </a>
            <a class="step-no step-no-blue">
                3
            </a>
        </div>
        <div class="small-desc-last" id="review-sec">
            <div class="tot-container">
                <div class="total-head col-md-3 pd-0">
                    Total
                </div>
                <div class="eb-sub-tot col-md-9" id="eb-sub-tot">
                    $0
                </div>
            </div>
            <hr />
            <div class="solution-info">
                <div class="form-group" style="margin-bottom:0;">
                    <label>Solution name </label>
                    <textarea class="form-control sol-name-review" id="sol-name-review" value=""></textarea>
                </div>
                <div class="form-group">
                    <label>Solution id </label>
                    <p class="sol-name-review" id="cid-name-review">@ViewBag.Sid</p>
                </div>
                <div class="subscrib-info" id="subscrib-info">

                </div>
            </div>
        </div>
        <div class="card--content-footer">
            <div class="form-inline">
                <input id="save-subscrip" type="submit" class="btn btn-success pull-right" value="Save">
                <button id="plan-prev" class="btn pull-right mr-10"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
            </div>
        </div>
    </div>
</div>