<table class="table add-accPricing-sec-table">
    <thead>
        <tr>
            <th class="tadd-pricing-head"></th>
            <th class="tadd-pricing-head">FREE</th>
            <th class="tadd-pricing-head">STANDARD</th>
            <th class="tadd-pricing-head">PRO</th>
            <th class="tadd-pricing-head">ENTERPRISE</th>
        </tr>
    </thead>
    <tbody>
        <tr pritem="Forms">
            <td class="pricing-icon"><img src="~/images/svg/form1.svg" /><div class="p-icon-text">Forms</div></td>
            <td product="Forms" p-type="1" plan="0" price="0">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td product="Forms" p-type="1" plan="1" price="1" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td product="Forms" p-type="1" plan="2" price="2" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td p-type="1" plan="3" price="3" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td class="compare">
                <div class="pricing-container">
                    <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                </div>
            </td>
        </tr>
        <tr pritem="Visualization">
            <td class="pricing-icon"><img src="~/images/svg/dv1.svg" /><div class="p-icon-text">Visualization</div></td>
            <td class="tdclass disabled-click" product="Visualization" p-type="2" plan="0" price="0">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td product="Visualization" p-type="2" plan="1" price="1" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td product="Visualization" p-type="2" plan="2" price="2" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount">$2</div>
                </div>

            </td>
            <td plan="3" p-type="2" price="3" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td class="compare">
                <div class="pricing-container">
                    <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                </div>
            </td>
        </tr>
        <tr pritem="Report">
            <td class="pricing-icon"><img src="~/images/svg/report1.svg" /><div class="p-icon-text">Report</div></td>
            <td product="Report" p-type="3" plan="0" price="0">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td product="Report" p-type="3" plan="1" price="1" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td product="Report" p-type="3" plan="2" price="2" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td plan="3" p-type="3" price="3" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td class="compare">
                <div class="pricing-container">
                    <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                </div>
            </td>
        </tr>
        <tr pritem="ChatBot">
            <td class="pricing-icon"><img src="~/images/svg/chat1.svg" /><div class="p-icon-text">ChatBot</div></td>
            <td product="ChatBot" p-type="4" plan="0" price="0">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td product="ChatBot" p-type="4" plan="1" price="1" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td product="ChatBot" p-type="4" plan="2" price="2" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td plan="3" p-type="4" price="3" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td class="compare">
                <div class="pricing-container">
                    <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                </div>
            </td>
        </tr>
        <tr pritem="Documents">
            <td class="pricing-icon"><img src="~/images/svg/document1.svg" /><div class="p-icon-text">Documents</div></td>
            <td product="Documents" p-type="5" plan="0" price="0">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td product="Documents" p-type="5" plan="1" price="1" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td product="Documents" p-type="5" plan="2" price="2" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>

                </div>

            </td>
            <td plan="3" p-type="5" price="3" class="paid">
                <div class="pricing-container">
                    <div class="T-add-amount"></div>
                </div>

            </td>
            <td class="compare">
                <div class="pricing-container">
                    <button class="btn pricing-modal-btn" data-toggle="modal" data-target="#eb-common-price-modal">Compare</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
