@using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;

@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
}

@await Component.InvokeAsync("PageHeaderCommon");
<script>
    var head = new EbHeader().insertButton(`<button class="btn" id="EXPLAIN" data-toggle="tooltip" data-placement="top" title="Explain"><i class="fa fa-expand"></i></button>
                                                                                            <button class="btn" id="sqlquery" data-toggle="tooltip" data-placement="top" title="Execute"><i class="fa fa-play"></i></button>
                                            <button class="btn" id="TabAdder" data-toggle="tooltip" data-placement="top" title="Add Tab"><i class="fa fa-plus"></i></button>
                                            <button class="btn" id="DragAdder" data-toggle="tooltip" data-placement="top" title="Drag Area"><i class="fa fa-code"></i></button>
                                            `);
    var cm = new EbHeader().setName("DbClient");
    window.document.title = "DbClient";
</script>
<script src="https://codemirror.net/addon/display/autorefresh.js" type="text/javascript"></script>
<script src="~/js/ApiBuilder/leader-line.min.js" type="text/javascript"></script>
<script src="~/js/DBExplorer.js" type="text/javascript"></script>
<script src="~/js/Eb_CommonHeader.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="~/css/DBExplorerStyles.css">
<link rel="stylesheet" type="text/css" href="~/css/Eb.css">
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css">
<div class="row">
    <div class="cont">
        <div id="viewdbclientappend" class="Resize_toolbox" style="width:25%;">
            @await Component.InvokeAsync("DBClient", new { _user = ViewBag.User, clientSolnid = ViewBag.solutionid })
        </div>
        <div id="pannel">
            <div class="tab-section">
                <ul id="TabAdderMain" class="nav nav-tabs"></ul>
            </div>
            <div class="tab-content draggeer" id="maintab"></div>
        </div>
    </div>
</div>


