
@using ExpressBase.Objects.ServiceStack_Artifacts;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link rel="stylesheet" href="~/css/EbDashBoard/DashBoardStyle.css">
<link rel="stylesheet" href="~/css/ChartStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css"  />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>
<script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
<script src="~/js/EbUserDashBoard/EbDashBoardView.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.all.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js"></script>
<script src="~/js/Eb_Basic_DataTable.js"></script>
    <script src="~/js/Eb_Basic_chart.js"></script>
 
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-12">
            <div id="dashbord-view">
                <div class="grid-stack"></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

        var DBobj = new DashBoardViewWrapper({
            Version: '@ViewBag.VersionNumber',
            ObjType: @ViewBag.ObjType,
            dvObj: @Html.Raw(ViewBag.dsObj),
            Status: '@ViewBag.Status'
        });

        $(function () {
            $('.grid-stack').gridstack();
        });
</script>

