.get_ScreenDpi_div {
    height: 1in;
    width: 1in;
    display:none;
}
/*side menuBar*/
.side-toolbar {
    position: fixed;
    height: calc(100% - 70px);
    width: 250px;
}
.eb-toolBoxReport{
    height:100%;
}
.tool-box-items {
    margin-left: 0px !important;
    margin-top: 4px !important;
}
/*treee*/
.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

    .tree ul {
        margin-left: 1em;
        position: relative
    }

        .tree ul ul {
            margin-left: .5em
        }

        .tree ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid #353644;
        }

    .tree li {
        margin: 0;
        padding: 0 1em;
        line-height: 2em;
        color: #353638;
        font-weight: 400;
        position: relative;
    }

    .tree ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0
    }

    .tree ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 1em;
        bottom: 0
    }

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #353644;
    font-size: 13px;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}
/*tree end*/
.toolbox .draggable {
    cursor: move;
}
.toolbox ul {
    margin: 0;  
}
.toolbox .branch ul{
    margin-left:4px;
}
.toolbox i {
    margin-right: 5px;
}
.toolbox .textval {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.draggable {
    list-style-type: none;
}
.dropped {
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    position:absolute;
}
    .dropped:not(.eb_TableLayout):hover {
        cursor: pointer;
    }
    .dropped:focus {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: none;
    }
.max-pg {
    position: fixed;
    background: #316396;
    color: #ffffff;
    padding: 7px;
    font-size: 13px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: none;
    z-index: 100;
    right: 12px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    top: 37px;
    cursor: pointer;
}
/*prop grid*/
.PGgrid {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding-top: 37px;
    border: 1px solid #ccc;
    box-shadow: var(--eb-shadow);
    height: 100%;
    background-color: white;
    width:300px;
}
    .PGgrid .pgHead {
        border-radius:0;
    }
    .headersections {
        width: 35px;
        float: left;
        border: 1px solid #cccccc;
        background-color: #fafafa;
        color: #000000;
        border-right: 0;
    }
.headersections-report-layer {
    width: 60px;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color: #000000;
    border-right: 0;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
}
.multiSplit {
    width: 25px;
    float: left;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color: #000000;
    cursor: pointer;
}
.headersections .btn {
    align-self: flex-end;
    border: none;
    background-color: #fafafa;
    color: #333;
    margin-bottom: 3px;
}
.gutter.gutter-vertical {
    background-color: #ccc;
    cursor: ns-resize;
}
.ruler-top {
    position: fixed;
    z-index: 3;
    height: 20px;   
    border-left: 0;
    margin-left:-19px;
}
.ruler {    
    font-size: 10px;
    overflow: hidden;
    background-color: #fbf7f7;
    display: inline-block;
    height: inherit;   
    border: 1px solid #ccc;
}
.rulerleft {
    position: absolute;    
    border: 1px solid #aaa;
    font-size: 10px;
    background-color: #fbf7f7;
    margin-left: -19px;
    margin-top: 20px;
    width: 20px;
    z-index: 2;
    overflow: hidden;
}
.ruler > div {
        display: inline-block;
        background: #000;
    }
.rulerleft > div{
    background: #000;
}
    .ruler .tickLabel {
        position: relative;
        top: -7px;
        margin-left: 4px;
        width: 1px;
        height: 100%;
        text-indent: 1px;
        line-height: 16px;
    }
.ruler .tickLabel-cm {
    position: relative;
    top: -7px;
    margin-left: calc(1mm - 1px);
    width: 1px;
    height: 100%;
    text-indent: 1px;
    line-height: 16px;
}
.ruler .tickLabel-inch {
    position: relative;
    top: -7px;
    margin-left: calc(2.54mm - 1px);
    width: 1px;
    height: 100%;
    text-indent: 1px;
    line-height: 16px;
}
.ruler .tickLabel:first-of-type {
            margin-left: 0;
        }
.ruler .tickLabel-cm:first-of-type {
    margin-left: 0;
}
.ruler .tickLabel-inch:first-of-type {
    margin-left: 0;
}
    .ruler .tickMajor {
        margin-top: 12px;
        margin-left: 4px;
        width: 1px;
        height: 6px;
    }
.ruler .tickMajor-cm {
    margin-top: 12px;
    margin-left: calc(1mm - 1px);
    width: 1px;
    height: 6px;
}
.ruler .tickMajor-inch {
    margin-top: 12px;
    margin-left: calc(2.54mm - 1px);
    width: 1px;
    height: 6px;
}
    .ruler .tickMinor {
        margin-left: 4px;
        width: 1px;
        height: 4px;
    }
.ruler .tickMinor-cm {
    margin-left: calc(1mm - 1px);
    width: 1px;
    height: 4px;
}
.ruler .tickMinor-inch {
    margin-left: calc(2.54mm - 1px);
    width: 1px;
    height: 4px;
}
.rulerleft .tickLabel:first-of-type {
    margin-left: 0;
    margin-top: -1px;
}
.rulerleft .tickLabel-cm:first-of-type {
    margin-left: 0;
    margin-top: -1px;
}
.rulerleft .tickLabel-inch:first-of-type{
    margin-left: 0;
    margin-top: -1px;
}
    .rulerleft .tickLabel {
        margin-top: 4px;
        width: 100%;
        height: 1px;
    }
    .rulerleft .tickLabel-cm {
        margin-top: calc(1mm - 1px);
        width: 100%;
        height: 1px;
    }
    .rulerleft .tickLabel-inch {
        margin-top: calc(2.54mm - 1px);
        width: 100%;
        height: 1px;
    }
    .rulerleft .tickMajor {
        margin-top: 4px;
        width: 6px;
        height: 1px;
        margin-left: 13px;
    }
    .rulerleft .tickMajor-cm {
        margin-top: calc(1mm - 1px);
        width: 6px;
        height: 1px;
        margin-left: 13px;
    }
    .rulerleft .tickMajor-inch{
        margin-top: calc(2.54mm - 1px);
        width: 6px;
        height: 1px;
        margin-left: 13px;
    }
    .rulerleft .tickMinor {
        margin-top: 4px;
        width: 4px;
        height: 1px;
        margin-left: 14px;
    }
    .rulerleft .tickMinor-cm {
        margin-top: calc(1mm - 1px);
        width: 4px;
        height: 1px;
        margin-left: 14px;
    }
    .rulerleft .tickMinor-inch {
        margin-top: calc(2.54mm - 1px);
        width: 4px;
        height: 1px;
        margin-left: 14px;
    }
.page {
    display: block;
    margin-left: 59px;
    border: 1px solid #d8d8d8;
    background-color: white;
    position:relative;
}
.page-outer-container {
    width: auto;
    height: 100%;
    position: relative;
    float: left;
    max-width: 100%;
}

.page-outer-cont {
    padding-bottom: 50px;
    position: relative;
    z-index: 0;
    float: left;
    margin-left: 280px;
    width: 76%;
}
.pageCanvas {
    position: relative;   
    margin-bottom: 50px;
    overflow-x: auto;
}
.pGreportBuilder {
    height: calc(100% - 114px);
}
#propGrid {
    height:100%;
}

.head_Box1 {
    position:relative;
}
    .head_Box1 .hbox_notation_div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.head_Box1 .new_sec_btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.eb-rpt-container .toolbox {
    height: 100%;
    padding: 0 !important;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: auto;
    border-top-right-radius: 4px;
}
.eb-rpt-container {
    background-color: #f2f2f2;
}

    .eb-rpt-container .toolbox li {
        border: none;
    }

.styl {
    list-style-type: none;
    padding: 10px;
}

.page .textval {
    margin: 0;
    border: 1px solid #cccccc;
}

#selDsource {
    width: 100%;
}

.PageContainer {
    padding-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.eb-rpt-container .title {
    width: 78px;
    height: 20px;    
    z-index: 4;
    display: inline-block;
    float: left;   
}

.layers-container {
    float: left;
    width: 100%;
}
.layer-head {
    width: 100%;
    background: #cccccc;
    padding: 2px 5px;
    border-bottom: 1px solid #ddd;
    background: #eee;
    font-size: 13px;
}
.layer-body {
    float: left;
    width: 100%;
    position: relative;
}
.layeractive {
    background: #336699 !important;
    color: white;
    outline: none;
    z-index: 2 !important;

}
.section-layer, .report-layer {
    cursor: pointer;
    width: 54px;
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    height: 54px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-left: calc(50% - 54px);
    margin-top: 5px;
}
.report-layer {
    left: 27px;
    top: 27px;
    z-index: 1;
    background: white;
}
.measurement {
    height: 28px;
    border-left: 0;
    border-color: #dedede;
    padding-bottom: 2px;
}

.custom-size {
    width: 60px;
    border: 1px solid #dedede;
    height: 28px;
    padding-bottom: 3px;
}
.rulerUnit {
    width: 100%;   
    background-color: #fbf7f7;
    padding: 0;
    height: inherit;
    border-radius: 0;    
}
/*shapes*/
.Ebshapes {
    overflow: unset !important;
    box-sizing: unset !important; 
    align-items: unset !important; 
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid;
    margin-top: -5px;
    position: absolute;
    left: -2px;
    border-right-color:inherit;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    margin-left: -5px;
    position: absolute;
    top: -2px;
    border-bottom-color:inherit;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid;
    margin-top: -5px;
    position: absolute;
    right: -2px;
    border-left-color: inherit;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-left: -5px;
    position: absolute;
    bottom: -2px;
    border-top-color: inherit;
}

.multiSplitHboxSub {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-bottom: 1px solid #b5a9a9;
}
    .multiSplitHboxSub .lock-icon {
        align-self: flex-end;
        position: absolute;
        left: 35%;
        font-size: 14px;
        bottom: 3px;
    }
.multiSplitHbox .gutter {
    pointer-events: none;
}
.tool-box-div {
    padding: 10px 10px;
    width: inherit;
    float: left;
    display: flex;
    margin: 2px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    background-color: WHITE;
    align-items: center;
    font-size: 0.8em;
    flex-grow: 1;
}
.drg_wrapper {
    float: left;
    width: 50%;
    display: flex;
}
.dropped .ui-resizable-handle {
    background: #89c5dc;
    height: 7px;
    width: 7px;
}
.dropped .ui-resizable-n {
    top: -5px;
    left: 50%;
}
.dropped .ui-resizable-e {
    right: -5px;
    top: calc(50% - 4px);
}
.dropped .ui-resizable-w {
    left: -5px;
    top: calc(50% - 4px);
}
.dropped .ui-resizable-s {
    bottom: -5px;
    left: 50%;
}
.dropped .ui-resizable-se .ui-icon, .dropped .ui-widget-content .ui-icon {
    background-image: none;
}
.dropped .ui-resizable-se {   
    right: -5px;
    bottom: -5px;
}
.drp {
}
.page .shape-horrizontal .ui-resizable-handle {
    top: -3px;
}
.page .shape-vertical .ui-resizable-handle {
    left: -3px;   
}
.page .shape-vertical {
    display: flex;
}
.page .shape-vertical{
    width:0 !important;
}
.page .shape-horrizontal {
    height: 0 !important;
}

.page .pageReSizeHandle {
    width: 100%;
    z-index: 90;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 10px;
    background: #316396;
}

.page .guid-v, .page-reportLayer .guid-v {
    z-index: 3;
    border-left: 1px dashed #55f;
    height: 100%;
    position: absolute;
    display: none
}
.page .guid-h, .page-reportLayer .guid-h {
    z-index: 3;
    border-top: 1px dashed #55f;
    width: 100%;
    position: absolute;
    display: none
}
.page .guid-vr, .page-reportLayer .guid-vr {
    z-index: 3;
    border-left: 1px dashed #55f;
    height: 100%;
    position: absolute;
    display: none
}
.page .guid-hb, .page-reportLayer .guid-hb {
    z-index: 3;
    border-top: 1px dashed #55f;
    width: 100%;
    position: absolute;
    display: none
}
.draggable-to-page{
    cursor:move;
}
.page .wm-container .ui-resizable-handle {
    opacity: 1;
}
.page .locked:hover:before {
    background-color: #eaa6a6;
    opacity:.5;
}
.page .locked:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}
/*summary editor*/
.summarry-editor-container {
    padding: 15px;
    max-width: 360px;
    width: 100% !important;
    background-color: white;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden;
    font-family: open sans;
    font-weight: 300;
    position: relative;
}
.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}
.marked{
    background-color: #336699 !important;
    color: white !important;
}
.page-reportLayer {
    margin-left: 60px;
    border: 1px solid #d8d8d8;
    background-color: white;
    display: none;
    position: relative;
}
.track_line_vert1 {
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 2px dotted #55f;
    z-index: 10;
    margin-left: 59px;
}
.track_line_vert2 {
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 2px dotted #55f;
    z-index: 8;
    right: 0;
    margin-left: 59px;
}
.page .context-menu-list {   
    z-index: 20;
}
.tracker_drag {
    cursor:col-resize;
}
.btn_calcfield_new {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
}

.close_md{
    position:absolute;
    top:10px;
    right:10px;
}
.drop-hover {
    border: 2px solid #2391d2 !important;
}
/*toolbox new*/
.tool_items {
    width: 100%;
    float: left;
    padding-bottom: 5px;
}
.tool_item_head {
    padding: 2px 5px;
    border-bottom: 1px solid #ddd;
    background: #eee;
    font-size: 13px;
    cursor: pointer;
}
.tool_item_body{
    float:left;
    width:100%;
}

/*latest css repport*/
.Eb_ReportSections {
    position: relative;
    width: 100%;
}
.header_box {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b5a9a9;
}
.multiSplitHbox {
    width: 100%;
}
.pageHeaders {
    border-bottom: 1px solid #b5a9a9;
}
.Eb_ReportSections:not(.dropped) .ui-resizable-s{
    bottom:0 !important;
}