.form_body {
    padding-top: 42px;
    float: left;
    width: 100%;
}
.form__inline{
    float:left;
    width:100%;
}
    .form__inline .form-group {
        float: left;
        width: 100%;
        margin-bottom: 8px;
    }
    .form__inline .form-control {
        height: 25px !important;
        padding: 1px 12px;
    }
    .pd-l-0{
        padding-left:0;
    }
.br_right{
    border-right:1px solid #ccc;
}
.bottom_form {
    margin-top: 5px;
    border-top: 1px solid #cfced0;
    padding-top: 15px;
    border-bottom: 1px solid #cfced0;
}
.form__inline .btn{
    padding: 1px 12px !important;
}
.form__inline label {
    font-weight: 600;
    font-family: open sans;
    font-size: 13px;
}
.hd {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
    position: relative;
    border-bottom: 1px solid #b9a8a8;
    float: left;
    width: 100%;
}
.remarks textarea.form-control {
    height: 40px !important;
}
.pdt26 {
    padding-top: 26px;
}
.TOTAL {
    FONT-SIZE: 20PX;
    COLOR: #d21717;
    FONT-FAMILY: OPEN SANS;
}
.SEL {
    font-weight: 700;
    font-size: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
input[type=number]{
    padding-right:0 !important;
}
.input-group-addon {
    padding: 4px 12px;
}

/*demo sso page*/
.dmssrw {
    padding-top: 60px;
    font-family: Montserrat;
}
.ssowrpHs h2 {
    margin-top: 2em;
    font-weight: 400;
    margin-bottom: .7em;
    color: #6f6f6f;
}
.ssowrpHs p {
    font-size: 16px;
    margin-bottom: 3em;
}
.SdemWraperOuter {
    display: flex;
    flex-flow: row wrap;
    padding-top: 30px;
}
    .SdemWraperOuter .ssoWrpr-uc {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .SdemWraperOuter .ssoWrpr-dc {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .SdemWraperOuter .ssoWrpr-uc .ssoUcBdy {
        background: white;
        max-width: 100%;
        text-align: center;
        min-width: 65%;
        padding: 20px;
        border-radius: 6px;
        -webkit-box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
        -moz-box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
        box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
    }
    .SdemWraperOuter .ssoWrpr-dc .ssoDcBdy {
        background: white;
        max-width: 100%;
        text-align: center;
        min-width: 65%;
        padding: 20px;
        border-radius: 6px;
        -webkit-box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
        -moz-box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
        box-shadow: -1px 2px 26px -1px rgba(161,161,163,1);
    }
    .SdemWraperOuter .wall-img {
        height: 100px;
        margin-bottom: 3em;
        width: auto;
    }