@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="survey_Outercontainer">
    <div class="col-md-3 survey_left_sidebar">
        <textarea placeholder="Enter Survey Name"></textarea>
    </div>
    <div class="col-md-6 survey_center_div">
        <div class="survey_Innercontainer row">
            <div class="question-menubar">
                <div class="question-new pull-left btn-primary"><div style="padding: 5px 14px 1px 6px;"><i class="fa fa-plus"></i>&nbsp;ADD NEW</div></div>
            </div>
            <div class="question-cont"></div>
        </div>
    </div>
    <div class="col-md-3 survey_right_sidebar"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Question</h4>
            </div>
            <div class="modal-body">
                <div class="row qust-cont">
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 qust-cont-l-col-3">
                        <div class="q-type-container">
                            <div class="qst-type-label-cont">
                                <div class="question-label">Question Type</div>
                                <div class="qst-types-cont pd-5">
                                    <div class="qst-type"><i class="fa fa-dot-circle-o"></i> Multiple choice(Single-Select)</div>
                                    <div class="qst-type"><i class="fa fa-check-square-o"></i> Multiple choice(Multiple-Select)</div>
                                    <div class="qst-type"><i class="fa fa-star-o"></i>Rating</div>
                                    <div class="qst-type"><i class="fa fa-toggle-down"></i>User Input</div>
                                    @*<div class="qst-type"><i class="fa fa-calendar"></i>Date</div>
                                    <div class="qst-type"><i class="fa fa-clock-o"></i>Time</div>
                                    <div class="qst-type">Single Text</div>
                                    <div class="qst-type">Multiple Text</div>*@
                                </div>
                            </div>
                            <div class="qst-set-label-cont">
                                <div class="question-label">Settings</div>
                                <div class="qst-set-cont pd-5">
                                    <div class="q-set-item">
                                        <div class="q-set-input">
                                            <input type="checkbox" />
                                        </div>
                                        <div class="q-set-text">
                                            Required
                                        </div>
                                    </div>
                                    <div class="q-set-item">
                                        <div class="q-set-input">
                                            <input type="checkbox" />
                                        </div>
                                        <div class="q-set-text">
                                            Randomize
                                        </div>
                                    </div>
                                    <div class="q-set-item">
                                        <div class="q-set-input">
                                            <input type="checkbox" checked />
                                        </div>
                                        <div class="q-set-text">
                                            Score
                                        </div>
                                    </div>
                                    <div class="q-set-item">
                                        <div class="q-set-text">
                                            Max Choice :
                                        </div>
                                        <div class="q-set-input">
                                            <input type="number" style="width:50px;color: black;" value="4" min="0" id="maxchoice"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 qust-cont-col-6 pd-l-0">
                        <div class="q-container">
                            @*<div class="question-label">
                                Question
                                <div class="question-settings pd-5 pull-right">
                                    <i class="fa fa-ellipsis-v"></i>
                                </div>
                            </div>*@
                            <div class="qst-text-opt-cont">
                                <div class="qst-text-cont">
                                    <textarea placeholder="Enter New Question" class="qst-text"></textarea>
                                </div>
                                <div class="qst-opt-cont"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 qust-cont-r-col-3 pd-l-0">
                        <div class="q-set-container">
                            <div class="question-label">Settings</div>
                            <div class="qst-set-cont pd-5">
                                <div class="q-set-item">
                                    <div class="q-set-input">
                                        <input type="checkbox" />
                                    </div>
                                    <div class="q-set-text">
                                        Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    var survey = new SurveyObj("abc");
</script>