@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link href="~/css/LeadManagement.css" rel="stylesheet" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/LeadManagement.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>

<script type="text/javascript" src='~/js/Eb_dragula.js' asp-append-version=@bApnd></script>


<div class="container" style="background-color: white;">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-3">
            <div class="form-group">
                <label>Survey Name</label>
                <input id="txtName" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Start Date</label>
                <div class="input-group">
                    <input id="txtStart" type="text" class="form-control">
                    <span class="input-group-addon" onclick="$('#').focusin();"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>End Date</label>
                <div class="input-group">
                    <input id="txtEnd" type="text" class="form-control">
                    <span class="input-group-addon" onclick="$('#').focusin();"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>State</label>
                <select id="selState" class="form-control">
                    <option>Active</option>
                    <option>Suspend</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"><label>All Questions</label></div>
        <div class="col-md-6"><label>Selected Questions</label></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="divQuesAll">
            @*<div class="questionDiv"></div>
            <div class="questionDiv"> </div>
            <div class="questionDiv"> </div>*@
        </div>
        <div class="col-md-6" id="divQuesSelected"></div>
    </div>
</div>

<style>
    #divQuesAll, #divQuesSelected {
        height: calc(102vh - 170px);
    }
    .questionDiv {
        border: 2px solid #f5f5f5;
        background-color: #fdfdfd;
        border-radius: 6px;
        align-items: center;
        height: 75px;
        overflow: hidden;
        padding: 10px 13px;
        margin-top: 15px;
    }
        .questionDiv:hover {
            background-color: #f5f5f5;            
            border: none;
        }
</style>

@{ 
    var QuestionList = Html.Raw(ViewBag.QuestionList);
    var SurveyData = Html.Raw(ViewBag.SurveyData);
}

<script>
    var ManageSurveyObj = function (SurveyData, QuestionList) {
        this.SurveyData = SurveyData;
        this.QuestionList = QuestionList;
        this.menuBarObj = $("#layout_div").data("EbHeader");
        this.drake;

        this.$Name = $("#txtName");
        this.$Start = $("#txtStart");
        this.$End = $("#txtEnd");
        this.$State = $("#selState");
        this.$divAll = $("#divQuesAll");
        this.$divSelected = $("#divQuesSelected");


        this.init = function () {
            this.menuBarObj.setName("Manage Survey");
            this.menuBarObj.insertButton(`<button id="" class='btn' title='Save'><i class="fa fa-floppy-o" aria-hidden="true"></i></button>`);
            this.drake = new dragula([document.getElementById("divQuesAll"), document.getElementById("divQuesSelected")], {
                accepts: function (el, target, source, sibling) {
                    return true; // elements can be dropped in any of the `containers` by default
                }
            });

            $.each(this.QuestionList, function (i, obj) {
                this.$divAll.append(`<div class="questionDiv">${obj.Question}</div>`);

            }.bind(this));

        }

        this.init();
    }


    var SurveyData = @SurveyData;
    var SurveyData = @QuestionList;
    new ManageSurveyObj(SurveyData, SurveyData);
</script>