@using ExpressBase.Common;
@using ExpressBase.Objects;
@{
    EbFilterDialog dsobj = null;
    bool fd = false;
    if (ViewBag.Fd.EbDataSource != null)
    {
        if (ViewBag.Fd.EbDataSource.FilterDialog != null)
        {
            dsobj = ViewBag.Fd.EbDataSource.FilterDialog;
        }
    }
    if (!ViewBag.RenderLimit)
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }

}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>*@
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css">
<script type="text/javascript" src="~/js/Eb_CommonHeader.js"></script>
<script type="text/javascript" src="~/js/eb_common.js"></script>
@if (!ViewBag.RenderLimit)
{
    @await Component.InvokeAsync("PageHeaderCommon")
}
<div class="row repdiv_parent">
    <div class='rep-windows' id='rep-windows_dv' tabindex='1'>
        <div class='rep-inner'>
            <div class='col-md-3 fdCont padd-2 fd' id='sub_windows_sidediv_dv' style='display: block;padding-left: 0px;padding-right: 0px;'>
                <div class="pgHead"> Param window <div class="icon-cont  pull-right"><i class="fa fa-times" aria-hidden="true"></i></div></div>
                @{
                    if (ViewBag.Fd.EbDataSource != null)
                    {
                        if (ViewBag.Fd.EbDataSource.FilterDialog != null)
                        {
                            @await Component.InvokeAsync("ParameterDiv", new { FilterDialogObj = dsobj });
                            fd = true;
                        }
                    }
                }
            </div>
            <div class='col-md-9' id='content_dv' style='height:inherit;padding-left: 0px !important;padding-right: 0px !important;'>
                <iframe id="reportIframe" class="reportIframe"></iframe>
            </div>
        </div>
    </div>
</div>

@section EbHead {
    <script>
       
        new EbHeader().insertButton(`<button id='run' class='btn commonControls'><i class="fa fa-play" aria-hidden="true"></i></button>
    <button class="btn run" id="filter" data-toggle="tooltip" data-placement="bottom" title="Parameter Div"><i class="fa fa-filter" aria-hidden="true"></i></button>`);
    //$(document).ready(function () {
        if ('@fd' === 'True') {
            $("#sub_windows_sidediv_dv").show();
            $(".icon-cont").hide();
        }
        else {
            $("#sub_windows_sidediv_dv").hide();
            $("#content_dv").removeClass("col-md-9").addClass("col-md-12");
            $("#filter").hide();
            render();
        }
        $("#filter").on("click", function () {
            if ($("#sub_windows_sidediv_dv").css("display") === "none") {
                $("#sub_windows_sidediv_dv").show();
                $("#content_dv").removeClass("col-md-12").addClass("col-md-9");
            }
            else {
                $("#sub_windows_sidediv_dv").hide();
                $("#content_dv").removeClass("col-md-9").addClass("col-md-12");
            }
        })

        $("#run").on("click", function () {
            render();
        });

            $("#btnGo").on("click", function () {
                render();
            });
        $(`#reportIframe`).on('load', function () {
            $("#eb_common_loader").EbLoader("hide");
        });

   // });

    function validateFD() {
        var isValid = true;
        var $ctrls = $("#filterBox").find("[required]");
        $.each($ctrls, function (idx, ctrl) {
            if ($(ctrl).val().trim() === "") {
                alert(ctrl.id + " is empty");
                isValid = false;
                $(ctrl).focus();
                $(ctrl).css("border-color", "red");
            }
            else
                $(ctrl).css("border-color", "rgba(34, 36, 38, .15)");
        });
        return isValid;
    }

    function render() {
        $("#sub_windows_sidediv_dv").css("display", "none");
        $("#content_dv").removeClass("col-md-9").addClass("col-md-12");
            //$.LoadingOverlay("show");
        $("#eb_common_loader").EbLoader("show");
        var ParamsArray = [];
        var filter_control_list = $("#all_control_names").val();
        if (filter_control_list !== undefined) {
            var myarray = filter_control_list.split(',');
            for (var i = 0; i < myarray.length; i++) {
                console.log($("#" + myarray[i]).val());
                var type = $('#' + myarray[i]).attr('data-ebtype');
                var name = $('#' + myarray[i]).attr('id');
                if (type === "3")
                    value = $("[name=" + myarray[i] + "]:checked").val()
                else
                    value = $('#' + myarray[i]).val();
                if (type === '6')
                    value = value.substring(0, 10);
                else
                    if (typeof value === "string") {
                        //value = value.trim();
                    }

                if (type === '16' && !(isNaN(value))) {
                    value = parseInt(value);
                    type = 8;
                }
                ParamsArray.push(new fltr_obj(type, name, value));
            }
        }

        if (!validateFD()) {
            //$.LoadingOverlay("hide");
            $("#eb_common_loader").EbLoader("hide");
            $("#filter").trigger("click");
            return;
        }
        $("#reportIframe").attr("src", `../ReportRender/RenderReport2?refid=${'@ViewBag.Refid'}&Params=${JSON.stringify(ParamsArray)}`);
       // $("#RptModal").modal('hide');
        //$.LoadingOverlay("hide");
        }
    </script>
}
@if (!ViewBag.RenderLimit)
{
    <style>
        .rep-windows {
            /*padding: 10px 0px 10px 0px !important;*/
        }
        
    </style>
}
else
{
    <style>
        .rep-windows {
            padding: 0 !important;
            height: calc(100vh - 73px) !important;
        }

    </style>
}
<style>

    .repdiv_parent {
        height: calc(100vh - 40px);
    }
    .rep-inner{
        height:100%
    }
    .rep-windows {
        height: 100%
    }
    select.selectpicker {
        display: block;
        margin: 0 auto;
        padding-left: 20px;
    }

    .btn-new {
        background-color: #2A3F54;
    }

    .reportIframe {
        border-radius: 0px !important;
        width: 100%;
        height: 100%;
    }

    .fdCont {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 4;
        border-radius: 2px;
        box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.12), 5px 0px 5px 0px rgba(0, 0, 0, 0.15);
    }
</style>