@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
@using ExpressBase.Objects.ServiceStack_Artifacts;

<link rel="stylesheet" type="text/css" href="~/css/EbWiki/eb_wiki.css">
<script type="text/javascript" src="~/js/wiki/eb_wiki.js"></script>
<script>
    $(document).ready(function () {
        new addwiki();
        document.title = '@ViewBag.Wiki.Title'
    });
</script>
<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-sm-12">
            @{
                Wiki wiki = ViewBag.Wiki;

                @Html.Raw(wiki.HTML)
            }
        </div>
    </div>
</div>
