@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
@using ExpressBase.Objects.ServiceStack_Artifacts;

<script type="text/javascript" src="~/js/wiki/eb_wiki.js"></script>
<script>
    $(document).ready(function () {
        new addwiki();
    });
</script>
<script type="text/javascript">

    $(function () {

        // When click li that contains ul child tag.
        $('li:has(ul)').click(function (event) {

            if (this == event.target) {

                var children = $(this).children();

                var visible = !children.is(':hidden');

                if (visible) {
                    children.hide();
                } else {
                    children.show();
                }
            }

        }).hover(function () {
            $(this).css('cursor', 'pointer');
        });

    });
</script>

<link rel="stylesheet" type="text/css" href="~/css/EbWiki/eb_wiki.css">
<style type="text/css">

    .ul {
        list-style-type: none;
    }

    .header_wiki {
        height: 50px;
        border: 5px;
        border-color: aqua;
        padding-top: 5px;
    }
</style>


<div class="container-fluid page-header">
    <div class=" row ">
        <div class="col-sm-2 header_wiki">
            EXpressBase Docs

        </div>
        <div class="col-sm-9 header_wiki"> <input type="text" placeholder="Search.." /></div>
    </div>
</div>


<div class="container-fluid">
    <div class=" row ">
        <div class="col-sm-2 header_wiki">
            EXpressBase Docs
        </div>
        <div class="col-sm-9 header_wiki"> <input type="text" placeholder="Search.." /></div>
    </div>
</div>