.logtable {
    margin-top: 10px;
    height: 30%;
}

.LogView {
    height: 100%;
    /*position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;*/
    /*width: 1500px;*/
}

.button-tiles .btn {
    margin-top: 20px;
    margin-right: 20px;
}

.wrpr_drhome {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    position: fixed;
    /*top: 0;*/
    right: 0;
    /*bottom: 0;*/
    left: 0;
    /*height: 100%;*/
}

.wraper1_drhome {
    width: 50%;
    border: 2px solid #ccc;
    height: 100%;
}

.wraper2_drhome {
    width: 50%;
    border: 2px solid #ccc;
    height: 100%;
    overflow-y: auto;
    display: none;
}

.wrappernew {
    width: 50%;
    height: 100%;
}

/*.wraper3_drhome {
    width: 100%;
    border: 2px solid #ccc;
    height: 40%;
}*/

.maximize {
    right: 10px;
}

.tile_wrapere {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    margin-top: 10px;
}

    .tile_wrapere .tile_middle {
        width: 100%;
        margin-top: 10px;
    }

    .tile_wrapere .tiles_outer .tilecount {
        width: 30%;
        height: 100%;
        -webkit-box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        -moz-box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        border: 1px solid #ccc;
        background: white;
        min-height: 50px;
        border-radius: 4px;
        padding: 15px;
        text-align: center;
        margin-left: 15px;
    }

    .tile_wrapere .tiles_outer .tiles {
        width: 30%;
        height: 100%;
        -webkit-box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        -moz-box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        box-shadow: -1px 0px 14px 0px rgba(199,189,199,1);
        border: 1px solid #ccc;
        background: white;
        min-height: 50px;
        border-radius: 4px;
        padding: 15px;
        text-align: center;
        margin-left: 15px;
    }

        .tile_wrapere .tiles_outer .tiles:hover {
            background-color: lightgray;
            transform: translateY(4px);
        }

        .tile_wrapere .tiles_outer .tiles:active {
            background-color: lightgray;
            transform: translateY(8px);
        }

.selected {
    background: lightblue !important;
}
