@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
@using ExpressBase.Objects.ServiceStack_Artifacts;

@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
    <link rel="stylesheet" type="text/css" href="~/css/DV/bootstrap-toggle.min.css">
<link rel="stylesheet" href="~/css/SecurityStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
<link rel="stylesheet" href="~/css/Eb_datatable.css" asp-append-version=@bApnd>
<script src="~/js/SupportTicket/SupportTicketjs.js" type="text/javascript"></script>
<script src="~/js/CommonDataTable.js"></script>
<script src="~/js/Eb_Basic_DataTable.js"></script>
<script src="~/js/EbControls/EbPowerSelect.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js"></script>
<script type="text/javascript" src="~/js/LayoutCommon/bootstrap-toggle.min.js"></script>

<div class="row s-dash-container h-100">

    <div class="s-dash-workplace activity_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 col-lg-7 col-xs-12 col-sm-6 pd-0">
                <h4 class="mr-t-0 mr-b-0">Login Activity </h4>
            </div>

        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 s-dash-workplace-tabs">
            <div id="loginActivityLst">

            </div>
        </div>

    </div>
</div>

<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
    $(document).ready(function () {
        $("#loginActivityLst").empty();
                        $("#loginActivityLst").append(`<div id="content_tb1" class="wrapper-cont"><table id="tbl" class="table display table-bordered compact"></table></div>`);
                        var o = new Object();
                        o.tableId = "tbl";
                        o.showCheckboxColumn = false;
                        o.showFilterRow = true;
                        o.IsPaging = true;
                        o.dvObject =  @Html.Raw(ViewBag.VisualObj);
                        o.Source = "loginActivity"; 
                        this.dataTable = new EbCommonDataTable(o);
                        $("#layout_div .loader-fb").empty().removeClass("loader-fb");


    });

   
</script>