@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }

    Layout = "~/Views/Shared/LayoutInner.cshtml";

    var _infoDict = Html.Raw(ViewBag.SelectedUserGroupInfo);
    var _userList = Html.Raw(ViewBag.UsersList);
    var _ipConsList = Html.Raw(ViewBag.IpConsList);
    var _dtConsList = Html.Raw(ViewBag.DtConsList);
}

<link rel="stylesheet" type="text/css" href="~/css/SecurityStyle.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/ManageUser.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/TileSetup.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />

@*@using (Html.BeginForm(FormMethod.Post, new { itemid = 9 }))
    {


        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Create User groups</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="groupname" placeholder="Group Name" value="@ViewBag.UGName" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" value="@ViewBag.UGDescription" />
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#users">Search for Users</a></li>
        </ul>
        <div class="tab-content">
            <div id="users" class="tab-pane fade in active">
                <div id="usr">
                    <div class='row'>
                        <div id='div2' class='col-lg-6 well' style="height:300px">
                            @Html.Raw(ViewBag.UserList)
                        </div>
                        @await Component.InvokeAsync("SearchUser", new { targetDivId = "div2" })
                    </div>
                    <input type="hidden" name="groupid" value="@ViewBag.itemid" />
                </div>

            </div>


        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    }*@

<div class="row s-dash-container h-100">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group eb-dashbord-sidebar">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Security/CommonList?type=Users">
                        <span class="material-icons t__sidebar_icon">person</span>
                        <span class="t__sidebar_text">Users</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Security/CommonList?type=UserGroups">
                        <span class="material-icons t__sidebar_icon">group</span>
                        <span class="t__sidebar_text">UserGroups</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Security/CommonList?type=Roles">
                        <span class="material-icons t__sidebar_icon">supervised_user_circle</span>
                        <span class="t__sidebar_text">Roles</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Wiki">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane h-100">
        <div class="col-md-12 pd-0 s-dash-workplace-tabs h-100">
            <div class="tdash-box-body h-100">
                <div class="mr-parent-div w-100">
                    <div class="mug-parent-div">
                        <div class="col-md-3 col-lg-3 pd-l-0">
                            <form id="formManageUserGroups" data-toggle="validator" method="POST" action="">
                                <div class="form-group">
                                    <label class="label-custom-style">User Group Name</label>
                                    <input type="text" class="form-control input-custom-style" id="txtUserGroupName" title="User Group Name" required />
                                </div>
                                <div class="form-group">
                                    <label class="label-custom-style">User Group Description</label>
                                    <textarea type="text" class="form-control input-custom-style" id="txtUserGroupDescription" title="User Group Description" style="height: 100px; resize:none;" required></textarea>
                                </div>
                                <input type="submit" id="hiddenSubmitUserGroup" style="display:none;" />
                            </form>
                        </div>
                        <div class="col-md-9 col-lg-9 pd-r-0 h-100">
                            <div class="eb-usrgrp-pane h-100">
                                <ul class="nav nav-tabs eb-styledTab">
                                    <li class="active"><a data-toggle="tab" href="#divusers">Users</a></li>
                                    <li><a data-toggle="tab" href="#divconstraints">Constraints</a></li>
                                </ul>
                                <div class="tab-content" style="margin:0;">
                                    <div id="divusers" class="tab-pane fade in active"></div>
                                    <div id="divconstraints" class="tab-pane fade">

                                        <div id="divIp"></div>
                                        <div id="divTime"></div>

                                    </div>
                                </div>
                            </div>
                            @*<button class="btn btn-info" id="btnSaveAll" style="float:right; margin-right:15px">Submit</button>*@
                            @*<label id="lblMessage" style="color:red;padding-left: 36px; font-weight: 500;"> Sorry, Unable to Continue! </label>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('document').ready(function () {
        var obj = new UserGroupJs(@_infoDict, @_userList, @_ipConsList, @_dtConsList);
        //function newIpAddress(e) {
        //    $("#ulIpAddress").append(`<li class="list-group-item">${$("#txtIpAddress").val();}<i class="fa fa-times" aria-hidden="true" style="float: right;"></i></li>`);
        //}
    });
</script>
