@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Common.Objects;
}

@await Component.InvokeAsync("PageHeaderCommon")

<style>
    .outer-section-manageroles {
        height: 100vh;
        font-family: open sans;
        font-weight: 300;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }
</style>
<div class="center" style="padding: 4% 0% 0% 1%; height: 100vh; background: white;font-family: open sans;font-weight: 300;">
    @*<section class="outer-section-manageroles" style="height: 100%;">*@
        @await Component.InvokeAsync("ManageRoles", new { itemid = ViewBag.itemid })
    @*</section>*@
</div>
