@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

    var _infoDict = Html.Raw(ViewBag.SelectedUserGroupInfo);
    var _userList = Html.Raw(ViewBag.UsersList);
}

@await Component.InvokeAsync("PageHeaderCommon")

@*@using (Html.BeginForm(FormMethod.Post, new { itemid = 9 }))
    {


        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Create User groups</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="groupname" placeholder="Group Name" value="@ViewBag.UGName" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" value="@ViewBag.UGDescription" />
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#users">Search for Users</a></li>
        </ul>
        <div class="tab-content">
            <div id="users" class="tab-pane fade in active">
                <div id="usr">
                    <div class='row'>
                        <div id='div2' class='col-lg-6 well' style="height:300px">
                            @Html.Raw(ViewBag.UserList)
                        </div>
                        @await Component.InvokeAsync("SearchUser", new { targetDivId = "div2" })
                    </div>
                    <input type="hidden" name="groupid" value="@ViewBag.itemid" />
                </div>

            </div>


        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    }*@


<style>
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
    }

    .outer-section-createuser {
        height: 100vh;
        font-family: open sans;
        font-weight: 300;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

    .searchRsulsItemsDiv:hover {
        background-color: #eee;
    }

    .mydiv1:hover {
        background-color: #f5f5f5;
        border: none;
    }

    .mydiv1 {
        border: 2px solid #f5f5f5;
        background-color: #fdfdfd;
        border-radius: 6px;
        align-items: center;
        height: 75px;
        overflow: hidden;
        padding: 10px 13px;
        margin-top: 15px;
    }

    .icondiv1 {
        display: inline-block;
        font-size: xx-large;
        padding-right: 10px;
        vertical-align: top;
    }

    .textdiv1 {
        width: 65%;
        display: inline-block;
        vertical-align: top;
    }

    .closediv1 {
        display: inline-block;
        float: right;
        cursor: pointer;
        vertical-align: top;
    }

    .tilediv1 {
        border: 1px solid;
        border-color: #ccc;
        padding: 10px;
        height: 450px;
        border-radius: 6px;
        overflow: auto;
        margin: 0px;
    }

    .nav-tabs > li.active {
        border-top: 3px solid #339bb3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>

<div class="" style="padding: 4% 0% 0% 1%; height: 100vh; background: white;font-family: open sans;font-weight: 300;">
    <div class="row">
        <div class="col-md-3">
            <form id="formManageUserGroups" data-toggle="validator" method="POST" action="">
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">User Group Name</label>
                    <input type="text" class="form-control" id="txtUserGroupName" title="User Group Name" required />
                </div>
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">User Group Description</label>
                    <input type="text" class="form-control" id="txtUserGroupDescription" title="User Group Description" required>
                </div>
                <input type="submit" id="hiddenSubmitUserGroup" style="display:none;" />
            </form>
        </div>
        <div class="col-md-9">
            <div style="padding: 0px 15px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#divusers">Users</a></li>
                </ul>
                <div class="tab-content" style="">
                    <div id="divusers" class="row tab-pane fade in active" style="padding: 0px 18px;"></div>
                </div>
            </div>
            @*<button class="btn btn-info" id="btnSaveAll" style="float:right; margin-right:15px">Submit</button>*@
            @*<label id="lblMessage" style="color:red;padding-left: 36px;font-family: open sans; font-weight: 500;"> Sorry, Unable to Continue! </label>*@
        </div>
    </div>
</div>


<script>
    $('document').ready(function () {

        var obj = new UserGroupJs(@_infoDict, @_userList);
       // var userid ="";
       // $.each($('#div2').children(), function (i, obj) {
       //     userid += $(obj).attr("id")+ ",";
       // });
       //var Ids = userid.substring(0, userid.length - 1);
       //$('#userslist').val(Ids);
        //$.post("../TenantUser/GetRoles",
        //         {

        //         }, function (result) {
        //             if (result) {
        //                 document.getElementById("userroles").innerHTML = result;
        //             }
        //         });
        //    $('#sendmail').change(function () {
        //        if (!this.checked)
        //            $('#pw').fadeIn();
        //        else
        //            $('#pw').fadeOut();
        //    });
        //    var f = true;
        //    $('.selectpicker').on('rendered.bs.select', function (e) {
        //        if (f)
        //            $("#roleSel").find("span:eq(0)").text("Select Role")
        //        f = false;
        //    });
    });

</script>
