.supporttkt .bdr {
    border-right: 1px solid black;
}
.supporttkt .bd {
    border: 1px solid black;
}
.supporttkt .w-100 {
    width: 100%;
}
.supporttkt .m-top50 {
    margin-top:50px;
}

.supporttkt .fltri {
    float: right;
}
.supporttkt tbody tr:hover {
    color: #1f5cb7;
    background-color: rgba(76, 117, 137, 0.51);
}

.supporttkt .pdleft0{
    padding-left:0px;
}
.supporttkt .pdright0{
    padding-right:0px;
}