
/*support page css*/

.supporttkt .bdr {
    border-right: 1px solid black;
}

.supporttkt .bd {
    border: 1px solid black;
}

.supporttkt .w-100 {
    width: 100%;
}

.supporttkt .m-top50, .edtsprt .m-top50 {
    margin-top: 50px;
}

.supporttkt .fltri {
    float: right;
}

.supporttkt .btnstl {
    color: #fff;
    background-color: #4987fb
}

.supporttkt tbody tr:hover {
    color: #1f5cb7;
    background-color: rgba(76, 117, 137, 0.51);
}



.supporttkt .fw500 {
    font-weight: 500;
}

.supporttkt .fw600 {
    font-weight: 600;
}


/*edit page css*/

.edtsprt .shd {
    background-color: white;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.26);
}

.edtsprt .recdiv {
    margin: 10px;
    border-radius: 4px;
    height: 60px;
    padding: 10px
}




/*common css form edit command support page css*/


.supporttkt .pdleft0, .edtsprt .pdleft0 {
    padding-left: 0px;
}

.supporttkt .pdbtm15, .edtsprt .pdbtm15 {
    padding-bottom: 15px;
}

.supporttkt .pdtop20, .edtsprt .pdtop20 {
    padding-top: 20px;
}

.supporttkt .pdtop65, .edtsprt .pdtop65 {
    padding-top: 65px;
}

.supporttkt .pdright0, .edtsprt .pdright0 {
    padding-right: 0px;
}

.supporttkt .scrl, .edtsprt .scrl {
    overflow: auto;
}

.supporttkt .stprsiz, .edtsprt .stprsiz {
    resize: none;
}
.supporttkt .bdrrds4, .edtsprt .bdrrds4 {
    border-radius: 4px;
}

.supporttkt .pd_lft30, .edtsprt .pd_lft30 {
    padding-left: 30px;
}

.supporttkt .lbl_lg, .edtsprt .lbl_lg {
    font-size: large;
    font-weight: 600;
}

.supporttkt .m-bott30, .edtsprt .m-bott30 {
    margin-bottom: 30px;
}

.supporttkt .m-bott10, .edtsprt .m-bott10 {
    margin-bottom: 10px;
}


/*modal close for file view*/
#diplay_modal .close {
    float: right;
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    color: #000;
    text-shadow: 0px 0px 7px #fff;
    opacity: .6;
}
/*form toggle button*/
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 25px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #428bca;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #428bca;
}

input:focus + .slider {
    box-shadow: 0 0 1px #428bca;
}

input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 14px;
}

    .slider.round:before {
        border-radius: 50%;
    }





/*image upload*/

/*! Image Uploader - v1.0.0 - 15/07/2019
 * Copyright (c) 2019 Christian Bayer; Licensed MIT */

/* Base style */
.image-uploader {
    min-height: 190px;
    max-height: 190px;
    overflow:auto;
    border: 1px solid #d9d9d9;
    position: relative;
}

    /* Style on hover */
    .image-uploader.drag-over {
        background-color: #f3f3f3;
    }

    /* Hide the file input */
    .image-uploader input[type="file"] {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    /* Text container */
    .image-uploader .upload-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .image-uploader .upload-text i {
            display: block;
            font-size: 3rem;
            margin-bottom: .5rem;
        }

        .image-uploader .upload-text span {
            display: block;
        }

    /* Hide the text if there is at least one uploaded image */
    .image-uploader.has-files .upload-text {
        display: none;
    }

    /* Uploaded images container */
    .image-uploader .uploaded {
        padding: .5rem;
        line-height: 0;
    }

        .image-uploader .uploaded .uploaded-image {
            display: inline-block;
            width: calc(23% );
            padding-bottom: calc(16.6666667% - 1rem);
            height: 0;
            position: relative;
            margin: .5rem;
            background: #f3f3f3;
            cursor: default;
        }

            .image-uploader .uploaded .uploaded-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }

            .image-uploader .uploaded .uploaded-image iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }

            /* Delete image button */
            .image-uploader .uploaded .uploaded-image .delete-image {
                display: none;
                cursor: pointer;
                position: absolute;
                top: .2rem;
                right: .2rem;
                border-radius: 50%;
                padding: .3rem;
                background-color: rgba(0, 0, 0, .5);
                -webkit-appearance: none;
                border: none;
            }

            .image-uploader .uploaded .uploaded-image:hover .delete-image {
                display: block;
            }

            .image-uploader .uploaded .uploaded-image .delete-image i {
                color: #fff;
                font-size: 1.4rem;
            }
