@using ExpressBase.Common.Objects;
@using ExpressBase.Objects;
@using ExpressBase.Common.Structures;
@{
    @using Newtonsoft.Json;
    var obj = JsonConvert.SerializeObject(ViewBag.Object);
}
<div class="side-menu-container">
    <ul class="menuwrapper_ul_outer">
        <li>
            <a href="#" class="list-group-item collapsed outer_li" data-toggle="collapse" data-target="#dropdown2">
                Application<i class="fa fa-chevron-right pull-right"></i>
            </a>
            <ul class="outer sub-menuObj collapse in" id="dropdown2">

            </ul>
        </li>       
    </ul>
</div>
<script>
    $(".outer").prepend(`@Html.Raw(ViewBag.menu)`);
    menu.resultObj = @Html.Raw(obj);
    menu.objTypes =@Html.Raw(ViewBag.Types);
</script>

