@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="~/css/CalendarStyles.css" />
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" />
<script type="text/javascript" src="~/js/jquery.inputmask.bundle.js"></script>
<script src="~/js/EbCalendar/EbCalendarView.js"></script>
<script src="~/js/CommonDataTable.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
<div class="container-fluid" style="height:100vh">
    <div class="row" style="height:inherit">
        <div class="col-sm-12" id="calendar-user-view" style="height:inherit">
        </div>
    </div>

    <div id="ppt-calendar-view" class="PGgrid"> <div id="propGridView"> </div></div>
</div>
<script type="text/javascript">
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectType);
    var DBobj = new EbCalendar({
        dvObj: '',
    });
</script>