<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).on('ready', function () {

        });
    </script>
    <style>
        .my-img img{
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="col-md-4">
                <div class="media-heading">Image Download</div>
                <form>
                    <div class="form-group" title="Image Download">
                        <div class="input-group-sm">
                            <input type="text" class="form-control" id="ObjectId" name="ObjectId" placeholder="ObjectId">
                            <button type="submit" class="btn btn-primary pull-right">Open</button>
                        </div>
                    </div>
                </form>
            </div>
        }
        @if (ViewBag.Image != null)
        {
            <div class="col-lg-6">
                <div class="img-responsive my-img"><img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.Image)" /></div> 
            </div>
        }
    </div>
</body>
</html>
