<div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><img src="~/images/Austin-Locksmith.png" class="img-circle" /></span>
                @*<span class="glyphicon glyphicon-user"></span>
                    <strong>Salman</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>*@
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-login">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="text-center">
                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <p class="text-left"><strong>Salman Khan</strong></p>
                                <p class="text-left small">crazytodevelop@@gmail.com</p>
                                <p class="text-left">
                                    <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider navbar-login-session-bg"></li>
                <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                <li class="divider"></li>
                <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
            </ul>
        </li>
    </ul>

    <style>
        .img-circle {
            border-radius: 50%;
            /*padding: 20px;*/
            width: 40px;
            height: 40px;
             background-color:white;
        }
    </style>
</div>