@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1>xxxxx</h1>
    <img src="/static/eb_roby_dev/59bc11ba9e17fc17d4dce930.png" />

    <embed id="plugin" type="application/x-google-chrome-pdf" 
           src="blob:http://localhost:5000/static/eb_roby_dev/59bd3a80d53e434304b52235.pdf" 
           stream-url="blob:chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/48b5cbef-656d-4e2c-84e7-8d2a93c7b62f"
           headers="Content-Type: application/pdf Content-Length: 219289" background-color="0xFF525659" top-toolbar-height="56">

    @*<embed id="plugin" type="application/x-google-chrome-pdf" src="blob:http://localhost:5000/81e112d7-0133-4dad-b7d2-9c935bd097da" stream-url="blob:chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/48b5cbef-656d-4e2c-84e7-8d2a93c7b62f" headers="Content-Type: application/pdf
Content-Length: 219289
" background-color="0xFF525659" top-toolbar-height="56" top-level-url="http://localhost:5000/Sample/MongoDBAsync">*@
</body>
</html>