@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Version Details</title>
</head>
<body>
    <h4>Web: @ViewBag.WebVersion</h4>
</body>
</html>