@{
    Html.RenderPartial("_PageheaderDev");
}
@using ExpressBase.Objects;
@using ExpressBase.Common.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
<script type="text/javascript" src="~/js/Eb_ReportBuilder.js"></script>@*amal*@
<script type="text/javascript" src="~/js/split.js"></script>@*amal*@
<script type="text/javascript" src='~/js/Eb_formBuilder.js'></script>@*jith*@
<script type="text/javascript" src="~/js/Eb_PropertyGrid.js"></script>@*jith*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/Eb_ReportBuilder.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">@*amal*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
<link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" />@*jith*@
<link rel="stylesheet" type="text/css" href="~/css/style.css" />@*amal*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="reportmenu">
            <div class="form-inline" id="options">              
                <div class="form-group">                 
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="New Page"><i class="fa fa-file-text" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">                    
                    <button class="btn btn-default" id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <select id="pagesize">
                        <option value="">Page Size</option>
                        <option value="Letter">Letter</option>                       
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="A5">A5</option>
                        <option value="custom-size">Custom</option>
                    </select>
                </div>           
                <div class="form-group" id="custom-size" style="display:none">
                    <div class="input-group">
                        <input type="text" class="custom-size" id="customHeight" placeholder="Height"/>                          
                    X
                        <input type="text" class="custom-size" id="customWidth" placeholder="Width"/>
                        <select class="measurement" id="custome-unit">
                            <option value="cm">Cm</option>
                            <option value="mm">mm</option>
                            <option value="inch">inch</option>
                            <option value="px">pixel</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="createCustom" data-toggle="tooltip" data-placement="bottom" title="Align Left">Go</button>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Align Left"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <input type="file" style="display:none" id="Rptbgimg" />
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Background Image" onclick="$('#Rptbgimg').click();"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Align Left"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Align Center"><i class="fa fa-align-center" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Align Right"><i class="fa fa-align-right" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Align Justify"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Trash"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <input type="color" id="fontcolor" class="btn btn-default" style="display:none" />
                    <button class="btn btn-default" onclick="$('#fontcolor').click();"><i class="fa fa-paint-brush" aria-hidden="true"></i> Font Color</button>
                </div>               
            </div>
        </div>
    </div>
    <div class="row pgB">
        <div class="col-md-2 side-toolbar">
            <div class="toolbox">
                @await Component.InvokeAsync("EbObjectSelector", new { Type = (int)EbObjectType.DataSource });
            </div>
        </div>
        <div class="col-md-8" style="padding-right:0">
            <div class="title text-center" style="display:none"></div>
            <div class='ruler' style="display:none"></div>
            <div class='rulerleft' style="display:none"></div>
            <div id="pageCanvas" style="position:relative;margin-top:51px;margin-bottom:50px">
            </div>
        </div>
        <div class="col-md-2 PGgrid">
            <div class="formB-box pGreportBuilder" id="propGrid" style="display:none">

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {       
        $("#pagesize").change(function () {
            var type = $(this).val();
            if (type === 'custom-size') {
                getCustomSize(type);
            }
            else if (type !== 'custom-size') {
            var report =new RptBuilder(type, save);          
            }          
        });

        getCustomSize = function (type) {
            $('#custom-size').show();

            $('#createCustom').on('click', function () {
                var custHeight = $('#customHeight').val();
                var custWidth = $('#customWidth').val();
                var custunit = $('#custome-unit').val();

                var report = new RptBuilder(type, save, custHeight, custWidth, custunit);
            })
        };

        $("#Rptbgimg").change(function () {
            setBackgroud(this);          
        });       
    });
</script>
