@{
    Html.RenderPartial("_PageheaderDev");
}
@using ExpressBase.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;

<script type="text/javascript" src="~/js/Eb_ReportBuilder.js"></script>@*amal*@
<script type="text/javascript" src="~/js/split.js"></script>@*amal*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='~/js/Eb_dragula.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_ReportBuilder.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />@*jith*@
<link rel="stylesheet" type="text/css" href="~/css/style.css" />@*amal*@
<div class="container-fluid">
    <div class="row" style="margin-top: 56px;position:fixed;">
        <div class="reportmenu">
            <div class="form-inline" id="options">
                <div class="form-group">
                    <input type="file" style="display:none" id="Rptbgimg" />
                    <button class="btn btn-default"><i class="fa fa-file-text" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <select class="form-control" id="pagesize">
                        <option value="">Page Size</option>
                        <option value="Letter">Letter</option>
                        <option value="A1">A1</option>
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="A5">A5</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="file" style="display:none" id="Rptbgimg" />
                    <button class="btn btn-default" onclick="$('#Rptbgimg').click();"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default"><i class="fa fa-align-center" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default"><i class="fa fa-align-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pgB">
        <div class="col-md-2 toolbox">
            <div class="toolboxhead">
                <div class="text-center"style="float:left;font-size: 16px;padding: 5px">Data Source</div>
                <button class="btn btn-default pull-right"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            
            @await Component.InvokeAsync("EbObjectSelector", new { EbObjectType = (int)EbObjectType.DataSource });

            <ul style="padding:0;margin-left:10px" id="toolbox1">

                <li>
                    <a></a>
                    <ul>
                        <li class="draggable styl"><p class="textval">Data Table</p></li>
                        <li class="draggable styl"><p class="textval">Data Table</p></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-md-9" id="pageCanvas" style="position:relative;margin-top:50px">
        </div>
    </div>
</div>
<script>
    $("#pagesize").change(function () {
        RptBuilder($(this).val(), "toolbox1");
    });

    $.fn.extend({
        treed: function (o) {

            var openedClass = 'glyphicon-minus-sign';
            var closedClass = 'glyphicon-plus-sign';

            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            };
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });

            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $('#toolbox1').treed();
</script>
