@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
<style>
    .head{
       

    }
</style>

<div style="margin-top: 100px; padding-left:50px">
    <input id="txtfinalvalue" type="text" class="form-control" style="width:150px" value="">
    <br />
    <div id="Mod_cont"></div>
    <button id="toggleBtn" class="btn btn-info btn-lg" data-target="#MLSettingsModal" data-toggle="modal">Click Me</button>
</div>





<script>
    var obj = new MultiLingualKeyEditor({
        ContainerId: "Mod_cont",
        ToggleBtnId: "toggleBtn"
    });
</script>


