.div-body-main {
    background-color: white;
    margin: 100px 0px 0px 150px;
    padding-bottom: 10px;
    /*padding: 10px 10px 10px 10px;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-input {
    font-weight: 100;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.div-label {
    padding: 20px 0px 40px 0px;
    height: 40px;
    text-align-last: center;
    width: 100%;
}

.label-font {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    text-align-last: center;
    font-weight: 100;
    color: lightslategray;
}

.div-payment-details-heading {
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}


.div-payment-details-body {
    border-bottom: 1px solid #ccc;
    margin-left: 16px;
    margin-right: 16px;
}

.div-payment-details-body-main {
    display: flex;
    font-family: 'Lucida Console';
    text-align: center;
    color: dimgrey;
    font-size: small;
    padding-top: 10px;
}
