@using ExpressBase.Common.Connections;
@using ExpressBase.Common.Data;
@using ExpressBase.Common;

@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";

    EbMapConCollection Maps = ViewBag.Maps;
    double Latitude = ViewBag.Latitude;
    double Longitude = ViewBag.Longitude;

    MapVendors vendor = ViewBag.MapType;
    EbMaps CurrentMap = Maps.GetMapByType(vendor);
}
<style>
    body, html {
        height: 100%;
        overflow-y: hidden;
    }

    .map-container {
        width: 100%;
        height: 100%;
    }
</style>

<section class="eb_mobile-map">
    <div class="container">
        <div class="row">
            @{
                if (CurrentMap == null)
                {
                    <h3>@ViewBag.MapType is not integrated with your solution.</h3>
                }
                else if (CurrentMap.Vendor == MapVendors.GOOGLEMAP && !string.IsNullOrEmpty(CurrentMap.Apikey))
                {
                    <div class="map-container" id="map-container"></div>

                    <script>
                            var cordinates = { lat: @Latitude, lng: @Longitude };
                            var map;
                            function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: cordinates,
                                    zoom: 8
                                });
                            }
                    </script>

                    string src = $"https://maps.googleapis.com/maps/api/js?key={CurrentMap.Apikey}&callback=initMap";
                    <script src="@src" async defer></script>
                }
            }
        </div>
    </div>
</section>
