@using ExpressBase.Common.Connections;
@using ExpressBase.Common.Data;
@using ExpressBase.Common;

@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";

    EbMapConCollection Maps = ViewBag.Maps;
    double Latitude = ViewBag.Latitude;
    double Longitude = ViewBag.Longitude;
    string Place = ViewBag.Place;

    MapVendors vendor = ViewBag.MapType;
    EbMaps CurrentMap = Maps.GetMapByType(vendor);
}
<style>
    .eb_mobile-map, .container, .row {
        width: 100%;
        height: 100%;
    }

    .map-container {
        width: 100%;
        height: 100%;
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .location-wraper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

        .location-wraper .loc-head {
            width: 100%;
            padding: 10px 0;
        }
</style>

<script>
    window.Geocordinates = { lat: @Latitude, lng: @Longitude };
    window.searchBoxDOME = null;

    function getCordinates() {
        return window.Geocordinates;
    }

    function hideSearchBar() {
        document.querySelector(".loc-head").style.display = "none";
    }

    function showSearchBar() {
        document.querySelector(".loc-head").style.display = "block";
    }

    function setSearch(text) {
        document.getElementById("plc-input").value = text;
    }

    function updateUrl(lat, long,place) {
        try {
            var url = new URL(location.href);
            var query_string = url.search;
            var search_params = new URLSearchParams(query_string);

            search_params.set('latitude', lat);
            search_params.set('longitude', long);

            if (place) {
                search_params.set('place', place);
            }

            url.search = search_params.toString();

            location.search = url.search;
            //var obj = { Title: 'map', Url: url.toString() };
            //history.pushState(obj, obj.Title, obj.Url);
        }
        catch (err) {
            console.log(err);
        }
    }
</script>

<div class="eb_mobile-map">
    @{
        if (CurrentMap == null)
        {
            <h3>@ViewBag.MapType is not integrated with your solution.</h3>
        }
        else if (CurrentMap.Vendor == MapVendors.GOOGLEMAP && !string.IsNullOrEmpty(CurrentMap.Apikey))
        {
            <div class="location-wraper">
                <div class="loc-head">
                    <input class="form-control" placeholder="Search Place" id="plc-input" value="@Place" type="text" />
                </div>
                <div class="map-container" id="map-container">

                </div>
            </div>

            <script>
                var map;
                function initMap() {

                    if ('@Place') {
                        setSearch('@Place');
                    }

                    map = new google.maps.Map(document.getElementById('map-container'), {
                        center: window.Geocordinates,
                        zoom: 8,
                        mapTypeControl: true,
                        scaleControl: true,
                        zoomControl: false,
                    });

                    var geocoder = new google.maps.Geocoder;

                    geocoder.geocode({ 'location':getCordinates() }, function (results, status) {
                        if (status === "OK") {
                            setSearch(results[0].formatted_address);
                        }
                    });

                    var marker = new google.maps.Marker({
                        position: window.Geocordinates,
                        map: map,
                        title: 'you are here'
                    });

                    window.searchBoxDOME = document.getElementById('plc-input');
                    searchBox = new google.maps.places.SearchBox(window.searchBoxDOME);

                    map.addListener('bounds_changed', function () {
                        searchBox.setBounds(map.getBounds());
                    });
                    var markers = [];

                    searchBox.addListener('places_changed', function () {
                        var places = searchBox.getPlaces();

                        if (places.length == 0) {
                            return;
                        }
                        // Clear out the old markers.
                        markers.forEach(function (marker) { marker.setMap(null); });
                        markers = [];
                        // For each place, get the icon, name and location.
                        var bounds = new google.maps.LatLngBounds();
                        places.forEach(function (place) {
                            if (!place.geometry) {
                                return;
                            }
                            // Create a marker for each place.
                            markers.push(new google.maps.Marker({
                                map: map,
                                title: place.name,
                                draggable: true,
                                position: place.geometry.location
                            }));

                            if (place.geometry.viewport) {
                                bounds.union(place.geometry.viewport);
                            } else {
                                bounds.extend(place.geometry.location);
                            }
                            if (markers.length >= 1) {
                                let p = markers[0].getPosition();
                                window.Geocordinates.lat = p.lat();
                                window.Geocordinates.lng = p.lng();

                                let textval = window.searchBoxDOME.value;

                                updateUrl(window.Geocordinates.lat, window.Geocordinates.lng,textval);
                            }
                        });
                        map.fitBounds(bounds);
                    });
                }
            </script>

            string src = $"https://maps.googleapis.com/maps/api/js?key={CurrentMap.Apikey}&sensor=false&libraries=places&callback=initMap";
            <script src="@src" async defer></script>
        }
    }
</div>

