@{
    Layout = "~/Views/Shared/_Layout1.cshtml";    
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>Under Construction!!!!!!</h1>
<p>Use this area to provide additional information.</p>
