<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-md-4">
            <div class="row" style="text-align:center"><h4>Connect Your Files DataBase</h4></div>
            </br>
            @using (Html.BeginForm("AddFilesDB", "ConnectionManager", FormMethod.Post))
            {
                <div class="form-group">
                    <!-- <label class ="control-label" for="dropdown">Mail Server:</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control" id="vendorname" name="vendorname" placeholder="MongoDB" disabled="disabled">
                        <div class="input-group-btn">
                            <div id="dbvendor" name="dbvendor" class="dropdown dropdown-menu-right">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    DataBase Vendors
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">MongoDB</a></li>
                                    <li><a fontcolor="red">Cassandra Coming Soon</a></li>
                                    <li><a fontcolor="red">HBase Coming Soon</a></li>
                                    <li><a fontcolor="red">OrientDB Coming Soon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label class ="control-label" for="smtp">Smtp:</label> -->
                    <input type="text" class="form-control" id="url" name="url" placeholder="MongoDB Url">
                </div>
                <div id="submit" class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            }
        </div>
    </div>
</body>
</html>