<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <div class="row" style="text-align:center"><h4>Connect Your Mail Server</h4></div>
            
            @using (Html.BeginForm("EditEmailAccount", "ConnectionManager", FormMethod.Post))
            {
                <div class="form-group">
                    <!-- <label class ="control-label" for="dropdown">Mail Server:</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control" id="providername" name="providername" placeholder="Name of Mail Provider" disabled="disabled">
                        <div class="input-group-btn">
                            <div id="mailserver" name="mailserver" class="dropdown dropdown-menu-right">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Mail Server
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Google</a></li>
                                    <li><a href="#">Zoho</a></li>
                                    <li><a href="#">MSN</a></li>
                                    <li><a href="#">Others</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label class ="control-label" for="smtp">Smtp:</label> -->
                    <input type="text" class="form-control" id="smtp" name="smtp" placeholder="Smtp Server" value=@ViewBag.SMTP.Smtp.ToString()>
                </div>

                <div class="form-group">
                    <!-- <label class="control-label" for="port">Port:</label> -->
                    <input type="text" class="form-control" id="port" name="port" placeholder="Port" value=@ViewBag.SMTP.Port.ToString()>
                </div>

                <div class="form-group">
                    <!-- <label class="control-label" for="port">Port:</label> -->
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nick Name" value=@ViewBag.SMTP.NickName.ToString()>
                </div>

                <div class="form-group">
                    <!-- <label class="control-label" for="email">Email:</label> -->
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value=@ViewBag.SMTP.EmailAddress.ToString()>
                </div>

                <div class="form-group">
                    <!-- <label class="control-label" for="pwd">Password:</label> -->
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
                </div>

                <div id="submit" class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            }
        </div>
    </div>
</body>
</html>