<div>
    <div class=''>
            <div class='col-md-12 '>
                <div class='verlist input-group col-md-6' style='display:inline-block'>
                    <select id='selected_Ver_1_@(ViewBag.TabNum)' name='selected_Ver_1' class='form-control selected_Ver selectpicker show-tick' data-live-search='true'>                       
                    </select>
                </div>
                <div class='verlist input-group col-md-5' style='display:inline-block'>
                    <select id='selected_Ver_2_@(ViewBag.TabNum)' name='selected_Ver_2' class='form-control selected_Ver selectpicker show-tick' data-live-search='true'>
                    </select>
                </div>
                <div> <i class='fa fa-circle-o-notch fa-spin fa-1x fa-fw' id='loader_fd@(ViewBag.TabNum)' style='display:none;color:dodgerblue;'></i></div>
                <div class="compare_inner pull-right" id='compare_inner@(ViewBag.TabNum)' style='display:inline-block'>
                    <i class="fa fa-chevron-circle-right fa-2x"></i>
                </div>
            </div>
        
    </div>
   <div id='compare_result@(ViewBag.TabNum)'></div>
</div>
<style>
    /*differ styles*/

    #diffBar {
        width: 3%;
        height: 100%;
        float: left;
        position: relative;
        background: #DDDDDD;
    }

    .diffBarLineLeft, .diffBarLineRight {
        width: 50%;
        float: left;
        height: 0px;
        cursor: pointer;
    }

    .inView {
        background-repeat: repeat;
    }

    #activeBar {
        position: absolute;
        top: 0px;
        background-color: #6699FF;
        opacity: 0.5;
        filter: alpha(opacity= '50');
    }


    #diffBox {
        margin-left: auto;
        margin-right: auto;
        border: solid 2px #000000;
    }


    .leftPane, .rightPane {
        float: left;
        width: 50%;
        font-family: monospace;
        height: 400px;
        color: black;
        overflow-x: scroll;
    }

    .leftPane {
        border-right:solid 1px #bbb4b4;
    }
    .rightPane {
        border-left: solid 1px #bbb4b4;
    }
        .diffHeader {
        font-weight: bold;
        padding: 2px 0px 2px 10px;
        background-color: #FFFFFF;
        text-align: center;
    }

    .diffPane {
        margin-right: 0px;
        padding: 0px;
        overflow-y: scroll;
        font-family: Consolas;
        font-size: xx-small;
    }
    .diffPane table{
        width:100%;
    }
    .line {
        padding-left: .2em;
        white-space: nowrap;
        width: 50%;
    }

    .lineNumber {
        padding: 0 .3em;
        background-color: #FFFFFF;
        //text-align: center;
    }

    .InsertedLine {
        background-color: lightgreen;
    }

    .ModifiedLine {
        background-color: lightyellow;
    }

    .DeletedLine {
        background-color: lightpink;
    }

    .UnchangedLine {
        background-color: #FFFFFF;
    }

    .ImaginaryLine {
        background-color: #C8C8C8;
    }

    .InsertedCharacter {
        background-color: palegreen;
    }

    .DeletedCharacter {
        background-color: hotpink;
    }

    .UnchangedCharacter {
    }

    .ImaginaryCharacter {
    }

    .clear {
        clear: both;
    }

    #oldtext .diffTable {
        width: 50%;
        height: 50%;
        padding-left: 0px;
        overflow-y: scroll;
    }

    #newtext .diffTable {
        width: 50%;
        height: 50%;
        padding-right: 0px;
        overflow-y: scroll;
    }

    .ViewCode_btn {
        width: 32px;
        height: 37px;
        background: #5dddd3;
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
    }
</style>