
.btnarea {
    display: flex;
    flex-flow: row-reverse;
    display: flex;
    flex-flow: row-reverse;
    padding-bottom: 10px;
}
.pad10 {
    padding: 10px
}

.pad0 {
    padding: 0px
}

.mrg10 {
    margin: 10px
}

.mrg0 {
    margin: 0px
}
.botappDashboard {
    padding: 0px;
}

    .botappDashboard .mrg10btm {
        margin-bottom: 10px;
    }

    .botappDashboard .nrmfntsiz {
        font-weight: normal;
    }

.botappDashboard .tab-content {
    margin-bottom: 0px;
}

    .botappDashboard .botappConfig {
        /*padding: 0px;*/
        border: 1px solid #efe5e5;
        border-radius: 4px;
    }



        .botappDashboard .botappConfig .botSetng {
            padding: 10px
        }
            .botappDashboard .botappConfig .botSetng .bg_cont {
                margin-top: 15px ;
                padding: 0px
            }

        .botappDashboard .botappConfig .imgPrvwCont {
            margin-top: 20px;
            height: 125px;
            width: 100px;
            max-height: 150px;
            max-width: 150px;
            border-radius: 4px;
            border: 1px solid #efe5e5;
            padding: 10px;
        }
            .botappDashboard .botappConfig .imgPrvwCont .imgPrevw {
                height: 100%;
                width: 100%;
            }
       

            .botappDashboard .botappConfig .botSetng .bot_wcmsg {
                resize: none;
            }

    .botappDashboard .srptarea {
        width: 100%;
        height: 230px;
        resize: none;
    }

    .botappDashboard .botappConfig input[type="color"] {
        padding: 0px;
    }

    .botappDashboard .botcssConfig .configcss .csstxtarea {
        width: 70%;
        height: 350px;
        resize: none;
        line-height: 2;
    }

    .botappDashboard .copyscript {
        display: flex;
        flex-flow: row-reverse;
        display: flex;
        flex-flow: row-reverse;
    }


    .botappDashboard .botcssConfig .tabs-left {
        border-bottom: none;
        border-right: 1px solid #ddd;
    }

        .botappDashboard .botcssConfig .tabs-left > li {
            float: none;
            margin: 0px;
        }

    .botappDashboard .botUserAuth .userAuthConfig {
        padding: 0px;
    }
    .botappDashboard .botUserAuth .selauth {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #efe5e5;
    }
        .botappDashboard .botUserAuth .selauth .form-check {
            padding-left: 20px;
        }
            .botappDashboard .botUserAuth .selauth .form-inline {
                padding-left: 40px;
                margin-bottom:10px;
            }
    .botappDashboard .botUserAuth .tabs-left {
        border-bottom: none;
        border-right: 1px solid #ddd;
    }

        .botappDashboard .botUserAuth .tabs-left > li {
            float: none;
            margin: 0px;
        }

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    background: #cbe0ecad;
    border: none;
    border-radius: 0px;
}

.tabs-left > li > a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}

.botappDashboard .botcssConfig .cssconfig {
    padding: 0px;
}

.botappDashboard .botcssConfig .configcss .resetcss {
    margin-top: 10px;
}
