.EbQuickMoverlaySideWRpr .sub-menuObj {
    list-style: none;
    padding: 0;
}

    .EbQuickMoverlaySideWRpr .sub-menuObj li {
        padding:2px 5px;
    }

.EbQuickMoverlaySideWRpr .menuwrapper_ul_outer {
    padding-left: 0;
    list-style: none;
}

    .EbQuickMoverlaySideWRpr .menuwrapper_ul_outer .menu-group-title {
        font-size: 15px;
        padding: 0px 5px;
    }
        .EbQuickMoverlaySideWRpr .menuwrapper_ul_outer .menu-group-title .menu-group-title-inner {
            background: #ececec;
            padding: 5px 10px;
            border-radius: 5px;
            font-size:14px;
        }

.EbQuickMoverlaySideWRpr .inner_li {
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: #333;
    padding: 6px 10px;
}

.EbQuickMoverlaySideWRpr .securityContainer .inner_li {
    border-style: none;
    padding: 10px 10px;
}

.EbQuickMoverlaySideWRpr .inner_li:hover, .inner_li:focus, .inner_li:hover .apibox {
    color: #ffffff !important;
    background-color: #508bf9 !important;
}

.EbQuickMoverlaySideWRpr .c_btn {
    display: flex;
    background-color: transparent;
    padding: 0px 0px 0px 10px;
}

.EbQuickMoverlaySideWRpr .closebtn {
    margin-right:5px;
}

    .EbQuickMoverlaySideWRpr .closebtn:focus, Eb_quick_menu .closebtn:active {
        outline: none;
    }

.EbQuickMoverlaySideWRpr .c_btn .material-icons {
    font-size: 20px;
}

.EbQuickMoverlaySideWRpr .apibox {
    width: 25px;
    float: left;
    pointer-events: none;
    color: #428bca;
}

.EbQuickMoverlaySideWRpr .quick_menu_load {
    bottom: 0;
}

.EbQuickMoverlaySideWRpr .ObjType-item {
    padding: 6px 5px;
    cursor: pointer;
    margin: 2px 5px;
    border-radius: 5px;
}

    .EbQuickMoverlaySideWRpr .ObjType-item .obtypeic {
        width: 20px;
    }

.EbQuickMoverlaySideWRpr .ObjType-item i {
    color: #508bf9;
    font-size: inherit;
}

    .EbQuickMoverlaySideWRpr .ObjType-item:hover, .EbQuickMoverlaySideWRpr .ObjType-item:hover i {
        background: #508bf9;
        color: white;
    }

.EbMsideBaroverlay_fade {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: black;
    opacity: 0.4;
    display: none;
}

.EbQuickMoverlaySideWRpr {
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    z-index: 10;
    display: none;
    background: white;
    max-width: 100%;
}

    .EbQuickMoverlaySideWRpr .EbQuickMoverlaySideWRpr-inner {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding-top: 38px;
    }

    .EbQuickMoverlaySideWRpr .InnerBlock {
        display: flex;
        flex-grow: 1;
        max-height: calc(100% - 80px);
        font-size:13px;
    }

    .EbQuickMoverlaySideWRpr .FooterBlock {
        height: 40px;
        background-color: #ececec;
        border-top: 1px solid #dedede;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
    }
        .EbQuickMoverlaySideWRpr .FooterBlock .powered-by-exp {
            color: #484848;
        }

        .EbQuickMoverlaySideWRpr .FooterBlock .footer-buttons {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
        }

            .EbQuickMoverlaySideWRpr .FooterBlock .footer-buttons .footer-btn {
                padding: 5px;
                font-size: 12px;
                color: #508bf9;
                border-radius: 5px;
                background: white;
                border: 1px solid #508bf9;
                text-decoration: none;
            }

    .EbQuickMoverlaySideWRpr .AppContainer {
        width: 350px;
        height: 100%;
        background: white;
        display: flex;
        flex-flow: column;
    }

    .EbQuickMoverlaySideWRpr .TenantMenu-wraper {
        width: 350px;
        height: 100%;
        background: white;
        display: flex;
        flex-flow: column;
        overflow-y: auto;
    }

    .EbQuickMoverlaySideWRpr .header {
        display: flex;
        padding: 5px 0;
        flex-flow: row;
        position: relative;
        align-items: center;
        background: #ececec;
        border-bottom: 1px solid #e6e3e3;
    }

    .EbQuickMoverlaySideWRpr .AppContainer .body {
        height: 100%;
        overflow-y: scroll;
    }

        .EbQuickMoverlaySideWRpr .AppContainer .body::-webkit-scrollbar {
            width: 10px;
        }

        .EbQuickMoverlaySideWRpr .AppContainer .body::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .EbQuickMoverlaySideWRpr .AppContainer .body::-webkit-scrollbar-thumb {
            background-color: #ececec;
            border-radius: 100px;
        }


    .EbQuickMoverlaySideWRpr .ObjectTypeContainer {
        width: 250px;
        height: 100%;
        display: none;
        border-left: 1px solid #ececec;
        overflow-y: auto;
    }

        .EbQuickMoverlaySideWRpr .ObjectTypeContainer::-webkit-scrollbar {
            width: 10px;
        }

        .EbQuickMoverlaySideWRpr .ObjectTypeContainer::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .EbQuickMoverlaySideWRpr .ObjectTypeContainer::-webkit-scrollbar-thumb {
            background-color: #ececec;
            border-radius: 100px;
        }

    .EbQuickMoverlaySideWRpr .objListContainer {
        background: white;
        display: none;
        min-width: 250px;
        border-left: 1px solid #ececec;
    }

        .EbQuickMoverlaySideWRpr .objListContainer .obj-item {
            display: flex;
            align-items: center;
            margin: 2px 5px;
            border-radius: 5px;
        }

        .EbQuickMoverlaySideWRpr .objListContainer .obj-item a {
            padding: 5px 20px 5px 5px;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            width: 100%;
        }

        .EbQuickMoverlaySideWRpr .objListContainer .obj-item:hover, .EbQuickMoverlaySideWRpr .objListContainer .obj-item:hover .obj-icon {
            background: #508bf9;
            color: #f5f3f3;
        }

            .EbQuickMoverlaySideWRpr .objListContainer .obj-item:hover .btn-setfav {
                display: block;
            }

    .EbQuickMoverlaySideWRpr .objListContainer .ebm-objlist {
        overflow-y: auto;
        height: 100%;
    }

        .EbQuickMoverlaySideWRpr .objListContainer .ebm-objlist::-webkit-scrollbar {
            width: 10px;
        }

        .EbQuickMoverlaySideWRpr .objListContainer .ebm-objlist::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .EbQuickMoverlaySideWRpr .objListContainer .ebm-objlist::-webkit-scrollbar-thumb {
            background-color: #ececec;
            border-radius: 100px;
        }

.EbQuickMoverlaySideWRpr .newObjectContainer {
    background: white;
    display: none;
    flex-flow: column nowrap;
    border-left: 1px solid #ccc;
}

    .EbQuickMoverlaySideWRpr .newObjectContainer .newObjectContainer-inner {
        height: 100%;
        overflow-y: auto;
        display: inline-grid;
        grid-auto-flow: column;
        border-top: 1px solid #ccc;
        grid-template-rows: repeat(6, auto);
    }

    .EbQuickMoverlaySideWRpr .newObjectContainer .ebm_newob {
        text-align: center;
        padding: 5px 5px;
        width: 150px;
        border: 1px solid #ccc;
        border-top: none;
        border-left: none;
        text-decoration: none;
        position: relative;
    }

        .EbQuickMoverlaySideWRpr .newObjectContainer .ebm_newob a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-items: center;
            text-decoration: none;
        }

    .EbQuickMoverlaySideWRpr .newObjectContainer .eb-newobj-comingsoon-frmenu:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        pointer-events: none;
    }

    .EbQuickMoverlaySideWRpr .newObjectContainer .ebm_newob:hover, .newObjectContainer .ebm_newob:hover .ebm-newob-icon, .newObjectContainer .ebm_newob:hover .ebm-newob-text {
        background: #508bf9;
        color: white;
    }

        .EbQuickMoverlaySideWRpr .newObjectContainer .ebm_newob:hover.eb-newobj-comingsoon-frmenu:after {
            content: "Coming Soon";
            background: #508bf9;
        }

    .EbQuickMoverlaySideWRpr .newObjectContainer .ebm-newob-icon {
        font-size: 20px;
    }

    .EbQuickMoverlaySideWRpr .newObjectContainer .ebm-newob-text {
        color: #5a5858;
    }

    .EbQuickMoverlaySideWRpr .ebmSearchBox {
        display: flex;
        align-items: center;
        flex-grow: 1;
        max-width: 330px;
    }

    .EbQuickMoverlaySideWRpr .ebmSearchBox .form-control {
        height: 30px !important;
    }

.EbQuickMoverlaySideWRpr .securityContainer {
    display: none;
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ccc;
}

    .EbQuickMoverlaySideWRpr .securityContainer .securityContainer-inner {
        height: 100%;
        width: 100%;
    }

.EbQuickMoverlaySideWRpr .active_link {
    background-color: #508bf9;
    color: white;
}

    .EbQuickMoverlaySideWRpr .active_link i {
        background-color: #508bf9;
        color: white;
    }

    .EbQuickMoverlaySideWRpr .active_link .apibox {
        color: white;
    }

    .EbQuickMoverlaySideWRpr .active_link::before {
        font-family: FontAwesome;
        content: "\f054";
        float: right;
    }

.EbQuickMoverlaySideWRpr .btn-setfav {
    margin-left: auto;
    color: #d0c7c7;
    margin-right: 5px;
    border-radius: 3px;
    background: white;
    border-style: none;
}

.EbQuickMoverlaySideWRpr .favourited {
    color: #f35353;
    margin-left: auto;
    margin-right: 5px;
    background-color: transparent;
    border-style: none;
    cursor: default;
}

.EbQuickMoverlaySideWRpr .btn-new-tab {
    margin-left: auto;
    color: #508bf9;
    margin-right: 5px;
    border-radius: 3px;
    background: white;
    border-style: none;
}

.EbQuickMoverlaySideWRpr .ebmSearchBox:before {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    margin-left: 10px;
}

.EbQuickMoverlaySideWRpr .obj-item-categorised {
}

    .EbQuickMoverlaySideWRpr .obj-item-categorised .head {
        padding: 5px 10px;
        color: #2c69da;
        font-weight: 400;
    }

        .EbQuickMoverlaySideWRpr .obj-item-categorised .head i {
            color: #508bf9;
            width: 20px;
        }

    .EbQuickMoverlaySideWRpr .obj-item-categorised .body {
    }

        .EbQuickMoverlaySideWRpr .obj-item-categorised .body .obj-item {
            padding-left: 23px;
        }

    .EbQuickMoverlaySideWRpr .obj-item-categorised .head .category_objCount {
        margin-left: 5px;
    }

.EbQuickMoverlaySideWRpr [klink='true']:focus {
    background-color: #508bf9;
    color: white;
    outline: none;
}

    .EbQuickMoverlaySideWRpr [klink='true']:focus a {
        color: white;
    }

    .EbQuickMoverlaySideWRpr [klink='true']:focus i {
        color: white;
    }

.EbQuickMoverlaySideWRpr .objListContainer [klink='true']:focus i {
    color: #d0c7c7;
}

.EbQuickMoverlaySideWRpr .objListContainer [klink='true']:focus .favourited {
    color: #f35353;
}

.EbQuickMoverlaySideWRpr .obj_count {
    margin-left: 0.4em;
}
