.tab-section-common .nav-tabs {
    border-bottom: 2px solid #316396;
    padding-bottom: 1px;
}

.tab-section-common {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 4px solid #f2f2f2;
}

.tab-cont-common {
    margin-top: 34px;
}

.dashbord {
    display: none;
    height: 100%;
    color: #ffffff;
    padding: 15px;
    padding-top: 34px;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    opacity: 0.5;
    right: -380px;
    width: 380px;
    background-color: #f8f8f8;
    -webkit-box-shadow: -2px 0 6px 0 rgba(0,0,0,.15);
    -moz-box-shadow: -2px 0 6px 0 rgba(0,0,0,.15);
    box-shadow: -2px 0 6px 0 rgba(0,0,0,.15);
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    overflow: auto;
    animation-duration: 0.3s;
}

.prof_dp {
    width: 40px;
}

.dashbord .box2, .box4 {
    height: auto;
    padding: 0;
    width: 100%;
}

.dashbord .box3 {
    padding-right: 0;
}

.dashbord .box4 > .bootstrap-select {
    padding: 0px;
}

.dashbord .box4 .bootstrap-select .btn {
    height: 25px;
    border: none;
    border-radius: 0;
    background: white;
    color: black;
    padding: 0px 0px 0px 7px;
}

.codedit .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    /*width: 183px;*/
}

.dashbord .card1 {
    margin-top: 10px;
    padding: 0;
    color: #2f323b;
    border-radius: 3px;
}

.dashbord .count {
    font-size: 15px;
    color: #949ba2;
}

.dashbord .head {
    font-size: 13px;
    color: #5f5f5f;
    font-weight: 600;
}

.card_body {
    width: 100%;
    background: white;
    border-radius: 4px;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 12px 10px;
    margin-top: 10px;
    position: relative;
}

    .card_body .bootstrap-tagsinput {
        background-color: none;
        border: none;
        box-shadow: none;
    }

    .card_body .card1-mid {
        position: absolute;
        right: 10px;
    }

.dashbord .icons {
    margin-right: 10px;
}

.dashbord .txtarea {
    width: 100%;
    height: 180px !important;
}

.objectDashB-toolbar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    padding: 2px 2px 2px 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
    display: flex;
    flex-flow: row;
}

    .objectDashB-toolbar .toolbar-brd-Container {
        max-width: 55%;
    }

    .objectDashB-toolbar .toolbar-buttons-Container {
        margin-left: auto;
    }

.app_div {
    padding-right: 0px;
    padding-left: 0px;
}

    .app_div .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 219px;
    }

.mr-0 {
    margin: 0 !important;
}

.brd_cr_t {
    /*float: left;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    border-left: 1px solid #ccc;
}

    .brd_cr_t .brd_row {
        font-size: 11px;
        color: #3b89ce;
    }

        .brd_cr_t .brd_row a {
            color: inherit !important;
            cursor: pointer;
        }

.Obj_title {
    font-size: 13px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pd-0 {
    padding: 0;
}

.toolbar2 {
    margin-top: 5px;
}

.obj_list_shortCut {
    float: left;
    background-color: transparent;
    color: #336699;
    padding: 3px 12px;
    font-size: 18px;
}

.toolicons .btn {
    background-color: transparent;
    color: #336699;
    padding: 3px 12px;
    font-size: 18px;
    margin-right: 5px;
}

    .toolicons .btn[role='save-draft'], .toolicons .btn[role='delete-draft'] {
        display: none;
    }

    .toolicons .btn:hover {
        background-color: #e4e4e4;
        border-radius: 0;
        outline: none;
        border-radius: 4px;
    }

    .toolicons .btn:focus {
        background-color: #e4e4e4;
        border-radius: 0;
        outline: none;
        border-radius: 4px;
    }
/*profile image and dropdown style*/
.obj_dash_proimage_drp {
    /*float: right;*/
    display: inline-block;
}

    .obj_dash_proimage_drp .dropdown-menu {
        right: 4px;
        left: unset;
        padding: 0;
        border-radius: 6px;
        top: 40px;
    }

.drp_ul {
    list-style: none;
    padding: 10px;
    background-color: white;
    min-width: 270px;
    width: 290px;
    margin: 0;
    z-index: 100;
    border-radius: 6px;
}

.drp_item a {
    cursor: pointer;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 8px 20px 8px 20px;
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #333;
    align-items: center;
}

.drp_item:hover {
    background: #f1f1f1;
    border-radius: 6px;
}

    .drp_item:hover a {
        text-decoration: none;
    }

.drp_item a i {
    margin-right: 3rem;
}

.drp_item .user_info {
    padding: 5px 5px 5px 10px;
}

    .drp_item .user_info h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .drp_item .user_info p {
        margin: 3px 0;
    }

.proimage_inner {
    width: 50px;
}

.obj_dash_proimage {
    height: 32px;
    margin-right: -4px;
    cursor: pointer;
    border: 1px solid #8080873b;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.obj_dash_proname {
    display: inline-block;
    border-radius: 0 5px 5px 0;
    border: 1px solid #8080873b;
    padding: 7px 4px 6px 5px;
    border-left: none;
    font-size: 12px;
    cursor: pointer;
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
/*profile image and dropdown style end.....................*/
.notification_menu {
    position: relative;
}

/*.notification_menu:after {
        content: "10";
        position: absolute;
        font-size: 9px;
        width: 15px;
        border-radius: 50%;
        background-color: #f90a0a;
        height: 15px;
        color: white;
        border: 2px solid #f90a0a;
        right: 5px;
        top: -1px;
    }*/

.dashbord .userimg {
    float: left;
    display: inline;
}

.dashbord .profileInfo {
    margin-left: 35px;
}

.dashbord .firstcommit {
    width: 100%;
    min-height: 60px;
    padding-right: 20%;
}

.dashbord .workcopies {
    overflow-y: auto;
    font-size: 13px;
}

.workcopies::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.workcopies::-webkit-scrollbar {
    width: 10px;
    background-color: #605b5b;
}

.workcopies::-webkit-scrollbar-thumb {
    background-color: #6f6f6f;
    border-radius: 6px;
}

.dashbord .smallfont {
    font-size: 12px;
}

.dashbord .xtrasmall {
    font-size: 10px;
    margin-bottom: 5px;
}

li:hover {
    cursor: pointer;
}

.toolicons .bootstrap-select {
    padding: 0;
}

    .toolicons .bootstrap-select .btn {
        height: 25px;
        border: none;
        border-radius: 0;
        background: white;
        color: black;
        padding: 0px 0px 0px 7px;
    }

/*.bootstrap-select .btn {
    font-size: 12px;
}*/

.open li {
    font-size: 12px;
}

.dashbord .card1-botm {
    padding-left: 5px;
}

.box5 {
    margin-left: 17px !important;
}

.wrkcpylink {
    text-decoration: none;
}

.codedit .tab-section-common .nav > li > a {
    background-color: transparent;
    width: 150px;
    padding: 4px 15px;
    text-align: center;
    border: none;
    border-bottom: none;
    border-radius: 0;
    background-color: #eee;
    border-top-left-radius: 2px;
}

    .codedit .tab-section-common .nav > li > a::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 27px solid white;
        border-left: 19px solid transparent;
        position: absolute;
        top: 0;
        right: 0px;
    }

.codedit .tab-section-common .nav > .active a {
    background: #316396;
    color: white;
}
/*changelog*/
.changLog-container {
    display: none;
    width: 500px;
    height: 215px;
    position: fixed;
    left: 29%;
    top: 20%;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.txt-area:empty:not(:focus):before {
    content: attr(placeholder);
    color: gray;
}

.imagesec {
    background: #ececec;
    height: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-sec {
    height: 150px;
}

.commit-btn {
    background-color: #316396;
    padding: 5px 10px;
    border-radius: 0px;
}

.txt-area {
    width: 100%;
    height: 60%;
    padding: 5px;
    margin: 5px;
}

.textaerea-sec {
    padding: 0;
    height: inherit;
}

.chlog-top {
    width: 100%;
    background: #316396;
    padding: 5px;
}

    .chlog-top .btn {
        background-color: transparent;
        border: none;
        color: white;
        display: inline-block;
        float: right;
        margin-top: -2px;
    }

.ch-l-title {
    width: 202px;
    color: white;
    display: inline;
    font-size: 16px;
}

.svgicon {
    width: 100px;
    height: 100px;
}

.submitsec-changeLog {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #5dddd3;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 3px;
}

    .submitsec-changeLog i {
        color: white;
        font-size: 25px;
    }

.img-thumbnail {
    padding: 2px;
}

.sid_sec_Common {
    color: #528ff0;
    font-weight: 700;
}

.eb_slash {
    margin: 0 3px;
}

.eb_context {
    color: #494e52;
}

.objectDashB-toolbar .solution_logo_cont {
    height: 33px;
    padding: 2px;
    margin-right: 10px;
}

.objectDashB-toolbar .solution_logo {
    height: 100%;
    width: auto;
}
/*from cshtml of object dash*/
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

    .tt-suggestion.tt-cursor, .tt-suggestion:hover {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

.app-container > .bootstrap-tagsinput {
    height: 97px;
    overflow-y: auto;
    background-color: #fafafa;
    border: none;
    box-shadow: none;
    width: 100%;
}

.dashbord .bootstrap-tagsinput .label-info {
    background-color: #676a8e;
}

.dashbord .bootstrap-tagsinput .twitter-typeahead {
    position: inherit !important;
}

.app-container .tt-dropdown-menu {
    box-shadow: 5px 5px 5px 5px;
    background: white;
}

.tag-container .tt-dropdown-menu {
    box-shadow: 5px 5px 5px 5px;
    background: white;
}

.tag-container .tt-hint {
    opacity: 0;
}

.profilerswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .profilerswitch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .profilerswitch .proslider {
        position: absolute;
        cursor: pointer;
        top: 5px;
        left: 0;
        right: 12px;
        bottom: 5px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .profilerswitch .proslider:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

input:checked + .proslider {
    background-color: #2196F3;
}

input:focus + .proslider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .proslider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.proslider.round {
    border-radius: 34px;
}

    .proslider.round:before {
        border-radius: 50%;
    }
/* Rounded sliders */

.LocInfCr {
    float: left;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 10px;
    font-weight: 500;
    cursor: pointer;
}

#switch_finyear {
    color: #336699;
}

    #switch_finyear:hover, #switch_finyear:active, #switch_finyear:focus {
        background: #3487da;
        color: white;
    }

.LocInfCr:hover, .LocInfCr:active, .LocInfCr:focus {
    background: #3487da;
    color: white;
}

.LocInfCr .Loc_type {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11px;
}

#language-switcher-btn {
    display: inline-block;
}

    #language-switcher-btn .bootstrap-select {
        width: 62px;
    }

    #language-switcher-btn .dropdown-toggle {
        background: transparent;
        color: #336699;
        font-size: 12px;
        padding: 6px 4px;
        border-radius: 4px;
        outline: none !important;
        height: 32px;
    }

    #language-switcher-btn .bootstrap-select .dropdown-toggle .caret {
        right: 4px;
    }

    #language-switcher-btn .dropdown-toggle:hover {
        background-color: #e4e4e4;
    }


.btn-select {
    position: relative;
    display: inline-block;
    padding: 0 !important;
}

    .btn-select .bootstrap-select .dropdown-toggle .filter-option-inner {
        display: none !important;
    }


    .btn-select .savebtn {
        position: absolute;
        left: 0;
        z-index: 2;
        background-color: transparent;
        border: none;
        top: 0;
        padding: 2px 8PX 4px 8PX;
        border-radius: 4px 0 0 4px !important;
    }

        .btn-select .savebtn:hover {
            background-color: #e4e4e4 !important;
            outline: none !important;
            border-radius: 4px 0 0 4px !important;
            border: none;
        }

    .btn-select .dropdown-toggle {
        padding: 15px !important;
        border-radius: 4px !important;
    }

        .btn-select .dropdown-toggle:hover {
            background-color: #e4e4e4 !important;
            outline: none !important;
            border-radius: 4px !important;
        }

    .btn-select .bootstrap-select.dropdown {
        width: 60px !important;
    }

    .btn-select .dropdown-menu > li > a, .btn-select .caret {
        color: #336699;
    }

    .btn-select .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #fff;
    }

    .btn-select .dropdown-menu > li > a {
        /*padding: 5px 14px !important;*/
    }

    .btn-select .dropdown-menu {
        border-radius: 2px !important;
    }

@media (max-width: 768px) {

    .obj_dash_proimage {
        border-radius: 5px;
        margin-right: unset;
    }

    .obj_dash_proname {
        display: none;
    }

    #notificaionandprofile {
        margin: 0;
        display: inline-block;
    }

    .obj_icons {
        display: inline-block;
    }

    .toolicons .btn {
        margin: unset;
        padding: 3px 4px;
    }

    .objectDashB-toolbar .solution_logo_cont {
        display: none;
    }

    .LocInfCr {
        display: none !important;
    }

    .EbQuickMoverlaySideWRpr {
        min-width: unset !important;
    }

    .brd_cr_t.EbHeadTitle .brd_row {
        display: none !important;
    }

    #eb-expand-nfWindow {
        display: none !important;
    }

    .Obj_title {
        max-width: 150px;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.2;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
    }

    #webformprint-selbtn, #subformprint-selbtn {
        display: none !important;
    }

    .subformopen, .subformmaximize, .sfh-loc {
        display: none !important;
    }

    .sfh-title {
        border-left: none !important;
    }

    .sf-cont-body {
        height: calc(100vh - 38px) !important;
        top: 19px !important;
    }
}

@media (max-width: 1020px) {
    .toolb-srchbx-wrpr {
        display: none !important;
    }
}

@media (min-width: 768px) {
    #mnuLocSwchBtn {
        display: none !important;
    }

    #upro_drp_itm_noti {
        display: none !important;
    }
}

/*medial queries for tablets*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}


/*  Anoopa notifications window styles*/
.notification_alert {
    position: absolute;
    font-size: 9px;
    width: 15px;
    border-radius: 50%;
    background-color: #f90a0a;
    height: 15px;
    color: white;
    border: 2px solid #f90a0a;
    right: 5px;
    top: -1px;
}

.eb-notification-window {
    display: none;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    z-index: 8;
    width: 350px;
    background: white;
}

    .eb-notification-window .nf-window-tabstyle {
        font-size: 12px;
        color: #333;
        background-color: transparent !important;
        border: none;
    }

    .eb-notification-window .nf-link-container {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        margin: 0;
        padding: 10px;
    }

    .eb-notification-window .nav-tabs {
        display: flex;
    }

        .eb-notification-window .nav-tabs .nav-item a {
            padding: 10px 8px;
            margin-right: 0
        }

    .eb-notification-window .nf-tile {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
        padding: 10px;
        margin-bottom: 9px;
        border-radius: 4px;
        background: white;
    }

        .eb-notification-window .nf-tile a {
            text-decoration: none;
        }

    .eb-notification-window .nf-seemore {
        height: 40px;
        background-color: #ececec;
        border-top: 1px solid #dedede;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
    }

        .eb-notification-window .nf-seemore .footer-btn {
            padding: 5px;
            font-size: 12px;
            color: #508bf9;
            border-radius: 5px;
            background: white;
            border: 1px solid #508bf9;
            text-decoration: none;
        }

.blink-when-new {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.eb-notification-window .pending_action_inner {
    word-wrap: break-word;
}

.eb-notification-window .notification-inner {
    word-wrap: break-word;
}

.eb-notification-window .pending_action_inner h5 {
    font-weight: 500;
    color: #504e4e;
}

.eb-notification-window .notification-inner h5 {
    font-weight: 500;
    color: #504e4e;
}

.eb-notification-window .pending_date {
    margin: 0;
    font-size: 11px;
    color: #7b7b7b;
}

.eb-notification-window .pending_action_inner .status-icon {
    margin-right: 5px;
}

.eb-notification-window .pending_action_inner .status-label {
    margin-right: 5px;
    font-size: 11px;
    font-weight: 500;
}

/*#region SupportTicket*/
#tr-window.tr {
    width: 550px !important;
}

#tr-window .trhead {
    color: #4D86D6;
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 29px;
}

#tr-window .trhlo {
    margin-left: -39rem;
}

#tr-window .trli {
    font-family: 'Blinker', sans-serif;
    font-size: 18px !important;
}



#tr-window .trfooter-btn {
    background-color: #4D86D6; /* Background color for the button */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: background-color 0.3s;
}


    #tr-window .trfooter-btn:hover {
        background-color: #3C70A4;
    }

    #tr-window .trfooter-btn i {
        margin-right: 5px;
    }

#tr-window .trcreate-ticket-btn {
    text-decoration: none;
}

#tr-window .trfstyled-tab-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

#tr-window .trfstyled-tab {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#tr-window .trfstyled-tab-item {
    flex: 1;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

    #tr-window .trfstyled-tab-item a {
        display: block;
        padding: 10px 0;
        color: #333;
        text-decoration: none;
        border: none;
        border-radius: 0;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #tr-window .trfstyled-tab-item .active {
        background-color: #182E50 !important;
        color: #fff !important;
    }


    #tr-window .trfstyled-tab-item a:hover {
        background-color: #182E50 !important;
        color: #fff !important;
    }


    #tr-window .trfstyled-tab-item:first-child a {
        border-radius: 8px 0 0 8px; /* Rounded corners for the first item */
    }

    #tr-window .trfstyled-tab-item:last-child a {
        border-radius: 0 8px 8px 0; /* Rounded corners for the last item */
    }



#tr-window .tinf_form {
    display: flex; /* Flexbox for layout */
    flex-wrap: wrap; /* Wrap to new line if needed */
}

#tr-window .tinf_row {
    display: flex; /* Flexbox for horizontal alignment */
    gap: 20px; /* Space between columns */
    width: 100%; /* Full width */
    height: 55vh;
}

#tr-window .tinf_col {
    flex-basis: 70%; /* Default to 70% */
}

#tr-window .tinf_col-right {
    flex-basis: 30%; /* 30% width for the right column */
    margin-left: -12px;
}

#tr-window .tinf_form-group {
    margin-bottom: 15px; /* Spacing between form groups */
}

#tr-window #tinf_status,
#tr-window #tinf_comments {
    width: 98%; /* Full width for inputs */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #ccc; /* Border for inputs */
    padding: 10px; /* Padding for inputs */
}



#tr-window .tinf_type-radio {
    display: none; /* Hide default radio buttons */
}

#tr-window .tinf_type-switch {
    display: flex; /* Flexbox for switch */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute space evenly between items */
    border: 1px solid #182E50; /* Border for the switch */
    border-radius: 25px; /* Rounded corners for the entire switch */
    overflow: hidden; /* Clip content inside rounded corners */
    background-color: transparent; /* Make background transparent */
    width: 140px; /* Fixed width for switch */
    cursor: pointer; /* Pointer cursor for switch */
    position: relative; /* Position relative for inner elements */
}

#tr-window .tinf_type-label {
    flex: 1; /* Each label takes equal space */
    padding: 10px 0; /* Padding for labels (adjusted) */
    text-align: center; /* Center text */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    border-radius: 25px; /* Make individual labels' corners rounded */
    font-weight: 400;
    line-height: 1; /* Ensure proper line height */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox for inner alignment */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    height: 100%; /* Full height of the switch */
}

#tr-window .tinf_type-radio:checked + .tinf_type-label {
    background-color: #182E50; /* Active background color */
    color: white; /* Active text color */
    height: calc(100% + 4px); /* Slightly larger to fill the border space */
    margin: -2px 0; /* Adjust margin to align with the border */
}


#tr-window #tinf_priority {
    width: 100%; /* Full width for select */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Padding for select */
    appearance: none; /* Remove default styling */
    -moz-appearance: none; /* Remove Firefox default styling */
    -webkit-appearance: none; /* Remove Safari default styling */
    background-position: right 10px center; /* Position the arrow */
    background-repeat: no-repeat; /* Prevent repeating background */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='none' stroke='%23333' stroke-width='1.5' d='M1 3l4 4 4-4'/%3E%3C/svg%3E"); /* Custom arrow */
}

    #tr-window #tinf_priority option {
        padding: 10px; /* Padding for options */
        color: black; /* Text color for options */
        font-size: 14px; /* Font size for readability */
    }

        #tr-window #tinf_priority option:before {
            content: '\25CF '; /* Unicode character for dot */
            color: inherit; /* Use inherited color for dot */
            display: inline-block; /* Ensure dot stays with text */
            margin-right: 5px; /* Space between dot and text */
            vertical-align: middle; /* Align dot with text */
        }


#tr-window .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#tr-window .thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    #tr-window .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

#tr-window .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

#tr-window .attachment-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Slightly darker background */
    z-index: 9999;
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
    padding: 20px; /* Padding to ensure content is not right against the edges */
}

#tr-window .attachment-popup-content {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90%; /* Maximum width relative to the screen size */
    max-width: 600px; /* Set a maximum width */
    max-height: 80%; /* Maximum height to prevent overflow */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #tr-window .attachment-popup-content img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Ensures the image fits well within its container */
    }

    #tr-window .attachment-popup-content .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        z-index: 100; /* Ensures the close button is above other elements */
    }

        #tr-window .attachment-popup-content .close:hover {
            color: #ff3c41;
        }

#tr-window .attachment-item img {
    width: 100px; /* Thumbnail size */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    #tr-window .attachment-item img:hover {
        transform: scale(1.05); /* Slightly enlarge on hover for effect */
    }

#tr-window .attachment-item {
    position: relative;
}

#tr-window .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px 7px;
    font-size: 14px;
    color: #333;
}

    #tr-window .remove-btn:hover {
        background: rgba(255, 255, 255, 1);
    }


#tr-window .trcmnt_comments-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Ensure it fits within the available space */
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px; /* Gap between comments and input */
}

#tr-window #comments-tab .trcmnt_form {
    position: relative; /* Use relative positioning to stay above footer */
    bottom: 0; /* Align at the bottom of the parent container */
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 10; /* Ensure it is above other content */
}

#tr-window #comments-tab .trcmnt_comments-display {
    max-height: calc(100% - 60px); /* Adjust for footer height */
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

#tr-window .trcmnt_input-group {
    display: flex;
    align-items: center;
}

#tr-window .trcmnt_input {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid black;
}

#tr-window .trcmnt_send-btn {
    padding: 6px 12px;
}

#tr-window .trcmnt_comment-box {
    background-color: #D0E2FF;
    border: 1px solid #D0E2FF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

    #tr-window .trcmnt_comment-box small {
        font-size: 10px;
        color: #666;
    }

#tr-window .trcmnt_username {
    position: absolute;
    top: 5px;
    left: 10px; /* Move username to the left side */
}

#tr-window .trcmnt_timestamp {
    position: absolute;
    top: 5px;
    right: 10px; /* Move timestamp to the right side */
}

#tr-window .trcmnt_para {
    margin-top: 2rem;
}

/* Adjust the footer positioning */
#tr-window .tr-footer {
    position: sticky;
    bottom: 0;
    background-color: #182E50;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20; /* Make sure it's on top of the form */
}


#tr-window .trsuc_circle-checkmark {
    position: relative;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto; /* Center the circle-checkmark below the text */
}

    #tr-window .trsuc_circle-checkmark .circle {
        width: 100%;
        height: 100%;
        background-color: #4CAF50;
        border-radius: 50%;
        animation: circleInOut 5s ease-in-out forwards;
        /* Animation will leave the circle visible */
    }

    #tr-window .trsuc_circle-checkmark .checkmark {
        position: absolute;
        font-size: 60px;
        color: white;
        animation: checkmarkInOut 4s ease-in-out forwards;
        /* Animation will leave the checkmark visible */
    }

#tr-window .ch2 {
    font-family: 'Blinker', sans-serif;
    color: #182E50;
    margin-top: 13rem;
    font-size: 20px
}

@keyframes circleInOut {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes checkmarkInOut {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    30% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#tr-window .tactive-mbox {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #D0E2FF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    #tr-window .tactive-mbox h3 {
        margin-top: 0;
        font-size: 1.2em;
    }

    #tr-window .tactive-mbox p {
        margin: 5px 0 0;
        padding-bottom: 1.5rem;
        color: #787878;
    }

#tr-window .bug-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#tr-window .tam {
    padding-left: 6px;
}

#tr-window .taround-box-input {
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #4D86D6;
    color: white;
    padding: 5px 10px;
}
/*#endregion SupportTicket*/

.color-warning {
    color: #f0ad4e;
}

.url-container {
    display: none;
    width: 90%;
    height: 12%;
    position: fixed;
    left: 5%;
    top: 5%;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.url_area {
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    background-color: #f4f2ff;
    padding: 0 10px;
    position: relative;
    margin: 0px;
    width: 90%;
    height: 30px;
    border: none;
    resize: none;
}


.srch-hdr-cont {
    display: inline-flex;
    width: calc(100% - 25px);
    font-size: 23px;
}

.search-dd {
    display: none;
    position: fixed;
    background-color: white;
    top: 38px;
    box-shadow: 0px 25px 64px 0px #3d43413d;
    width: 49%;
    z-index: 9;
    right: 0px;
    height: calc(100vh - 38px);
    overflow: hidden;
}

    .search-dd .metadtlsWrap {
        display: flex;
    }

    .search-dd .ctrldtlsWrap {
        justify-content: space-between;
        padding: 5px 0px;
        border-radius: 4px;
        outline: none;
        cursor: alias;
    }

    .search-dd .metadtlsWrap {
        display: flex;
        justify-content: space-between;
    }

    .search-dd .key {
        color: #508bf9;
        color: #508bf9e8;
        max-width: 108px;
        position: absolute;
        font-size: 9px;
        top: -5.5px;
        background-color: #f9f9f9;
        padding: 0px 3px;
    }

    .search-dd .keyval-wrap {
        border: solid 1px #cdcdcd;
        border-radius: 3px;
        margin: 0 3px;
        padding: 6px 5px 4px 6px;
        font-size: 13px;
    }

.srch-body-cont .srch-li-block:hover .keyval-wrap {
    border: solid 1px #dedede;
}


.search-dd .value, .search-dd .key {
    font-family: Roboto,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-dd .value {
    color: #5f5f5f;
    font-size: 11px;
    max-width: 170px !important;
}

.srch-hdr-cont .srch-hdr-wrpr:focus-within, .toolb-srchbx-wrpr:focus-within {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.srch-hdr-cont .srch-hdr-wrpr {
    margin: auto;
    border: solid 1px #8080873b;
    padding: 5px 15px;
    border-radius: 50px;
    position: relative;
}

.srch-hdr-cont .srch-bx {
    border: none;
    padding: 0;
}

    .srch-hdr-cont .srch-bx:focus {
        outline: none;
    }

.srch-hdr-cont .srch-btn {
    position: absolute;
    padding: 4px 10px;
    right: 0px;
    top: 0px;
    border-radius: 50px;
    color: #e2e2e3;
    border: solid 1px #eeeff761;
    border-right: none;
}

    .srch-hdr-cont .srch-btn:focus {
        outline: none;
        color: white;
        background-color: #0075ff;
    }

.toolb-srchbx-wrpr {
    display: inline-flex;
    margin: auto;
    border: solid 1px #8080873b;
    padding: 0 0 0 4px;
    border-radius: 4px;
    position: relative;
    height: 27.44px;
}


.search-dd .srch-body-cont .srch-li {
    position: relative;
    padding: 8px;
    border: solid 3px transparent;
    box-shadow: 0 1px 0 0 #f9f9f9cc;
}

    .search-dd .srch-body-cont .srch-li:focus-within {
        border-right-color: #3f95c0;
        border-left-color: #3f95c0;
        border-bottom: 3px dotted #ffffff00;
    }

.search-dd .srch-res-a:focus, .search-dd .srch-res-a:hover {
    color: #0a4fd0;
    outline: none;
}

.search-dd .srch-res-a {
    padding-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #508bf9;
    text-decoration: none;
}

.search-dd li[aria-expanded] .srch-res-a .fa {
    transition-duration: 0.3s;
    margin-right: 2px;
    font-size: 17px;
}

.search-dd li[aria-expanded="true"] .srch-res-a .fa {
    transform: rotateZ(90deg);
}

.search-dd h4 {
    margin-top: 0px;
}

.toolb-srchbx {
    border: none;
    outline: none !important;
    width: 100px;
}

#platformsearch {
    border: none;
    border-radius: 50px;
    margin: 0 !important;
    padding: 0px 7px 0px 5px;
}

.srch-body-cont {
    display: flex;
}

    .srch-body-cont .srch-li {
        border-bottom: 1px dotted #e5e5e580;
        padding: 5px 0 2px 0;
        transition-duration: 0.2s;
    }

    .srch-body-cont .srch-li-block {
        color: #666;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 7px 5px;
        padding-top: 10px;
    }

.search-dd .keyval-cont {
    margin: 5px 0;
}

.srch-body-cont .srch-li-block:hover, .srch-body-cont .srch-li-block:hover .key {
    background-color: #eceef2;
}

.srch-body-cont .metadtls {
    color: #7f8283;
    font-size: 12.2px;
    line-height: 1;
    margin: auto;
    margin-right: 0;
    text-align: right;
}

    .srch-body-cont .metadtls.lft {
        margin: auto;
        margin-left: 0;
        margin-bottom: 0;
    }

.search-dd .srch-header, .search-dd .srch-footer {
    color: #000;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 41px;
    background: #fffc;
    border-bottom: 1px solid #e6e3e3;
    background-color: #ececec;
}

.search-dd .srch-footer {
    border-top: 1px solid #e6e3e3;
    border-bottom: none;
    bottom: 0;
    height: 39px;
}

.search-dd .srch-grpby-wraper {
    display: inline-flex;
    margin: auto;
    margin-right: 10px;
}

    .search-dd .srch-grpby-wraper .srch-header-grpby {
        vertical-align: middle;
        margin-right: 6px;
        display: flex;
        margin-right: 6px;
    }

.srch-header .toggle.btn {
    min-width: 75px !important;
}

.search-dd .toggle-off.btn {
    padding-left: 17px;
}

.search-dd .srch-close {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
}

.search-dd .metaval {
    font-size: 9px;
    color: #afafafde;
}

.search-dd .nores-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-dd .srch-body-cont .srch-ul {
    padding: 0px 0 10px 0;
}

.search-dd .srch-header .toggle.btn {
    min-height: 26px;
    margin-top: 2px;
}

.search-dd .srch-header .toggle-group > label {
    font-size: 12px;
}

.search-dd .srch-header .toggle-on, .search-dd .srch-header .toggle-off {
    top: -1px !important;
}

.search-dd .gs-noresult-img {
    height: 200px;
    background-image: url(/images/noData_undraw.svg);
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.srch-body-cont .srch-ul {
    width: 100%;
    list-style-type: none;
}

.srch-body-cont .srch-ul-outer {
    width: 100%;
    padding: 0px;
    margin-top: 40px;
    list-style-type: none;
    height: calc(100vh - 116px);
    overflow-y: auto;
}


.srch-body-cont ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgb(51 122 183);*/
    background-color: rgba(214, 214, 214, 0.52);
    border-radius: 10px;
}

.srch-body-cont ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.srch-body-cont ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*background-image: var(--gbm);*/
    background-color: rgb(187 195 201);
}

#srch_loader {
    bottom: -1px;
    width: calc( 100% - 20px );
}

.srch-header-title {
    margin: auto;
    margin-left: 14px;
}

.srch-footer-summary {
    margin: auto 10px auto auto;
    position: absolute;
    right: 5px;
    font-size: 12px;
    top: 10px;
}
