
@{
    var tid = ViewBag.tenantid;
}

<div class="col-md-12 ebWizStep">
    <h4 class="">Select Tier</h4>
    <div class="col-md-3 tier">
        <a id="1" href="#" name="1" onclick="SetValue(this.id)">
            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        </a>
        <h4>Free</h4>
        <p>Expressbase Studio free version</p>
    </div>
    <div class="col-md-3 tier">
        <a href="#" id="2" name="2" onclick="SetValue(this.id)">
            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        </a>
        <h4>Professional</h4>
        <p>Expressbase Studio Professional version</p>
    </div>
    <div class="col-md-3 tier">
        <a href="#" id="3" onclick="SetValue(this.id)">
            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        </a>
        <h4>Enterprise</h4>
        <p>Expressbase Studio Enterprise version</p>
    </div>
    <div class="col-md-3 tier">
        <a href="#" id="4" onclick="SetValue(this.id)">
            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        </a>
        <h4>Unlimited</h4>
        <p>Expressbase Studio Unlimited version</p>
    </div>
</div>

<div class="col-md-12 ebWizStep">
    <h4>Account Information</h4>
    <div class="col-md-6 tier">
        <img class="img-responsive" src="~/images/your-logo.png" id="img-upload" />
    </div>
    <div class="col-md-6 pull-right tier">
        <div class="form-group">
            <div class="input-group">
                <input type="file" style="display:none;" name="file" id="file" onchange="readURLImg(this)"/>
                <input class="form-control" type="text" name="imgInp" id="imgInp" placeholder="Upload Logo">
                <span class="input-group-addon" onclick="$('#file').click();"><i class="fa fa-folder-open"></i></span>
            </div>
        </div>
        <div class="form-group">
           
            <input type="text" required="required" id="accountname" name="accountname" class="form-control" placeholder="Account Name"/>
        </div>
        <div class="form-group ">
            <input type="text" required="required" id="cid" name="cid" class="form-control" placeholder="Client id"/>
        </div>
    </div>
</div>

<div class="col-md-12 ebWizStep">
    <h3> Personal details</h3>
    <div class="col-md-8">
        <div class="form-group">
            <input type="text" id="tenantname" name="tenantname" required="required" class="form-control" placeholder="Name"/>
        </div>
        <div class="form-group">
            <input type="text" required="required" id="address" name="address" class="form-control" placeholder="Address"/>
        </div>
        <div class="form-group">
            <input  type="text" required="required" id="phone" name="phone" class="form-control" placeholder="Mobile"/>
        </div>
        <div class="form-group">
            <input  type="email" required="required" id="email" name="email" class="form-control" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="text" required="required" id="website" name="website" class="form-control" placeholder="Website" />
        </div>
        <div>
            <input type="hidden" id="imgpro" name="imgpro" />
            <input type="hidden" id="op" name="op" value="insertaccount" />
            <input type="hidden" id="tier" name="tier" value="@ViewBag.tier" />
            <input type="hidden" id="tenantid" name="tenantid" value="@ViewBag.UId" />
            
        </div>
    </div>
</div>
<style>
    .tier{
    text-align:center;
padding-top:50px;
}
.tier i{
    position:center;
}
</style>







