@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html lang="en">
<head><title>CodeMirror</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CodeMirror.commands.autocomplete = function (cm) {
                CodeMirror.showHint(cm, CodeMirror.hint.sql);
            };
            window.editor = CodeMirror.fromTextArea(code, {
                mode: "text/x-sql",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                foldGutter: {
                    rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
                },
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });
            var cid = sessionStorage.getItem("cid");
            $('#cid').val(cid);
        });
        function func()
        {
            sql = window.editor.getValue();
            var Dswzd = new EbWizard("http://localhost:53431/Tenant/ds_save", "http://localhost:53431/Tenant/SaveEbDataSource", 800, 600, "Save DataSource", "fa-database");
            Dswzd.CustomWizFunc = (new CustomWizFuncs).DataSource;
        }
    </script>
</head>
<body>

        <textarea id="code" name="code" class="code"> enter code</textarea>
        <p>Hit Ctrl+Space to trigger autocomplete</p>
        <input type="hidden" id="cid" name="cid" />
        <div class="btn btn-lg btn-primary save_ds" id="save" onclick="func();">Save</div>


</body>

</html>
<style>
      .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }
      .CodeMirror{
          height:500px;
          background-color:azure;
      }
</style>