@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>
    <title>Code editor</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript">
        var obname;
        var obdesc;
        var objid;
        $(document).ready(function () {
            //var hint_type;
            //var mode_type;
            //if (obj_type === Objects.EbObjectType.DataSource || obj_type === Objects.EbObjectType.SqlFunctions)
            //{
            //    hint_type = CodeMirror.hint.sql;
            //    mode_type="text/x-sql"
            //    alert(hint_type,mode_type);
            //}
            //else if (obj_type === Objects.EbObjectType.JavascriptValidators || obj_type === Objects.EbObjectType.JavascriptFunctions)
            //{
            //    hint_type=CodeMirror.hint.javascript;
            //    mode_type = "javascript";
            //}
            CodeMirror.commands.autocomplete = function (cm) {
                //(obj_type === Objects.EbObjectType.DataSource || obj_type === Objects.EbObjectType.SqlFunctions) ? CodeMirror.showHint(cm, CodeMirror.hint.sql) :
                CodeMirror.showHint(cm, CodeMirror.hint.javascript);
            };
            window.editor = CodeMirror.fromTextArea(code, {
                mode:
                    "text/x-sql",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                foldGutter: {
                    rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
                },
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });
           
            if ($("#objid").val() !== "") {
                $.post("http://localhost:53431/Tenant/GetByteaEbObjects_json", { "TenantAccountId": $("#tcid").val(), "objid": $("#objid").val() }, function (result) {
                    $.each(result, function (i) {
                        window.editor.setValue(result[i].sql);
                        obdesc = result[i].description;
                        obname = result[i].name;
                        objid = i;
                        document.title = obname;
                    })
                })
                  }
                  });
        $(document).keydown(function (e) {
            if (e.keyCode == 83 && e.ctrlKey) {
                e.preventDefault();
                $(".save").trigger("click");
            }
        });
        function func() {
            sql = window.editor.getValue();
            var Dswzd = new EbWizard("http://localhost:53431/Tenant/ds_save", "http://localhost:53431/Tenant/SaveEbDataSource", 800, 600, "Save DataSource", "fa-database");
            Dswzd.CustomWizFunc = (new CustomWizFuncs).DataSource($("#tcid").val());
        }
    </script>
</head>
<body>
    <span>
        <a href="#" class="save" data-toggle="tooltip" title="Save" onclick="func();"><i class="btn btn-xs btn-default fa fa-save fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="rel_obj" data-toggle="tooltip" title="Related Objects"><i class="btn btn-xs btn-default fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="ver_his" data-toggle="tooltip" title="Version History"><i class="btn btn-xs btn-default fa fa-history fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="comp" data-toggle="tooltip" title="Compare"><i class="btn btn-default btn-xs fa fa-exchange fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="stat_his" data-toggle="tooltip" title="Status History"><i class="btn btn-xs btn-default fa fa-line-chart fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="samp_cod" data-toggle="tooltip" title="Sample Code"><i class="btn btn-xs btn-default fa fa-file-code-o fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="exec" data-toggle="tooltip" title="Execute"><i class="btn btn-xs btn-default fa fa-play fa-2x" aria-hidden="true"></i></a>
    </span>
    <input type="hidden" id="tcid" value="@ViewBag.TenantId" />
    <input type="hidden" id="objid" value="@ViewBag.Objid" />
    <textarea id="code" name="code" class="code"></textarea>
    <p>Hit Ctrl+Space to trigger autocomplete</p>
</body>
</html>
<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }

    .CodeMirror {
        height: 500px;
        background-color: azure;
    }
</style>