<div class="col-md-12 ebWizStep">
    <h4>Create Application</h4>
    <div class="controls-group">
        <div class="form-group">
            <label class="control-label">Application Name</label>
            <input maxlength="100" type="text" required="required" id="appname" name="appname" class="form-control" style="width:360px;" />
        </div>
        <div class="form-group align_singleLine">
            <label class="control-label">Description</label>
            <input maxlength="100" type="text" required="required" id="appdesc" name="appdesc" class="form-control" />
        </div>
    </div>
</div>