@{
    if (ViewBag.UId != null)
    {
        var uID = ViewBag.UId;
        <input type="hidden" id="id" name="id" value="@uID" />
                                        <input type="hidden" id="acid" name="acid" />
    }

}
<table>
    <tr>
        <td><div class="tdd">Database Name</div></td>
        <td><div class="tdd"><input type="text" class="form-control" id="dbname" name="dbname" required /></div></td>

    </tr>
    <tr>
        <td><div class="tdd">Server IP</div></td>
        <td><div class="tdd"><input type="text" class="form-control" id="sip" name="sip" required /></div></td>
    </tr>
    <tr>
        <td><div class="tdd">Port Number</div></td>
        <td><div class="tdd"><input type="text" class="form-control" id="pnum" name="pnum" required /></div></td>
        <td><span id="result"></span></td>
    </tr>
    <tr>
        <td><div class="tdd">Username</div></td>
        <td><div class="tdd"><input type="text" class="form-control" id="duname" name="duname" required /></div></td>
        <td><span id="result"></span></td>
    </tr>
    <tr>
        <td><div class="tdd">Password</div></td>
        <td><div class="tdd"><input type="password" class="form-control" id="pwd" name="pwd" required /></div></td>
        <td><span id="result"></span></td>
    </tr>
    <tr>
        <td><div class="tdd">Time Out</div></td>
        <td><div class="tdd"><input type="text" class="form-control" id="tout" name="tout" required /></div></td>
        <td><span id="result"></span></td>
    </tr>
    @*<td>Currently you are using same databese for all file.If you want to add more databases</td>*@
</table>