<div class="col-md-12 ebWizStep">
    <h3> Step 1</h3>
    <div class="controls-group">
        <div class="form-group">
            <label class="control-label">Database Name</label>
            <input maxlength="100" type="email" required="required" id="dbname" name="dbname" class="form-control" placeholder="Enter Database Name" />
        </div>
    </div>
</div>
<div class="col-md-12 ebWizStep">
    <h3> Step 2</h3>
    <div class="controls-group">
        <div class="form-group">
            <label class="contrlol-label">Server IP</label>
            <input maxlength="100" type="text" id="sip" name="sip" class="form-control" placeholder="Enter Server IP" />
        </div>
        <div class="form-group">
            <label class="control-label">Port Number</label>
            <input maxlength="100" type="text" required="required" id="pnum" name="pnum" class="form-control" placeholder="Enter Port Number" />
        </div>
        <div class="form-group">
            <label class="control-label">Username</label>
            <input maxlength="100" type="text" required="required" id="duname" name="duname" class="form-control" placeholder="Enter Username" />
        </div>
    </div>
</div>
<div class="col-md-12 ebWizStep">
    <h3> Step 3</h3>
    <div class="controls-group">
        <div class="form-group">
            <label class="control-label">Port Number</label>
            <input maxlength="100" type="text" required="required" id="pnum" name="pnum" class="form-control" placeholder="Enter Port Number" />
        </div>
        <div class="form-group">
            <label class="control-label">Username</label>
            <input maxlength="100" type="text" required="required" id="duname" name="duname" class="form-control" placeholder="Enter Username" />
        </div>
        <div class="form-group">
            <label class="control-label">SSL</label>
            <input id="ssl" name="ssl" maxlength="100" type="text" class="form-control" value="true" disabled />
        </div>
        <div class="form-group">
            <label class="control-label">SSL</label>
            <input id="ssl" name="ssl" maxlength="100" type="text" class="form-control" value="true" disabled />
        </div>
        <div class="form-group">
            <label class="control-label">Time Out</label>
            <input maxlength="100" type="text" required="required" id="tout" name="tout" class="form-control" placeholder="Enter Time Out" />
        </div>
    </div>
</div>
@*<div class="col-md-12 ebWizStep">
        <h3> Step 4</h3>
        <div class="form-group">
            <label class="control-label">Username</label>
            <input maxlength="100" type="text" required="required" id="duname" name="duname" class="form-control" placeholder="Enter Username" />
        </div>
    </div>
    <div class="col-md-12 ebWizStep">
        <h3> Step 5</h3>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input maxlength="100" type="password" required="required" id="pwd" name="pwd" class="form-control" placeholder="Enter Password" />
        </div>
    </div>
    <div class="col-md-12 ebWizStep">
        <h3> Step 6</h3>
        <div class="form-group">
            <label class="control-label">SSL</label>
            <input id="ssl" name="ssl" maxlength="100" type="text" class="form-control" value="true" disabled />
        </div>
    </div>
    <div class="col-md-12 ebWizStep">
        <h3> Step 7</h3>
        <div class="form-group">
            <label class="control-label">Time Out</label>
            <input maxlength="100" type="text" required="required" id="tout" name="tout" class="form-control" placeholder="Enter Time Out" />
        </div>
    </div>*@



