<div class="col-md-offset-1 col-md-11 ebWizStep">
    <h3>Save datasource</h3>
    <div class="controls-group">
        <div class="form-group align_singleLine">
            <label class="control-label">DataSource Name</label>
            <input maxlength="100" type="text" required="required" id="Name" class="form-control " />
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea maxlength="100" type="text" required="required" id="Description" class="form-control"></textarea>
        </div>
            <input type="hidden" id="Sql" name="ds_sql"/>
        <input type="hidden" id="tcid" name="tcid" />
    </div>
</div>
<style>
    .form-control {
        width: 280px;
    }
</style>