
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#reload').on("click", function () {
            location.reload();
        });

        var DSList = new ObjListTbl("dslist", "Data Sources", "New DS", "code_editor?tacid=" + $('#tacid').val(), (new CustomTabFuns).dstable);
    })
</script>
@{
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    Dictionary<int, EbObjectWrapper> DsList = new Dictionary<int, EbObjectWrapper>();
    DsList = ViewBag.DSList;
}
<body>

    <div class="btn btn-sm btn-danger" id="reload"> reload</div>
    <div id="dslist" style="visibility:hidden;height:0px">
        @{
            foreach (var element in DsList)
            {
                <div class="tr">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>@element.Value.Name</label>
                        </div>
                        <div class="col-sm-5">
                        @using (Html.BeginForm("code_editor", "Tenant", FormMethod.Post, new { target = "_blank" }))
                        {
                            <input type="hidden" name="objid" value="@element.Value.Id" />
                            <input type="hidden" name="tacid" value="@ViewBag.TenantId" />
                            <input type="submit" class="btn btn-success" value="Open" />
                        }
                        </div>
                    </div>s
                </div>


            }
        }
    </div>
 <input type="hidden" id="tacid" value="@ViewBag.TenantId" />"
</body>

