@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded", id = "email_form" }))
{
<div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" id="email" name="email" placeholder="Enter your email address" />
</div>
<br />
<div class="input-group">  
    <a class="btn btn-primary" href="javascript: submitForm();">
        <i class="fa fa-sign-in fa-lg"></i> Submit
    </a>
</div>
}
<script>
    function submitForm() {
        $('#email_form').submit();
    }
</script>