<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css " />@*Dona*@
<script>
    $(document).ready(function () {
       
    });
</script>
</head>

@{
    List<string> filtervariables = new List<string>();
    filtervariables = ViewBag.ExecCode;
}
<body>
  
    @*</div>*@
</body>



<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }

    /*.small_inputBox {
        width: 35%;
    }*/
    .table-responsive {
        overflow-x: inherit;
    }

    .controls-group {
        overflow-y: inherit;
    }
</style>