<div class="col-md-offset-1 col-md-11 ebWizStep">
    <h3>Filter Dialog</h3>
    <div class="controls-group">
        @{
            List<string> filtervariables = new List<string>();
            @using System.Text.RegularExpressions
            MatchCollection mc = Regex.Matches(ViewBag.ExecCode, @"\@\w+");
            foreach (Match m in mc)
            {
                string filtervar = m.ToString().Substring(1, m.ToString().Length - 1);
                if (filtervar == "search" || filtervar == "and_search" || filtervar == "search_and" || filtervar == "where_search" || filtervar == "limit" || filtervar == "offset" || filtervar == "orderby")
                {

                }
                else
                {
                    if (!filtervariables.Contains(filtervar))
                    {
                        filtervariables.Add(filtervar);
                    }
                }
            }
            foreach (string f in filtervariables)
            {
                <div class="col-md-10">
                    <label class="align_singleLine col-md-3">@f</label>
        <select class="dropdown align_singleLine col-md-1">
            <option value="text">text</option>
            <option value="integer">integer</option>
            <option value="datetime">datetime</option>
            <option value="boolean">boolean</option>
        </select>
        <input type="text" name=@f class="align_singleLine col-md-2" />
    </div>
            }

        }
    </div>
</div>
<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }
</style>