@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
<link rel="stylesheet" type="text/css" href="~/css/style-extended-1.1.css" asp-append-version="true" />
<script>$("#signIn").remove();</script>

<div class="row payNowRow">
    <div class="wraper display-flex">
        <div class="payWrperOtr">
            <h3>App Name</h3>
            <h1 class="doller">$ 65</h1>
            <button class="ebbtn w-100 eb_btnblue">Pay Now</button>
        </div>
    </div>
</div>