@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="col-xs-6 col-md-3">
        <table>
            <tr>
                <td>
                    <div class="tdd">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Free</h3>
                                <p>Expressbase Studio free version</p>
                                <p>
                                    <a href="#" class="thumbnail">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="tdd">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Professional</h3>
                                <p>Expressbase Studio Professional version</p>
                                <p>
                                    <a href="#" class="thumbnail">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
              </td>
            </tr>
        </table>
    </div>

</div>
<style>
    .tdd {
        margin: 10px;
        width:250px
    }
</style>