@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded", id = "form" }))
{
<div class="row">
    <div class="col-xs-6 col-md-3">
        <table>
            <tr>
                <td valign="top">
                    <div class="tdd">
                        <div class="thumbnail"> 
                            <div id="free" hidden>
                              <img src="~/images/CheckMark-24x32.png" /><p>selected</p>
                            </div>
                            <div class="caption">
                                <p>  
                                    <a href="#" class="thumbnail" id="1" name="1" onclick="SetValue(this.id)">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                                <h3>Free</h3>
                                <p>Expressbase Studio free version</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div class="tdd">
                        <div class="thumbnail">
                            <div id="prof" hidden>
                                <img src="~/images/CheckMark-24x32.png" /><p>selected</p>
                            </div>
                            <div class="caption">
                                <p>
                                    <a href="#" class="thumbnail" id="2" name="2" onclick="SetValue(this.id)">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                                <h3>Professional</h3>
                                <p>Expressbase Studio Professional version</p>

                            </div>
                        </div>
                    </div>
              </td>
                <td valign="top">
                    <div class="tdd">
                        <div class="thumbnail">
                            <div id="enter" hidden>
                                <img src="~/images/CheckMark-24x32.png" /><p>selected</p>
                            </div>
                            <div class="caption">
                                <p>
                                    <a href="#" class="thumbnail" id="3" onclick="SetValue(this.id)">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                                <h3>Enterprise</h3>
                                <p>Expressbase Studio Enterprise version</p>

                            </div>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div class="tdd">
                        <div class="thumbnail">
                            <div id="unltd" hidden>
                                <img src="~/images/CheckMark-24x32.png" /><p>selected</p>
                            </div>
                            <div class="caption">
                                <p>
                                    <a href="#" class="thumbnail" id="4" onclick="SetValue(this.id)">
                                        <img src="~/images/bgm.jpg" width="300" height="500" alt="...">
                                    </a>
                                </p>
                                <h3>Unlimited</h3>
                                <p>Expressbase Studio Unlimited version</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td>
                <input type="hidden" id="tier" name="tier" />
                <input type="hidden" id="tenantid" name="tenantid" value="@ViewBag.UId" />
                
                </td></tr>
            <tr>
                <td>
                    <div class="tdd">
                        <div class="input-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-fw"></i>Login</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
}
<style>
    .tdd {
        margin: 10px;
        width:250px
    }

    img{border:solid 0px yellow; margin:10px;}
   .selected{
   box-shadow:12px 12px 22px 12px #00ff90;
  
}
</style>
<script>
    $('img').click(function () {
        $('.selected').removeClass('selected'); // removes the previous selected class
        $(this).addClass('selected'); // adds the class to the clicked image
    });

    $("#1").click(function () {
        $("#free").show();
        $("#prof").hide();
        $("#enter").hide();
        $("#unltd").hide();
    });
    $("#2").click(function () {
        $("#free").hide();
        $("#prof").show();
        $("#enter").hide();
        $("#unltd").hide();
    });
    $("#3").click(function () {
        $("#free").hide();
        $("#prof").hide();
        $("#enter").show();
        $("#unltd").hide();
    });
    $("#4").click(function () {
        $("#free").hide();
        $("#prof").hide();
        $("#enter").hide();
        $("#unltd").show();
    });
   
    function SetValue(id)
    {
        document.getElementById('tier').value = id;    
    }
</script>