@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("_PageheaderTenant");
}
<script>
    $("#signIn").hide();
    $("#signUpFree").hide();
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.css" />
<link rel="stylesheet" href="~/css/EbImageCropper.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.js"></script>
<script src="~/js/EbImageCropper.js" type="text/javascript"></script>

<style>
    .pd-0 {
        padding: 0;
    }

    .pd-r-0 {
        padding-right: 0
    }
    .mr-t-50{
        margin-top:50px;
    }
    .pd-l-0 {
        padding-left: 0
    }

    .outer-row-profsetup {
        height: 100vh;
        padding-top: 40px;
        font-family: open sans;
        font-weight: 300;
        background: #efefef;
    }

        .outer-row-profsetup label {
            font-weight: 300;
        }

        .outer-row-profsetup .profSetupSec {
            background: white;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .outer-row-profsetup .profSetupSec .form-horizontal {
        padding: 0px 100px 15px 100px;
    }

        .outer-row-profsetup .set-form-head {
            width: 100%;
            height: 60px;
            background: #339bb3;
            color: white;
            font-size: 20px;
            padding: 10px;
        }

    .outer-row-profsetup .set-form-head img {
        height: 100%;
        float: right;
        display: inline-block;
        background: white;
    }

    .outer-row-profsetup .set-form-head-name {
        display: inline-block;
    }

    .outer-row-profsetup .cropie {
        max-width: 100%;
        height: 500px;
        padding-bottom: 50px;
    }

    .outer-row-profsetup .skip-btn {
        border: none;
        background: none;
    }

    .outer-row-profsetup .savebtn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }
        .outer-row-profsetup .savebtn .btn {
            font-family: open sans;
            font-weight: 300;
            color: #fff;
            background-color: #339bb3;
        }
</style>
@*@{
        var img = (ViewBag.ImgSrc != null) ? ViewBag.ImgSrc : "../../images/proimg.jpg";
    }*@
<section class="outer-row-profsetup">
    <div class="container pd-0 mr-t-50">
        <div class="col-md-6 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-md-offset-3 profSetupSec pd-0">
            <div class="set-form-head">
                <div class="set-form-head-name">Profile Setup</div>
                <img src="~/images/svg/user.svg" data-toggle="modal" data-target="#eb-cropie-mod" class="img-circle p-st-dp" />
            </div>
            <div class="form-horizontal">
                <br />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="Name" id="name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="email" id="email" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pd-l-0 col-md-6">
                        <label>Company</label>
                        <input class="form-control" type="text" name="Company" id="company">
                    </div>
                    <div class="pd-r-0 col-md-6">
                        <label>Employees</label>
                        <select id="employees" name="Employees" class="form-control">
                            <option value="1-10">1-10</option>
                            <option value="11-50">11-50</option>
                            <option value="51-100">51-100</option>
                            <option value="101-250">101-250</option>
                            <option value="251-500">250-500</option>
                            <option value="greater than 500">greater than 500</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pd-l-0 col-md-6">
                        <label>Designation</label>
                        <input class="form-control" type="text" name="Designation" id="designation">
                    </div>
                    <div class="pd-r-0 col-md-6">
                        <label>Country</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile" aria-hidden="true"></i></span>                       
                            <input class="form-control" type="text" name="Phone" id="phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pd-l-0 col-md-6">
                        <label>Password</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input class="form-control" type="text" name="password" id="password">
                        </div>              
                    </div>
                    <div class="pd-r-0 col-md-6">
                        <label>Repeat Password</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input class="form-control" type="text" name="Repeat-password" id="rep-password">
                        </div>          
                    </div>
                </div>
                <div class="form-group savebtn">
                    <button type="submit" class="btn">Save my Profile</button>
                </div>
            </div>          
            <input type="hidden" id="email" name="email" value="@ViewBag.email" />
            <input type="hidden" id="imgsrc" name="imgsrc" />
            <div class="Img-upload-modal" id="promodal-container"></div>
        </div>
    </div>
</section>
<div class="prof-setup-cropie">
    <div class="modal fade" id="eb-cropie-mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container cropie" id="cropsection">


            </div>
        </div>
    </div>
</div>
<script>
    $('#save').attr('disabled', 'disabled');
    var upload = new EbImageCropper({
        preview: 'profimage',
        cropperContainer: 'cropsection'
    });

        //$.post("../Tenant/ProfileSetup",
        //    {
        //        "Name": $('#name').val(),
        //        "Phone": $('#phone').val(),
        //        "Company": $('#company').val(),
        //        "Designation": $('#designation').val(),
        //        "Employees": $("#employees option:selected").text(),
        //        "Imgsrc": $('#imgsrc').val(),

        //    }, function (result) {
        //    });
</script>
