<script>
    $(document).ready(function () {
      alert('hi');
    $('#ebWizFinishB').hide();
    });
   
</script>
<div class="col-md-12 ebWizStep">
    <h4>Select database type</h4>
    <div class="controls-group">
        <table id="dtb">
            <tr>
                <td valign="top" class="border_trans hov col-md-3">
                    <a id="1" href="#" name="1" onclick="SetValue('simple')">
                        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                    </a>
                    <h4>Simple</h4>
                </td>
                <td valign="top" class="border_trans hov col-md-3">
                    <a href="#" id="2" name="2" onclick="SetValue('advanced')">
                        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                    </a>
                    <h4>Advanced</h4>
                </td>
            </tr>
        </table>
    </div>
</div>

