<div class="col-md-12 ebWizStep">
        <h4>Select database type</h4>
        <div class="controls-group">
            <div class="cc-selector">
                <input id="simple" type="radio" name="dbconf" value="simple" class="" />
                <label class="drinkcard-cc simple" for="simple">Simple</label>
                <input id="advanced" type="radio" name="dbconf" value="advanced" class="" />
                <label class="drinkcard-cc advanced" for="advanced">Advanced</label>
            </div>
        </div>
    </div>
    <style>
        .cc-selector input {
            margin: 0;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .simple {
            background-image: url(http://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2014/05/database.png);
        }

        .advanced {
            background-image: url(http://www.avsipcctv.com/sites/default/files/images/cms/multiple_databases.jpg);
        }

        .cc-selector input:active + .drinkcard-cc {
            opacity: .9;
        }

        .cc-selector input:checked + .drinkcard-cc {
            -webkit-filter: none;
            -moz-filter: none;
            filter: none;
        }

        .drinkcard-cc {
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 100px;
            height: 70px;
            -webkit-transition: all 100ms ease-in;
            -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
            /*-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
            -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);*/
        }

            .drinkcard-cc:hover {
                -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
                -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
                filter: brightness(1.2) grayscale(.5) opacity(.9);
            }

        /* Extras */
        a:visited {
            color: #888;
        }

        a {
            color: #444;
            text-decoration: none;
        }

        p {
            margin-bottom: .3em;
        }

    </style>
