@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />
<div class="row t-dash-boardrow mr-t-50">
    <div class="col-md-2 col-lg-2 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-cog fa-lg tdash-icon" aria-hidden="true"></i> Solutions<div class="tr-on-hov"></div></li>
                <li class="list-group-item"><i class="fa fa-usd fa-lg tdash-icon" aria-hidden="true"></i> Billing<div class="tr-on-hov"></div></li>
                <li class="list-group-item"><i class="fa fa-life-ring fa-lg tdash-icon" aria-hidden="true"></i> Support<div class="tr-on-hov"></div></li>

            </ul>
        </div>
    </div>
    <div class="col-md-10 col-lg-10 pull-right t-dash-workplace">
        <div class="t-container">
            <div class="tdash-box">
                <div class="tdash-box-head">
                    Solutions
                </div>
                <div class="tdash-box-body">
                    <div class="tdash-sol-box">
                        <div class="solutionhead">
                            <h4>Al Arz</h4>
                            <p>Description</p>
                        </div>
                        <div class="solutionbdy">
                            <a href="" class="btn newsolution-btn">Open</a>
                        </div>
                    </div>
                    <div class="tdash-sol-box">
                        <div class="solutionhead">
                            <h4>PassioLab</h4>
                            <p>Description</p>
                        </div>
                        <div class="solutionbdy">
                            <a href="" class="btn newsolution-btn">Open</a>
                        </div>
                    </div>
                    <div class="tdash-sol-box">                       
                        <div class="solutionbdy">
                            <a href="~/Tenant/TenantAddAccount">
                                <img src="~/images/svg/plus.svg" style="height: 45px;margin-top: 39%;" />
                            </a>
                        </div>
                        <div class="solution-footer-new">
                            Create New Solution
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div class="t-container">
            <div class="tdash-box">

            </div>
        </div>
    </div>
</div>

<script>
    $(".t-container .list-group-item").focus(function () {
        $(this).children(".tr-on-hov").css("visibility", "visible");
    }, function () {
        $(this).children(".tr-on-hov").css("visibility", "hidden");
    });
</script>







