
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .form-inline .form-group {
        margin-right: 10px;
    }

    .well-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
        border-color: rgb(53, 126, 189);
    }

    .glyphicon {
        margin-right: 5px;
    }

    .tier {
        text-align: center;
        padding-top: 50px;
    }

        .tier i {
            position: center;
        }    
    .disable-anchor i{
        color:grey;
    }   
</style>
<script>
    function SetValue(id) {
        document.getElementById('tier').value = id;
    }

</script>
<div class="container">
    <div class="row" style="margin-top: 65px !important;">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>CHOOSE YOUR PLAN
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="col-md-3 tier">
                                            <a id="1" href="#" name="1" onclick="SetValue(this.id)">
                                                <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                                            </a>
                                            <h4>Free</h4>
                                            <p>Expressbase Studio free version</p>
                                        </div>
                                        <div class="col-md-3 tier">
                                            <a href="#" id="2" name="2" onclick="SetValue(this.id)">
                                                <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                                            </a>
                                            <h4>Standard</h4>
                                            <p>Expressbase Studio Standard version</p>
                                        </div>
                                        <div class="col-md-3 tier">
                                            <a href="#" id="3" onclick="SetValue(this.id)">
                                                <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                                            </a>
                                            <h4>Professional</h4>
                                            <p>Expressbase Studio Professional version</p>
                                        </div>
                                        <div class="col-md-3 tier">
                                            <a href="#" id="4" onclick="SetValue(this.id)" class="disable-anchor" data-toggle="tooltip" data-placement="top" title="Please contact support team. support@expressbase.com">                                               
                                                <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                                            </a>
                                            <h4>Enterprise</h4>
                                            <p>Expressbase Studio Enterprise version</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-th-list">
                                </span>ACCOUNT INFORMATION
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 tier">
                                        <img class="img-responsive" src="~/images/your-logo.png" id="img-upload" />
                                    </div>
                                    <div class="col-md-6 pull-right tier">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="file" style="display:none;" name="file" id="file" onchange="readURLImg(this)" />
                                                <input class="form-control" type="text" name="imgInp" id="imgInp" placeholder="Upload Logo">
                                                <span class="input-group-addon" onclick="$('#file').click();"><i class="fa fa-folder-open"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <input type="text" required="required" id="accountname" name="accountname" class="form-control" placeholder="Account Name" />
                                        </div>
                                        <div class="form-group ">
                                            <input type="text" required="required" id="cid" name="cid" class="form-control" placeholder="Client id" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-th-list">
                                </span>REVIEW ORDER
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">

                            FOR REVIEW ORDER

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="glyphicon glyphicon-th-list">
                                </span>SAVE YOUR CARD
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-12 col-md-4 col-md-offset-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <h3 class="text-center">Payment Details</h3>
                                                <img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>CARD NUMBER</label>
                                                            <div class="input-group">
                                                                <input type="tel" class="form-control" placeholder="Valid Card Number" />
                                                                <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-7 col-md-7">
                                                        <div class="form-group">
                                                            <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                            <input type="tel" class="form-control" placeholder="MM / YY" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-md-5 pull-right">
                                                        <div class="form-group">
                                                            <label>CV CODE</label>
                                                            <input type="tel" class="form-control" placeholder="CVC" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>CARD OWNER</label>
                                                            <input type="text" class="form-control" placeholder="Card Owner Names" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-warning btn-lg btn-block">Save Card</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
