
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.css" />
<link rel="stylesheet" href="~/css/EbImageCropper.css" />
<link rel="stylesheet" href="~/css/TenantAddSolution.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.js"></script>
<script src="~/js/EbImageCropper.js" type="text/javascript"></script>
<div class="row tAddAcc" style="height:100vh">
    <div class="container detailsec">
        <div class="col-md-3 detailsec-name">
            <div class="detailsec-name-head">
                <h4>Account Info</h4>
            </div>
            <div class="detailsec-name-desc">

            </div>
        </div>
        <div class="col-md-9 detailsec-form">
            <div class="col-md-6 tier">
                <div class="form-group">

                    <input type="text" required="required" id="accountname" name="accountname" class="form-control" placeholder="Solution Name" />
                </div>
                <div class="client-id-sec">
                    <input type="text" required="required" id="cid" name="cid" class="form-control input-clientId" placeholder="Client id" />
                    <div class="clientId-auto">@@expressbase.com</div>
                    <button class="btn is-edit-clientid" id="is-edit-clientid"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6 tier-cropie">
                <div id="solution-logo-cropper">

                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid eb-products">
        @*<h4>Products</h4>*@
        <div class="col-md-2 col-md-offset-1 Eb-product-container">
            <div class="Eb-product-container-bdy">
                <div class="pro-icon-bx">
                    <img src="~/images/svg/form1.svg" />
                </div>
                <div class="pro-name-bx">
                    Forms
                </div>
            </div>
        </div>
        <div class="col-md-2 Eb-product-container">
            <div class="Eb-product-container-bdy">
                <div class="pro-icon-bx">
                    <img src="~/images/svg/dv1.svg" />
                </div>
                <div class="pro-name-bx">
                    Visualization
                </div>
            </div>
        </div>
        <div class="col-md-2 Eb-product-container">
            <div class="Eb-product-container-bdy">
                <div class="pro-icon-bx">
                    <img src="~/images/svg/report1.svg" />
                </div>
                <div class="pro-name-bx">
                    Report
                </div>
            </div>
        </div>
        <div class="col-md-2 Eb-product-container">
            <div class="Eb-product-container-bdy">
                <div class="pro-icon-bx">
                    <img src="~/images/svg/chat1.svg" />
                </div>
                <div class="pro-name-bx">
                    ChatBot
                </div>
            </div>
        </div>
        <div class="col-md-2 Eb-product-container">
            <div class="Eb-product-container-bdy">
                <div class="pro-icon-bx">
                    <img src="~/images/svg/document1.svg" />
                </div>
                <div class="pro-name-bx">
                    Documents
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#cid').attr('disabled', 'disabled');
        var upload = new EbImageCropper({
            preview: 'profimage',
            cropperContainer: 'solution-logo-cropper'
        });
        $('#is-edit-clientid').click(function () {
            $('#cid').removeAttr('disabled');
        });
    });

</script>