@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />
<script src="~/js/EbOnBoarding/TenantDashBoard.js" type="text/javascript"></script>
@{ 
    string sso = ViewBag.IsSSO == true ? "true" : "false";
    int aptype = ViewBag.AppType != null ? ViewBag.AppType :0;
}
<script>
</script>     
<div class="row t-dash-boardrow mr-t-50">
    <div class="col-md-2 col-lg-2 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-cog fa-lg tdash-icon" aria-hidden="true"></i> Solutions<div class="tr-on-hov"></div></li>
                <li class="list-group-item"><i class="fa fa-usd fa-lg tdash-icon" aria-hidden="true"></i> Billing<div class="tr-on-hov"></div></li>
                <li class="list-group-item"><i class="fa fa-life-ring fa-lg tdash-icon" aria-hidden="true"></i> Support<div class="tr-on-hov"></div></li>

            </ul>
        </div>
    </div>
    <div class="col-md-10 col-lg-10 pull-right t-dash-workplace">
        <div class="t-container">
            <div class="tdash-box">
                <div class="tdash-box-head">
                    Solutions
                </div>
                <div class="tdash-box-body">
                    @*<div class="tdash-sol-box">
                        <div class="solutionhead">
                            <h4>Al Arz</h4>
                            <p>Description</p>
                        </div>
                        <div class="solutionbdy">
                            <a href="" class="btn newsolution-btn">Open</a>
                        </div>
                    </div>
                    <div class="tdash-sol-box">
                        <div class="solutionhead">
                            <h4>PassioLab</h4>
                            <p>Description</p>
                        </div>
                        <div class="solutionbdy">
                            <a href="" class="btn newsolution-btn">Open</a>
                        </div>
                    </div>*@
                    <div class="tdash-sol-box">                       
                        <div class="solutionbdy">
                            <a href="~/Tenant/TenantAddAccount">
                                <img src="~/images/svg/plus.svg" style="height: 45px;margin-top: 39%;" />
                            </a>
                        </div>
                        <div class="solution-footer-new">
                            Create New Solution
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div class="t-container">
            <div class="tdash-box">

            </div>
        </div>
    </div>
</div>
<div class="modal fade confTo-solution" id="confTo-solution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="confTo-solution-container">
            <div class="confTo-solution-inner">
                <div class="heading">
                    Your Solution is ready now.
                </div>
                <div class="btn-section form-inline">
                    <button id="goToSolution" class="btn">Go to Application</button>
                    <button id="skip" class="btn pull-right">Continue.</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Tdb = TenantDashBoard(@Html.Raw(ViewBag.Solutions), @sso, "@ViewBag.Email", @aptype);
    $(".t-container .list-group-item").focus(function () {
        $(this).children(".tr-on-hov").css("visibility", "visible");
    }, function () {
        $(this).children(".tr-on-hov").css("visibility", "hidden");
    });
</script>







