@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader2");
}
<style>
    .padd {
        margin-top: 50px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#newAcc').click(function () {
            var addaccountwzd = new EbWizard("http://expressbase.org/Tenant/AddAccount2", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Add Account", "fa-database");

        });
    })

</script>
<section style="padding-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label style="font-size:25px;">My Accounts</label>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="newAcc">New Account</button>
            </div>
            <div class="col-md-3 col-md-offset-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="row padd">
            <div class="col-md-4" style="border:solid 1px #e6e0e0;height:250px;">
                <h4>Heading</h4>
                <img src="~/images/EB_Logo.png" class="img-responsive" style="width:200px;" />
                <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis. </p>
                <div class="col-xs-3">
                    <button class="btn btn-primary">Actions</button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success">Open Console</button>
                </div>
            </div>
            <div class="col-md-4" style="border:solid 1px #e6e0e0;height:250px;">
                <h4>Heading</h4>
                <img src="~/images/EB_Logo.png" class="img-responsive" style="width:200px;" />
                <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis.</p>
                <div class="col-xs-3">
                    <button class="btn btn-primary">Actions</button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success">Open Console</button>
                </div>
            </div>
            <div class="col-md-4" style="border:solid 1px #e6e0e0;height:250px;">
                <h4>Heading</h4>
                <img src="~/images/EB_Logo.png" class="img-responsive" style="width:200px;" />
                <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis.</p>
                <div class="col-xs-3">
                    <button class="btn btn-primary">Actions</button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success">Open Console</button>
                </div>
            </div>
        </div>
    </div>
</section>