@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@*<body>
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded", id = "signup_form" }))
    {
        
        <style>
            .tdd {
                margin: 10px;
            }

            input[type="text"] {
                display: block;
                margin: 0;
                width: 102%;
                font-family: sans-serif;
                font-size: 18px;
                box-shadow: none;
                border-radius: none;
            }

                input[type="text"]:focus {
                    outline: none;
                }

            input[type="password"] {
                display: block;
                margin: 0;
                width: 102%;
                font-family: sans-serif;
                font-size: 18px;
                box-shadow: none;
                border-radius: none;
            }

            input[type="text"]:focus {
                outline: none;
            }

            input[type="submit"] {
                background-color: #4C50AF; /* blue */
                border: none;
                color: white;
                padding: 8px 42px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

                input[type="submit"]:hover {
                    background-color: #337; /* blue */
                }
            /*body {
                    background-image: url("http://localhost:53125/images/bgm1.jpg");
                    background-color: #cccccc;
                  }*/
        </style>
    }
</body>*@
<html>
<head>
<script>
$(document).ready(function(){
	//$('.launch-modal').click(function(){
		$('#myModal').modal({
			backdrop: 'static'
		//});
		});
		$('#launch-modal').click(function () {
		    $('#mydbModal').modal({
		        backdrop: 'static'
		    });
		});
		$('#sub').click(function()
		{
		    $('#myModal').modal('hide');
		 }
        )

});
    </script>

</head>
<body>
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded" }))
    {
        <div class="bs-example">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content" style="height:550px">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                            <h4 class="modal-title">Add your account information here</h4>
                        </div>
                        <div class="modal-body">
                            <a data-controls-modal="myModal" data-backdrop="static" data-keyboard="false" href="#"></a>
                            <div align="center" style="height:400px">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group margin-bottom-sm">
                                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="accountname" name="accountname" placeholder="Account Name" required />

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="cid" name="cid" placeholder="Client ID" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="tenantname" name="tenantname" placeholder="Full Name" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>

                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="address" name="address" placeholder="Address" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="phone" name="phone" placeholder="Contact Number" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="email" name="email" placeholder="Email" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tdd">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                                    <input class="form-control" type="text" id="website" name="website" placeholder="Website Address" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tdd">

                                                <div class="input-group">
                                                    <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-fw"></i>Add</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    <input type="hidden" id="tier" name="tier" value="@ViewBag.tier" />
                                    <input type="hidden" id="tenantid" name="tenantid" value="@ViewBag.tenantid" />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

                                    }
</body>

</html>
<style type="text/css">
    .bs-example {
        margin: 20px;
    }

    .tdd {
        margin: 10px;
    }
</style>
