@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded", id = "signup_form" }))
{

    <div align="center" style="margin-left:400px;margin-top:250px;height:400px">
        <table>
            <tr>
                <td><div class="tdd">Select your Locale</div></td>
                <td>
                    <div class="tdd">
                        <select id="locale" name="locale">
                            <option value="en_US">en_US</option> 
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="tdd">Date Format</div></td>
                <td>
                    <div class="tdd">
                        <select id="dateformat" name="dateformat">
                            <option value="dateformat">en_US</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tdd">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Full Name" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">

                        <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit' type="submit"><i class="fa fa-sign-in fa-fw"></i>Sign up</button>
                    </div>

                    <a href='#' class="fa fa-facebook-official fa-2x" onclick="loginByFacebook()"></a>

                    <div id="gConnect">
                        <button class="g-signin" style="max-width:34px!important"
                                data-scope="https://www.googleapis.com/auth/plus.me  https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
                                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                data-clientid="203268368132-jq8l4abn5aefnurqjigj331uanrpei6h.apps.googleusercontent.com"
                                data-accesstype="offline"
                                data-callback="onSignInCallback"
                                data-theme="dark"
                                data-cookiepolicy="single_host_origin"></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}