/*================= Dev =================*/

.eb-chatBox-dev .cards-cont {
    /*padding-right: 3px;*/
}

.eb-chatBox-dev .card-cont {
    min-height: 300px;
    display: inline-block;
    width: 30%;
    margin: 0px;
    background-color: white;
    text-overflow: ellipsis;
}

.eb-chatBox-dev .card-label {
    font-size: 12pt;
    line-height: 15pt;
    float: left;
    font-weight: bold;
    width: 100%;
}

.eb-chatBox-dev .card-content {
    color: rgba(0, 0, 0, .40);
}

.eb-chatBox-dev .card-bottom {
    border: solid 1px #ddd;
    border-top: none;
    border-radius: 0 0 1.3em 1.3em;
    padding: 8px 12px 0 12px;
}

.card-img {
    /*border-radius: 1.3em 1.3em 0 0;*/
    height: 100%;
    width: auto;
}



/*================= User =================*/

.eb-chatBox .card-cont {
    /*border-radius: 0 0 10px 10px;*/
    /*border: 1px solid #eee;*/
    padding: 10px 12px;
    /*box-shadow: 0px 0px 20px #ccc;*/
    /*margin: auto;*/
    width: 100%;
    outline: none;
    height: inherit;
}

.eb-chatBox .cards-cont {
    padding: 0px 15px;
    border-radius: 0em;
}

.eb-chatBox .card-summary-cont {
    padding: 3px 18px;
    background: #abbcd21a;
}

    .eb-chatBox .card-summary-cont div {
        font-size: 15px;
        padding: 5px 5px 0px 5px;
        text-align: center;
    }

.eb-chatBox .card-header-cont, .eb-chatBox-dev .card-header-cont {
    background-color: #adadadde;
    height: 40px;
    color: #555555;
    display: flex;
    padding: 0 16px;
    font-size: 13px;
    border-radius: 9px 9px 0 0;
}

.card-outer-cont {
    width: 100%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08058823529411765), 0 0 1px 0px rgba(0, 0, 0, 0.170784);
    /* padding: 5px; */
    border-radius: 9px;
    padding-bottom: 13px;
}

.eb-chatBox .card-head-searchdiv, .eb-chatBox-dev .card-head-searchdiv {
    width: 55%;
    margin: auto;
    position: relative;
    display: flex;
    border-radius: 25px;
}

.eb-chatBox .card-head-filterdiv, .eb-chatBox-dev .card-head-filterdiv {
    width: 30%;
    height: 28px;
    border-radius: 40px;
    background-color: white;
    color: #222;
    margin: auto;
    margin-right: 0;
    position: relative;
}

.eb-chatBox .card-head-search-box, .eb-chatBox-dev .card-head-search-box {
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 28px;
    min-height: 25px;
    border-radius: 12px;
    padding-right: 22px;
    font-size: 13px;
    padding-left: 8px;
}

/*.eb-chatBox .card-head-search-box:focus {
        width: 120px;
    }*/

.eb-chatBox .card-head-search-icon, .eb-chatBox-dev .card-head-search-icon {
    position: absolute;
    right: 10px;
    margin-right: -1px;
    top: 8px;
}

.eb-chatBox .card-head-filter-box, .eb-chatBox-dev .card-head-filter-box {
    background: white !important;
    width: calc(100% - 24px);
    border-radius: 40px;
    height: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 13px;
    line-height: 0px;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
}

.card-head-filterdiv .dropdown-toggle[data-toggle="dropdown"] span.filter-option {
    background-color: white !important;
}

.card-head-filterdiv .dropdown-toggle[data-toggle="dropdown"] {
    height: 27px;
    padding-top: 0px;
    padding-left: 0;
    padding-bottom: 0px;
    background: #e7000000 !important;
    outline: none !important;
    margin-top: 0px;
    padding-top: 0 !important;
}

/*.eb-chatBox .card-head-filter-box:focus {
        width: 117px;
    }*/
.eb-chatBox .card-head-filter-icon, .eb-chatBox-dev .card-head-filter-icon {
    position: absolute;
    display: inline-block;
    top: 7.5px;
    color: #555;
    right: 11px;
}

.eb-chatBox .card-head-cardno, .eb-chatBox-dev .card-head-cardno {
    display: inline-block;
    color: #474747;
    padding-top: 19px;
    font-size: 13px;
    font-family: roboto, sans-serif;
    vertical-align: baseline;
    height: 100%;
    margin: auto;
    font-weight: 500;
    text-shadow: 0 0 10px #ffffff;
    margin-left: 0;
}


.slick-track {
    display: flex !important;
}

.slick-next {
    right: -31.5px;
}

.slick-prev {
    left: -31.5px;
    z-index: 1;
}

    .slick-next:before, .slick-prev:before {
        font-size: 28px;
        opacity: 0.8;
        color: rgba(0, 0, 0, 0.24);
    }

.card-btn-cont, .cards-btn-cont {
    padding: 0 12px 8px 12px;
    display: flex;
    width: 100%;
}

    .card-btn-cont .btn, .cards-btn-cont .ctrl-submit-btn {
        padding: 3px 12px;
    }

    .card-btn-cont .ctrl-submit-btn, .cards-btn-cont .ctrl-submit-btn {
        width: 92%;
        font-weight: 500;
        font-size: 13.5px;
        font-family: roboto;
        letter-spacing: 0.5px;
        margin: auto;
        border-radius: 3em;
    }

.card-numeric-cont {
    padding: 0px 5px 0px 5px;
    /*width: 50%;*/
    /*display: inline-block;*/
    /*text-align:center;*/
}

.card-cont .cart-inp {
    text-align: center;
    border-radius: 52px;
    padding: 7px 0px;
    font-size: 13px;
    height: auto;
    width: auto;
    padding-bottom: 0;
}

.card-cont .cart-inp-wraper {
    display: inline-block;
}

.card-cont .card-txt {
    width: 100%;
    padding-bottom: 0;
}

.card-cont .card-txt-wraper {
}

.card-cont .inp-wrap {
    display: inline-block;
    width: 58%;
    border-bottom: solid 1px #eee;
}

.card-cont .card-selbtn-cont {
    display: flex;
    padding: 0;
    padding-top: 20px;
}

    .card-cont .card-selbtn-cont .btn-default {
        width: 35%;
        padding: 3px 0;
        margin: auto;
        border-radius: 8px;
        font-family: roboto;
        font-weight: 400;
    }

.card-cont .card-pls-mns {
    background-color: #fff;
    font-size: 14px;
    color: #666;
    border-radius: 15px;
    padding: 5px 7px;
    height: 26px;
    width: 26px;
    border: solid 1px #ffffffbd;
    outline: none;
}

    .card-cont .card-pls-mns:hover {
        border: solid 1px #ddd;
        background-color: #eee;
    }
.card-cont .card-inp-title {
    font-weight: 500;
    font-family: roboto;
    letter-spacing: 0.5px;
    margin-left: 25px;
}

.card-cont .cart-inp::-webkit-inner-spin-button,
.card-cont .cart-inp::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.card-text-cont {
    padding: 0px 5px 0px 5px;
    /*width: 50%;*/
    /*display: inline-block;*/
    /*text-align: center;*/
}