/*================= Dev =================*/

.eb-chatBox-dev .cards-cont {
    /*padding-right: 3px;*/
}

.eb-chatBox-dev .card-cont {
    min-height: 300px;
    display: inline-block;
    width: 30%;
    margin: 0px;
    background-color: white;
    text-overflow: ellipsis;
}

.eb-chatBox-dev .card-label {
    font-size: 12pt;
    line-height: 15pt;
    float: left;
    font-weight: bold;
    width: 100%;
}

.eb-chatBox-dev .card-content {
    color: rgba(0, 0, 0, .40);
}

.eb-chatBox-dev .card-bottom {
    border: solid 1px #ddd;
    border-top: none;
    border-radius: 0 0 1.3em 1.3em;
    padding: 8px 12px 0 12px;
}

.card-img {
    /*border-radius: 1.3em 1.3em 0 0;*/
    height: 100%;
    width: auto;
}



/*================= User =================*/

.eb-chatBox .card-cont {
    border-radius: 0 0 10px 10px;
    border: 1px solid #eee;
    padding: 10px 12px;
    /*box-shadow: 0px 0px 20px #ccc;*/
    /*margin: auto;*/
    width: 100%;
    height: inherit;
}

.eb-chatBox .cards-cont {
    padding: 0px 15px;
    border-radius: 0em;
}

.eb-chatBox .card-summary-cont {
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 0;
    margin-top: 20px;
}
    .eb-chatBox .card-summary-cont div {
        font-size: 15px;
        padding: 5px 5px 0px 5px;
        text-align: center;
    }

.eb-chatBox .card-header-cont, .eb-chatBox-dev .card-header-cont {
    /*border: 1px solid #eee;*/
    background-color: #555;
    height: 32px;
    color: white;
    border-radius: 9px 9px 0 0;
}

.eb-chatBox .card-header-cont {
    margin: 0px 15px;
}

.eb-chatBox .card-head-searchdiv, .eb-chatBox-dev .card-head-searchdiv {
    float: right;
    display: inline-block;
    border: 1px solid #aaa;
    height: 27px;
    border-radius: 12px;
    color: #222;
}

.eb-chatBox .card-head-filterdiv, .eb-chatBox-dev .card-head-filterdiv {
    float: right;
    display: inline-block;
    border: 1px solid #aaa;
    height: 30px;
    border-radius: 12px;
    background-color: white;
    color: #222;
}

.eb-chatBox .card-head-search-box, .eb-chatBox-dev .card-head-search-box {
    width: 75px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 28px;
    min-height: 25px;
    border-radius: 12px;
    border: none;
    padding-right: 22px;
}

    .eb-chatBox .card-head-search-box:focus {
        width: 120px;
    }

.eb-chatBox .card-head-search-icon, .eb-chatBox-dev .card-head-search-icon {
    position: relative;
    top: -20px;
    float: right;
    margin-right: 8px;
}

.eb-chatBox .card-head-filter-box, .eb-chatBox-dev .card-head-filter-box {
    width: 72px;
    border-radius: 12px;
    height: 28px;
    border: 1px solid #aaa;
    padding-right: 22px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
    border: none;
    padding: 0px;
}

    .eb-chatBox .card-head-filter-box:focus {
        width: 117px;
    }

.eb-chatBox .card-head-filter-icon, .eb-chatBox-dev .card-head-filter-icon {
    position: relative;
    display: inline-block;
    margin-right: 8px;
}

.eb-chatBox .card-head-cardno, .eb-chatBox-dev .card-head-cardno {
    display: inline-block;
    padding: 5px;
}


.slick-track {
    display: flex !important;
}

.slick-next {
    right: -17px;
}

.slick-prev {
    left: -17px;
    z-index: 1;
}

    .slick-next:before, .slick-prev:before {
        font-size: 28px;
        opacity: 0.8;
        color: rgba(0, 0, 0, 0.24);
    }

.card-btn-cont, .cards-btn-cont {
    padding: 0 12px 8px 12px;
    width: 100%;
}

    .card-btn-cont .btn, .cards-btn-cont .ctrl-submit-btn {
        margin-top: 5px;
        padding: 3px 12px;
    }

    .card-btn-cont .ctrl-submit-btn, .cards-btn-cont .ctrl-submit-btn {
        width: 70%;
        margin-left: 15%;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.4px;
        /*border: none;
        box-shadow: 0px 0px 4px #ccc;*/
        border-radius: 3em;
    }

.card-numeric-cont {
    padding: 0px 5px 0px 5px;
    /*width: 50%;*/
    /*display: inline-block;*/
    /*text-align:center;*/
}

.removeArrows::-webkit-inner-spin-button,
.removeArrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.card-text-cont {
    padding: 0px 5px 0px 5px;
    /*width: 50%;*/
    /*display: inline-block;*/
    /*text-align: center;*/
}