.upl-container-outer .eb-upl-dbywraper {
    flex-direction: column;
    min-height: 300px;
    font-family: open sans;
}

.upl-container-outer .modal-footer {
    text-align: unset !important;
    padding: 10px 13px;
}

.upl-container-outer .modal-header {
    padding: 10px 13px;
    position: relative;
}

    .upl-container-outer .modal-header .upl-loader {
        bottom: 0;
        left: 0;
    }

.upl-container-outer .modal-footer button {
    margin: 0 5px;
}

.upl-container-outer .modal-footer .browse-btn {
    border: 0;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 14px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    background: #fff;
    color: #0d2366;
    text-decoration: none;
    cursor: pointer;
}

.upl-container-outer .modal-footer .upload_btn {
    border: 0;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 14px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    background: #47af08;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.upl-container-outer .crop-btn {
    border: 0;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 14px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    background: #95959a;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.upl-container-outer .modal-footer .modal-ok, .upl-container-tagmodal .modal-ok {
    border: 0;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 14px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    background: #528ff0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.upl-container-outer .modal-dialog {
    width: 75%;
}

.upl-container-outer .eb-upl-bdy {
    flex-grow: 1;
    border: 2px dashed #b1acac;
    border-radius: 4px;
    padding: 5px;
    max-height: 70vh;
    overflow: auto;
    min-height: 450px;
}

    .upl-container-outer .eb-upl-bdy .placeholder {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 48%;
        font-size: 20px;
        color: #ccc;
    }

.upl-container-outer .eb-upl-footer {
    /*margin-bottom: auto;
    padding: 10px;
    background: #e6e6e6;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;*/
}

.upl-container-outer .file-thumb-wraper {
    width: 25%;
    float: left;
    padding: 5px;
}

.upl-container-outer .eb-upl_thumb {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-bdy {
        display: flex;
        justify-content: center;
    }

        .upl-container-outer .eb-upl_thumb .eb-upl-thumb-bdy img {
            height: 130px;
            width: auto;
            max-width: 100%;
        }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-info {
    }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer {
    }

        .upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer button {
            background: white;
            border: 1px solid #ccc;
            padding: 3px 8px;
            border-radius: 2px;
            margin: 2px;
            color: #6b6666;
        }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-info .fname {
        font-size: 15px;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 20px;
    }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-info .size {
        font-size: 14px;
        color: #929292;
    }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer .ebfup_catogories {
        width: 100%;
        height: 28px;
        margin: 2px;
        font-size: 11px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 2px;
        color: #6b6666;
    }
/*full screen*/
.upl-fullscreen .modal-dialog {
    width: 85%;
}

.upl-fullscreen .modal-body {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: open sans;
}

.upl-fullscreen .modal-header .img-info {
    font-size: 16px;
    color: #696969;
    position: absolute;
    width: 80%;
    left: 0;
    text-align: center;
    margin: 0 10%;
}

.display-inline {
    display: inline-block;
}

.upl-fullscreen .modal-body .upl-body img {
    max-width: 100%;
}

.upl-container-outer .upload_btn {
    display: none;
}

.upl-container-outer .eb-upl-loader {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
}

    .upl-container-outer .eb-upl-loader .lds-spinner {
        top: calc(50% - 64px);
    }

.file-thumb-wraper .success {
    color: #47af08;
    font-size: 24px;
    align-self: center;
    margin-left: auto;
    display: none;
}

.file-thumb-wraper .error {
    color: #f95655;
    font-size: 24px;
    align-self: center;
    margin-left: auto;
    display: none;
}

.upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer .upl-thumbtag {
    position: absolute;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 4px;
    width: 100%;
    left: 0;
    bottom: 50px;
    border: 1px solid #ccc;
    display: none;
}

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer .upl-thumbtag .bootstrap-tagsinput {
        width: 100%;
        height: 100px;
    }

    .upl-container-outer .eb-upl_thumb .eb-upl-thumb-footer .upl-thumbtag:after {
        content: "";
        height: 15px;
        width: 15px;
        background: #f3f3f3;
        position: absolute;
        bottom: -8px;
        left: 36%;
        transform: rotate(45deg);
        border: 1px solid #ccc;
        border-left: 0;
        border-top: 0;
    }

.upl-container-outer .cropy_container {
    height: 450px;
    width: 100%;
    padding-bottom: 50px;
}

.upl-container-outer .cropy_container-inner {
    height: 100%;
    width: 100%;
}
/*gallery*/
.ebFupGalleryOt {
    width: 100%;
}

    .ebFupGalleryOt .ClpsGalItem_Sgl {
        margin: 10px 0;
    }

        .ebFupGalleryOt .ClpsGalItem_Sgl .Col_head {
            padding: 10px;
            font-size: 14px;
            font-family: open sans;
            font-weight: 600;
            background: #e4e4e4;
            cursor: pointer;
            border-radius: 4px;
        }

        .ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody {
            padding: 10px;
            border: 1px solid #dcd8d8;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            max-height: 400px;
            overflow-y: auto;
        }

            .ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .Col_apndBody_apndPort {
                display: flex;
                flex-flow: row wrap;
            }

            .ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .eb_uplGal_thumbO {
                width: 18%;
                padding: 5px;
                border-radius: 4px;
                float: left;
                margin: 1%;
                box-shadow: 1px 1px 5px 0 #a2958a;
                position: relative;
            }

            .ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .eb_uplGal_thumbO_img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
            }

            .ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .eb_uplGal_thumbO:hover {
                box-shadow: 2px 2px 5px 3px #a2958a;
                transform: translateY(-2px) scale(1.01);
            }

.fnamethumb {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: open sans;
    font-weight: 500;
}

/*gallery fscreen*/
.ebFupGFscreen_wraper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 104;
    padding: 20px 60px 80px 60px;
    display:none;
}

.ebFupGFscreen_footr {
    position: absolute;
    bottom: -60px;
}
    .ebFupGFscreen_footr .Fname {
        font-size: 19px;
        color: white;
        margin: 7px 0;
    }
    .ebFupGFscreen_footr .Tags {
        text-align: center;
        margin: 0;
    }
        .ebFupGFscreen_footr .Tags .tagno-t {
            text-align: center;
            background-color: #1e9aca;
            color: white;
            font-size: 18px;
            padding: 4px 10px;
            border-radius: 4px;
            margin: 0 2px;
        }

.ebFupGFscreen_wraper-fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.8;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    display: none;
}

.ebFupGFscreen_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.roundstyledbtn {
    position: absolute;
    top: 50%;
    background: white;
    border-radius: 50%;
    border: none;
    padding: 4px 12px;
    font-size: 20px;
    color: #5d5555;
    -webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
}

.prevImgrout {
    left: 30px;
}

.nextImgrout {
    right: 30px;
}

.FupimgIcon {
    height: 100%;
}

.FsClse {
    right: 20px;
    position: absolute;
    top: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
}
.mark-thumb {
    position: absolute;
    top: 5px;
    right: 5px;
    CURSOR: POINTER;
    display:none;
}
.ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .eb_uplGal_thumbO:hover .mark-thumb {
    display: block;
}
.ebFupGalleryOt .ClpsGalItem_Sgl .Col_apndBody .eb_uplGal_thumbO .mark-thumb:checked {
    display: block;
}