.ebsp-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.ebsp-container-inner {
    display: flex;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.ebsp-signature-pane {
    flex: 1;
    padding: 5px 5px 0 5px;
}
.ebsp-signature-canvas {
    background: white;
    width: 100%;
    height: 100%;
    border: 1px solid #f1eaea;
}
.ebsp-btn-pane {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.ebsp-btn {
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
}