<!DOCTYPE html>
<html>
<head>
    <title>EXPRESSbase: Rapid Application Development & Delivery Platform for SMBs</title>
    
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="icon" href="~/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Ebproducts.css" />

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/eb_extutils.js"></script>
    <script type="text/javascript" src="~/js/EbMsgBox.js"></script>
    <script type="text/javascript" src="~/js/EbLoader.js"></script>
</head>
<body>
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4" style="margin-top:150px;">
        <form action="../Ext/TenantExtSignup" method="post">
            <div class="input-group">
                <input type="email" name="email" class="form-control emailtxt" placeholder="Enter your email" required />
                <span class="input-group-btn">
                    <button type="submit" id="getstart" class="btn getstarted">Get Started </button>
                </span>
            </div>
        </form>
    </div>
</body>
</html>