@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

    Dictionary<string, object> Dict = ViewBag.dict;
}

@using (Html.BeginForm(FormMethod.Post))
{
<div class="col-md-4 col-md-offset-4 bg-white">
    <h3 class="text-center">Create User</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="firstname" placeholder="Name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <span>Send mail. </span><input type="checkbox" id="sendmail" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="pw" name="pwd" placeholder="Password" />
    </div>
    <div class="form-group">
        <div id="roleSel" class="input-group">
            <select class="selectpicker" name="roles" data-live-search="true" multiple data-selected-text-format="count>3">
                @{
                    foreach (var element in Dict.Keys)
                    {
                        <option value="@element">@Dict[element]</option>

                    }
                }

            </select>
            </div>
        </div>
    <div class="form-group pull-right">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</div>
}
<script>
    $('document').ready(function () {
        $('#sendmail').change(function () {
            if (!this.checked)
                $('#pw').fadeIn();
            else
                $('#pw').fadeOut();
        });
        var f = true;
        $('.selectpicker').on('rendered.bs.select', function (e) {
            if (f)
                $("#roleSel").find("span:eq(0)").text("Select Role")
            f = false;
        });
    });
</script>