@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

    Dictionary<string, object> Dict = ViewBag.dict;
}

@using (Html.BeginForm(FormMethod.Post))
{
   

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Create User</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" name="firstname" value="@ViewBag.Name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" value="@ViewBag.email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="pw" name="pwd" placeholder="Password" />
            </div>
            <div class="form-group">
                <span>Send mail. </span><input type="checkbox" id="sendmail" />
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#roles">Roles</a></li>
        <li><a onclick="Getusergroups()" data-toggle="tab" href="#usergroup">User Groups</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="roles">
            <div id="userroles" class="scrollable-menu">
                <div class="form-inline" id="searchbar" style="width:100%">
                    <div class="input-group pull-right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Search<span class="caret"></span></button>
                        </div>
                        <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>

            </div>

        </div>
        
        <div id="usergroup" class="tab-pane fade">
            <div id="usergrouplist" class="scrollable-menu">
                <div class="form-inline" id="searchbar" style="width:100%">
                    <div class="input-group pull-right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Search<span class="caret"></span></button>
                        </div>
                        <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="userid" name="userid" value="@ViewBag.itemid" />
        <input type="submit" class="btn btn-primary" id="save" value="Create" />
    </div>
    }


<style>
    table {
        width: 100%;
    }

    .col-md-4 {
        padding-left: 0 !important;
    }

    .col-md-8 {
        padding-right: 0 !important;
    }

    tr {
        text-align: center;
    }

    input[type=checkbox] {
        margin-left: 5px;
    }


    .scrollable-menu {
        border: 1px solid #eee;
        overflow-x: hidden;
    }

    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
</style>
<script>
    $('document').ready(function () {
   
        $.post("../TenantUser/GetRoles",
            {
                "userid": $('#userid').val()
                 }, function (result) {
                     if (result) {
                         document.getElementById("userroles").innerHTML = result;
                     }
                 });
            $('#sendmail').change(function () {
                if (!this.checked)
                    $('#pw').fadeIn();
                else
                    $('#pw').fadeOut();
            });
            var f = true;
            $('.selectpicker').on('rendered.bs.select', function (e) {
                if (f)
                    $("#roleSel").find("span:eq(0)").text("Select Role")
                f = false;
            });

            $('#save').click(function () {
                var selectedroles = "";
                $('#userroles input:checked').each(function () {
                    selectedroles += $(this).attr('value') + ",";

                });

                var selectedusergroups = "";
                $('#usergrouplist input:checked').each(function () {
                    selectedusergroups += $(this).attr('value') + ",";

                });
                $.post("../TenantUser/SaveUser",
                    {
                      
                        "userid": $('#userid').val(),
                        "roles": selectedroles.substring(0, selectedroles.length - 1),
                        "usergroups": selectedusergroups.substring(0, selectedusergroups.length - 1),
                        "firstname": $('#firstname').val(),
                        "email": $('#email').val(),
                        "Pwd":$('#pw').val()

                    }, function (result) {
                        if (result) {
                            document.getElementById("usergrouplist").innerHTML = result;
                        }
                    });

            });
           

    });

    function Getusergroups() {

        $.post("../TenantUser/GetUserGroups",
            {
                "userid": $('#userid').val(),

            }, function (result) {
                if (result) {
                    document.getElementById("usergrouplist").innerHTML = result;
                }
            });

    }
    </script>
