@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script type="text/javascript" src="~/js/location-config.js"></script>@*dona*@
@{ @using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;
Dictionary<string, string> _locmeta = new Dictionary<string, string>();
if (ViewBag.meta != "")
{
    _locmeta = JsonConvert.DeserializeObject<Dictionary<string, string>>(ViewBag.meta);
}
else
{
    _locmeta["LongName"] = "";
    _locmeta["ShortName"] = "";
    _locmeta["Meta"] = " null";
    _locmeta["LocId"] = "0";
}

<div class="container locpage">
    <div class="panel panel-default">
        <h3 class="col-sm-offset-4">Location Settings</h3>
        <div class="panel-body">
            <div class="locfinner">
                <div class="form-horizontal col-sm-12 " id="locspace">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control keyname" placeholder="Enter Name" name="longname" id="lname" value=@_locmeta["LongName"]>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Short Name :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control keyname" placeholder="Enter Short Name" name="shortname" id="sname" value=@_locmeta["ShortName"]>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @{string _value = (Convert.ToInt32(_locmeta["LocId"]) > 0) ? "Modify" : "Create";
                    <input class="btn btn-primary pull-right" type="button" value=@_value id="createloc" />
                }
            </div>
        </div>
    </div>
</div>
}
<script>    
    var Loc_ = new Eb_locationMeta(@Html.Raw(ViewBag.data),@Html.Raw(@_locmeta["Meta"]), '@_locmeta["LocId"]');
</script>

<style>
    .locpage {
        padding-top: 150px;
    }

    .locfinner {
        padding-bottom: 20px;
        margin-top: 50px;
    }
</style>