
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    int counter = 0;
}
<div class="container confpage">    
    <div class="panel panel-default">
        <h3 class="col-sm-offset-4">Configure Location Meta</h3>
        <div class="panel-body">
            <button value="Add" id="addkey" class="btn btn-primary pull-right">
                Add key  <i class="fa fa-plus"></i>
            </button>
            <div class="confinner">
                <div class="form-horizontal col-sm-12 " id="textspace">
                </div>
            </div>
            <div>
                <input class="btn btn-primary pull-right" type="button" value="Configure" id="createconfig" />
            </div>
        </div>
    </div>

</div>
<script>
    var conf = new locationmeta(@counter,@Html.Raw(ViewBag.data));
</script>
<style>
    .confpage {
        padding-top: 150px;
    }

    .confinner {
        padding-bottom: 20px;
        margin-top: 50px;
    }
</style>
