@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using ExpressBase.Objects.ServiceStack_Artifacts;
@{ 
    List<EbObjectWrapper> dslist = new List<EbObjectWrapper>();
    dslist = ViewBag.dvlist;

}
<div>
    <section class="content">

        <div>
            <div class="panel panel-default" style="width: 100%;">
                <div class="panel-body" style="margin-top: 50px;">
                    <h1>Data Visualizations</h1>
                    <div class="input-group input-group-lg col-md-3" style="width:600px;margin-left: 70px;">
                        <div class="icon-addon addon-lg input-group-btn">
                            <input type="text" class="form-control" placeholder="Search" id="myInput" onkeyup="myFunction()" style="width:800px">
                            <label for="myInput" class="glyphicon glyphicon-search" rel="tooltip" title="myInput"></label>
                        </div>
                       
                    </div>
                    <br />
                    <div class="table-container">
                        <table class="table table-filter" id="myTable">
                            <tbody>
                                @foreach (var element in dslist)
                                {
                                    <tr data-status="pagado" style="height: 100px;">
                                        <td style="width: 15px;">
                                            <div class="ckbox">
                                                <input type="checkbox" id="checkbox1">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                       
                                        <td>
                                            <div>
                                                <h4 class="title">
                                                    @element.Name
                                                </h4>
                                                <span class="media-meta">description</span>
                                            </div>
                                            
                                        </td>
                                        <td>
                                           
                                            <input type="button" class="new btn btn-success" value="Open" onclick="opendv(@element.Id)"/>
                                            <input type="button" class="new btn btn-success" value="Open in a new tab" onclick="opendvnew(@element.Id)"/>
                                        </td>   
                                    </tr>
                                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="content-footer">

            </div>
        </div>
    </section>

</div>
<script>
     function opendv(id) {
         window.location = 'dv?dsid=' + id;
     };

     function opendvnew(id)
     {
         window.open('dv?dsid=' + id, '_blank');
     };
     function myFunction() {

         var input, filter, table, tr, td, i;
         input = document.getElementById("myInput");
         filter = input.value.toUpperCase();
         table = document.getElementById("myTable");
         tr = table.getElementsByTagName("tr");
         // Loop through all table rows, and hide those who don't match the search query
         for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[2];
             if (td) {
                 if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                     tr[i].style.display = "";
                 } else {
                     tr[i].style.display = "none";
                 }
             }
         }
     };
</script>
<style>
     .icon-addon.addon-md .glyphicon,
        .icon-addon .glyphicon,
        .icon-addon.addon-md .fa,
        .icon-addon .fa {
            position: absolute;
            z-index: 2;
            left: 10px;
            font-size: 14px;
            width: 20px;
            margin-left: -2.5px;
            text-align: center;
            padding: 10px 0;
            top: 1px;
        }
     .icon-addon.addon-lg .form-control {
            line-height: 1.33;
            height: 46px;
            font-size: 18px;
            padding: 10px 16px 10px 40px;
        }
</style>