@using ExpressBase.Objects.ServiceStack_Artifacts
@using ExpressBase.Common
@using ExpressBase.Common.LocationNSolution;
@using Newtonsoft.Json;

@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@await Component.InvokeAsync("PageHeaderCommon")

<link href="~/css/EbOnBoarding/eb-assets.style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="~/js/EbCropper.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/location-config.js"></script>@*dona*@

<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li"></li>
                <li class="list-group-item outer_li"></li>
                <li class="list-group-item outer_li"></li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace">
        <div class="col-md-12 pd-0 s-dash-solution-desc" style="margin-bottom:5px;">
            <div class="col-md-10" style="padding-left: 3px;">
                <h3 class="mr-t-0">Locations <span class="apps_count"></span></h3>
            </div>
            <div class="col-md-2 pd-0">
                <a class="btn btn_color_bl pull-right" data-toggle="modal" data-target="#create_loc_mod">
                    <i class="fa fa-plus"></i> New Location
                </a>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active" style="width:50%;">
                    <a class="nav-link" data-toggle="tab" href="#locations_tab" role="tab">
                        <i class="fa fa-list" aria-hidden="true"></i> Locations
                    </a>
                </li>
                <li class="nav-item" style="width:50%;">
                    <a class="nav-link" data-toggle="tab" href="#location_conf" role="tab"><i class="fa fa-cogs" aria-hidden="true"></i> Location Config</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="locations_tab" role="tabpanel">
                    @foreach (KeyValuePair<int, EbLocation> loc in ViewBag.Locations)
                    {
                        <div class="solution_container" locid=@ViewBag.Locations[loc.Key].LocId>
                            <div class="solution_container_pd hoveron_block">
                                <div class='col-md-1 pd-0'>
                                    @*<img src="../static/@ViewBag.Locations[loc.Key].Img .JPG" />*@
                                </div>
                                <div class="col-md-11">
                                    <h4 class='head4'>@ViewBag.Locations[loc.Key].LongName</h4>
                                    <p class='text-justify'>@ViewBag.Locations[loc.Key].ShortName</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane location_conf" id="location_conf" role="tabpanel">
                    <div class="form-inline btn_container">
                        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#add_new_key" id="addkey">
                        <i class="fa fa-plus"></i> Custom Field</button>
                    </div>
                    <form class="form-horizontal conf_container" id="textspace" method="post">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Field Name</th>
                                    <th scope="col" class="text-center">Required</th>
                                    <th scope="col" class="text-center">Type</th>
                                    <th scope="col" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr key="Name">
                                    <td>Name</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Text</td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr key="Short Name">
                                    <td>ShortName</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Text</td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr key="Logo">
                                    <td>Logo</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Image</td>
                                    <td class="text-center"></td>
                                </tr>
                            </tbody>
                        </table>
                        @*<div class="form-group">
                                <label class="col-md-1 index">Key 1</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Enter Name" name="keyname" value="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 index">Key 2</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Enter Short Name" name="keyname" value="Short Name">
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            @*<div class="Locations_container">

                </div>*@
        </div>
    </div>
</div>
<div class="modal fade create_loc_mod" id="create_loc_mod" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Location</h4>
            </div>
            <div class="modal-body new_location_bdy">
                <div class="form-horizontal" id="locspace">
                    <input type="hidden" name="LocId" />
                    <div class="form-group">
                        <label class="col-sm-3">Name </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control keyname" placeholder="Enter Name" id="shortname" name="longname" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3">ShortName </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control keyname" placeholder="Enter Short Name " id="shortname" name="shortname" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Logo</label>
                        <div class="col-sm-3">
                            <button key="Logo" id="Logo_toggle_btn" class="btn btn-default disablebtn" disabled>Choose file <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-6 logo_img_cont">
                            <img src="" class="img-responsive pull-right" id="Logo_prev" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-right" value="" id="createloc">Add</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade create_loc_mod" id="add_new_key" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Custom Field</h4>
            </div>
            <div class="modal-body new_location_bdy">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3">Field Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="KeyName" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Required</label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="IsRequired" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="KeyType">
                                <option value="Text">Text</option>
                                <option value="Image">Image</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-color_bl pull-right" id="add_key_btn">Add</button>
            </div>
        </div>

    </div>
</div>
<script>
   @{
       var locs = JsonConvert.SerializeObject(ViewBag.Locations);
   }
      var Loc_ = new Eb_locationMeta(@Html.Raw(ViewBag.Config),@Html.Raw(locs),'@ViewBag.cid');
</script>