@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    List<EbObjectWrapper> List = ViewBag.dict;
}
<style>
    table {
        width: 100%;
    }

    tr {
        text-align: center;
    }
    input[type=checkbox] {
    }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" name="firstname" placeholder="Role Name" />
            </div>
            <div class="form-group">
                <select class="form-control" id="appselect">
                    @{
                        foreach (var element in List)
                        {
                            
                            <option value="@element.Id">@element.Name</option>

                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <textarea class="form-control" placeholder="Description" style="height:83px;width:100%;"></textarea>
            </div>
        </div>
    </div>
}
    <div class="row">
        <div class="col-md-12" style="display:none" id="objlist1">
            <div class="list-group">
                <a class="list-group-item list-group-item-action collapsed" data-toggle="collapse" data-target="#dropdownPerm">DataSource <i class="fa fa-caret-right pull-right"></i></a>
                <table class="table table-responsive sub-menu collapse" id="dropdownPerm">
                    <thead>
                        <tr>
                            <th>Objects</th>
                           @{
                               List<string> DvOperations = ViewBag.DVOperations;
                               foreach (var element in DvOperations)
                               {
                                <th>@element</th>
                               }
                        }
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Dv1</th>
                            @foreach (var element in DvOperations)
                            {
                            <td><input type="checkbox" class="form-check-input" aria-label="..."></td>
                            }
                                                    
                        </tr>
                        <tr>
                            <th scope="row">Dv2</th>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                        </tr>
                        <tr>
                            <th scope="row">Dv3</th>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                            <td><input type="checkbox" aria-label="..."></td>
                        </tr>

                    </tbody>
                </table>
                <a class="list-group-item list-group-item-action">D V <i class="fa fa-caret-right pull-right"></i></a>
                <a class="list-group-item list-group-item-action">Javascript Functions <i class="fa fa-caret-right pull-right"></i></a>
                <a class="list-group-item list-group-item-action">Javascript Validators <i class="fa fa-caret-right pull-right"></i></a>
                <a class="list-group-item list-group-item-action">Forms <i class="fa fa-caret-right pull-right"></i></a>
                <a class="list-group-item list-group-item-action">Reports <i class="fa fa-caret-right pull-right"></i></a>
            </div>
        </div>
    </div>

<script>
    $('document').ready(function () {
        $('a').click(function () {
            $(this).css("background-color","#f5f5f5");
        });
        $("#appselect").change(function () {
            $('#objlist1').show();
        });
        $("#appselect").find("span:eq(0)").text("Select Application");
    })
</script>

