@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Objects;
    List<EbObjectWrapper> List = ViewBag.dict;
}
<style>
    table {
        width: 100%;
    }

    .col-md-4 {
        padding-left: 0 !important;
    }

    .col-md-8 {
        padding-right: 0 !important;
    }

    tr {
        text-align: center;
    }

    input[type=checkbox] {
    }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Role Name" />
            </div>
            <div class="form-group">
                <select class="form-control" id="appselect">
                    @{
                        foreach (var element in List)
                        {
                            <option value="@element.Id">@element.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <textarea class="form-control" placeholder="Description" style="height:83px;width:100%;"></textarea>
            </div>
        </div>
    </div>

    <div class="row" style="display:none" id="objlist1">
        <div class="list-group">
            <ul>
                @foreach (var ObjectType in Enum.GetValues(typeof(EbObjectTypesUI)))
                {
                    var intobj = (int)ObjectType;
                <li>
                    <a class="list-group-item list-group-item-action collapsed" data-toggle="collapse" data-target="#objtype_@intobj" onclick="GetTable(@intobj)">@ObjectType<i class="fa fa-caret-right pull-right"></i></a>
                    <table class="table table-responsive sub-menu collapse" id="objtype_@intobj">
                       
                   </table>
                </li>
                }
            </ul>
        </div>
        <input type="hidden" id="applicationid" />
        <input type="hidden" id="roleid" name="roleid" value="@ViewBag.roleid" />
    </div>
    <input type="submit" value="Save" id = "save_permission" />
                        }

<script>
    $('document').ready(function () {
        $('a').click(function () {
            $(this).css("background-color", "#f5f5f5");
        });

        $("#appselect").change(function () {
            $('#applicationid').val(this.value);
            $('#objlist1').show();
        });
        $("#save_permission").click(function () {
            var selected = [];
            $('#dropdownPerm input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $.post("../TenantUser/SaveRoles",
            {
                "Permissions": selected,
                "RoleName": $('#role_name').val(),
                "RoleId": $('#roleid').val()

            }, function (result) {   
            });        
        });
    })
    function GetTable(type) {
        $.post("../TenantUser/GetRowAndColumn",
           {
               "ApplicationId": $('#applicationid').val(),
               "ObjectType": type,
               "RoleId": $('#roleid').val()
              

           }, function (result) {
               alert(result);
               if (result) {
                   document.getElementById("objtype_" + type.toString()).innerHTML = result;
               }
           });
    }
</script>
