<html>
<head>
</head>
<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="map_div" style="height: 500px; width: 900px"></div>
    <script>
        //google.charts.load('current', { packages: ['map'] });     
        google.charts.load('current', {
            'packages': ['map'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyAh12bqSKCYb6sJ9EVzNkEyXEDZ__UA-TE'
        });
        google.charts.setOnLoadCallback(drawMap);

        function drawMap() {
            var data = google.visualization.arrayToDataTable([
                ['Lat', 'Long', 'Name'],
                [37.4232, -122.0853, 'Work'],
                [37.4289, -122.1697, 'University'],
                [37.6153, -122.3900, 'Airport'],
                [37.4422, -122.1731, 'Shopping']
            ]);

            //var options = {
            //    showTip: true,
            //    //icons: {
            //    //    default: {
            //    //        normal: 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png',
            //    //        selected: 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Right-Azure-icon.png'
            //    //    }
            //    //}
            //};
            var options = {
                //mapType: 'terrain',
                zoomLevel: 12,
                showTooltip: true,
                showInfoWindow: true,
                useMapTypeControl: true,
            };

            var map = new google.visualization.Map(document.getElementById('map_div'));

            map.draw(data, options);
        }
    </script>
</body>
</html>