<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    function start() {
        gapi.load('auth2', function () {
            
        });
        auth2.grantOfflineAccess().then(signInCallback);
    }   
</script>
<button id="signinButton">Sign in with Google</button>
<script>
     $('#signinButton').on("click", function () {
        // signInCallback defined in step 6.
         auth2 = gapi.auth2.init({
             client_id: '1080114714952-bjp6t1ifr0dn68u1rrr4icnfscfr9qfl.apps.googleusercontent.com',
             access_type: 'offline',
             redirect_uri: 'https://myaccount.eb-test.xyz/',
             scope: 'https://www.googleapis.com/auth/drive',
                // Scopes to request in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
        auth2.grantOfflineAccess().then(signInCallback);
    }.bind(this));
    function signInCallback(authResult) {
        if (authResult['code']) {
            let ttt = authResult['code'];
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
                type: 'POST',
                url: "../TestRoby/storeauthcodeAsync",
                data: { data12: ttt },                
            });
        } else {
            // There was an error.
        }
    }
</script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>*@