@{
    @using ExpressBase.Objects.ServiceStack_Artifacts;

    Dictionary<string, AppWrap> responselist = ViewBag.resultlist;
}
<div class="side-menu-container">
    <ul class="outer" style="padding-left:0;">
        @{
            foreach (var element in responselist)
            {
                <li>
                    <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown1_@element.Key">
                        <i class="fa fa-cog"></i> @element.Key <i class="fa fa-caret-down pull-right"></i>
                    </a>
                    <ul class="sub-menu collapse" id="dropdown1_@element.Key">
                        @{
                            foreach (var Value in element.Value.Objects)
                            {
                                <li><a class="list-group-item" href="#" data-refid="@Value.Refid"><i class="fa fa-caret-right"></i> @Value.ObjName </a></li>
                                
                            }
                        }
                    </ul>
                </li>
            }
        }

        <li>
            <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#dropdown9">
                <i class="fa fa-lock"></i>Security<i class="fa fa-caret-down pull-right"></i>
            </a>
            <ul class="sub-menu collapse" id="dropdown9">
                <li><a class="list-group-item" onclick="LoadCommonList('user')" href="CommonList?type='user'"><i class="fa fa-caret-right"></i> Users</a></li>
                <li><a class="list-group-item" onclick="LoadCommonList('usergroup')" href="CommonList?type='usergroup'"><i class="fa fa-caret-right"></i> User Groups</a></li>
                <li><a class="list-group-item" onclick="LoadCommonList('roles')" href="CommonList?type='roles'"><i class="fa fa-caret-right"></i> Roles</a></li>
            </ul>
        </li>
    </ul>
</div>
<script>
    //function LoadObjectListUser(type44) {
    //    event.preventDefault();
    //    var _container = $("#layout_div");
    //    $.LoadingOverlay("show");
    //    $.ajax({
    //        url: "../Dev/EbObjectList",
    //        type: "GET",
    //        cache: false,
    //        data: { "type": type44 },
    //        success: function (result) {
    //            _container.html(result);
    //            $.LoadingOverlay("hide");
    //            $('#EbsideBar').animate({ width: 'toggle' });
    //        }
    //    });
    //}

    function LoadCommonList(type) {
        event.preventDefault();
        var _container = $("#layout_div");
        $.LoadingOverlay("show");
        $.ajax({
            url: "../TenantUser/CommonList",
            type: "GET",
            cache: false,
            data: { "type": type },
            success: function (result) {
                _container.html(result);
                $.LoadingOverlay("hide");
                $('#EbsideBar').animate({ width: 'toggle' });
            }
        });
    }
</script>