.prety_jsonWrpr {
    width: 100%;
    height: 100%;
    font-weight: 600;
    background: white;
    padding: 5px 10px;
}
    .prety_jsonWrpr ol {
        padding-left: 15px;
        list-style: none;
    }
    .prety_jsonWrpr .objkey {
        color: #7f2f76;
    }

    .prety_jsonWrpr .objval {
        color: #4e9a06;
    }

    .prety_jsonWrpr .a_ob_o, .a_ob_c {
        color: #729fcf;
    }
.prety_jsonWrpr ul {
    list-style: none;
    padding-left: 15px;
}

.array {
    color: #bf2d2d;
}

.property {
    color: #204a87 !important;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.prety_jsonWrpr ol{
    margin-bottom: 0;
}
.object {
    color: #2a6496;
}
.ar_item {
    color: #4e8102;
    font-size: 13px;
}
.comma {
    color: #798ba5 !important;
}
.xml_viewer_pane {
    width: 100%;
    height: 100%;
    font-weight: 600;
    padding: 5px 10px;
}
.xml_viewer_pane ul{
    list-style:none;
}
    .xml_viewer_pane ol {
        list-style: none;
        margin-bottom: 0;
    }
    .xml_viewer_pane .xml_line {
        color: white;
    }
    .xml_viewer_pane .to {
        color: #7f2f76;
    }
.xml_viewer_pane .val {
    color: #4e9a06;
}
    .xml_viewer_pane .xml_h {
        color: #168cd4;
    }
.raw_data_wrapper {
    color: #4e9a06;
    line-height: 2.2rem;
    font-weight: 600;
    padding: 20px 10px 10px 10px;
}