@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
.scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: visible;
        overflow-y: scroll;
    }
.loadingdiv {
        vertical-align: middle;
        margin: 5% 50%;
        z-index: 1;
        display: none;
    }
</style>
@{
    string head = string.Empty;
    string html = string.Empty;

    var dvid = Convert.ToInt32(ViewBag.dvid);
    var dsid = Convert.ToInt32(ViewBag.dsid);
    var id = Convert.ToInt32(ViewBag.DataId);
    var dvname = ViewBag.dvname;

    @using Newtonsoft.Json;
    @using ExpressBase.Objects.ServiceStack_Artifacts;
        Dictionary<int, EbObjectWrapper> ObjDSList = new Dictionary<int, EbObjectWrapper>();
        Dictionary<int, EbObjectWrapper> ObjDSListAll = new Dictionary<int, EbObjectWrapper>();
        //Dictionary<int, string> ObjDVListAll = new Dictionary<int, string>();
        ObjDSList = ViewBag.DSList;
        ObjDSListAll = ViewBag.DSListAll;
        //ObjDVListAll = ViewBag.DVListAll;
        string ObjDVListAll = JsonConvert.SerializeObject(ViewBag.DVListAll);
        //string ObjDSList = JsonConvert.SerializeObject(ViewBag.DSList);
        //string ObjDSListAll = JsonConvert.SerializeObject(ViewBag.DSListAll);

        if (dsid > 0) {
            EbDataGridView dgv = new EbDataGridView
            {
                DataSourceId = dsid,
                DvId = dvid,
                Dvname = dvname,
                // FilterDialogId = (ViewBag.FDialog as EbFilterDialog).Id,
                Name = "dv" + dvid.ToString(),
                Login = ViewBag.wc,
                Dvlist = ObjDVListAll
            };

            dgv.Token = ViewBag.token;
            dgv.Init4Redis(ViewBag.EbConfig.GetRedisClient(), ViewBag.EbConfig.GetServiceStackClient(ViewBag.token, ViewBag.rToken));


            dgv.SetFilterForm(ViewBag.FDialog);
            html += dgv.GetHtml();
            head += dgv.GetHead();
        }
        // head += (ViewBag.EbForm38 as EbForm).GetHead();
    }
<div class='dropdown' id='datatSourceDropdown'>
    <button class='btn btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>
        <span class='caret'></span>
    </button>
    <ul class='dropdown-menu scrollable-menu'>
        @{
            foreach (var element in ObjDSListAll)
            {
                <li data-dsid="@element.Key">
                    <a href="#">
                        @element.Value.Name
                    </a>
                </li>

            }
        }
    </ul>
</div>

<div id="filterDia"></div>

@section EbHead {
    <script>
        $("#datatSourceDropdown .dropdown-menu li a").on("click", function (e) {
            alert(100);
            dsid = $(e.target).parent().attr("data-dsid");
            $("#datatSourceDropdown .btn:first-child").text($(e.target).text());
            $("#datatSourceDropdown .btn:first-child").val($(e.target).text());
            alert(dsid);
            $.post('../Dev/FilterDialog', { dsid: dsid }, function (data) {
                $("#filterDia").html(data);
                //alert(data);
                //$.get('../Dev/dv', { dsid: dsid, data: dat });

            });
        });
        $(document).ready(function () {
            @Html.Raw(head)
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

@Html.Raw(html)