@page
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Excel To HTML using codebeautify.org</title>

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Eb.css" />
    <link rel="stylesheet" type="text/css" href="~/css/EbChatBot.css" />@*jith*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/Eb_chatBot.js"></script>@*jith*@
</head>
<body>

    <iframe width="420" height="315" src="//eb_roby_dev.localhost:5000/dev/Eb_chatBot" frameborder="0" allowfullscreen></iframe>
    <div id="chatbtn" class="chat-icon"><i class="fa fa-comment-o" aria-hidden="true"></i></div>  
</body>
</html>
<script>
    var chatBotObj = new Eb_chatBot();
</script>
