@using ExpressBase.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;

@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    Dictionary<int, EbObjectWrapper> Objlist = ViewBag.Objlist;
    var ObjectType = ViewBag.EbObjectType;
    string editor = null;
    if (ObjectType == (int)EbObjectType.DataSource)
    {
        editor = "code_editor";
    }
    else if (ObjectType == (int)EbObjectType.DataVisualization)
    {
        editor = "DVEditor";
    }
}
<div class="col-md-8">
    <div class="row main-cont">
        <div class="form-inline">
            @using (Html.BeginForm(editor, "Dev", FormMethod.Get, new { target = "_blank" }))
            {
                <input type="submit" class="btn btn-default" value="New" />
            }
            <button class="btn btn-default" id="reload">Refresh Test</button>
            <button class="btn btn-default">Import</button>
            <button class="btn btn-default">Export</button>
            <div class="input-group pull-right">
                <div class="input-group-btn">
                    <input type="text" class="form-control" aria-label="...">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{
        foreach (var element in Objlist)
        {
            <div class="row objitems">
                <div class="col-md-8" style="border: solid 1px #e6e0e0;margin-left:5px;">
                    <h4>@element.Value.Name</h4>
                    <p class="text-justify">@element.Value.Description</p>
                    <h5>created by dsfsff</h5>
                </div>
                <div class="col-md-1">
                    <span class="label label-primary">Dependency</span>
                    <span class="label label-success">Application</span>
                    <span class="label label-default">Version</span>
                </div>
                <div class="col-md-2 pull-right">
                    <span class="label label-danger" style="margin-right:20px;">Modules</span>
                    <span class="label label-default">Status.</span>
                    @using (Html.BeginForm(editor, "Dev", FormMethod.Post, new { target = "_blank" }))
                    {
                        <input type="hidden" name="objid" value="@element.Value.Id" />
                        <input type="hidden" name="tacid" value="@ViewBag.cid" />
                        <input type="submit" class="btn btn-default" id="btnOpen" value="Open "><i class="caret"></i>
                    }
                </div>
            </div>
        }
    }
</div>
