@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="reportmenu">
        <div class="form-inline" id="options">
            <div class="form-group">
                <label for="sel1">Page Size</label>
                <select class="form-control" id="pagesize">
                    <option value="">Size</option>
                    <option value="Letter">Letter</option>
                    <option value="A1">A1</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" style="display:none" id="Rptbgimg"/>
                <button class="btn btn-default" onclick="$('#Rptbgimg').click();"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <button class="btn btn-default"><i class="fa fa-align-left" aria-hidden="true"></i></i></button>
            </div>
            <div class="form-group">
                <button class="btn btn-default"><i class="fa fa-align-center" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <button class="btn btn-default"><i class="fa fa-align-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="pageCanvas"></div>   
</div>
<script>
    $("#pagesize").change(function () {
        RptBuilder($(this).val());
    });

    $("#Rptbgimg").change(function () {
        setBackgroud(this);
    });
</script>
