
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common;
@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
    @await Component.InvokeAsync("PageHeaderCommon")
}

@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<script src="~/js/Eb_Basic_DataTable.js" asp-append-version=@bApnd></script>
<script src="~/js/EbControls/EbProgressBar.js" asp-append-version=@bApnd></script>
<script src="~/js/EbSqlJob/SqlJobConsole.js" asp-append-version=@bApnd></script>
<script>
    $(function () {
        $("#date").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });

</script>
<script>
  
</script>

<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-12" style="display:flex">
                <div class="dropdown" id="sql-job-objs">
                </div>
            <input type="text" id="date">
            <button id="show-sql-jobs"> Show Jobs</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="list-of-jobs"> </div>
        </div>
    </div>
</div>
<style>
    tbody {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    thead {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    dataTables_scroll {
        height: 550px;
    }

    .selected {
        background-color: #fff !important;
        color: black !important;
    }
</style>
<script>
    if (@Html.Raw(ViewBag.SqlJobObject) != null) {
        var obj = new sqljobconsole({
            AllObj: @Html.Raw(ViewBag.SqlJobObject),
        });
    }
</script>