
/*new style*/
.pd-0{
    padding:0;
}
.eb-wiki-sidebar {
    position: fixed;
    height: 100vh;
    padding-top: 60px;
}

.eb-wiki-pane {
    margin-left: auto;
    padding-top: 60px;
}

.eb-wiki-sidebar .sidebar {
    border-right: 1px solid #ccc;
    line-height: 2em;
    padding-top: 20px;
    overflow-y: auto;
    padding-bottom:20px;
}

.sidebar-item-wraper {
}

    .sidebar-item-wraper .sidebar-item {
        padding: 4px 4px 4px 10px;
        cursor: default;
    }

        .sidebar-item-wraper .sidebar-item .i-con {
            font-size: 17px;
            width:25px;
        }

        .sidebar-item-wraper .sidebar-item .text {

        }
.sidebar-item:hover{
    cursor:pointer;
}
.eb-wiki-sidebar .sidebar-list-wraper {
}
.eb-wiki-sidebar .wraper-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
    .eb-wiki-sidebar .wraper-link:hover {
        background: #e8e8e8;
    }
.eb-wiki-sidebar .sidebar-list-wraper ul {
    list-style: none;
}
.eb-wiki-sidebar .sidebar-list-wraper ul li{
    cursor:pointer;
}
    .eb-wiki-sidebar .sidebar-list-wraper ul li:hover a {
        color: #4d86d6;
        text-decoration:none;
    }
.eb-wiki-sidebar .sidebar-list-wraper .wikilist {
    color: #2b2b2b;
    font-weight: 400;
}
.eb-wiki-sidebar .sidebar-list-wraper .CurrentSelection {
    color: #2b2b2b;
    font-weight: 500;
}

.eb-wiki-pane .eb-wiki-pane-inner {
    display:flex;
    flex-flow:column;
}
.eb-wiki-pane .eb-wiki-pane-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.eb-wiki-pane-brdcrmb {
    font-size: 18px;
    font-weight: 400;
}
    .eb-wiki-pane-brdcrmb .slash {
        margin: 0 5PX;
        color: #8c8989;
    }
.eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox {
    display: flex;
    align-items: center;
    width:300px;
}
        .eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox input {
            width: 100%;
            height: 40px;
            padding-left: 35px;
        }
        .eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox:after {
            content: "\f002";
            font-family: FontAwesome;
            position: absolute;
            margin-left: 10px;
        }
.eb-wiki-pane .eb-wiki-contentdynamic {
    padding: 20px;
    text-align: justify;
}
.eb-wiki-pane h1 {
    font-size: 31px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}
.eb-wiki-pane h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.eb-wiki-pane p {
    font-size: 15px;
    line-height: 1.8em;
    text-align: justify;
}
.eb-wiki-pane .SearchWithTag {
    background: #dcf0ff;
    border: 1px solid #dcf0ff;
    /* background: linear-gradient(to right,#eef9fe,#edf7ff); */
    border-radius: 4px;
    padding: 3px 10px;
    margin: 10px 3px;
}
.eb-wiki-pane .WasItHelp {
    background: white;
    border: 1px solid #4987fb;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #4987fb;
    padding: 2px 5px;
    line-height: 1.5;
}
.eb-wiki-pane .wiki_data {
    font-size: 15px;
    line-height: 1.8em;
}
.eb-wiki-pane pre.prettyprint {
    padding: 10px;
    border: 1px solid #e2e2e2;
    background: #f1f5f9;
    margin-bottom:20px;
}
/*new style end*/
.wiki_data_div {
    color: #2b2b2b;
    font-family: Montserrat;
    text-align: justify;
    font-weight: 400;
    padding: 0% 10% 0% 10%;
}
.wiki_data_div h1 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}
.wiki_data_div p{
    font-size: 15px;
    line-height: 1.8em;
}
.wiki_data_div a{
    font-size: 15px;
    line-height: 1.8em;
}
.wiki_data_div li{
    font-size: 15px;
    line-height: 1.8em;
}
.wiki_data_div h2 {
    font-size: 27px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.wiki_data_div h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.wiki_data_div img {
    min-height : 300px;
}
    .wiki_data_div iframe {
        min-height: 315px;
        min-width: 560px;
        margin-left: 25%;
    }

div.searchDiv {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-bottom: solid 1px #bfbfbf;
    margin: 5px 0;
    margin-bottom: 10px;
    flex-flow: column;
    display: flex;
    line-height: 1.8em;
}

    div.searchDiv center {
        text-align: left;
    }

    div.searchDiv h1 {
        display: none;
    }

    div.searchDiv p {
        font-size: 15px;
        line-height: 1.8em;
    }

    div.searchDiv a {
        font-size: 20px;
        cursor:pointer;
    }
    div.searchDiv a:hover {
       text-decoration:none;
    }

div.searchDiv iframe{
    display:none;
}

.block {
    position: fixed;
    background: #f4f4f4;
    padding: 0px;
    width: 876px;
    overflow: auto;
}

.input-group {
    width: 301px;
    height: 31px;
    position: relative;
    margin-left: 62px;
}

    .input-group input {
        height: 35px;
        box-shadow: none;
        border-right: 0;
        border-color: #508cf9;
    }

.props {
    background: #fff;
    min-width: 53px;
    width:100%;
    min-height: 22px;
    font-size: 12px;
    align-content: center;
    margin: 0px;
    font-weight: 500;
}
    .props:hover {
        background-color: #d3e5ff;
    }

    .props:active {
        background-color: cornflowerblue;
    }

 .Btn1stRow .props {
    border-right: solid 1px #e6e6e6;
    border-left:solid 0px;
    border-top:solid 0px;
    border-bottom:solid 0px;
}

.Btn1stRow .props2 {
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 0px;
    border-left: solid 0px;
    border-top: solid 0px;
}
    .Btn1stRow .props2:last-child {
        border-right: solid 0px;
    }

   

    
.props2 {
    text-align: center;
    padding: 3px;
    min-width: 50px;
    background: #fff;
    width: 53px;
    height: 22px;
    font-size: 12px;
    align-content: center;
    margin: 0px;
    font-weight: 500;
    color: black;
}
    .props2:hover {
        background-color: #d3e5ff;
        color: black;
    }

    .props2:active {
        background-color: cornflowerblue;
            }

iframe {
    width: 470px;
    height: 315px;
}

.img {
    width: 470px;
    height: 315px;
}

.style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: lightgrey #557aff;
}
.animation {
    -webkit-transition-property: font-size; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    -webkit-transition-delay: .1s;
    transition-timing-function: linear;
    font-size: 19px;
    color: #23527c;
    text-decoration: none;
}

.GettingStartedWrapper {
    display: flex;
    width: 85%; 
}


    .GettingStarted {
        display: flex;
        height: 80px;
        border-radius: 10px;
        border: solid 1px #d2d2d2;
        width: 100%;
        margin: 5px 15px 15px 5px;
    }
        .GettingStarted .divIcon {
            width: 56px;
            font-size: 35px;
            padding: 16px 10px 15px 10px;
            color: #7f7f80;
        }
    .GettingStarted .h1Wrap {
        font-size: 14px;
        font-weight:500;
        padding: 10px 0px 0px 10px;
    }
        .GettingStarted .PWrap {
            padding: 1px 5px 5px 10px;
            font-size: 13px;
        }
        .GettingStarted:hover {
            cursor:pointer;
            -webkit-box-shadow: 1px 0px 5px 1px rgba(158,158,158,0.4);
            -moz-box-shadow: 1px 0px 5px 1px rgba(158,158,158,0.4);
            box-shadow: 1px 0px 5px 1px rgba(158,158,158,0.4);
        }


    /*share links*/
    .icon-bar {
        font-size: 20px;
        padding: 4px;
    }


/*wiki add*/

#btnUploadImg {
    border: solid 1px #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 2px 15px 2px 15px;
    background: #1573ff;
}

.wiki-preview {
    color: #2b2b2b;
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
    padding: 0% 10% 0% 10%;
    font-weight: 300;
}
    .wiki-preview .render {
        
    }

        .wiki-preview .render h1 {
            font-size: 31px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 400;
        }
        .wiki-preview .render h3 {
            font-size: 22px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .wiki-preview .render p {
            font-size: 15px;
            line-height: 1.8em;
            text-align: justify;
        }

        .wiki-preview .render pre.prettyprint {
            padding: 10px;
            border: 1px solid #e2e2e2;
            background: #f1f5f9;
            margin-bottom: 20px;
        }


        .wiki-preview .render a {
            font-size: 15px;
            line-height: 1.8em;
        }

        .wiki-preview .render li {
            font-size: 15px;
            line-height: 1.8em;
        }

        .wiki-preview .render h2 {
            font-size: 27px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .wiki-preview .render h3 {
            font-size: 22px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .wiki-preview .render img {
            min-height: 300px;
        }

        .wiki-preview .render iframe {
            min-height: 315px;
            min-width: 560px;
            margin-left: 25%;
        }


    .manage-wiki-nav {
        display: flex;
        width: 100%;
        flex-flow: column;
    }
    .public h1 {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        font-weight: 200;
    }


.form-control {
    width: 120px;
}

.popover {
    max-width: 400px;
}

#popover-content-logout > * {
    background-color: #ff0000 !important;
}


.dragable_wiki_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 7%;
}
.dragable_wiki_list:last-child{
    margin-bottom:10px;
}
    .dragable_wiki_list li {
        cursor: move;
        margin: 0 0px 2px 0px;
        padding: 0.2em;
        padding-left: 1.5em;
        font-size: 12px;
        font-weight: 400;
        height: 23px;
        width: 92%;
        border-radius: 2px;
    }
        .dragable_wiki_list li:hover {
            color: black;
            background: #508bf9;
        }
        .dragable_wiki_list li:active {
            color: #fff;
            background: #508bf9;
        }

        .dragable_wiki_list li span {
            position: center;
            margin-left: -1.3em;
        }

#layout_div {
    background-color: white;
}

.WikiMenu {
    font-size: 16px;
    line-height: 30px;
    color: #5f6c7d;
    font-weight: 400;
    padding-left: 2em;
    margin-bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: solid 1px #eee;
}
    .WikiMenu i {
        font-size: 14px;
    }
.BoxView {
    width: 31%;
    border: solid 1px #ccc;
    margin: 15px 15px 0px 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
}

.WikiList {
    width: auto;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 4px;
    margin-bottom: 10px;
    /* padding-bottom: 5px; */
    border: solid 1px #d4d4d4;
    padding: 6px;
}
    .WikiList h1 {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        font-weight: 200;
    }
    .WikiList p {
        font-size: 12px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        font-weight: 200;
    }
    .WikiList:hover {
        cursor:pointer;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.13);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.13);
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.13);
    }
    .wikilist:active {
        background-color: #f5f5f5;
    }
.UpdateOrder {
    width: 133px;
    height: 25px;
    font-size: 14px;
    color: white;
    background: #508bf9;
    border: 0px;
    margin: 1% 1% 1% 43%;
    border-radius: 4px;
}



.wiki_btn:hover {
    border: 0px;
}


/*ADmin Wiki*/
.wiki_admin {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #5f6c7d;
    font-size: 35px;
    font-weight: 300;
}
.menu_border {
    font-weight: bold;
}
.search-box-fab{
    position:absolute;
}
    .search-box-fab .fab-icon {

    }
.NextPreWiki {
    background: #ffffff;
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 3px 10px;
    margin: 0px 3px 15px 0px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
    .NextPreWiki:hover {
        background: #dcf0ff;
        
    }
    .NextPreWiki:active {
        background-color: white;
    }
.GrpAddSel {
    width: 100%;
    padding: 1px;
    border-radius: 4px;
    border: solid 1px #bfbfbf;
    font-size: 13px;
    outline: none;
    padding-left: 7px;
}
.btnGrp2 {
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
    width: 20%;
    height: 25px;
    padding: 2px;
    margin-right: 10px;
    border: solid 1px #cecece;
    background: #efefef;
    border-radius: 4px;
    outline: none;
}

    .btnGrp2:hover {
        background-color: #8AB6F7
    }

    .btnGrp2:active {
        background-color: cornflowerblue;
    }
/*#galleryToggle {
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    height: 25px;
    padding: 3px;
    margin-right: 10px;
    border: solid 1px #cecece;
    background: #efefef;
    width: 20%;
    text-decoration: none;
    color: black;
    padding-left: 6%;
    border-radius: 4px;
    outline: none;
}
    #galleryToggle:hover {
        background-color: #8AB6F7
    }

    #galleryToggle:active {
        background-color: cornflowerblue;
    }*/

.WikiDefaultImage {
    height: 400px;
    align-items: center;
    border-radius :2px;
}

.readtext {
    outline: none;
    border: solid 1px #9a9a9a;
    border-radius: 0px 0px 4px 4px;
}
.ButtonBox {
    border-top: solid 1px #9a9a9a;
    border-left: solid 1px #9a9a9a;
    border-right: solid 1px #9a9a9a;
    border-bottom: solid 1px #fff;
    border-radius:4px 4px 0px 0px;
}
.FullScreenDiv1 {
    display: flex;
    padding-left: 10%;
    border-bottom: solid 1px;
}
.Save_Btn {
    color: white;
    background-color: #2f82fd;
    width: 100%;
    min-height: 23px;
    font-size: 12px;
    border: solid 1px;
    border-radius: 4px;
}

.nav > li > a {
    padding: 10px 15px 2px 15px;
}
.nav > li > input {
    color: white;
    background-color: #2f82fd;
    float: right;
    padding: 5px;
    margin: 0px 25px 0px 0px;

}
.wiki-add .eb-styledTab {
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 13px;
    margin-bottom: 10px;
}


/*padding-right: 15px;*/
/* padding-left: 15px; *//**/