
/*new style*/
.pd-0{
    padding:0;
}
.eb-wiki-sidebar {
    position: fixed;
    height: 100vh;
    padding-top: 60px;
}

.eb-wiki-pane {
    margin-left: auto;
    padding-top: 60px;
}

.eb-wiki-sidebar .sidebar {
    border-right: 1px solid #ccc;
    line-height: 2em;
    padding-top: 20px;
    overflow-y: auto;
    padding-bottom:20px;
}

.sidebar-item-wraper {
}

    .sidebar-item-wraper .sidebar-item {
        padding: 4px 4px 4px 10px;
        cursor: default;
    }

        .sidebar-item-wraper .sidebar-item .i-con {
            font-size: 17px;
            width:25px;
        }

        .sidebar-item-wraper .sidebar-item .text {

        }
.eb-wiki-sidebar .sidebar-list-wraper {

}
.eb-wiki-sidebar .wraper-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
    .eb-wiki-sidebar .wraper-link:hover {
        background: #e8e8e8;
    }
.eb-wiki-sidebar .sidebar-list-wraper ul {
    list-style: none;
}
.eb-wiki-sidebar .sidebar-list-wraper ul li{
    cursor:pointer;
}
    .eb-wiki-sidebar .sidebar-list-wraper ul li:hover a {
        color: #4d86d6;
        text-decoration:none;
    }
.eb-wiki-sidebar .sidebar-list-wraper .wikilist {
    color: #2b2b2b;
    font-weight: 400;
}
.eb-wiki-pane .eb-wiki-pane-inner {
    display:flex;
    flex-flow:column;
}
.eb-wiki-pane .eb-wiki-pane-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.eb-wiki-pane-brdcrmb {
    font-size: 18px;
    font-weight: 400;
}
    .eb-wiki-pane-brdcrmb .slash {
        margin: 0 5PX;
        color: #8c8989;
    }
.eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox {
    display: flex;
    align-items: center;
    width:300px;
}
        .eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox input {
            width: 100%;
            height: 40px;
            padding-left: 35px;
        }
        .eb-wiki-pane .eb-wiki-pane-inner .eb-wiki-searchbox:after {
            content: "\f002";
            font-family: FontAwesome;
            position: absolute;
            margin-left: 10px;
        }
.eb-wiki-pane .eb-wiki-contentdynamic {
    padding:20px;
}
.eb-wiki-pane h1 {
    font-size: 31px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}
.eb-wiki-pane h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.eb-wiki-pane p {
    font-size: 15px;
    line-height: 1.8em;
}
.eb-wiki-pane .SearchWithTag {
    background: #dcf0ff;
    border: 1px solid #dcf0ff;
    /* background: linear-gradient(to right,#eef9fe,#edf7ff); */
    border-radius: 4px;
    padding: 3px 10px;
    margin: 10px 3px;
}
.eb-wiki-pane .WasItHelp {
    background: white;
    border: 1px solid #4987fb;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #4987fb;
    padding: 2px 5px;
    line-height: 1.5;
}
.eb-wiki-pane .wiki_data {
    font-size: 15px;
    line-height: 1.8em;
}
.eb-wiki-pane pre.prettyprint {
    padding: 10px;
    border: 1px solid #e2e2e2;
    background: #f1f5f9;
    margin-bottom:20px;
}
/*new style end*/
.render {
    background-color: #f8f8f8;
    max-width: 644px;
    height: 405px;
    border: 2px solid blue;
    padding: 20px;
    margin: 0px;
    overflow: auto;
}

.CurrentSelection {
    color: darkblue;
    font-weight: bolder;
}

div.searchDiv {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-bottom: solid 1px #bfbfbf;
    margin: 5px 0;
    margin-bottom: 10px;
    flex-flow: column;
    display: flex;
    line-height: 1.8em;
}

    div.searchDiv center {
        text-align: left;
    }

    div.searchDiv h1 {
        display: none;
    }

    div.searchDiv p {
        font-size: 15px;
        line-height: 1.8em;
    }

    div.searchDiv a {
        font-size: 20px;
        cursor:pointer;
    }
    div.searchDiv a:hover {
       text-decoration:none;
    }

div.searchDiv iframe{
    display:none;
}

.block {
    position: fixed;
    background: #f4f4f4;
    padding: 0px;
    width: 876px;
    overflow: auto;
}

.input-group {
    width: 301px;
    height: 31px;
    position: relative;
    margin-left: 62px;
}

    .input-group input {
        height: 35px;
        box-shadow: none;
        border-right: 0;
        border-color: #508cf9;
    }

.props {
    width: 63px;
    height: 25px;
    align-content: center;
}

    .props:hover {
        background-color: #8AB6F7
    }

    .props:active {
        background-color: cornflowerblue;
    }

iframe {
    width: 470px;
    height: 315px;
}

.img {
    width: 470px;
    height: 315px;
}

.style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: lightgrey #557aff;
}
.animation {
    -webkit-transition-property: font-size; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    -webkit-transition-delay: .1s;
    transition-timing-function: linear;
    font-size: 19px;
    color: #23527c;
    text-decoration: none;
}

/*share links*/
.icon-bar{
    font-size:20px;
    padding:4px;
}
/*wiki admin*/
.public h1 {
    font-size: 18px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-weight: 200;
}

/*.admin_wiki_list {
    height: 39px;
    width: 100%;
    overflow: hidden;
}

    .admin_wiki_list h1 {
        font-size: 15px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
    }

    .admin_wiki_list p {
        font-size: 10px;
        line-height: 10px;
        font-family: Montserrat;
        color: #4c4848;
    }

    .admin_wiki_list center {
        text-align: left;
    }

    .admin_wiki_list h2 {
        font-size: 13px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
    }*/

/*.container {
    padding: 20px;
}*/

.form-control {
    width: 120px;
}

.popover {
    max-width: 400px;
}

#popover-content-logout > * {
    background-color: #ff0000 !important;
}


.dragable_wiki_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    margin-left: 50px;
}

    .dragable_wiki_list li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 13px;
        height: 28px;
        width: 400px;
    }

        .dragable_wiki_list li span {
            position: center;
            margin-left: -1.3em;
        }

#layout_div {
    background-color: white;
}

.WikiMenu {
    font-size: 20px;
    line-height: 42px;
    color: #2d2d2d;
    font-weight: 400;
   
}

.WikiList {
    width: auto;
    margin-left: 50px;
    /*border-bottom: solid 1px #bfbfbf;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.UpdateOrder {
    width: 211px;
    height: 35px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    background: #4d86d6;
    border: 0px;
    margin-left: 135px;
    margin-top: 15px;
}

#CreateWiki {
    font-size: 14px;
    width: 150px;
    height: 35px;
    border: 0px;
    background: #4d86d6;
    margin-top: 25px;
    color: white;
    
}

.wiki_btn:hover {
    border: 0px;
}

/*.wiki_admin_h1 {
    letter-spacing: -1.25px;
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.84);
    font-style: normal;
}*/

.menu_border {
    font-weight: bold;
}

.render_field {
    width: 45px;
    height: 30px;
    margin-right: 25px;
    border: 2px solid #73AD21;
}
.search-box-fab{
    position:absolute;
}
    .search-box-fab .fab-icon {

    }