

.ppt-dash {
    top: 0px;
    right: 0px;
    width: 385px;
    position: fixed;
    display: block;
    margin-top: 37px;
    height: 100%;
    z-index: 3;
    border: 1px solid rgb(204, 204, 204);
}
.Sql-Job-Cont {
    min-height: 650px;
    background-color: white;
    padding: 0px;
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 6px;
    border: 1px solid #dedede;
}
.Sql-Job-left-pane {
    height: 650px;
    background-color: white;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 6px;
    border: 1px solid #dedede;
}

.SqlJobItem {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.drpbox {
    min-height: 60px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    flex-flow: column;
    text-align: center;
}
.drpboxInt {
    min-height: 60px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    flex-flow: column;
    text-align: center;
}

.Sql_Dropable{
    margin-left:30px;
}