@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<section class="aboutus-header">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 no-padd al_bottom">
                        <h1 class="text-center">We are a people first company.</h1>
                        <p class="text-center">
                            Whether employees are customer.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="m_v mt mb">
    <div class="container">
        <div class="row mv_com eb_mis">
            <div class="col-md-2 col-lg-2 col-sm-2 hidden-xs pd_for_img">
                <img src="~/images/svg/start.svg" class="icon_mis" />
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
                EXPRESSbase Systems Private Limited is a software product(SaaS) startup incorperated in Oct 2016 and
                is currently incubated at Nasscom 10k StartUp Warehouse, Infopark, Kochi, Kerala, India.
                We firmly believe people build and shape great companies and products.
                We have an energetic young and experienced team who are excited to take on huge challeges.
            </div>
        </div>
        <div class="row mv_com eb_vis">            
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
                We value our customer's effort, time and money. Our mission is to reduce the time
                and effort Small and Mid Sized Businesses spend on business automation.
                Change is inevitable but this is an era of "supersonic" disruptions. To survive SMBs need rapidly evolving
                software and conventional modes of application development simply doesn't make sense.
                We are passionately building next-gen rapid application development tools on the cloud
                for SMBs who have frequent changes in processes and workflows thanks to their rapid growth or market disruptions.
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 hidden-xs pd_for_img">
                <img src="~/images/svg/start.svg" class="icon_mis" />
            </div>
        </div>
    </div>
</section>
<!--Organisations-->
<section id="founder" class="founder mt mb">
    <div class="container">
        <h2 class="mt0 eb_font_H text-center h_b">Team</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img src="~/images/founder.jpg" class="img-responsive">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="detail-info">
                    <hgroup>
                        <h3 class="mt0"> Suresh Balasubramanian</h3>
                        <h4>Founder & CEO</h4>
                    </hgroup>
                    <p>Suresh is an IT professional having 20+ years of experience working with both corporate and startups. A graduate in Chemistry, he started his career in Pharmaceutical Sales and Marketing with Sun Pharma. After 1¼ years he eventually ended up in the IT industry after a friend introduced him to the world of computers.</p>
                    <p>A self taught IT professional, Suresh has worked with corporate like PayPal, BMC Software and Microsoft. Suresh dreams to build a world class next generation aPaaS product targeting Small/Medium enterprises. Suresh lives in Kerala, India with his wife Smruthi Sasidharan and 8 year old son Zorbian Smruthi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Organisations-->
<!--team-->
<section class="team mt mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-sm-offset-4 col-md-offset-4 col-sm-4 col-xs-12 profile">
                <div class="img-box_lead">
                    <img src="~/images/unni.jpg" class="img-responsive">
                </div>
                <h3 class="mt0 text-center">Ahammad Unni</h3>
                <h4 class="text-center">Tech Lead</h4>
            </div>
        </div>
        <div class="row feature_row_second">          
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/bini.png" class="img-responsive">
                </div>
                <h1>Bini Varghese</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/robin.png" class="img-responsive">
                </div>
                <h1>Roby Abraham</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/jith.png" class="img-responsive">
                </div>
                <h1>Jithjob K I</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/dona.png" class="img-responsive">
                </div>
                <h1>Dona Jose</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/amal.png" class="img-responsive">
                </div>
                <h1>Amal K Dev</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/chinchu.png" class="img-responsive">
                </div>
                <h1>Chinchu C Vijayan</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                    <img src="~/images/febin.png" class="img-responsive">
                </div>
                <h1>Febin Carlos</h1>
                <h2>Software Engineer</h2>
            </div>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("PageFooter");
}
<script>
    $("#products").hide();
    $('#trial-btn').show();  
</script>
