@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<link rel="stylesheet" type="text/css" href="~/css/Ebproducts.css" />
<section class="bot-faq bg-fafa" id="faqs">
    <div class="container-fluid">
        <div class="header-section text-center">
            <h3>FAQ's</h3>
        </div>
        <div class="col-md-6 col-lg-6 col-ms-6 col-xs-12">
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q1">What can Eb-Bot do?</h4>
                <div class="collapse answer" id="q1">
                    It elegantly collect data and seamlessly automates workflows.
                    This is not your usual chat tool, Eb-Bots acts as a window to your software solution.
                </div>
            </div>
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q2">How can I create an Eb-Bot? Do I need to be a developer?</h4>
                <div class="collapse answer" id="q2">
                    Even though Expressbase is a low code solution, we provide a simple Drag n Drop Bot builder.
                    So if your requirments are basic, without any advance validations and stuff then you don't need any developer expertise.
                </div>
            </div>
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q3">What is a bot form?</h4>
                <div class="collapse answer" id="q3">
                    It is the most important component of our chat-bot, which handles the data collection.
                    You get to build and customize your bot-forms with our powerful Drag n Drop builder.
                    If your data collection requirements are complex, you can even use JavaScript/SQL.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-ms-6 col-xs-12">
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q4">How Can I embed Eb-Bot to my site? Do I need to fix my site every time I change my bot?</h4>
                <div class="collapse answer" id="q4">
                    As soon as you create your bot, you will be provided with an HTML/JavaScript snippet to embed into your public website, intranet site or a web based business app.
                    After you embed the bot, you can keep customizing both look & feel and the bot-forms in our platform.
                    Changes will be applied instantly to the bot without changing anything anywhere.
                </div>
            </div>
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q5">How are you different from intercom, crisp or chatfuel?</h4>
                <div class="collapse answer" id="q5">
                    Eb-Bot is not a Facebook Marketing tool.
                    It is a tool for both authenticated and non-authenticated data collection and storage into your database.
                </div>
            </div>
            <div class="faqs">
                <h4 class="ques" data-toggle="collapse" data-target="#q6">Why are the bots using Facebook?</h4>
                <div class="collapse answer" id="q6">
                    Eb-Bots are using Facebook only for authenticating users and mapping them to system user accounts.
                    User privacy is our paramount concern.
                </div>
            </div>
        </div>
    </div>
</section>