@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }

    var _applicationCollection = Html.Raw(ViewBag.AppCollection);
    var _roleId = ViewBag.RoleId;
    var _roleInfo = Html.Raw(ViewBag.SelectedRoleInfo);
    var _permission = Html.Raw(ViewBag.PermissionList);
    var _roleList = Html.Raw(ViewBag.RoleList);
    var _role2RoleList = Html.Raw(ViewBag.Role2RoleList);
    var _usersList = Html.Raw(ViewBag.UsersList);
}

<link rel="stylesheet" type="text/css" href="~/css/SecurityStyle.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" />
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/ManageRoles.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/TileSetup.js" asp-append-version=@bApnd></script>

<style>
</style>
<div class="row">
    <div class="col-md-3" style="padding-right:0px;">
        <form id="formManageRoles" data-toggle="validator" method="POST" action="">
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Name</label>
                <div class="from-group has-feedback">
                    <input type="text" class="form-control" id="txtRoleName" data-id=@ViewBag.RoleId title="Role Name" required />
                    <span class="input-group-addon form-control-feedback" id="spanRoleName" style="background-color: transparent; border: none; padding: 0px; right: 26px;top: 0px;"><i class="fa fa-times" aria-hidden="true" style="color: transparent; padding: 9px;"></i></span>
                </div>
            </div>
            <div class="form-group" style="">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Description</label>
                <textarea class="form-control" id="txtRoleDescription" style="height:58px;width:100%;resize:none;" title="Role Description" required></textarea>
            </div>
            <div class="form-group" style="">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Application</label>
                <select class="form-control" id="selectApp" title="Application"></select>
            </div>
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Type</label>
                <input id="chkboxAnonymous" type="checkbox" data-toggle="toggle" data-on="Anonymous" data-off="Normal">
            </div>
            <input type="submit" id="hiddenSubmitRole" style="display:none;" />
        </form>
    </div>
    <div class="col-md-9">
        <div style="padding: 0px 15px;">
            <ul id="ulTabOnMngRole" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#divObjList">Permissions</a></li>
                <li><a data-toggle="tab" href="#divroles">Sub Roles</a></li>
                <li><a data-toggle="tab" href="#divusers">Users</a></li>
                <li><a data-toggle="tab" href="#divconstraints">Constraints</a></li>
            </ul>
            <div class="tab-content" style="padding: 0px 0px;">
                <div id="divObjList" class="row tab-pane fade in active" style="margin:0px; height: 530px; overflow-x: auto; overflow-y:auto; width: 955px;"></div>
                <div id="divroles" class="tab-pane fade"></div>
                <div id="divusers" class="tab-pane fade"></div>
                <div id="divconstraints" class="tab-pane fade">
                    <div style="text-align: center; padding-top: 22%; font-size: 32px; color: #bbb; "> Coming Soon </div>
                </div>
            </div>
        </div>
        @*<button class="btn btn-info" id="btnSaveAll" style="float:right; margin-right:15px">Submit</button>*@
        @*onclick="$('#hiddenSubmitRole').click()"*@
    </div>
</div>



<script>

    $('document').ready(function () {

        var _dict = @Html.Raw(TempData.Peek("_dict"));

        var obj = new ManageRolesJs(@_applicationCollection, @_roleId, @_roleInfo, @_permission, _dict, @_roleList, @_role2RoleList, @_usersList);
    });
</script>