@{
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Common.Objects;

    var _applicationCollection = Html.Raw(ViewBag.AppCollection);
    var _roleId = ViewBag.RoleId;
    var _roleInfo = Html.Raw(ViewBag.SelectedRoleInfo);
    var _permission = Html.Raw(ViewBag.PermissionList);
    var _roleList = Html.Raw(ViewBag.RoleList);
    var _role2RoleList = Html.Raw(ViewBag.Role2RoleList);
    var _usersList = Html.Raw(ViewBag.UsersList);
}

<script type="text/javascript" src="~/js/TableScroll.js"></script>

<style>
    .outer-section-manageroles {
        height: 100vh;
        font-family: open sans;
        font-weight: 300;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

    .searchRsulsItemsDiv:hover {
        background-color: #eee;
    }

    .mydiv1:hover {
        background-color: #f5f5f5;
        border: none;
    }

    .mydiv1 {
        border: 2px solid #f5f5f5;
        background-color: #fdfdfd;
        border-radius: 6px;
        align-items: center;
        height: 75px;
        overflow: hidden;
        padding: 10px 13px;
        margin-top: 15px;
    }

    .icondiv1 {
        display: inline-block;
        font-size: xx-large;
        padding-right: 10px;
        vertical-align: top;
    }

    .textdiv1 {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }

    .closediv1 {
        display: inline-block;
        float: right;
        cursor: pointer;
        vertical-align: top;
    }

    .tilediv1 {
        border: 1px solid;
        border-color: #ccc;
        padding: 10px;
        height: 300px;
        border-radius: 6px;
        overflow: auto;
        margin: 0px;
    }

    .dataTables_scrollHead {
        padding-bottom: 10px;
        margin-bottom: -10px;
    }

    .dataTables_scroll {
        height: inherit;
    }

    .dataTableColumnStyle {
        font-size: 14px;
    }

    .active123 {
        background-color: #eee;
    }



    .nav-tabs > li.active {
        border-top: 3px solid #339bb3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


</style>
<div>
    <form id="formManageRoles" data-toggle="validator" method="POST" action="">
        <div class="row" style="margin:0px">
            <div class="col-md-4">
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtRoleName" data-id=@ViewBag.RoleId title="Role Name" required />
                        <span class="input-group-addon" id="spanRoleName" style="background-color: transparent;border: none;"><i class="fa fa-times" aria-hidden="true" style="color: transparent"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">Application</label>
                    <select class="form-control" id="selectApp" title="Application"></select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Description</label>
                    <textarea class="form-control" id="txtRoleDescription" style="height:58px;width:100%;" title="Role Description" required></textarea>
                </div>
                <div class="form-group">
                    <label style="font-family: open sans; font-weight: 300; display:inline-block">Is Anonymous Role</label>
                    <input id="chkboxAnonymous" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No">
                </div>
            </div>
            <input type="submit" id="hiddenSubmitRole" style="display:none;" />
        </div>
    </form>
    <div style="padding: 0px 15px;">
        <ul id="ulTabOnMngRole" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#divObjList">Permissions</a></li>
            <li><a data-toggle="tab" href="#divroles">Sub Roles</a></li>
            <li><a data-toggle="tab" href="#divusers">Users</a></li>
            <li><a data-toggle="tab" href="#divconstraints">Constraints</a></li>
        </ul>
        <div class="tab-content" style="padding: 15px 0px;">
            <div id="divObjList" class="row tab-pane fade in active" style="margin:0px; height: 345px; overflow: auto;"></div>
            <div id="divroles" class="tab-pane fade"></div>
            <div id="divusers" class="tab-pane fade"></div>
            <div id="divconstraints" class="tab-pane fade">
                <div style="text-align: center; margin: 13%; font-size: 32px; color: #bbb; "> Comming Soon </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info" id="btnSaveAll" style="float:right; margin-right:15px">Submit</button>
    @*onclick="$('#hiddenSubmitRole').click()"*@
</div>



<script>

    $('document').ready(function () {

        var _dict = @Html.Raw(TempData.Peek("_dict"));

        var obj = new ManageRolesJs(@_applicationCollection, @_roleId, @_roleInfo, @_permission, _dict, @_roleList, @_role2RoleList, @_usersList);
    });
</script>