<div class="row" id="">
    <div class="toolbar objectDashB-toolbar">
        <div class="col-md-4 pd-0">
            <button class="btn obj_list_shortCut quik_menu" id="quik_menu"><i class="fa fa-th" aria-hidden="true"></i></button>
            <div class="bread_cr_title">
                <div class="brdCrumb col-md-12 pd-0">
                    <a href="#"> Home/</a>
                </div>
                <div class="col-md-12 pd-0">
                        <h5 class="mr-0"> <label id="objname">@ViewBag.ObjName</label></h5>
                    </div>
            </div>
        </div>
        <div class="col-md-8 pd-0 comon_header_dy">
            <div class='toolicons form-inline pull-right'>
                <div id="obj_icons" style="display:inline"></div>
                <div class='form-group'>
                    <button class="btn notification_menu">
                        <i class="fa fa-bell" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                    </button>
                    <div class="dropdown obj_dash_proimage_drp">
                        <img src="~/images/proimg.jpg" data-toggle="dropdown" class="obj_dash_proimage dropdown-toggle" />
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul class="drp_ul">
                                <li class="drp_item border_b" style="height:50px;">
                                    <img src="~/images/proimg.jpg" class="proimage_inner" /><div class="user_info">
                                        <h4>Sample name</h4>
                                        <p>sample@gmail.com</p>
                                    </div>
                                </li>
                                <li class="drp_item border_b"><a onclick="LoadMyProfile()"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                                <li class="drp_item"><a href="./Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class='btn' id="minmize"><i class="fa fa-ellipsis-v" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var MenuBarCommon = function () {
        this.BuildMenu = function ($html) { 
            $(".comon_header_dy .toolicons").prepend(`${$html}`);
        };
        this.setName = function (name) {
            $(".bread_cr_title #objname").text(`${name}`);
        };
    };

    function LoadMyProfile() {
        event.preventDefault();
        //window.open("../Security/ManageUser?itemid=" + $("#hiddenTxtUserId").val(), "_blank");
        var _form = document.createElement("form");
        _form.setAttribute("method", "post");
        _form.setAttribute("action", "../Security/ManageUser");
        _form.setAttribute("target", "_blank");
        var input = document.createElement('input');
        input.type = 'hidden'; input.name = "itemid"; input.value = "-1";
        _form.appendChild(input);
        var mode = document.createElement('input');
        mode.type = 'hidden'; mode.name = "Mode";
        mode.value = '3'; _form.appendChild(mode);
        document.body.appendChild(_form);
        _form.submit();
        document.body.removeChild(_form);
    }

</script>