@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    if (ViewBag.SolutionId == "myaccount")
    {
        await Html.RenderPartialAsync("ExtPageHeader");
    }
    else if (ViewBag.WhichConsole == "dc" || ViewBag.WhichConsole == "uc")
    {
        await Html.RenderPartialAsync("ScontextHeader");
    }
    else
    {
        await Html.RenderPartialAsync("ExtPageHeader");
    }
}

@{
    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)

    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 401:
            statusmessage = "Access denied";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusmessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        case 700:
            statusmessage = "Solution does not exist!";
            break;
        default:
            statusmessage = "That’s odd... Something we didn't expect happened";
            break;
    }
}
<div class="error_cont h-100">
    <div class="error_wrapper">
        <div class="errorcode_img">
            @{
                if (Model == 401)
                {
                    <img src="~/images/eb_401.svg" class="w-100"/>

                }
                else if (Model == 404)
                {
                    <img src="~/images/eb_404.jpg" class="w-100"/>

                }
                else if (Model == 700)
                {
                    <img src="~/images/eb_404.jpg" class="w-100"/>
                }
            }
        </div>
        <h2 class="text-center">@statusmessage</h2>
        <button class="ebbtn eb_btnblue backto_home" id="backto_home" onclick="javascript: history.go(-1)">Go Back</button>
    </div>
</div>
<script>
    console.log('Response: ');
    console.log(@Html.Raw(ViewBag.ErrorResponse));
</script>