<head>
    <title>Customer Creation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="~/css/Stripe/index.css">
    <script type="text/javascript" src="~/js/Stripe/index.js"></script>

</head>
<body>
    @{
        if (ViewBag.Status)
        {
            <div id="subscription-req">
                <div class="form-style form-style-padding">
                    <div class="heading">
                        <h2>UPGRADE</h2>
                    </div>
                    <div class="upgrade-content">
                        You are currently using Free Plan (Free for first 5 users). You can upgrade your plan for having more users, cost $5 for each.
                    </div>
                </div>
                <div class="div-seperate">
                    <button class="button-style" onclick="showusr()">Upgrade</button>
                </div>
            </div>

            <div id="users-form" style="display:none;">
                <div class="form-style form-style-padding">
                    <div class="div-input" id="div-usr">
                        <label class="label-font-sub">Number of Users</label>
                        <input type="number" class="text-input" name="usr" id="usr" placeholder="5" min="5" onchange="calculateAmt()" onkeyup="calculateAmt()" required />
                    </div>
                    <div id="div-total" class="div-input">
                        <label class="label-total label-total-main-title">Total</label>
                        <label class="label-total label-total-content" id="total-content" name="total-content"></label>
                        <label class="label-total label-total-main" name="total" id="total"></label>
                        <label class="label-total label-total-content">/month</label>
                    </div>
                </div>
                <div class="div-seperate" id="div-continue-button">
                    <button class="button-style" id="continue-button" onclick="showpayment()">Proceed to Payment</button>
                </div>
                <form id="payment-form" action="/Stripe/Index" method="post" autocomplete="off" style="display: none;">
                    <div class="form-style-sub form-style-padding">
                        <input type="hidden" id="tot" name="tot" />
                        <input type="hidden" id="usrno" name="usrno" />
                        <div class="div-input div-input-border">
                            <label class="label-font">Name</label>
                            <input type="text" class="text-input" name="name" id="name" placeholder="Jenny Rosen" required />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">Email</label>
                            <input type="email" class="text-input" name="emailid" id="emailid" placeholder="jenny@example.com" required />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">Address</label>
                            <input type="text" class="text-input" name="add1" id="add1" placeholder="185 Berry Street Suite 550" />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">City</label>
                            <input type="text" class="text-input" name="city" id="city" placeholder="San Francisco" />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">State</label>
                            <input type="text" class="text-input-sub" name="state" id="state" placeholder="CA" />
                            <label class="label-font">Zip</label>
                            <input type="text" class="text-input-sub" name="zip" id="zip" placeholder="94107" />
                        </div>
                        <div class="div-input">
                            <label class="label-font">Country</label>
                            <div>
                                <select name="country" class="text-select">
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BR">Brazil</option>
                                    <option value="CA">Canada</option>
                                    <option value="CN">China</option>
                                    <option value="DK">Denmark</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="DE">Germany</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="IN">India</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IT">Italy</option>
                                    <option value="JP">Japan</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MX">Mexico</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NO">Norway</option>
                                    <option value="PT">Portugal</option>
                                    <option value="SG">Singapore</option>
                                    <option value="ES">Spain</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US" selected="selected">United States</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="div-seperate form-style card-padding">
                        <div class="form-row div-input">
                            <label for="card-element" class="label-font col-md-1">
                                Card
                            </label>
                            <div id="card-element" class="col-md-11">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <input type="hidden" id="token" name="token">
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    </div>
                    <div class="div-seperate">
                        <button class="button-style" id="pay" name="pay">Subscribe</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div id="subscription-update-req">
                <div class="form-style form-style-padding">
                    <div class="heading">
                        <h2>UPGRADE</h2>
                    </div>
                    <div class="upgrade-content">
                        You are currently using @ViewBag.Plan plan for @ViewBag.Users users per month. You can upgrade your plan for having more users, cost $5 for each.
                    </div>
                </div>
                <div class="div-seperate">
                    <button class="button-style" onclick="showusr1()">Upgrade</button>
                </div>
            </div>

            <div id="users-form1" style="display:none;">
                <form action="/Stripe/UpdateCustomerSubscription" method="post">
                    <div class="form-style form-style-padding">
                        <div class="div-input" id="div-usr1">
                            <label class="label-font-sub">Number of Users</label>
                            <input type="number" class="text-input" name="usr1" id="usr1" placeholder="5" min="5" onchange="calculateAmount1()" onkeyup="calculateAmount1()" required />
                            <input type="hidden" id="tot1" name="tot1" />
                            <input type="hidden" id="usrno1" name="usrno1" />
                        </div>
                        <div id="div-total1" class="div-input" style="display:none;">
                            <label class="label-total label-total-main-title">Total</label>
                            <label class="label-total label-total-content" id="total-content1" name="total-content1"></label>
                            <label class="label-total label-total-main" name="total1" id="total1"></label>
                            <label class="label-total label-total-content">/month</label>
                        </div>
                    </div>
                    <div class="div-seperate">
                        <button class="button-style" id="pay1" name="pay1">Subscribe</button>
                    </div>
                </form>
            </div>
        }
    }
</body>

<script>
        var stripe = Stripe('@(ViewBag.pb_key)');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    let dt = new Date(result.token.created * 1000);
                    result.token.created = dt.getUTCFullYear() + "-" + (dt.getUTCMonth() + 1) + "-" + dt.getUTCDate() + " " + dt.getUTCHours() + ":" + dt.getUTCMinutes() + ":" + dt.getUTCSeconds();

                    document.getElementById('token').value = JSON.stringify(result.token);
                    form.submit();
                }
            });
        });

    

</script>