#ppt-calendar-view {
    top: 0px;
    right: 0px;
    width: 350px;
    position: fixed;
    display: block;
    margin-top: 37px;
    height: 100%;
    z-index: 3;
    border: 1px solid rgb(204, 204, 204);
}

#calendar-user-view .dataTables_wrapper, #calendar-user-view .dataTables_scroll {
    height: inherit;
}

#calendar-user-view .dataTables_scrollBody {
    height: calc( 100% - 45px ) !important;
}

#ShowDataColumndd button {
    font-size: 14px;
    padding: 0px;
}

#ShowDataColumndd .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    cursor:pointer;
}

#ShowDataColumndd .dropdown-item:hover {
    background-color: #f4f4f4;
}

#ShowDataColumndd span {
    margin-left: 5px;
}
.param-div-cont {
    top: 0px;
    left: 0px;
    width: 350px;
    position: fixed;
    display: block;
    margin-top: 37px;
    height: 100%;
    z-index: 3;
}
th.public-holiday {
    background-color: #f98d8d;
}
th.week-holiday {
    background-color: #efb9b9;
}
.current_date_class {
    background-color: #f3f9f1;
}
