.tag-cont {
    height: inherit;
    background-color: white;
}

.tag-wraper {
    border: solid 1px #eee;
    /*height:48%;*/
    width: 100%;
}

.tag-scroll {
    overflow-y: auto;
    height: calc(100% - 30px);
}

.tag-wraper:nth-child(2) {
    margin-top: 5px;
}

.tag-cont .colTile:hover {
    cursor: move;
}

.chartCont canvas {
    height: 100% !important;
}

.botdata_cont {
    height: 100%;
    z-index: 4;
    box-shadow: 2px 9px 14px 0px rgba(189,189,189,1);
}

.tool-box-items span {
    margin-right: 5px;
}
.columnDrag {
    display: inline-block;
    padding: 4px 4.5px;
    background-color: #c8d4ef;
    border-radius: 25px;
    font-size: 11px;
    cursor: move;
    color: #111;
    user-select: none;
    transition-duration: 0.3s;
}
.columnDrag .close {
    font-size: 15px;
    margin: -2px 0 0 4px;
    color: black !important;
}
.containerrow canvas {
    width: 100% !important;
    height: 100% !important;
}
.containerrow .Obj_title {
    font-size: 12px;
    font-weight: bold;
}