.cont {
    display: flex;
    flex-flow: row;
    margin-top: 25px;
}

div.mytree div {
    padding-left: 20px;
    background: transparent url(http://www3.telus.net/jianlu58/bullet.gif) no-repeat top left;
}

    div.mytree div.parent div {
        display: none;
        cursor: default;
    }

    div.mytree div.parent {
        cursor: pointer;
        background: transparent url(http://www3.telus.net/jianlu58/plus.gif) no-repeat top left;
    }

    div.mytree div.expanded {
        background: transparent url(http://www3.telus.net/jianlu58/minus.gif) no-repeat top left;
    }

.db_client_toolbox {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 15px;
    padding-left: 12px;
}

.db_client_toolbox_bdy {
    padding: 12px;
    background-color: white;
    position: relative;
    height: 600px;
    overflow: auto;
    border: 1px solid #ccc;
    border-top: 0;
}

.table-box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-width: 1px;
    position: absolute;
    z-index: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

    .table-box .t_drophead {
        background: #eee;
        padding: 5px;
        font-size: 15px;
        color: #1d1da9;
    }

        .table-box .t_drophead .tname {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display:inline-block;
        }

    .table-box .t_dropbdy {
        padding: 5px;
        line-height: 2.2rem;
        overflow: auto;
        height: calc(100% - 25px);
    }

.fa {
    float: right;
}

.drag-box {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    position: absolute;
    top: 80px;
    right: 850px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

.drop-box {
    width: 100%;
    height: 609px;
    background: white;
    color: #fff;
    padding: 10px;
}
.gold{
    color: goldenrod;
}
.fkey {
    color: #97948d;
}

#pannel {
    padding: 0px 10px 10px 10px;
    width: 75%;
}

.draggeer {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
}

.Result_Cont {
    margin-right: 50px;
    /*margin-top: 20px;*/
    padding: 10px;
    max-height: 170px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Result_Cont_modal {
    /*margin-right: 50px;*/
    /*margin-top: 20px;*/
    padding: 16px;
    max-height: 520px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.modal fade in {
    margin: 29px;
}

div.CodeMirror.cm-s-default {
    top: 12px;
    height: 390px;
}
