.cont {
    display: flex;
    flex-flow: row;
    margin-top: 25px;
}

.TablePannelHead .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 370px !important;
}
    div .mytree div {
    padding-left: 20px;
    background: transparent url(http://www3.telus.net/jianlu58/bullet.gif) no-repeat top left;
}
    div.mytree div.parent:hover {
        background-color: #b0bed9;
        cursor:move;
    }
    div.mytree div.child:hover {
        background-color: #b0bed9;
    }

    div.mytree div.parent div {
        display: none;
        cursor: default;
    }

    div.mytree div.parent {
        cursor: pointer;
        background: transparent url(http://www3.telus.net/jianlu58/plus.gif) no-repeat top left;
        background-position-y: 4px;
        
    }

    div.mytree div.expanded {
        background: transparent url(http://www3.telus.net/jianlu58/minus.gif) no-repeat top left;
        background-position-y: 2px;
    }

    div.mytree div.selected{
        background-color:#aee5fb;
    }

    .db_client_toolbox {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 15px;
    padding-left: 12px;
}

    .db_client_toolbox_bdy {
    padding: 12px;
    background-color: white;
    position: relative;
    height: 618px;
    overflow: auto;
    border: 1px solid #ccc;
    border-top: 0;
}

.table-box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-width: 1px;
    position: absolute;
    z-index: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

    .table-box .t_drophead {
        background: #eee;
        padding: 2px;
        font-size: 15px;
        color: #1d1da9;
        cursor: move;
        font-size: large;
    }

        .table-box .t_drophead .tname {

            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
        }
    .table-box .t_dropbdy {
    padding: 5px;
    line-height: 2.2rem;
    overflow: scroll;
    height: calc(100% - 25px);
}

    .fa-key {
    float: right;
}

       .data-type {
    font-size: smaller;
}

    .drag-box {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    position: absolute;
    top: 80px;
    right: 850px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}
    .page_grid {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
}

    .drop-box {
    width: 100%;
    height: 546px;
    /*background: #d2cfcf75;*/
    color: #fff;
    /*padding: 10px;*/
}

    .gold {
    color: goldenrod;
}

    .fkey {
    color: #97948d;
}

#pannel {
    padding: 0px 10px 10px 10px;
    width: 75%;
}

.draggeer {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 2px;
    cursor:auto;
}

.Result_Cont {
    margin-right: 50px;
    /*margin-top: 20px;*/
    padding: 10px;
    max-height: 170px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Result_Cont_modal {
    /*margin-right: 50px;*/
    /*margin-top: 20px;*/
    padding: 16px;
    max-height: 520px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal fade in {
    margin: 29px;
}

div.CodeMirror.cm-s-default {
    top: 12px;
    height: 321px;
    /*z-index: auto;*/
}

.CodeMirror-wrap pre {
    word-wrap: break-word !important;
    white-space: pre-wrap;
    word-break: normal;
}


.tab-section {
    background: #b0bed9;
    z-index: 10000;
    border-bottom: 4px solid #f2f2f2;
    /*padding: 0px 10px 10px 10px;*/
}
.nav-tabs {
    background-color: #f2f2f2;
    border-bottom: 2px solid #316396;
    padding-bottom: 1px;
}

    .nav-tabs > li {
        background: white;
        color: #316396;
        /*padding: 2px 30px 2px 15px;*/
        top: -5px;
        font-size: 8px;
        text-align: center;
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    }

.cetab{
    background-color: transparent;
    width: 150px;
    padding: 4px 15px;
    text-align: center;
    border: none;
    border-bottom: none;
    border-radius: 0;
    background-color: #eee;
    border-top-left-radius: 2px;
}

.CodeMirror-gutters{
    z-index:auto;
}

/*.tab-section-common .nav-tabs .active a {
background: #316396;
color: white;
}*/
/*.tab-section-common .nav-tabs a {
    background: white;
    color: #316396;
}*/