.cont {
    display: flex;
    flex-flow: row;
    margin-top: 25px;
}

.TablePannelHead .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 313px !important;
}

#myInput {
    width: 100%;
    padding: 2px 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: solid 1px #b7b7b7;
}

.indexcontextmenu {
    white-space: nowrap; /* Prevent line breaks */
    display: inline-block; /* Or flex if preferred */
}

.icon-index {
    margin-right: 5px; /* Optional spacing */
    vertical-align: middle; /* Align icon and text */
}
.indexcontextmenu {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds space between icon and text */
    white-space: nowrap; /* Prevent text wrapping */
}


div .mytree div {
    padding-left: 20px;
    /*background: transparent url(http://www3.telus.net/jianlu58/bullet.gif) no-repeat top left;
    background-image: url('data:image/gif;base64,R0lGODlhEwATAIABAAAAAO7u7iH5BAEAAAEALAAAAAATABMAAAIVjI+py+0Po5y0LoApBjrbD4biSEIFADs=');*/
}
    div.mytree div.parent:hover {
        background-color: transparent;
        /*cursor:move;*/
    }
    div.mytree div.child:hover {
        background-color: #b0bed9;
    }

    div.mytree div.parent div {
        display: none;
        cursor: pointer;
    }
.treecontextmenu:hover {
    border: solid 1px #d5d5d5;
}

div.mytree div.parent {
    cursor: pointer;
    background: transparent /*url(http://www3.telus.net/jianlu58/plus.gif)*/ no-repeat top left;
    background-image: url('data:image/gif;base64,R0lGODlhDwANAJEAAP///2ZmZgAAAMDAwCH5BAEAAAMALAAAAAAPAA0AQAIlnI95AS0NgmIOSoVx2JxPIIRhNHVdhiIU1Fwq9LRfJScr66ZJAQA7');
    background-position-y: 4px;
}



div.mytree div.expanded {
    background: transparent /*url(http://www3.telus.net/jianlu58/minus.gif)*/ no-repeat top left;
    background-image: url('data:image/gif;base64,R0lGODlhEwATAJEDAP///4CAgAAAAO7u7iH5BAEAAAMALAAAAAATABMAAAIonI+py+0PYwu0VheA3iBgvnkTqIlMJqRp95Hmkrkt+CrWLeX6zvdDAQA7');
    background-position-y: 2px;
}

div.mytree div.selected {
    background-color: #ffff;
}

.db_client_toolbox {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 15px;
    padding-left: 12px;
}


.db_client_toolbox_bdy {
    padding: 8px;
    background-color: white;
    position: relative;
    height: 600px;
    overflow-x: scroll;
    border: 1px solid #ccc;
    border-top: 0;
}

.table-box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-width: 1px;
    position: absolute;
    z-index: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

    .table-box .t_drophead {
        background: #eee;
        padding: 2px;
        font-size: 15px;
        color: #1d1da9;
        cursor: move;
        font-size: large;
    }

        .table-box .t_drophead .tname {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
        }
    .table-box .t_dropbdy {
        padding: 5px;
        line-height: 2.2rem;
        overflow: scroll;
        height: calc(100% - 25px);
    }

.fa-key {
    float: right;
}

.data-type {
    font-size: smaller;
}

.drag-box {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    position: absolute;
    top: 80px;
    right: 850px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

.page_grid {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
}

.drop-box {
    width: 100%;
    height: 546px;
    /*background: #d2cfcf75;*/
    color: #fff;
    /*padding: 10px;*/
}

.gold {
    color: goldenrod;
}

.fkey {
    color: #97948d;
}

.Resize_toolbox {
    resize: both; /* Allows resizing both horizontally and vertically */
    overflow: auto; /* Ensures the content is scrollable if it overflows */
    min-width: 150px; /* Optional: Minimum width to prevent resizing too small */
    min-height: 150px; /* Optional: Minimum height to prevent resizing too small */
    max-width: 100%; /* Optional: Maximum width to prevent overflow */
    max-height: 100vh; /* Optional: Maximum height relative to viewport */
    border: 1px solid #ccc; /* Optional: Add a border for visual indication */
    padding: 10px; /* Optional: Padding for internal content */
    box-sizing: border-box; /* Ensures padding and border are included in element's width/height */
}


#pannel {
    padding: 0px 10px 10px 10px;
    width: 75%;
}

.draggeer {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 2px;
    cursor: auto;
    height: 34rem;
}

.Result_Cont {
    margin-top: 10px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 26rem;
    overflow: hidden;
    border: solid 1px #b6b6b6;
}

.Result_Cont_modal {
    /*margin-right: 50px;*/
    /*margin-top: 20px;*/
    padding: 16px;
    max-height: 520px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal fade in {
    margin: 29px;
}

/*div.CodeMirror.cm-s-default {
    top: 12px;
    height: 321px;
    /*z-index: auto;*/
}

*/

.CodeMirror-wrap pre {
    word-wrap: break-word !important;
    white-space: pre-wrap;
    word-break: normal;
}


.tab-section {
    background: #b0bed9;
    z-index: 10000;
    border-bottom: 4px solid #f2f2f2;
    /*padding: 0px 10px 10px 10px;*/
}

.nav-tabs {
    background-color: #f2f2f2;
    border-bottom: 2px solid #316396;
    padding-bottom: 1px;
}

    .nav-tabs > li {
        background: white;
        color: #316396;
        /*padding: 2px 30px 2px 15px;*/
        top: -5px;
        font-size: 8px;
        text-align: center;
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    }

.cetab {
    background-color: transparent;
    width: 150px;
    padding: 4px 15px;
    text-align: center;
    border: none;
    border-bottom: none;
    border-radius: 0;
    background-color: #eee;
    border-top-left-radius: 2px;
}

.CodeMirror-gutters {
    z-index: auto;
}

/*.tab-section-common .nav-tabs .active a {
background: #316396;
color: white;
}*/
/*.tab-section-common .nav-tabs a {
    background: white;
    color: #316396;
}*/

.tttab-session ul {
    height: 5vh;
}

    .tttab-session ul li {
        margin-top: 5px;
        margin-bottom: -7px;
        background: #b3b3b3;
        height: 100%;
        width: 200px;
    }

        .tttab-session ul li a {
            display: flex;
            width: 200px;
            height: 100%;
            padding: 6px;
        }

            .tttab-session ul li a p {
                font-size: 14px;
                width: 55%;
                text-align: left;
                padding-left: 15px;
            }

            .tttab-session ul li a button {
                padding: 6px;
                height: 100%;
                background: #fff;
                border: solid 1px #c7c7c7;
            }

            .tttab-session ul li a i {
                padding: 5px;
                font-size: 14px;
                padding-left: 10px;
            }

/*query tabs*/
.tab-section ul {
    height: 5vh;
}

    .tab-section ul li {
        margin-top: 5px;
        margin-bottom: -7px;
        background: #b3b3b3;
        height: 100%;
        width: 160px;
    }

        .tab-section ul li a {
            display: flex;
            width: 160px;
            height: 100%;
            padding: 6px;
        }

            .tab-section ul li a p {
                font-size: 14px;
                width: 65%;
                text-align: left;
                padding-left: 15px;
            }

            .tab-section ul li a button {
                padding: 6px;
                height: 100%;
                background: #fff;
                border: solid 1px #c7c7c7;
            }

            .tab-section ul li a i {
                padding: 5px;
                font-size: 14px;
                padding-left: 10px;
            }

.tab-content {
}

.Result_Cont {
    width: 100%;
}

.tab-content .dataTables_wrapper, .tab-content .dataTables_scroll {
    height: 100%;
}

.tab-content .dataTables_scrollBody {
    height: calc(74%) !important;
}


.tab-content .dataTables_scrollHeadInner .table {
    margin-top: 0px !important;
}


.tab-content .dataTables_scrollBody::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}

.tab-content .dataTables_scrollBody:hover::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}

/* Track */
.tab-content .dataTables_scrollBody::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
.tab-content .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #888 !important;
}

    /* Handle on hover */
    .tab-content .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
        background: #555 !important;
    }


.tab-content th {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    font-size: 14px;
    font-weight: 500;
}

.tab-content .group td b {
    font-weight: 400;
}

.tab-content td {
    font-size: 16px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    font-size: 14px;
    height: 5vh !important;
}

.tab-content tr:hover {
    background-color: #00000040 !important;
}

.tab-content .group {
    border-top: solid 1px #f1f1f1 !important;
    background-color: #00000029 !important;
}

    .tab-content .group:hover {
        border-top: solid 1px #f1f1f1 !important;
        /*background-color: #00000029 !important;*/
    }

    .tab-content .group tr td {
        background-color: #00000029 !important;
    }

.tab-content .group-sum td {
    background-color: #00000029 !important;
    /*border-bottom: solid 3px #ffffff14 !important;*/
}

.tab-content tr {
    background-color: transparent !important;
    border-bottom: 1px !important;
    border-bottom: solid #dcdcdc !important;
    border-bottom-width: 1px !important;
    height: 4vh !important;
}

.tab-content table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    font-size: 12px;
}
.table table-striped table-bordered dataTable no-footer{
    width:100% !important;
}
.tab-content .dataTables_scrollBody thead:first-child tr {
    height: 0vh !important;
}

.tab-content .odd {
    background: rgba(0, 0, 0, 0.09) !important;
}

.red-tooltip + .tooltip > .tooltip-inner {
    background-color: #f00;
}

.red-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #f00;
}


.constraintcontextmenu {
    display: flex; /* Align items in a row */
    align-items: center; /* Center the items vertically */
    margin-bottom: 5px; /* Space between entries */
}

.constraint-item {
    display: flex; /* Align icon and text in a row */
    align-items: center; /* Center the items vertically */
    gap: 5px; /* Space between icon and text */
}

.constraint-details {
    white-space: nowrap; /* Prevents line breaks within the constraint details */
}

.fa-key {
    margin-right: 5px;
}


.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

    .modal-fullscreen .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

.functioncontextmenu .table-name {
    display: flex;
    align-items: center;
}

    .functioncontextmenu .table-name i {
        margin-right: 5px;
    }
