/*imageuphome----------------*/
.upload_sec {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    margin-left: -15px;
    padding: 20px 100px 20px 100px;
}

.menubar_horri {
    padding: 5px 10px 5px 10px;
    background: white;
}
.menu_bar_vert {
    height: calc(100vh - 54px);
    /*background: white;*/
    width: 100%;
}
.btn_upload {
    color: #989696;
    background-color: transparent;
    font-size: 20px;
}

.image_up_container{
    float:left;
    width:100%;
}
.image_up_container_tag {
    float: left;
    width: 25%;
    padding: 0 10px 10px 10px;
}
.image_up_container .file-preview {
    padding: 0;
}
.image_up_container .file-drop-zone {
    border: none;
    margin: 0;
    padding: 0;
    background: white;
}
.tag_modal_wrapper .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 80px;
}
.tag_modal_wrapper .bootstrap-tagsinput .tag {
    padding: 8px;
    font-size: 14px;
}
.image_down_cont_outer{
    float: left;
    width: 100%;
    padding-left:30px;
    padding-right:30px;
}
.image_up_container_outer {
    width: 100%;
    float: left;
    background: #fdfdfd;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: var(--eb-shadow);
    border-radius: 4px;
}
.image_down_cont_body{
    width:100%;
    float:left;
}
.img_wrapper {
    width: 17%;
    padding: 5px;
    background: white;
    box-shadow: var(--eb-shadow);
    border-radius: 4px;
    height: 205px;
    float: left;
    margin: 1%;
}
.img_wrapper_img {
    width: 100%;
    height: 70%;
}
    .img_wrapper_img img{
        height:100%;
    }
.img_wrapper_text {
    width: 100%;
    height: 25%;
}
.f {
    text-align: center;
    FONT-FAMILY: open sans;
    font-weight: 600;
}
.f_s{
    font-size:10px;
}
/*xzcvxxcvx*/
.tag_wrapper{
    background:#f2f0f0;
    height:100%;
}
.image_up_container_outer_header {
    height: 6%;
    background: var(--ebbg);
}
.image_up_container_outer_body{
    height:94%;
}
    .image_up_container_outer_body .file-input {
        height: 93%;
    }
        .image_up_container_outer_body .file-input .file-preview {
            height:100%;
        }