
#columns-list .tool_item_body {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 250px;
    width: 100% !important;
    float: none;
}

#columns-list .tool_item_head {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px!important;
}

.tool_item_head_columns {
    padding: 2px 0px;
}

.tool_item_head_orderby {
    float: right;
    width: 25%;
    text-align: center;
    border-left: 1px solid #ccc;
    padding: 2px 0px;
}

#columns-list-body {
    height: inherit;
    width: 75%;
    overflow-y:auto;
}

#columns-list-orderby {
    width: 25%;
    border-left: 1px solid #ccc;
    height: inherit;
    overflow-y: auto;
}

.page-outer-cont {
    margin-left: 260px !important;
}
.table-out-cont {
    display: flex;
    flex-flow: row;
}
.table-container{
    width:100%;
}
.side-orderby {
    width: 23%;
    background: white;
    margin-left: 12px;
}

.dv-divs {
    border: 1px solid #ccc;
    margin-top: 3px;
    background-color: white;
}
.tool_item_head .fa-plus, .fa-trash, .fa-save {
    float: right;
    margin-right:10px;
}
.tool_item_head label {
    margin-bottom: 0px;
    font-weight: 100;
    cursor:pointer;
}
.tool_item_headerbody {
    min-height: 40px;
    background: white;
}
.dv-divs .tool_item_body {
    height: calc( 100% - 11px );
}
.dv-divs .focusedColumn {
    background-color: #306395 !important;
    color:white;
}

#columns-list-orderby .colTile1 {
    width: 100%;
    margin-left:0px !important;
}

.dv-divs .colTile1 {
    position: relative;
    padding: 4px 4.5px;
    height: max-content;
    list-style-type: none;
    float: left;
    user-select: none;
    transition-duration: 0.3s;
    border-radius: 0px !important;
    padding: 5px;
}

.dv-divs .colTile1 .close {
    font-size: 16px;
    color: #4a4a4a;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
}

.dv-divs .colTile1 .close1 {
    position: absolute;
    top: 0;
    right: 0;
}

.dv-divs .colTile1 input {
    color: black;
    margin-top: 0px;
}

.dv-divs .colTile1 .spancheck {
    display: flex;
    margin-right: 17px;
    float: right;
    align-items: center;
}
.dv-divs .colTile1 .spantext {
    margin-left:2px;
}
.dv-divs .colTile1 .columnelemsCont {
    background-color: #94b8dc;
    position: relative;
    padding: 4px;
    border-radius: 7px;
    box-shadow: var(--eb-shadow);
}

.rowgroup_header {
    display: flex;
    padding: 2px;
    box-shadow: var(--eb-shadow);
    border-radius: 2px;
    margin: 4px 6px;
    cursor:pointer;
    border:1px solid #ccc;
}

.rowgroup_header :not(.headeritems) {
    cursor:pointer;
}

.Rowgroup_innerCont {
    padding: 4px;
    margin-top: 10px;
}

.rowgroup_select button, .rowgrouptype_select button {
    padding: 0px 12px;
    border-radius: 1px;
    width: calc(100% - 24px) !important;
    background-color: white;
    height: 24px;
    font-size: 11.5px;
    box-shadow: none;
    margin-left: 4px !important;
    margin-bottom: 1px;
}
.rowgroup_collapse_button {
    margin-right: 8px;
}
.rowgroup_name {
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: 13px;
}

.rowgroup_Outer_ColumnCont {
    height: 175px;
    display: flex;
    flex-direction: column;
    padding:0px;
}
.rowgroup_Inner_HeaderColumnCont {
    border-radius: 4px;
    margin-right: 5px;
    height: inherit;
    border: 1px solid #cccccc;
}
.rowgroup_Inner_FooterColumnCont {
    border-radius: 4px;
    margin-right: 5px;
    height: inherit;
    border: 1px solid #cccccc;
    margin-top: 15px;
}
.rowgroup_OrderbyCont {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height:175px;
    padding:0px;
}
.rowgroup_OrderbyCont .colTile1 {
    width:100%;
}

.rowgroup_Outer_ColumnCont #Rowgroup_1_Footer_columns {
    margin-top: 15px;
}
.rowgroup_controlfit{
    width: max-content;
    padding: 0 10px;
    transform: translateY(-11px);
    background: #fff;
    font-size: 13px;
    margin-left: 10px;
}

#Rowgroup_Inner_cont{
    border:none;
    height:250px;
    overflow-y:auto;
}

.disabledItems {
    pointer-events: none;
    opacity: 0.4;
}

