#columns-list {
    height: 300px;
}

#columns-list .tool_item_body {
    display: flex;
    flex-direction: row;
}

#columns-list .tool_item_head {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px!important;
}

.tool_item_head_columns {
    padding: 2px 0px;
}

.tool_item_head_orderby {
    float: right;
    width: 17.2%;
    text-align: center;
    border-left: 1px solid #ccc;
    padding: 2px 0px;
}

#columns-list-body {
    height: inherit;
    width: 96%;
}

#columns-list-orderby {
    width: 20%;
    border: 1px solid #ccc;
}

.page-outer-cont {
    margin-left: 260px !important;
}
.table-out-cont {
    display: flex;
    flex-flow: row;
}
.table-container{
    width:100%;
}
.side-orderby {
    width: 23%;
    background: white;
    margin-left: 12px;
}

.dv-divs {
    border: 1px solid #ccc;
    margin-top: 3px;
    background-color: white;
}
.tool_item_head .fa-plus, .fa-trash, .fa-save {
    float: right;
    margin-right:10px;
}
.tool_item_head label {
    margin-bottom: 0px;
    font-weight: 100;
    cursor:pointer;
}
.tool_item_headerbody {
    min-height: 40px;
    background: white;
}
.dv-divs .tool_item_body {
    height: calc( 100% - 23px );
}
.dv-divs .colTile {
    height: max-content;
    list-style-type: none;
    float:left;
}

.dv-divs .colTile .close {
    font-size: 16px;
    margin-top: -1px;
    color: #4a4a4a;
    padding: 1px;
    margin-left: 10px;
}
.rowgroup_select button, .rowgrouptype_select button {
    padding: 0px 12px;
    border-radius: 1px;
    width: calc(100% - 24px) !important;
    background-color: white;
    height: 24px;
    font-size: 11.5px;
    box-shadow: none;
    margin-left: 4px !important;
    margin-bottom: 1px;
}


