/*chart styles------------------------*/
/*overridden styles----*/
.dygraph-axis-label-y {
    font-size: 12px;
}

.dygraph-axis-label-x {
    font-size: 10px;
}

.dygraph-xlabel, .dygraph-ylabel {
    color: rgba(25,0,25,0.5);
}
/*--------------------*/
.graph-container {
    width: 100%;
    border: solid 1px #79e;
    margin: 1px;
    height: 27em;
}

.dygraph-divContainer {
    width: 100%;
    overflow-x: auto;
    height: 25em;
}

.dygraph-Wrapper {
    min-width: 100%;
}

.graph-loadingdiv {
    vertical-align: middle;
    margin-left: calc(50% - 5px);
    margin-top: 11.25em;
    display: none;
}

.graph-headBox {
    background-color: #79e;
    height: 21px;
}

.graph-head {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5%;
}

.graph-optBox {
    float: right;
    margin-top: -0.5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: central;
}

.graph-opt {
    display: inline-block;
    background-color: transparent;
}

.graph-optBox > button {
    overflow: visible;
    padding: 0px;
    background: transparent;
    border: none;
}

/*Data grid styles-----------*/
.tbl-container {
    width: 100%;
    height: auto;
    border: solid 1px;
    display: inline-block;
    overflow-x: auto;
}

.tbl-loadingdiv {
    vertical-align: middle;
    margin: 5% 50%;
    /*display: none;*/
}

/*======*/
.tooltp {
    position: relative;
    display: inline-block;
}

    .tooltp .tooltptext {
        visibility: hidden;
        width: auto;
        height: 21px;
        font-size: 12px;
        background-color: rgba(0,0,0,.8);
        ;
        color: #fff;
        text-align: center;
        padding: 2px 10px;
        border-radius: 1px;
        position: absolute;
    }

    .tooltp:hover .tooltptext {
        visibility: visible;
    }

.helpText {
    font-size: 10px;
    color: #555;
}
/*eb control...........*/
.attachedlabel {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin: 0 .14285714em;
    background-color: #E8E8E8;
    /*padding: .5833em .833em;*/
    color: rgba(0,0,0,.6);
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}
/*Eb-text box.......*/
.attachedlabel {
    height: auto;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-color: #E8E8E8;
    background-image: none;
    vertical-align: middle;
    color: rgba(0,0,0,.6);
    font-weight: 700;
    border-bottom-left-radius: .28571429rem;
    border: 0 solid transparent;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}

.atchdLblR {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    margin-left: -5px;
}

.atchdLblL {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-right: -4px;
}

.eb-loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10000;
}

.eb-loaderFixed {
    display: none;
    position: fixed;
    width: 100%;
    margin-top: 35vh;
    z-index: 10000;
}

.numinput {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: right;
    border: 1px solid rgba(34,36,38,.15);
    padding: 3px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    /*border-radius:.28571429rem;*/
}

.numinputL {
    border-left-color: transparent !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.numinputR {
    border-right-color: transparent !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.tooltp {
    display: inline-block;
}

.fontstyle {
    font-family: Microsoft Sans Serif;
    font-style: oblique;
    font-size: inherit;
}

.btn-group > .active {
    background-color: #00cc00 !important;
}


/*==========*/
/*.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}*/

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #f00 !important;
        text-decoration: none;
        cursor: pointer;
    }

.temp {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    background-color: #6699bb;
    height: 30px;
}

.prop-grid-cont {
    width: 207px;
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    height: 340px;
    /*visibility: hidden;*/
    overflow-y: auto;
    border: solid 1px #dddddd;
    margin-left: 8px;
    margin-top: 7px;
}

#Table_Settings_wrapper {
    display: inline-block;
    width: 1015px;
}


/*.dataTables_scrollBody {
    border-bottom: solid 1px #dddddd;
}

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .dataTables_scrollBody::-webkit-scrollbar-button {
        background: #444;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track-piece {
        border: solid 1px #d0d0d0;
        background-color: #aaa;
        border-radius: 1px;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid transparent;
        background-color: #ffffff;
        background-clip: content-box;
    }*/

.tdheight {
    vertical-align: bottom;
}

.DDdiv table.dataTable {
    font-size: 12px !important;
    margin-bottom: 0;
    outline: none;
    border: none;
}

.DDdiv .selected-row, .DDdiv table.dataTable tbody > tr.selected {
    color: #fff !important;
    /*background-color: #08C !important;*/
    background-color: #496675 !important;
}

.DDdiv .dataTables_scrollFoot{
    display:none !important;
}

.DDdiv .table > thead > tr > th, .DDdiv .table > tbody > tr > th,
.DDdiv .table > tfoot > tr > th, .DDdiv .table > thead > tr > td,
.DDdiv .table > tbody > tr > td, .DDdiv .table > tfoot > tr > td {
    padding: 4px;
}
.search-wraper {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: calc(100% + 1px);
}

.searchable [type="search"] {
    width: 100% !important;
}

.DDdiv {
    width: 100%;
    position: absolute;
    top: 1;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.DDdiv [type=checkbox]{
    height:inherit !important;
    padding: 0 !important;
    margin: 0 !important;
}
    .DDdiv tr{
    transition-duration: 0.1s;
}
    .ebCombo-loader {
    /*display:none;*/
    position: absolute;
    top: 24px;
    left: 50%;
    z-index: 10000000000;
}

.ctrl-wraper .input-group {
    /*height: 100%;*/
}

.v-select.searchable .dropdown-toggle {
    border: none;
}

.v-select .selected-tag {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white !important;
    border: none !important;
    border-radius: 0.35em !important;
    padding: .1em .45em 0.45em 0.45em !important;
    margin: 2px 1px 2px 3px !important;
    padding-right: 18px !important;
}

    .v-select .selected-tag .close {
        color: #fff;
        text-shadow: 0px 1px 0px #000;
        opacity: 1;
        opacity: 1;
        position: absolute;
        top: 4px;
        right: 4px;
    }

        .v-select .selected-tag .close:hover {
            color: #f00 !important;
            text-shadow: 0px 1px 0px #fff;
            opacity: 1 !important;
        }

    .v-select .selected-tag:nth-child(5n - 4) {
        background-color: rgb(41, 146, 47) !important;
    }

    .v-select .selected-tag:nth-child(5n - 3) {
        background-color: rgba(70, 119, 181, 0.9803921568627451) !important;
    }

    .v-select .selected-tag:nth-child(5n - 2) {
        background-color: rgba(154, 70, 181, 0.9803921568627451) !important;
    }

    .v-select .selected-tag:nth-child(5n -1) {
        background-color: rgba(76, 181, 70, 0.9803921568627451) !important;
    }

    .v-select .selected-tag:nth-child(5n) {
        background-color: rgba(70, 170, 181, 0.9803921568627451) !important;
    }
