.tablecontainer {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 1px;
}

.loadingdiv {
    vertical-align: middle;
    margin: 5% 50%;
    display: none;
}

.numericcol {
    float: right;
}

.toolbar {
    float: left;
}

.Displaycols {
    margin: 0px 1px;
    padding: 2px 1px;
    width: auto;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
    font-size: 11px;
    //background-color: rgb(204, 204, 204);
    border-radius: 3px;
    float: left;
    /*margin: 3px 6px;
    border: solid 2px #dddddd;
    padding: 1px 5px;
    display: inline-block;
    width: auto;*/
}

    .Displaycols:focus {
        background-color: aquamarine;
    }

.colCont {
    border: 1px solid;
    width: 99%;
    height: auto;
    min-height: 30px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.Delcols {
    /*margin: 3px;
    border: solid 2px #dddddd;
    padding: 5px 5px;*/
    margin: 2px;
    padding: 0px 2px;
    font-size: 12px;
    //background-color: #ddd;
    border-radius: 2px;
}


.tmp {
    border: 1px solid;
    width: 99%;
    height: 50px;
    display: inline-block;
}

#@tableId th.resizing {
    cursor: e-resize;
}

td.resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: e-resize;
    background-color: red;
}

.dataTables_scrollHead {
    padding-bottom: 250px;
    margin-bottom: -250px;
}

.dataTables_scrollFoot {
    padding-bottom: 1px;
    margin-bottom: -1px;
}

.dataTables_processing {
    z-index: 1 !important;
    padding-bottom: 3px !important;
    /*padding-top: 0px!important;*/
}

.DTFC_LeftHeadWrapper {
    z-index: 150;
}

.DTFC_LeftBodyWrapper {
    z-index: 100;
}

.DTFC_LeftFootWrapper {
    z-index: 150;
}

.DTFC_RightHeadWrapper {
    z-index: 150;
}

.DTFC_RightBodyWrapper {
    z-index: 100;
}

.DTFC_RightFootWrapper {
    z-index: 150;
}

.linepadding {
    padding: 0px !important;
}

.dt-right {
    text-align: right;
}

.dt-buttons {
    visibility: hidden;
    height: 9px;
}

th {
    font-size: 14px;
}

td {
    font-size: 12px;
}

.progress {
    margin-bottom: 0px !important;
}

.hideme {
    display: none;
}

.tdheight {
    height: 15px;
    white-space: nowrap;
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: #090808;
}

.eb_finput {
    width: auto !important;
}

.columnDrag {
    margin: 3px 1px;
    padding: 2px 5px;
    width: auto;
    height: 25px;
}

.noPadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.Btnpaginate {
    float: right;
}

.Btninfo {
    margin-top: 2px;
}

div.dataTables_wrapper div.dataTables_length label {
    margin-top: 2px;
}

div.dataTables_wrapper div.dataTables_length select {
    height: 34px !important;
    padding-top: 7px !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

div.dataTables_wrapper div.dataTables_processing {
    /*margin-left: 0px;
    margin-top: 0px;
    position: fixed;*/
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}
/*.dataTables_scrollHeadInner table {
    width: 100% !important;
}
.dataTables_scrollBody table {
    width: 100% !important;
}
.dataTables_scrollFootInner table {
    width: 100% !important;
}*/

.objlist {
    width: 150px;
    height: 300px;
    overflow-x: scroll;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

table.dataTable tbody td.dt-body-right {
    text-align: right;
}

.dataTables_scroll {
    height: calc(100vh - 234px);
}

.dataTable tbody tr td {
    height: 15px; /* or whatever height you need to make them all consistent */
    white-space: nowrap;
    padding: 4px !important;
}

.dataTables_processing {
    /*position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);*/
}

/*Report*/
.reportIframe {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: none;
}
.RptModal .modal-dialog {
    width: 100%;
}

.addedbyeb .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border: none;
}

.addedbyeb .input-group .form-control:first-child, .addedbyeb .input-group-addon:first-child, .addedbyeb .input-group-btn:first-child > .btn,
.addedbyeb .input-group-btn:first-child > .btn-group > .btn, .addedbyeb .input-group-btn:first-child > .dropdown-toggle,
.addedbyeb .input-group-btn:last-child > .addedbyeb .btn:not(:last-child):not(.dropdown-toggle), .addedbyeb .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0;
    background: #f9f9f9;
    border: none;
    border-top: solid 1px #f9f9f9;
    border-bottom: solid 1px #f9f9f9;
    border-right: solid 1px #0000000d;
}

[eb-type=EbTableVisualization] .dataTable {
    border: 0;
}

[eb-type=EbTableVisualization] .noPadding {
    display: none;
}

[eb-type=EbTableVisualization] .dataTable:first-child {
    margin-top: 0 !important;
}

.dotstable .dottool {
    display: inline;
    box-shadow: 0px 0px 4px 1px #00000024, 0 0 1px 1px #00000003;
    background-color: white;
}

    .dotstable .dottool .fa {
        color: rgba(0, 0, 0, 0.79);
    }
