.tablecontainer {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 1px;
}

.loadingdiv {
    vertical-align: middle;
    margin: 5% 50%;
    display: none;
}

.numericcol {
    float: right;
}

.toolbar {
    float: left;
}

.display-none {
    display: none;
}

.Displaycols {
    margin: 0px 1px;
    padding: 2px 1px;
    width: auto;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
    font-size: 11px;
    //background-color: rgb(204, 204, 204);
    border-radius: 3px;
    float: left;
    /*margin: 3px 6px;
    border: solid 2px #dddddd;
    padding: 1px 5px;
    display: inline-block;
    width: auto;*/
}

    .Displaycols:focus {
        background-color: aquamarine;
    }

.colCont {
    border: 1px solid;
    width: 99%;
    height: auto;
    min-height: 30px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.Delcols {
    /*margin: 3px;
    border: solid 2px #dddddd;
    padding: 5px 5px;*/
    margin: 2px;
    padding: 0px 2px;
    font-size: 12px;
    //background-color: #ddd;
    border-radius: 2px;
}


.tmp {
    border: 1px solid;
    width: 99%;
    height: 50px;
    display: inline-block;
}

.ui-autocomplete {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

td.resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: e-resize;
    background-color: red;
}

.dataTables_scroll td {
    border: none !important;
}

.DTFC_LeftWrapper td, .DTFC_RightWrapper td {
    border: none !important;
}

div.DTFC_LeftBodyWrapper table, div.DTFC_RightBodyWrapper table {
    border: none;
}

.dataTables_scrollHead {
    padding-bottom: 150px !important;
    margin-bottom: -150px !important;
    /*width: calc( 100% - 17px ) !important;*/
}

.dataTables_scrollFoot {
    /*padding-bottom: 1px;
    margin-bottom: -1px;*/
    padding-top: 100px !important;
    margin-top: -100px !important;
    width: 98.65% !important;
    /*border-right: 1px solid #ccc !important;*/
}

.dataTables_processing {
    z-index: 1 !important;
    padding-bottom: 3px !important;
    /*padding-top: 0px!important;*/
}

.DTFC_LeftWrapper, .DTFC_RightWrapper {
    z-index: 3;
}

.DTFC_LeftHeadWrapper, .DTFC_RightHeadWrapper {
    padding-bottom: 150px !important;
    margin-bottom: -150px !important;
}

.DTFC_LeftBodyWrapper {
}

.DTFC_LeftFootWrapper, .DTFC_RightFootWrapper {
    padding-bottom: 100px !important;
    margin-bottom: -100px !important;
}

.DTFC_RightBodyWrapper {
}

.linepadding {
    padding: 0px !important;
}

.dt-right {
    text-align: right;
}

.dt-buttons {
    display: none;
}

th {
    font-size: 12px;
}

td {
    font-size: 12px;
}

.progress {
    margin-bottom: 0px !important;
}

.hideme {
    display: none;
}

.tdheight {
    height: 15px;
    white-space: nowrap;
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: white !important;
}

.eb_finput {
    width: 100% !important;
    padding: 1px !important;
    font-size: 11px !important;
    height: 30px !important;
    border-radius: 0px !important;
}

.columnDrag {
    margin: 0px 1px;
    padding: 5px 5px;
    width: auto;
    height: 25px;
    background-color: #306395;
    border-radius: 15px;
    color: #f5f5f5;
    display: inline-block
}
.colTiles {
    font-size: 12px;
}
.colTiles.close {
    font-size: 15px;
    margin: -2px 2px 0px 4px;
    color: black !important;
}

.noPadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.Btnpaginate {
    float: right;
}

.Btninfo {
    margin-top: 2px;
}

.pagination > li > a, .pagination > li > span {
    padding: 1px 10px;
}

div.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 0 !important;
}

div.dataTables_wrapper div.dataTables_length select {
    height: 21px !important;
    padding: 2px !important;
}

div.dataTables_wrapper .dataTables_length {
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_info {
    display: inline-block;
    padding-top: 0;
    margin-left: 20px;
}

.pagination-wrapper {
    font-size: 12px;
    padding: 0 2px;
    padding-top: 1px;
}

div.dataTables_wrapper div.dataTables_paginate {
    display: inline-block;
    float: right;
}

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 0 !important;
    }

div.dataTables_wrapper div.dataTables_processing {
}

.dataTables_scrollHeadInner, .dataTables_scrollFootInner {
    /*width: 100% !important;*/
}

.dataTables_scrollFootInner .form-control, .DTFC_LeftFootWrapper .form-control, .DTFC_RightFootWrapper .form-control {
    height: inherit !important;
    padding: 7px 0px;
    border: none !important;
    direction: rtl;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 10px;
}

.dataTables_scrollHeadInner table {
    background-color: white;
}

.dataTables_scrollFootInner th, .DTFC_LeftFootWrapper th, .DTFC_RightFootWrapper th {
    padding: 0 8px !important;
}

.odd{
    background-color: rgba(49,99,150,0.09) !important;
}

.even {
    background-color: white !important;
}
table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #08C !important;
}

table.dataTable td.focus {
    outline: 3px solid #00080e;
    outline-offset: -1px;
}

.objlist {
    width: 150px;
    height: 300px;
    overflow-x: scroll;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

table.dataTable tbody td.dt-body-right {
    text-align: right;
}

.sub-windows .dataTables_scroll {
    height: calc(100vh - 100px) !important;
    z-index: 1;
}

.sub-windows .dataTables_wrapper {
    height: 100%;
}

.table.dataTable {
    margin-bottom: 0px !important;
}

.sub-windows .dataTables_scrollBody {
    height: calc(100% - 100px) !important;
}

.containerrow .dataTables_scroll {
    height: 100% !important;
}
.containerrow .dataTables_scrollBody {
    height: calc(100% - 18px) !important;
}

.containerrow .dataTables_wrapper {
    height: 250px;
    padding: 10px 10px 10px 10px;
}

.dataTable tbody tr td {
    height: 15px; /* or whatever height you need to make them all consistent */
    white-space: nowrap;
    padding: 3px 4px !important
}


/*Report*/
.reportIframe {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: none;
}

.RptModal .modal-dialog {
    width: 100%;
}

.addedbyeb .input-group .form-control:last-child, .addedbyeb .input-group-addon:last-child, .addedbyeb .input-group-btn:last-child > .btn, .addedbyeb .input-group-btn:last-child > .btn-group > .btn, .addedbyeb .input-group-btn:last-child > .dropdown-toggle, .addedbyeb .input-group-btn:first-child > .btn:not(:first-child), .addedbyeb .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border: none;
}

.addedbyeb .input-group .form-control:first-child, .addedbyeb .input-group-addon:first-child, .addedbyeb .input-group-btn:first-child > .btn,
.addedbyeb .input-group-btn:first-child > .btn-group > .btn, .addedbyeb .input-group-btn:first-child > .dropdown-toggle,
.addedbyeb .input-group-btn:last-child > .addedbyeb .btn:not(:last-child):not(.dropdown-toggle), .addedbyeb .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
    background: #f9f9f9;
    border: none;
    border-bottom: solid 1px #f9f9f9;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
    z-index: 3;
}

.addedbyeb th {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 0 !important;
    border-radius: 0 !important;
}

.addedbyeb a {
    padding: 0 10px !important;
}

.addedbyeb .input-group {
    width: 100% !important;
}
.addedbyeb .form-control[disabled] {
    background-color: #ffffff !important;
}

[eb-type=EbTableVisualization] .dataTable:first-child {
    margin-top: 0 !important;
    background-color: white;
}

.div.dataTables_wrapper .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 30px;
    padding: 2px 3px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
    border-right: solid 1px #ddd;
    border: none;
}


.div.dataTables_wrapper dataTables_scrollFoot .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 22px;
}
.div.dataTables_wrapper DTFC_LeftFootWrapper .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 22px;
}
.div.dataTables_wrapper DTFC_RightFootWrapper .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 22px;
}

.between-inp2 {
    width: calc(100% - 29px) !important;
    position: absolute !important;
    top: 100%;
    z-index: 0 !important;
    box-shadow: 0px 1px 5px 0px rgba(2, 2, 2, 0.25098039215686274);
}

.between-inp {
    width: 100% !important;
    height: 15px !important;
    padding: 0px 2px !important;
    font-weight: normal;
    border: none;
    font-size: 11px !important;
}

.priorfilter, .tagstyle {
    color: white;
    margin: 0px 2px;
    border-radius: 4px;
    display: inline-block;
    font-size: 9px;
    padding: 4px 3px;
    font-family: sans-serif;
}

.tagstyle {
    background-color: #3bb582 !important;
}

.priorfilter {
    background-color: #336699 !important;
}

.tagstyle .close {
    font-size: 17px;
    margin-top: -2px;
    color: #fff;
    margin-left: 3px;
    opacity: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
}
.tagstyle .fa-close {
    font-size: 10px;
}

.tagstyle .fa-close:hover {
    opacity: 1 !important;
    color: #fb2d2d !important;
    text-shadow: 0 1px 0 white !important;
    cursor: pointer;
}

.dv-pdf {
    height: calc( 100% - 22px )!important;
}
.sub-pdf {
    height: calc(100vh - 60px) !important;
}
.wrapper-cont{
    /*width: 100%;*/
}
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.datecolumn-picker{
    width:213px !important;
}

.group-sum{
    background-color:lightgray;
}
table.dataTable tr.group td {
    font-weight: unset !important;
}