.Eb_quick_menu .menu_wrapper {
    height: 500px;
    padding: 0;
    background: #eee;
    font-family: var(--eb-font);
}
.Eb_quick_menu .modal-dialog {
    width:80%;
}
.Eb_quick_menu .menu_sidebar {
    height: 100%;
    background: var(--eb-black);
}
.Eb_quick_menu .menu_sidebar_sub {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.Eb_quick_menu .menu_workpane {
    height: 100%;
    padding: 10px 10px;
}
.menuwrapper_ul_outer {
    padding-left: 0;
    list-style: none;
}
.Eb_quick_menu .sub-menuObj {
    list-style: none;
    padding: 0;
}
.outer_li {
    border-radius: 0 !important;
    border: none;
    font-weight: 400;
    color: var(--eb-black-color) !important;
    background-color: transparent;
}
.inner_li {
    border-radius: 0 !important;
    border: none;
    padding-left: 2em;
    font-size: 13px;
    background-color: transparent;
    color: var(--eb-black-color)!important;
}
.outer_li:hover, .outer_li:focus {
    text-decoration: none;
    background-color: #34373c !important;
}
.inner_li:hover, .inner_li:focus {
    text-decoration: none;
    background-color: #34373c !important;
}
.menu_sidebar .in {
    background: #34373c;
}
/*.Eb_quick_menu a:focus {
    background: #f2f7f7;
}*/
.Eb_quick_menu .menu_sidebar i {
    color: #969393;
}
.objList_Container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}
.Eb_quick_menu .objitems {
    padding: 9px 9px;
}
    .Eb_quick_menu .objitems .object_container {
        width: 100%;
        height: 100%;
        float: left;
        background-color: white;
        padding: 6px;
        border-radius: 2px;
        border: 1px solid #e8e6e6;
    }
.Eb_quick_menu .modal-header {
    padding: 0;
    border-bottom: none;
    background-color: var(--eb-black);
}
.Eb_quick_menu .modal-header .searchBox {
}
.Eb_quick_menu .cls_btn {
}
.Eb_quick_menu .modal-header .c_btn {
    background-color: transparent;
    color: #656769;
    padding: 5px 12px 0px 12px;
    font-size: 18px;
    margin-right: 5px;
}
.Eb_quick_menu .drdwbtn {
    background-color: #336699;
    color: white;
}
.Eb_quick_menu .search_icon {
    background-color: transparent;
    border: none;
    right: 18px;
    position: absolute;
    z-index: 5;
    height: 100%;
}
    .Eb_quick_menu .search_icon i {
    }
.Eb_quick_menu .search_input {
    border-radius: 20px !important;
}
.header_topmenu {
    background: white;
    padding: 5px 5px;
    border-bottom: 1px solid #d4d4d4;
}
.pwrd_by {
    background: var(--eb-black);
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding: 0;
    color: #6b6565;
    border-top: none;
}
    .pwrd_by .pwrd_by-text {
        background: #eee;
    }
.objbox-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #336699;
}
    .objbox-footer a {
        color: #5d5e61;
    }
.objitems h4 {
    margin: 3px 0 2px;
    color: black;
    font-size: 14px;
}
.objitems p {
    margin: 0;
    height: 17px;
    font-size: 11px;
    text-overflow: ellipsis;
}
.label_container{
    width:100%;
}
    .label_container span {
        background-color: #eaeaea;
        color: #369;
    }

.objContainer_f_app {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
}
.objContainer2 {
    width: 100%;
    float: left;
    box-shadow: var(--eb-shadow2);
    border-radius: 2px;
}
.obtype_container {
    width: 100%;
    float: left;
    padding: 5px;
}
.obType_wrapper_head {
    padding: 5px;
    float: left;
    width: 100%;
    background-color: white;
}
    .obType_wrapper_head .btn {
        padding: 0;
        margin-right: 5px;
    }
.collapse_headBG {
    background-color: #707479;
    color:white;
}
.collapse_headBG .btn{ 
    color: white !important;
}
.brd {
    border: 1px solid #cccaca;
    padding:0;
}
.btn_container{
    display:inline-block;
}