.Eb_quick_menu .menu_wrapper {
    height: 500px;
    padding: 0;
    background: #eee;
    font-family: var(--eb-font);
}
.Eb_quick_menu .modal-dialog {
    width:80%;
}
.Eb_quick_menu .menu_sidebar {
    height: 100%;
    background: var(--eb-black);
}
.Eb_quick_menu .menu_sidebar_sub {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.Eb_quick_menu .menu_workpane {
    height: 100%;
    padding: 0;
}
.menuwrapper_ul_outer {
    padding-left: 0;
    list-style: none;
}
.Eb_quick_menu .sub-menuObj {
    list-style: none;
    padding: 0;
}
.outer_li {
    border-radius: 0 !important;
    border: none !important;
    font-weight: 400;
    color: var(--eb-black-color) !important;
    background-color: transparent !important;
}
.inner_li {
    border-radius: 0 !important;
    border: none !important;
    padding-left: 2em;
    font-size: 13px;
    background-color: transparent !important;
    color: var(--eb-black-color)!important;
}
.outer_li:hover, .outer_li:focus {
    text-decoration: none;
    background-color: #34373c !important;
}
.inner_li:hover, .inner_li:focus {
    text-decoration: none;
    background-color: #34373c !important;
}
.menu_sidebar .in {
    background: #34373c;
}
/*.Eb_quick_menu a:focus {
    background: #f2f7f7;
}*/
.Eb_quick_menu .menu_sidebar i {
    color: #969393;
}
.objList_Container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 10px 10px 17px;
}
.Eb_quick_menu .objitems {
    padding: 9px 9px;
}
    .Eb_quick_menu .objitems .object_container {
        width: 100%;
        height: 100%;
        float: left;
        background-color: white;
        padding: 6px;
        border-radius: 2px;
        border: 1px solid #e8e6e6;
    }
        .Eb_quick_menu .objitems .object_container:hover {
            background-color: #f3f8ff;
        }
.Eb_quick_menu .modal-header {
    padding: 0;
    border-bottom: none;
    position:relative;
}
    .Eb_quick_menu .modal-header .searchBox {
        margin-right: 15px;
    }
.Eb_quick_menu .cls_btn {
}
.Eb_quick_menu .modal-header .c_btn {
    background-color: transparent;
    color: #656769;
    padding: 5px 12px 0px 12px;
    font-size: 18px;
    margin-right: 5px;
}
.Eb_quick_menu .drdwbtn {
    background-color: #336699;
    color: white;
}
.Eb_quick_menu .search_icon {
    background-color: transparent;
    border: none;
    right: 18px;
    position: absolute;
    z-index: 5;
    height: 100%;
}
    .Eb_quick_menu .search_icon i {
    }
.Eb_quick_menu .search_input {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.header_topmenu {
    background: white;
    padding: 5px 5px;
    border-bottom: 1px solid #d4d4d4;
}
.pwrd_by {
    background: #d8d8d8;
    font-size: 12px;
    font-style: italic;
    text-align: center !important;
    padding: 0 !important;
    color: #6b6565;
    border-top: none !important;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.objitems h4 {
    margin: 3px 0 2px;
    color: black;
    font-size: 14px;
}
.objitems p {
    margin: 0;
    height: 17px;
    font-size: 11px;
    text-overflow: ellipsis;
}
.label_container{
    width:100%;
}
    .label_container span {
        background-color: #eaeaea;
        color: #369;
    }

.objContainer_f_app {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
}
.objContainer2 {
    width: 100%;
    float: left;
    box-shadow: var(--eb-shadow2);
    border-radius: 2px;
}
.obtype_container {
    width: 100%;
    float: left;
    padding: 5px;
}
.obType_wrapper_head {
    padding: 5px;
    float: left;
    width: 100%;
    background-color: white;
}
    .obType_wrapper_head .btn {
        padding: 0;
        margin-right: 5px;
    }
.collapse_headBG {
    background-color: #707479;
    color:white;
}
.collapse_headBG .btn{ 
    color: white !important;
}
.brd {
    border: 1px solid #cccaca;
    padding:0;
}
.btn_container{
    display:inline-block;
}
.drp_new{
    display:inline-block;
}
.drp_menuitems {
    padding: 5px;
}
.drp_new_wrapper {
    height: 500px;
    overflow: auto;
}

.breadcrumb_wrapper {
    display: inline-block;
    float: left;
    padding: 6px 0px;
    padding-right: 10px;
    font-size:16px;
}
    .breadcrumb_wrapper .active_lnk {
        color: #4e79a5;
        font-size: 15px;
    }
.brd_cr_items {
    padding: 0 2px;
    font-size: 14px;
}
.q_men_IMGsection {
    background: white;
    border-right: 1px solid #ccc;
    padding: 5px 20px;
}
.q_men_IMGsection img{
    height:38px;
}
.quick_menu_load{
    bottom:0;
}
.menu_notifiction {
    position: absolute;
    display: none;
    margin-left: 40%;
    margin-top: 25%;
}

/*for app dashboard*/
.appdash_obj_container .objitems {
    padding: 9px 9px;
}

    .appdash_obj_container .objitems .object_container {
        width: 100%;
        height: 100%;
        float: left;
        background-color: white;
        padding: 6px;
        border-radius: 2px;
        border: 1px solid #e8e6e6;
    }
.appdash_obj_container .objContainer2 {
    width: 100%;
    float: left;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #eee;
}
.appdash_obj_container .obj_count, .Eb_quick_menu .obj_count {
    margin-left: 0.4em;
}