.Eb_quick_menu .menu_wrapper {
    height: 500px;
    padding: 0;
    background: #fafafa;
    font-family: var(--fontf);
}
.Eb_quick_menu .modal-dialog {
    width:80%;
}
.Eb_quick_menu .menu_sidebar {
    height: 100%;
    background: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 0 1px -2px rgba(0, 0, 0, 0.1);
}
.Eb_quick_menu .menu_sidebar_sub {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.Eb_quick_menu .menu_workpane {
    height: 100%;
    padding: 10px 10px;
    padding-right: 0;
}
.Eb_quick_menu .menuwrapper_ul_outer {
    padding-left: 0;
    list-style: none;
}
.Eb_quick_menu .sub-menuObj {
    list-style: none;
    padding: 0;
}
.Eb_quick_menu .outer_li {
    border-radius: 0 !important;
    border: none;
    font-weight: 400;
    color: #544b4b;
}
.Eb_quick_menu .inner_li {
    border-radius: 0 !important;
    border: none;
    padding-left: 2em;
    font-size: 13px;
    background-color: transparent;
}
    .Eb_quick_menu .inner_li:hover, .inner_li:focus {
        color: #f9f9f9 !important;
        text-decoration: none !important;
        background-color: #336699 !important;
    }
.Eb_quick_menu .in {
    background: #f2f7f7;
}
/*.Eb_quick_menu a:focus {
    background: #f2f7f7;
}*/
.Eb_quick_menu .menu_sidebar i {
    color: #969393;
}
.objList_Container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Eb_quick_menu .objitems {
    padding: 9px 9px;
}
    .Eb_quick_menu .objitems .object_container {
        width: 100%;
        height: 100%;
        float: left;
        background-color: white;
        padding: 6px;
        border-radius: 4px;
        box-shadow: var(--eb-shadow);
    }
.Eb_quick_menu .modal-header {
    padding: 0;
}
.Eb_quick_menu .modal-header .searchBox {
    width:32%;
    float:left;
}
.Eb_quick_menu .cls_btn {
}
.Eb_quick_menu .modal-header .c_btn {
    background-color: transparent;
    color: #336699;
    padding: 5px 12px 0px 12px;
    font-size: 18px;
    margin-right: 5px;
}
.Eb_quick_menu .drdwbtn {
    background-color: #336699;
    color: white;
}
.Eb_quick_menu .search_icon {
    background-color: transparent;
    border: none;
    right: 11px;
    position: absolute;
    z-index: 5;
    height: 100%;
}
    .Eb_quick_menu .search_icon i {
        margin-top: 3px;
    }
.Eb_quick_menu .search_input {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.header_topmenu {
    background: white;
    padding: 5px 0;
    border-bottom: 1px solid #d4d4d4;
}
.pwrd_by {
    background: #cacaca;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    padding: 5px 15px;
    border-top: 1px solid #b3b1b1;
}
.objbox-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #336699;
}
.objbox-footer a{
    color: #336699;
}
.objitems h4 {
    margin: 3px 0 2px;
    color: black;
    font-size: 14px;
}
.objitems p {
    margin: 0;
    height: 17px;
    font-size: 11px;
    text-overflow: ellipsis;
}
.label_container{
    width:100%;
}
    .label_container span {
        background-color: #eaeaea;
        color: #369;
    }