/*side menuBar*/
.tool-box-items {
    margin-left: 0px !important;
    margin-top: 10px !important;
}

.tree, .tree ul {
    padding: 0;
    list-style: none;
}

    .tree ul {
        margin-left: 1em;
        position: relative;
    }

        .tree ul ul {
            margin-left: .5em;
        }

        .tree ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid;
        }

    .tree li {
        margin: 0;
        padding: 0 4%;
        line-height: 2em;
        font-weight: 300;
        position: relative;
    }

    .tree ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0;
    }

    .tree ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 1em;
        bottom: 0;
    }

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.qr-Br-img-btn {
    margin-left: 5px;
}

/*end side menuBar*/
.tab-section{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding-top: 10px;
}
.headersections {
    width: 50px;
    float: left;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color: #000000;
    border-right: 0;
}

.reportmenu .btn{
    color: #333 !important;
    border: none !important;
    background-color: #fafafa !important;
    
}
.tab-menu .btn{
    color: #333 !important;
    border: none !important;
    background-color: #fafafa !important;
}
#eb-shapes {
    margin-left: 4%;
    color: #333333;
}
.shapes-tank {
    width: 94%;
    height: 60px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 4px;
    margin-left: 3%;
    color: #333333;
}
    .shapes-tank .btn{
        background-color: white !important;
        border: none !important;
    }

 #pagesize{       
     height: 28px;
     border-color: #dedede;
}
.multiSplit {
    width: 30px;
    float: left;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color: #000000;
}

.headersections .btn {
    align-self: flex-end;
    border:none;
    background-color:#fafafa;
    color:#333;

}

.gutter.gutter-vertical {
    background-color: #cfcfcf;
    cursor: ns-resize;
}

.ruler {
    margin-top: 1px;
    color: #000;
    font-family: arial;
    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    border: 1px solid #aaa;
    margin-left: 79px !important;
    border-left: 0;
    background-color: #fbf7f7;
    position: fixed;
    z-index: 100;
    height: 20px;
}

    .ruler > div {
        display: inline-block;
        background: #000;
    }

    .ruler .tickLabel {
        position: relative;
        top: -7px;
        margin-left: 4px;
        width: 1px;
        height: 100%;
        text-indent: 1px;
        line-height: 16px;
    }

        .ruler .tickLabel:first-of-type {
            margin-left: 0;           
        }

    .ruler .tickMajor {
        margin-top: 12px;
        margin-left: 4px;
        width: 1px;
        height: 6px;
    }

    .ruler .tickMinor {
        margin-left: 4px;
        width: 1px;
        height: 4px;
    }

.page {
    display: block;
    margin-left: 79px;
    border: 1px solid #918f8f;
}

.rulerleft {
    position: absolute;
    color: #000;
    border: 1px solid #aaa;
    font-size: 10px;
    background-color: #fbf7f7;
    margin-left: -19px;
    margin-top: 20px;
    width: 20px;
    z-index: 50;
}

    .rulerleft > div {
        background: #000;
    }

    .rulerleft .tickLabel {
        margin-top: 4px;
        width: 100%;
        height: 1px;
    }

        .rulerleft .tickLabel:first-of-type {
            margin-left: 0;
            margin-top:-1px;
        }

    .rulerleft .tickMajor {
        margin-top: 4px;
        width: 6px;
        height: 1px;
        margin-left: 13px;
    }

    .rulerleft .tickMinor {
        margin-top: 4px;
        width: 4px;
        height: 1px;
        margin-left: 14px;
    }

.reportmenu {
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    z-index: 1000;
    margin-top: 29px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

#imgbg {
    width: 14.8cm;
    z-index: -1;
}

.pGreportBuilder{
    margin-top: 3px;
    position: fixed;
    margin-right: 10px;
    margin-left:10px;
}
.head_Box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbox {
    height: inherit;
    position: fixed;
    margin-top: 3px;
    padding: 0 !important;
    width: 15%;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y:auto;
}

.pgB {
    margin-top: 47px;
}

.toolbox li {
    border: none;
}

.styl {
    list-style-type: none;
    padding: 10px;
}

.page .textval{    
    margin:0;
    border:1px solid #cccccc;
}

#selDsource {
    width: 100%;
}

.reportmenu .btn-group > .btn:first-child {
    margin-left: 5px !important;
}
.side-toolbar {    
    height:518px;
    padding-left: 0;
    background-color: white;
    z-index: 1;
    margin-top: 48px;
}
.PGgrid {
    min-height: 1000px;
    padding: 0;
    margin-top: 48px;
}
.title {
    width: 99px;
    height: 20px;
    background-color: #fbf7f7;
    position: fixed;
    top: 118px;
    left: 227px;
    border: 1px solid #aaaaaa;
    z-index: 200;
}
.measurement{
    height: 28px;  
    border-left: 0;
    border-color: #dedede;
    padding-bottom: 2px;  
}
.custom-size{
    width: 60px;
    border: 1px solid #dedede;
    height: 28px;
    padding-bottom: 3px;
}
#createCustom{
    background-color: #fafafa;
    border: 1px solid #dedede;
    height: 28px;
}
#rulerUnit {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    color:black;
}  
/*shapes*/
.h-line > .ui-resizable-handle {
   width: 7px;
    height: 7px;
    top: -4px!important;
    background-color: green !important;
}
.h-line .ui-resizable-e{
    margin-top:0;
}
/*.v-line .ui-resizable-handle {
   background-color: green;
    width: 7px;
    height: 7px;
    left: -4px;
}
.v-line .ui-resizable-e{
    margin-right:0;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    float: right;
    margin-top: -5px;
}*/
/*.arrow-r-draggable > .ui-resizable-e,.ui-resizable-w{
    background-color: green;
    width: 7px;
    height: 7px;
    margin-top: -4px;
}
.arrow-r-draggable .ui-resizable-e {
    margin-right: -6px;
}*/
.arrow-left {
 width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right:5px solid black;
  float: left;
  margin-top: -5px;
}
/*.arrow-l-draggable .ui-resizable-e, .ui-resizable-w {
    background-color: green;
    width: 7px;
    height: 7px;
    margin-top: -4px;
}
.arrow-l-draggable .ui-resizable-w {
    margin-left: -3px;
}*/
.arrow-up {
 width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;  
  margin-left: -5px;
}
/*.arrow-u-draggable .ui-resizable-s, .ui-resizable-n {
    background-color: green;
    width: 7px;
    height: 7px;
    margin-left: -3px;
}
.arrow-u-draggable .ui-resizable-n{
margin-top: -4px;
}*/
.arrow-down {
 width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;  
  margin-left: -5px;
  align-self: flex-end;
}
.arrow-d-draggable{
    display:flex;
}
/*.arrow-d-draggable .ui-resizable-n, .ui-resizable-s {
    background-color: green;
    width: 7px;
    height: 7px;
    margin-left: -3px;
}
.arrow-d-draggable .ui-resizable-s{
margin-bottom: -4px;
}*/
.arrow-By-dir-v-t{
    width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;  
  margin-left: -5px;
  align-self: flex-start;
}
.arrow-By-dir-v-b{
    width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;  
  margin-left: -10px;
  align-self: flex-end;
}
/*.arrow-by-d-v-draggable .ui-resizable-s, .ui-resizable-n{
    background-color: green;
    width: 7px;
    height: 7px;
    margin-left: -3px;

}
.arrow-by-d-v-draggable .ui-resizable-s,.ui-resizable-n{
margin: -4px;
}*/
.arrow-By-dir-h{
 width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;  
  border-left: 5px solid black;
  float: right;
  margin-top: -5px;
}
/*.arrow-By-dir-h{
     width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right:5px solid black;
  float: left;
  margin-top: -5px;
}*/
/*.arrow-by-d-h-draggable .ui-resizable-handle{
    background-color: green;
    width: 7px;
    height: 7px;
    margin-top: -4px;
}
.arrow-by-d-h-draggable .ui-resizable-w,.ui-resizable-e{
margin: -4px;
}*/
/*.pgB .nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .pgB .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .pgB .nav-tabs > li > a {
        border: none;
        color: #666;
    }

    .pgB .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        color: #4285F4 !important;
        background: transparent;
    }

    .pgB .nav-tabs > li > a::after {
        content: "";
        background: #4285F4;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }

    .pgB .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.pgB .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.pgB .tab-pane {
    padding: 15px 0;
}*/
.multiSplitHboxSub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:11px;
}
.dropped{
    z-index:50;
}