.eb-chat-cont {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.eb-chatBox, .eb-chatBox-dev {
    overflow-y: auto;
    height: 100%;
    padding: 0px 5px;
    padding-bottom: 60px;
    background-color: #e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23bdbdbd' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.chat-icon {
    position: fixed;
    right: 30px;
    bottom: 15px;
    font-size: 24px;
    background-color: #369;
    color: #fff;
    padding: 7px 12px;
    FLOAT: right;
    border-radius: 24px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.39);
}

.msg-cont-bot, .msg-cont-user {
    width: calc(100% - 26px);
    display: inline-block;
}

.msg-wraper-user, .msg-wraper-bot {
    font-family: Open Sans,sans-serif;
    position: relative;
    display: inline-block;
    text-align: left;
    color: #555;
    padding: 4px 10px;
    font-size: 100%;
    border: .107em solid #00000021;
}

.msg-wraper-user {
    border-radius: 13px 13px 0px 13px;
    margin: 6px 5px 5px 50px;
    background-color: #fff;
    padding-right: 41px;
}

.msg-wraper-bot {
    border-radius: 13px 13px 13px 0px;
    margin: 6px 5px 6px 5px;
    background-color: #fff;
    padding-right: 41px;
}

.msg-cont {
    /*display: inline-block;
    min-width: 87%;*/
}

.msg-cont-user {
    text-align: -webkit-right;
}

.msg-cont-bot {
    text-align: -webkit-left;
}

.eb-chatBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

.eb-chatBox::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.eb-chatBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #777;
}

.eb-chat-inp-cont {
    display: none;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.msg-inp {
    border: none;
    border: 1px solid #d8d8d8;
    width: calc(100% - 48px);
    outline: none;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0px 1px 0px 0px #d0d0d0;
}

.chat-ctrl-cont .Eb-ctrlContainer {
    width: 197px;
    display: inline-block;
}

.chat-ctrl-cont {
    position: relative;
    width: 98%;
    border: solid 5px #ffffff;
    border-radius: 0px 29px 29px 0px;
    background-color: #ffffff;
    margin-left: 16px;
    line-height: 0;
}

.bot-icon {
    background: var(--botdpURL);
    width: 26px;
    background-size: 100% !important;
    height: 26px;
    display: inline-block;
    margin-bottom: -6px;
    border-radius: 24px;
    background-color: var(--botThemeColor);
}

.bot-icon-user {
    background: url(https://expressbase.com/images/svg/user.svg)center center no-repeat;
    background-color: var(--botThemeColor);
    width: 26px;
    background-size: 100% !important;
    height: 26px;
    display: inline-block;
    margin-bottom: -6px;
    border-radius: 24px;
}

.msg-time {
    color: #999;
    font-size: 9px;
    text-align: right;
    margin-top: -12px;
    margin-right: -36px;
}

.chat-date {
    text-align: center;
}

    .chat-date span {
        border-radius: 15px;
        opacity: .8;
        padding: 2px 8px;
        font-size: 11px;
    }

.inline-block {
    display: inline-block;
}

.btn-box {
    margin-left: 16px;
    width: 98%;
}

.chat-ctrl-cont select, .chat-ctrl-cont textarea {
    width: 100%;
    min-height: 28px;
    min-width: inherit;
    resize: none;
    line-height: 1.4;
}

.eb-chat-inp-cont .btn {
    padding: 6px 9px !important;
}


.btn-box .btn {
    color: #555;
    background: var(--botThemeColor);
    color: white;
    font-size: 12px;
    border: solid 1px #e0e0e0;
}

.btn-box .btn {
    margin: 1px 1px;
    width: 100%;
    min-width: 222px;
    margin-bottom: 2px;
}

.msg-cont .btn:focus {
    outline: none;
    filter: contrast(1.4);
    box-shadow:none;
}
    .eb-chat-inp-cont .msg-send, .btn-box .btn, [name=ctrlsend] {
        border-radius: 15px;
        color: white;
        background: var(--botThemeColor);
        border: none;
        outline: none;
        padding: 4px;
    }

.chat-ctrl-cont [name=ctrlsend] {
    font-size: 13px;
    margin-left: 0px;
    padding: 6px 0px;
    width: 35px;
    min-width: 25px;
    border-radius: 0px 24px 24px 0px;
    vertical-align: top;
    box-shadow: none;
    height: 100%;
    position: absolute;
}

.ctrl-wraper {
    display: inline-block;
    width: calc(100% - 36px);
    border: solid 1px #ccc;
}

    .ctrl-wraper input, .ctrl-wraper select .ctrl-wraper textarea {
        height: 28px;
        border: none;
        padding:4px;
    }

        .ctrl-wraper input[type=radio], .ctrl-wraper input[type=checkbox] {
            height: inherit;
            margin: 5px;
        }

    .ctrl-wraper span {
        /*padding-right:5px;*/
    }

[name=ctrlsend] .fa {
    margin-left: -5px
}

.poweredby-cont {
    position: fixed;
    bottom: 0;
    background-color: var(--botThemeColor);
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.51);*/
    WIDTH: 100%;
    padding: 1px;
    text-align: center;
    z-index: 2;
}

.poweredby {
    font-family: arial;
    font-size: 12px;
    color: white;
}

.botlink {
    color: white;
    font-style: italic;
}

.ctrl-wraper .input-group-addon:last-child {
    border: none;
    border-radius: 0;
}

.ctrl-wraper .input-group-addon:first-child {
    border: none;
    border-radius: 0;
}

.img-box {
    position: relative;
}

    .img-box .msg-time {
        position: absolute;
        padding: 1px 4px;
        bottom: 1px;
        left: 1px;
        border-radius: 10px;
        color: white;
        background-color: rgba(0,0,0,.4);
    }

    .img-box img {
        border-radius: 10px;
    }

.img-edit {
    position: absolute;
    color: #333;
    border-radius: 18px;
    padding: 2px 6px;
    top: -1px;
    font-size: 11px;
    right: -1px;
}
.img-box .img-edit {
    background-color: rgba(255,255,255,.5);
    font-size:inherit;
    right: 0px;
    top: 0px;
}
.img-loader {
    display: none;
    background: url(../images/svg/imageLoader.svg) no-repeat center;
    background-size: 12%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5215686274509);
    position: absolute;
}

.file-name {
    display: none;
    position: absolute;
    top: calc(50% - 10px);
    white-space: nowrap;
    letter-spacing: 0.05mm;
    padding: 0 5px;
    color: white;
    direction: rtl;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.4);
}

.img-box:hover .file-name {
    display: block;
}

.eb-chatBox .card-cont {
    border:none;
    margin: 0;
    width: 100%;
    height: inherit;
}
.slick-track{
    display:flex!important;
}
.slick-next {
    right: -20px ;
}
.slick-prev {
    left: -30px;
    z-index: 1;
}
    .slick-next:before, .slick-prev:before {
        font-size: 30px ;
        opacity:1;
    }