.croppie-container .cr-slider-wrap {
    width: 100%;
    padding: 5px;
    background-color: black;
    margin: 0;
    text-align: left;
}

.cr-slider {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 3px;
    background: white;
}

.cr-slider-wrap .btn {
    display: inline;
    margin-left: 5px;
    color: #fff;
    background-color: transparent;
    border-color: none;
}

.cr-slider-wrap input[type=range] {
    width: 99px;
    display: inline;
    margin-left: 5px;
}
.croppie-container .cropie-loader {
    width: 20px;
    display: none;
    margin-left: 25px;
    color: blue;
}
.cropie-browsbtn {
    background: #5cb85c !important;
}
