.pd-0{
    padding:0;
}
.pd-r-15{
    padding-right:15px;
}
.pd-l-15 {
    padding-left: 15px;
}
.eb-btn-tw {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.no-hover-tw {
   color:white;
}
    .no-hover-tw:hover {
        color: white;
    }
.eb-btn-tw:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.xsmall{
    font-size:9px;
}
.eb-small-text{
    font-size:13px;
}
.strikethrough {
    text-decoration: line-through;
}
.float-l {
    float: left;
}
/*bot*/

.w-100 {
    width:100% !important;
}
.bot_video_promo {
    padding-bottom:2em;
}
.eb_bot_motion_frame {
    background: white;
    margin-top: -100px;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0,0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.1);*/
    border-bottom: none;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #0a84d2;
    border-radius: 3px;
}
.bot_video_promo_content {
    padding: 50px 35px 40px 35px;
    font-family: Montserrat;
    text-align: center;
}
    .bot_video_promo_content h4 {
        line-height: 26px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 1.2em;
        font-size: 20px;
        color: #7b7a7a;
    }
    .bot_video_promo_content p {
        color: rgb(115, 115, 117);
        font-size: 14px;
    }
    .bot_video_promo_content img {
        height: 60px;
    }

.eb-bot-pdF-motion-frame {
    padding-bottom: 180px;
}
.btn_liveDemos {
    padding: 12px 25px 11px 25px;
    background-color: #ff930d;
    color:white;
    width: 100%;
}
.live-scenarios-text {
    color: #cad4d3 !important;
    font-size: 12px;
}
.demo-cont {
    --bc: #fff;
}

.bot-DD {
    width: 100%;
}

.eb_iframecont {
    position: absolute;
    top: 6% !important;
    height: 100% !important;
    width: 100% !important;
    right: 0;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.69) !important;
}

.demo-cont {
    padding-left: 70px;
    padding-right: 70px;
}

.usecase-content-cont, .usecase-bots-cont {
    width: 100%;
    height: 360px;
}

.usecase-icon-cont {
    width: 100%;
    padding: 5px;
    background-color: var(--bc);
   
    padding-top: 2.5vh;
}
@media only screen and (max-width: 500px) {
    .usecase-content-cont{
        width:100%;
        padding:10px;
    }
    .usecase-bots-cont, .demo-col2, .demo-col3 {
        width: 100% !important;
        padding: 10px;
    }
    .usecase-icon-cont{
        padding:10px;
    }
    .content {      
        padding: 0 !important;      
    }
    .eb_iframecont{
        width:100% !important;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    .pricing-items {
        font-size: 14px !important;
    }
    .bot_video_promo_content {
        padding: 50px 20px 40px 20px;
    }
}
.usecase-content-cont, .usecase-bots-cont {
    width: 70%;
    float: left;
    padding: 0 40px 0 0;
}
.usecase-bots-cont {      
    width: 30%;
    float: left;
}
.usecase-bots-cont {
    position: relative;
    z-index: 1;
}
.demo-col1 {
    width: 100%;
}

.demo-col2 {
    width: 100%;
    float:left;
}
.icon-tbl {
    width: 100%;
}

    .icon-tbl .col-md-1 {
        text-align: center;
    }

.content {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
}
    .content h3 {
        padding: 0 0 0.4em 0;
    }

.demo-head {
    text-align: center;
    margin-top: 0;
    margin: 25px;
}

.no-padd {
    padding: 0;
}
/*code section*/

.eb-codeedit{
    background:white;
    padding:0;
}
.eb-codeedit-Container {
    width: 100%;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.eb-codeedit-pgno {
    width: 6%;
    background: #52c6cc;
    color: white;
    font-size:12px;
    padding:10px 10px;
}
.eb-codeedit-code {
    width: 94%;
    padding: 10px;
    font-family: monospace;
    color: #736c6c;
    font-size:12px;
}
pn {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 1.5;
}

.pg-line{
    line-height:1.5;
}
.jsCode{
    color:red;
}
.htmlTags {
    color:#5c5ce4;
}
.eb-text {
    color: #a94343;
}
.eb-codeedit-intentation{
    padding-left:30px;
}
.eb-codeedit-coment{
    color:#CCC;
}
.embedscript-text {
    padding-left: 70px;
    line-height: 2;
    font-size: 15px;
}
/*live demos section*/
/*.icon-box-demo-no {
width:30%;
float:left;
}
.icon-box-demo-img {
    width:70%;
    float:left;
}*/
.bot-prob-img-sec {
    float: left;
    width: 14%;  
    height: 80px;
}
.bot-prob-text-sec {
    float: left;
    width: 86%;
}
.bot-prob, .bot-solution {
    float: left;
    width: 100%;
    margin-top:5%;
}
.bot-prob-img-sec img {
    width: 80px;
    float: right;
}
.prob-container {
    float: left;
    width: 84%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-bottom-left-radius: 0;   
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    font-weight:400;
}
.mr-t-10 {
    margin-top:2.6%;
}
.prob-sol-container {
    float: left;
    width: 84%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    height: 80px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    font-weight: 400;
}
.prob-container-text {
    float: left;
    width: 100%;
    height:100%;
}

/*...................................bot end.................*/

.bot-section2, .embed_scriptBot {
    font-family:Montserrat;
}
.feature_row {
    padding: 3em 0px;
    line-height: 2.6rem;
}
    .feature_row .f_content {
        font-size: 16px;
        line-height: 2em;
    }
    .feature_row .small {
    }
    .feature_row .xtrasmall {
    }
    .feature_row h4 {
        margin-bottom: 1em;
        font-size: 20px;
    }
.pd-t-0 {
    padding-top:0;
}
.flex_imgWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex_imgWrapper img{
    width:65%;
    height:auto
}
.bot-video {
    padding-bottom: 50px;
}
.bot-video .container{
    padding: 20px 20px 20px 20px;
}
    .bot-video .bot-video-body {
        height:400px;
        border:1px solid #ccc;
    }
.bot-pricing {
    font-family: Montserrat;
}
.bot-pricing-body .col-md-3{
    
}
.bot-pricing-body .price-tile {
    background: white;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.price-tile-headsec {
    height: 80px;
    width: 100%;
    background: #1e8db8;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.headsec-textarea {
    display: inline-block;
    color: white;
    height: 100%;    
    font-size: 18px;
}
.headsec-amount {
    display: inline-block;
    color: white;
    height: 100%;   
    float: right;
    font-size: 38px;
}
.bot-image-bg img{
    width:100%;
}
.price-tile-bdy {
    
}
.pricing-items {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #6b7c93;
}    
.chatBoticons {
    font-size: 68px;
    color: #198bbe;
}
.bot-faq{
    padding-bottom:50px;
}
    .bot-faq .answer{
        margin-left:10px;
    }
    .bot-faq .faqs {
        margin-top:20px;
    }
    /*dfgfdhgfhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.livDemo_icons {
    width:100%;
}
.liveDemos_iconContainers{
    width:14.28%;
    padding:10px;   
}
.liveDemos_iconContainers_sub {
    width: 100%;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    color: #797878;
   cursor:pointer;
}
    .liveDemos_iconContainers_sub:focus {
        border-bottom: 4px solid green;
        background: #e5f3f5;   
        outline:none;
    }
    .liveDemos_iconContainers_sub:hover {
        transform: scale(1.1);
        background:#fafafa;
    }
.icon_noSec {
    width: 20%;
    height: 100%;
    font-size: 50px;
}
.icon_noSec span{
   align-self:flex-end;
}
.icon_imgSec {
    width: 80%;
    text-align: center;
    padding-top: 5px;
}
.demo_nameFIC {
    font-size: 11px;
    margin-top: 5px;
}
.icon_imgSec img{
    width: 40%;
}
.platform-desc{
   
}
.descript_cont{
    height:100%;
    padding:2px;
}
.descript_cont_second {
    padding: 35px;
    line-height: 2;
    font-size: 16px;
    color: #696b6d;
}
.b {
    border-right: 1px solid #ccc;
}

@media (min-width: 20px) and (max-width: 450px) {
    .eb_bot_motion_frame {
        margin-top: 0;
    }
    .bot_video_promo_content {
        padding: 25px 35px 25px 35px;
    }
    .eb-codeedit-code {
        width: 90%;      
    }
    .eb-codeedit-pgno {
        width: 10%;      
    }
    .eb-codeedit {
        margin-bottom: 3rem;
    }
    .embedscript-text {
         padding-left: 15px;
    }
    .feature_row {
        padding: 1em 0px;
    }
    .bot-pricing-body .price-tile {
        margin-bottom: 3em;
    }
    .eb-bot-pdF-motion-frame {
        padding-bottom: 2rem;
    }
    .bg-color-banner h2 {
        font-size: 22px;
        margin-bottom: 1em;
    }
    .getstarted{
        font-size:11px;
    }
}
.botsBanner {
    background-color: #0280db;
    background-image: linear-gradient(46deg,rgba(0,130,235,.17) 0,rgba(150,195,34,.32) 100%);
}