.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top:20px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row::before {
    top: 0px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    margin-top: 15px;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    /*padding: 6px 0;*/
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px !important;
}

.stepwizard-step > .btn {
    padding: 4px 10px!important;
}

.wiz-inputs{
    margin-left: 0%;
}

.controls-group{
    overflow-y:auto;
    min-height:75px;
    margin-bottom:5px;
    padding-right:15px;
}

.controls-group::-webkit-scrollbar {
    width: 8px;
}

.controls-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #337ab7;
    border-radius: 10px;
}

.controls-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #888888; 
}
  .drpdwnimage {
        width: 15px;
        height: 15px;
    }
 .dropdown-toggle > .btn{
  padding: 0px 0px;
 }
 .dropdownBtn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width:30px;
 }