.formB-box {
    display: inline-block;
    background-color: white;
    padding: 0px;
    width: auto;
    vertical-align: top;
    /*border-radius: 10px 10px 4px 4px;*/
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.form-head {
    background-color: rgba(209, 216, 214, 0.56078);
    padding: 1px 7px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    border: solid #ccc;
    border-width: 1px 1px 0px 1px;
}

.formhead-text::before {
    content: " =- ";
    border: solid 0.1em;
    border-radius: 0 0 0.01em 0.01em;
    background-color: white;
    border-top: solid 0.34em;
    font-size: 0.7em;
    margin-right: 0.5em;
    border-color: rgba(0, 0, 0, 0.612);
    white-space: pre;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

/*.formhead-text::after {
    content: "";
    position: absolute;
    margin-top: 3px;
    border: solid 1px;
    border-radius: 0 0 1px 1px;
    border-top: solid 3.4px;
    width: 1.05em;
    height: 0.9em;
    border-color: rgba(0, 0, 0, 0.612);
    margin-left: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.09);
}*/

.settings-cont {
    /*   position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(100,100,100,0.4);
    display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/
}

.web-form-buider-cont {
    width: inherit;
    margin: 3px;
    width: inherit;
    margin: 3px;
    height: calc( 100vh - 76px );
}

.bot-form-buider-cont {
    width: inherit;
    padding: 0.3vw 2vw;
}

.contol-settings-window {
    /*padding: 30px;
    background: #fff;
    color: #000000;
    width: 30vw;*/
}

.form-buider-toolBox {
    width: 100%;
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    height: 81vh;
}


.tool {
    padding: 1.85em 1em;
    width: calc( 50% - 6px);
    margin: 3px;
    display: inline-block;
    font-size: 0.98em;
    border-radius: 2px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    background-color: white;
    border: solid 1px rgba(0, 0, 255, 0);
    transition-duration: 0.05s;
}

.form-buider-toolBox .tool {
    padding: 0.9em 1em;
    font-size: 0.92em;
}

.form-buider-form {
    width: 100%;
    height: calc( 100vh - 98px );
    overflow-y: auto;
    border: solid 1px #ccc;
}

    .form-buider-form:focus {
        border: solid 1px green;
    }

    .form-buider-form input[type="text"], .form-buider-form input[type="email"], .form-buider-form input[type="number"], .form-buider-form input[type="password"], .form-buider-form input[type="singleline"] {
        height: auto !important;
        min-height: 28px;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        background: #FFF;
        border: 1px solid rgba(34,36,38,.15);
        padding: 3px;
        font-size: 13px;
        -webkit-transition: box-shadow .1s ease,border-color .1s ease;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
    }

    .form-buider-form table {
        width: 100%;
        table-layout: fixed;
    }

    .form-buider-form .btn-group {
        width: 100% !important;
    }

#filterBox .Eb-ctrlContainer {
    margin: 10px 0;
}

.Eb-ctrlContainer [type="RadioGroup"] {
    padding: 5px;
}

.Eb-ctrlContainer input:not([type=radio]), .Eb-ctrlContainer select {
    /*height: auto !important;*/
    height: auto;
    min-height: 28px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    padding: 3px;
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.ctrl-wraper input, .ctrl-wraper select .ctrl-wraper textarea {
    border: none !important;
}

.Eb-ctrlContainer input[type="color"] {
    height: auto;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    padding: 3px;
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.Eb-ctrlContainer select {
    width: 100%;
}

.bot-form-wraper {
    display: inline-block;
    width: 30%;
    margin: 0px 6vw;
}

.web-form-wraper {
    display: inline-block;
    width: 74.5%;
    height: calc(100% - 22px);
}

.form-save-wraper {
    display: inline-block;
    width: 51%;
}

.property-grid-cont {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding-top: 37px;
    border: 1px solid #ccc;
    box-shadow: var(--eb-shadow);
    height: 100%;
    background-color: white;
    width: 400px;
}

.eb-chatBox-dev > .Eb-ctrlContainer {
    border: solid 1px rgba(255, 0, 0, 0);
}

    .tool:hover, .eb-chatBox-dev > .Eb-ctrlContainer:hover {
        border: dashed 1px #9699a5;
        border-radius: 0px;
    }

    .eb-chatBox-dev > .Eb-ctrlContainer:focus {
        border: solid 1px rgba(255, 0, 0, 0) !important;
    }


/*.eb-chatBox-dev div {
    margin-top: 1px;
}*/

.stickBtn {
    display: none;
    position: fixed;
    width: auto;
    font-family: serif;
    font-size: 14.5px;
    padding: 3px 14px;
    top: -500px;
    color: white;
    background-color: #2f6194;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
    border-radius: 2px;
    /*box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.49);*/
    box-shadow: 4px 2px 4px 0 rgba(26, 26, 26, 0.26);
    z-index: 9;
    cursor: default;
    animation-duration: 0.3s;
}

    .stickBtn:hover {
        background-color: #258;
    }

    .stickBtn:active {
        color: #ccc;
        background-color: #333;
    }

.fb-cont {
    width: 100%;
    margin-bottom: 8px;
}

.toolbox-cont {
    width: 26%;
    height: 100%;
}

.filter-form-buider-cont .toolbox-cont {
    width: 18%;
}

.filter-form-buider-cont .tool {
    width: calc( 100% - 6px);
}

.web-form-buider-cont .toolbox-cont {
    width: 25%;
}

.tdDropable {
    height: 30px;
}

.radiog-cont {
    border: dashed 1px #ddd;
    padding: 3px;
    position: relative;
}

.radiog-label {
    display: inline-block;
    position: absolute;
    background: white;
    top: -11px;
    left: 8px;
}

.gridCont {
    /*padding: .25rem .25rem !important;
    border: 1px solid #e3e3e3;*/
}

.form-buider-form .Eb-ctrlContainer {
    min-height: 20px;
    /*padding: 3px;
    margin-bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;*/
}

.web-form-wraper .Eb-ctrlContainer {
    border: solid 1px rgba(255, 0, 0, 0);
    animation-duration: 0.3s;
}

.form-buider-form .Eb-ctrlContainer:focus {
    outline: none;
    border: dashed 1px #9699a5;
    margin: 1px;
}

/*rendering*/
.form-render-table {
    width: 100%;
    padding: 1px;
    table-layout: fixed;
}

.form-render-table-Td {
    width: 100%;
    vertical-align: top;
    padding: 1px;
}

.Eb-ctrlContainer {
    min-height: 28.18px;
}

.eb-ctrl-label {
    font-weight: bold;
    padding: 1px;
}

.helpText {
    font-size: 11px;
    color: rgba(37, 37, 37, 0.8);
    vertical-align: top;
}
/*overridding*/
.form-buider-form .btn {
    /*padding: 3px 12px !important;
        width: 100%;*/
}

.form-buider-form .Eb-ctrlContainer table td {
    border: 1px dashed #cccccc;
    padding: 0px;
    background: #eee;
    vertical-align: initial;
}

.moveBtn {
    font-size: 10px;
    vertical-align: top;
    margin-left: 6px;
    margin-top: 3px;
    opacity: .9;
}

    .moveBtn:hover, .moveBtn:focus {
        color: #fff !important;
        background-color: black;
        opacity: 1;
    }

.close {
    margin-top: -3px;
    height: 17px;
}

    .close:hover, .close:focus {
        color: #f00 !important;
        opacity: .6 !important;
    }

.eb-alertbox {
    position: fixed;
    z-index: 100000;
}

.Eb-invalid {
    outline: none;
    background: antiquewhite !important;
    border: 1px solid maroon !important;
    box-shadow: rgb(128, 0, 0) 0px 0px 2px 0px !important;
}

.alert {
    margin-bottom: 7px !important;
}
/*ChatFormBuilder*/
.dev-chat-cont {
    height: 90%;
    width: 100%;
    min-width: 300px;
    z-index: 99999999999999;
    box-shadow: 0px 0px 444px 0px rgba(0, 0, 0, 0.09), 0px 0px 7px 0px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
}

    .dev-chat-cont .eb-chatBox-dev {
        height: 600px;
    }

    .dev-chat-cont .Eb-ctrlContainer {
        /*background-color:white;*/
    }

.eb-chatBox-dev .msg-cont-bot, .eb-chatBox-dev .msg-cont-user {
    width: calc(100% - 30px) !important;
}

.eb-chatBox-dev .ctrl-wraper {
    width: 100% !important;
}

.card-cont, .loc-cont {
    border: solid 1px #e5e5e5;
    border-radius: 1.3em;
    min-height: 300px;
    display: inline-block;
    width: 30%;
    margin: 0 5px;
    background-color: white;
    text-overflow: ellipsis;
    font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.location-cont, .pdf-frame {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08058823529411765), 0 0 1px 0px rgba(0, 0, 0, 0.170784);
    background-color: white;
}

.pdf-frame {
    border: none;
    border-radius: 3px;
    height: 30.83em;
}

.card-label, .loc-label {
    font-size: 12pt;
    line-height: 15pt;
    float: left;
    font-weight: bold;
    width: 100%;
}

.picker-box .loc-label {
    width: calc(100% - 67px);
}

.card-content, .loc-content {
    color: rgba(0, 0, 0, .40);
}

.cards-cont {
    padding-right: 3px;
}

.card-bottom, .loc-bottom {
    padding: 8px 12px 0 12px;
}

.card-bottom {
    border: solid 1px #ddd;
    border-top: none;
    border-radius: 0 0 1.3em 1.3em;
}

.card-img {
    /*border-radius: 1.3em 1.3em 0 0;*/
    height: 100%;
    width: auto;
}

/*copied from css, for card img fieldset temp*/
.pr_img_cont {
    height: 70px;
    display: flex;
    justify-content: center;
}

    .pr_img_cont img {
        height: 70px;
    }
/*.pr_text {
	font-family: Montserrat;
}*/


.slick-arrow {
    width: auto;
    height: 36px;
    padding-top: 4px;
}
