body {
    --colorDDD: #ddf;
    --sild1pxDDD: solid 1px var(--colorDDD);
    --pgTdBorder: solid 1px #eeeeff;
    /*gradients*/
    /*--gbm: -webkit-gradient(linear, left top, right bottom, color-stop(0.44, #336699), color-stop(0.16, #49b18f), color-stop(0.92, rgb(220, 9, 144)));*/
    --gbm: -webkit-gradient(linear, left top, left bottom, color-stop(0.44, #336689), color-stop(0.16, #235187), color-stop(0.92, rgb(61, 115, 140)));
    --blackpipe: -webkit-linear-gradient(top, #4c4c4c 3%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 46%,#000000 53%,#111111 64%,#2b2b2b 82%,#1c1c1c 94%,#131313 100%);
    --blum: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.86, #369), color-stop(0.72, rgb(73,125,189)));
}

.formB-box {
    display: inline-block;
    background-color: white;
    padding: 0px;
    width: auto;
    vertical-align: top;
    /*border-radius: 10px 10px 4px 4px;*/
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.settings-cont {
    /*   position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(100,100,100,0.4);
    display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/
}

.web-form-buider-cont {
    width: inherit;
    margin: 3px;
}

.bot-form-buider-cont {
    width: inherit;
    padding: 0.3vw 2vw;
}

.contol-settings-window {
    /*padding: 30px;
    background: #fff;
    color: #000000;
    width: 30vw;*/
}

.form-buider-toolBox {
    width: 100%;
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    height: 95vh;
}

.form-buider-form {
    width: 100%;
    height: 95vh;
    overflow-y: auto;
}

    .form-buider-form:focus {
        border: solid 1px green;
    }

    .form-buider-form input[type="text"], .form-buider-form input[type="email"], .form-buider-form input[type="number"], .form-buider-form input[type="password"], .form-buider-form input[type="singleline"] {
        height: auto !important;
        min-height: 28px;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        background: #FFF;
        border: 1px solid rgba(34,36,38,.15);
        padding: 3px;
        font-size: 13px;
        -webkit-transition: box-shadow .1s ease,border-color .1s ease;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
    }

    .form-buider-form table {
        width: 100%;
        table-layout: fixed;
    }

    .form-buider-form .btn-group {
        width: 100% !important;
    }

#filterBox .Eb-ctrlContainer {
    margin: 10px 0;
}

.Eb-ctrlContainer [type="RadioGroup"]{
    padding:5px;
}
.Eb-ctrlContainer input:not([type=radio]), .Eb-ctrlContainer select {
    /*height: auto !important;*/
    height: auto;
    min-height: 28px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    padding: 3px;
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.ctrl-wraper input, .ctrl-wraper select .ctrl-wraper textarea {
    border: none!important;
}

    .Eb-ctrlContainer input[type="color"] {
        height: auto;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        background: #FFF;
        border: 1px solid rgba(34,36,38,.15);
        padding: 3px;
        font-size: 13px;
        -webkit-transition: box-shadow .1s ease,border-color .1s ease;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
    }

.Eb-ctrlContainer select {
      width: 100%;
}
    .bot-form-wraper {
    display: inline-block;
    width: 30%;
    margin: 0px 6vw;
}

.web-form-wraper {
    display: inline-block;
    width: 63.5%;
}
.form-save-wraper {
    display: inline-block;
    width: 51%;
}

.property-grid-cont {
    position: relative;
    float: right;
    width: 30%;
    height: 86vh;
    visibility: hidden;
    z-index: 3;
}

.tool {
    padding: .95em 1em;
    width: calc( 50% - 6px);
    margin: 3px;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 2px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05), 0 0 1px 0px rgba(0, 0, 0, 0.11);
    background-color: WHITE;
}

/*.eb-chatBox-dev div {
    margin-top: 1px;
}*/

.stickBtn {
    display: none;
    position: fixed;
    width: auto;
    font-family: serif;
    font-size: 14.5px;
    padding: 3px 14px;
    top: -500px;
    color: white;
    background-color: #2f6194;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
    border-radius: 2px;
    /*box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.49);*/
    box-shadow: 4px 2px 4px 0 rgba(26, 26, 26, 0.26);
    z-index: 9;
    cursor: default;
}

    .stickBtn:hover {
        background-color: #258;
    }

    .stickBtn:active {
        color: #ccc;
        background-color: #333;
    }

.fb-cont {
    width: 100%;
    margin-bottom: 8px;
}

.toolbox-cont {
    width: 26%;
    height: 570px;
}

.filter-form-buider-cont .toolbox-cont {
    width: 18%;
}
.filter-form-buider-cont .tool {
    width: calc( 100% - 6px);
}

.web-form-buider-cont .toolbox-cont {
    width: 12%;
}

.tdDropable {
    height: 30px;
}

.radiog-cont {
    border: dashed 1px #ddd;
    padding: 3px;
    position: relative;
}

.radiog-label {
    display:inline-block;
    position: absolute;
    background: white;
    top: -11px;
    left: 8px;
}

.gridCont {
    /*padding: .25rem .25rem !important;
    border: 1px solid #e3e3e3;*/
}

.form-buider-form .Eb-ctrlContainer {
    min-height: 20px;
    /*padding: 3px;
    margin-bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;*/
}

    .form-buider-form .Eb-ctrlContainer:focus {
        outline: none;
        border: 1px solid #ccc;
        margin: 1px;
    }

/*rendering*/
.form-render-table {
    width: 100%;
    padding: 1px;
    table-layout: fixed;
}

.form-render-table-Td {
    width: 100%;
    vertical-align: top;
    padding: 1px;
}

.Eb-ctrlContainer {
    min-height: 28.18px;
}


/*overridding*/

.form-buider-form .btn {
    /*padding: 3px 12px !important;
        width: 100%;*/
}

.form-buider-form .Eb-ctrlContainer table td {
    border: 1px dashed #cccccc;
    padding: 10px;
    background: #eee;
    vertical-align: initial;
}

.moveBtn {
    font-size: 10px;
    vertical-align: top;
    margin-left: 6px;
    margin-top: 3px;
    opacity: .9;
}

    .moveBtn:hover, .moveBtn:focus {
        color: #fff !important;
        background-color: black;
        opacity: 1;
    }

.close {
    margin-top: -3px;
    height: 17px;
}

    .close:hover, .close:focus {
        color: #f00 !important;
        opacity: .6 !important;
    }

.eb-alertbox {
    position: fixed;
    z-index: 100000;
}

.Eb-invalid {
    outline: none;
    background: antiquewhite !important;
    border: 1px solid maroon !important;
    box-shadow: rgb(128, 0, 0) 0px 0px 2px 0px !important;
}

.alert {
    margin-bottom: 7px !important;
}
/*ChatFormBuilder*/
.dev-chat-cont {
    height: 90%;
    width: 100%;
    min-width: 300px;
    z-index: 99999999999999;
    box-shadow: 0px 0px 444px 0px rgba(0, 0, 0, 0.09), 0px 0px 7px 0px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
}

    .dev-chat-cont .eb-chatBox-dev {
        height: 600px;
    }

    .dev-chat-cont .Eb-ctrlContainer {
        /*background-color:white;*/
    }

.eb-chatBox-dev .msg-cont-bot, .eb-chatBox-dev .msg-cont-user {
    width: calc(100% - 30px) !important;
}

.eb-chatBox-dev .ctrl-wraper {
    width: 100% !important;
}

.card-cont, .loc-cont {
    border: solid 1px #e5e5e5;
    border-radius: 1.3em;
    min-height: 300px;
    display: inline-block;
    width: 30%;
    margin: 0 5px;
    background-color: white;
    text-overflow: ellipsis;
    font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.location-cont, .pdf-frame {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08058823529411765), 0 0 1px 0px rgba(0, 0, 0, 0.170784);
    background-color: white;
}

.pdf-frame {
    border: none;
    border-radius: 3px;
    height: 30.83em;
}
.card-label, .loc-label {
    font-size: 12pt;
    line-height: 15pt;
    float: left;
    font-weight: bold;
    width: 100%;
}

.picker-box .loc-label {
    width: calc(100% - 67px);
}

.card-content, .loc-content {
    color: rgba(0, 0, 0, .40);
}

.cards-cont {
    padding-right: 3px;
}

.card-bottom, .loc-bottom {
    padding: 8px 12px 0 12px;
}

.card-bottom {
    border: solid 1px #ddd;
    border-top: none;
    border-radius: 0 0 1.3em 1.3em;
}

.card-img {
	/*border-radius: 1.3em 1.3em 0 0;*/
	height: 100%;
	width: auto;
}

/*copied from css, for card img fieldset temp*/
.pr_img_cont {
	height: 70px;
	display: flex;
	justify-content: center;
}
	.pr_img_cont img {
		height: 70px;
	}
/*.pr_text {
	font-family: Montserrat;
}*/


	.slick-arrow {
		width: auto;
		height: 36px;
		padding-top: 4px;
	}
/*FontStyle Editor Styles*/
.FEhead {
    background: #abd7ec;
    height: 30px;
    text-align: center;
    padding: 3px;
    font-size: 15px;
}

.FEhead-font {
    background: #abd7ec;
    height: 30px;
}

.FEcol {
    border: 1px solid #ccc;
    margin-left: 20px;
}

.FEfont-family {
}

.fup .FECont .modal-body:first-child {
    margin-left: 0px;
}

.fup .FECont {
    border-radius: 3px;
    width: 60%;
    height: 75VH;
    position: fixed;
    left: 10%;
    top: 10vh;
    background-color: white;
    padding: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

    .fup .FECont .modal-body {
        height: 53vh;
    }

.pd-0 {
    padding: 0 !important;
}

.FEcol-bdy {
    overflow-y: auto;
    width: 100%;
}

.fup .FE-section {
    width: inherit;
    height: 150px;
}

.FEhead-font .fontSearch {
    float: right;
    margin: 2px;
    display: inline-block;
}

.FE-sectionMprop {
    width: inherit;
    height: 50px;
    margin-left: 20px;
}

.FE-section select {
    border-radius: 0px;
    padding: 0;
    border-radius: 1px;
}

    .FE-section select option {
        padding: 0 5px;
    }

.font-text {
    display: inline-block;
    height: 30px;
    padding: 3px;
    font-size: 15px;
}

.font-editor-contaner {
    width: 50% !important;
    left: 25% !important;
    top: 15vh !important;
}

.font_ed_focus option:focus {
    background: blue;
    color: white;
}
/**/
