.form-cont {
	min-height: 100vh;
	margin:0 -15px;
}
.white-tab {
	width: 100%;
	float: left;
	border: 1px solid #ddd;
	border-top: none;
	background-color: white;
}
.lm-form-body {
	padding-top: 42px;
	float: left;
	width: 100%;
}

.pd-lr-15{
	padding:0 15px;
}

.img_wrapper {
	transition: 0.5s;
}
	.img_wrapper:hover {
		cursor: pointer;
		box-shadow: 2px 2px 5px 3px #a2958a;
		transform: translateY(-2px) scale(1.01);
	}

#mdlViewImage{
	padding:0px !important;
}
#mdlViewImage .modal-dialog {
	width: inherit;
	height: 100%;
	margin: 0;
}
#mdlViewImage .modal-content {
	height: inherit;
	background: transparent;
	box-shadow:none;
	border:none;
	z-index:1;
}
#mdlViewImage .modal-header {
	border-bottom: none;
	opacity: 1;
	color: #ffffff !important;
	font-size: 36px !important;
}
	#mdlViewImage .modal-header .close:focus{
		outline: none;
	}
	#mdlViewImage .modal-header .close:hover {
		color: white !important;
	}
#mdlViewImage .modal-body {
	height: 100vh;
	margin-top: -55px;
	z-index: -1;
	padding: 0px;
}
#modal-imgs-cont {
	width: inherit;
	height: 100%;
}
.image-cont {
	width: inherit;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
	.image-cont:focus{
		outline:none!important;
	}
	.image-cont img {
		height: 100vh;
		width: auto;
	}

#modal-imgs-cont .img-prevArrow {
	position: absolute;
	left: 0;
	top: 50%;
	opacity: 1;
	color: #fff;
	z-index: 1;
	border: none;
	background: transparent;
	cursor: pointer;
}
	#modal-imgs-cont .img-prevArrow:hover {
		color: #98fbf6;
	}
	#modal-imgs-cont .img-prevArrow:focus {
		outline: none !important;
	}

#modal-imgs-cont .img-nextArrow {
	position: absolute;
	right: 0;
	top: 50%;
	opacity: 1;
	color: #fff;
	z-index: 1;
	border: none;
	background: transparent;
	cursor: pointer;
}
	#modal-imgs-cont .img-nextArrow:hover {
		color: #98fbf6;
	}
	#modal-imgs-cont .img-nextArrow:focus {
		outline: none !important;
	}

.lm-form-inline {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

	.lm-form-inline .form-group {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}

	.lm-form-inline label {
		/*font-family: sans-serif;*/
	font-size: 12.5px;
	margin-bottom: 0px;
	font-weight: normal;
}

	.lm-form-inline .form-control {
		height: 25px !important;
		padding: 1px 12px;
	}

.lm-img-cont {
	height: 138px;
	width: 132px;
	margin-top: 20px;
	border: 1px solid #cfced0;
}
.input-group-addon {
	padding: 4px 12px;
}

.lm-bottom-form {
	margin-top: 5px;
	border-top: 1px solid #cfced0;
	padding-top: 15px;
	border-bottom: 1px solid #cfced0;
}

.lm-form-sec-heading {
	font-size: 18px;
	color: #aaa;
}

.form-cont .input-group-addon {
	border-radius: 0;
	padding: 0 9px;
	box-shadow: none;
	border: solid 1px rgba(204, 204, 204, 0.49);
	border-left: none;
}

.form-cont .form-control {
	border-radius: 0;
	box-shadow: none;
	border: solid 1px rgba(204, 204, 204, 0.49)
}

	.form-cont .form-control:focus {
		border-color: rgba(102, 175, 233, 0.67);
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}

.dataTables_empty {
	text-align: center;
	font-size: 14px;
}