 .dashbord {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.16, rgb(35, 81, 135)), color-stop(0.44, rgb(51, 102, 137)), color-stop(0.92, rgb(61, 115, 140)));
    width: 100%;
    border-top: none;
    font-family: Tahoma;
    height: 145px;
    color: #ffffff;
    margin-top: 84px;
    position: fixed;
}

.dashbord .box2, .box4 {
    height: 100%;
    padding: 0;
}

.dashbord .box3 {
    padding-right: 0;
}

.dashbord .box4 > .bootstrap-select {
    padding: 0px;
}

.dashbord .box4 .bootstrap-select .btn {
    height: 25px;
    border: none;
    border-radius: 0;
    background: white;
    color: black;
    padding: 0px 0px 0px 7px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 183px;
}

.dashbord .box4 > h6 {
    margin-top: 5px;
}

.dashbord .box5 > .bootstrap-tagsinput {
    height: 97px;
    overflow-y: auto;
    background-color: #fafafa;
    border: none;
    box-shadow: none;
    width: 100%;
}

.dashbord .card1 {
    background-color: #ffffff;
    margin-left: 10px;
    height: 120px;
    margin-top: 10px;
    padding: 0;
    box-shadow: 0px 1px 3px 1px #3e6183;
    color: #2f323b;
    border-radius: 3px;
}

.dashbord .count {
    font-size: 15px;
    color: #949ba2;
}

.dashbord .head {
    font-size: 13px;
    padding: 2px;
    color: #ffffff;
    background: #2f323b;
    border-radius: 2px 2px 0px 0px;
}

.dashbord .icons {
    margin-right: 10px;
}

.dashbord .txtarea {
    width: 100%;
    height: 180px !important;
}

.objectDashB-toolbar {
    width: 100%;
    background-color: #2c2d27;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 10;
}

    .objectDashB-toolbar .brdCrumb {
        font-size: 11px;
    }

.mr-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

.toolbar2 {
    margin-top: 5px;
}

.toolicons .btn {
    background-color: transparent;
    color: white;
}

.toolicons .btn:hover {
    background-color: #30C2FF;
    border-radius: 0;
}

.toolicons .btn:focus {
    background-color: #30C2FF;
    border-radius: 0;
}

.dashbord .userimg {
    float: left;
    display: inline;
}

.dashbord .profileInfo {
    margin-left: 35px;
}

.dashbord .firstcommit {
    width: 100%;
    min-height: 60px;
    padding-right: 20%;
}

.dashbord .workcopies {
    overflow-y: auto;
    height: 80%;
}

.workcopies::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.workcopies::-webkit-scrollbar {
    width: 10px;
    background-color: #605b5b;
}

.workcopies::-webkit-scrollbar-thumb {
    background-color: #6f6f6f;
    border-radius: 6px;
}

.dashbord .col-md-3 {
    width: 23% !important;
}

.dashbord .smallfont {
    font-size: 12px;
}

.dashbord .xtrasmall {
    font-size: 10px;
    margin-bottom: 5px;
}

.changlogTxtArea {
    height: 200px !important;
    width: 94%;
}

.changelogPopup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 500px;
    left: 50%;
    margin-left: -237px;
    padding-left: 35px;
    height: 300px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.toolicons .bootstrap-select {
    padding: 0;
}

.toolicons .bootstrap-select .btn {
    height: 25px;
    border: none;
    border-radius: 0;
    background: white;
    color: black;
    padding: 0px 0px 0px 7px;
}

.bootstrap-select .btn {
    font-size: 12px;
}

.open li {
    font-size: 12px;
}

.dashbord .card1-botm {
    height: 40%;
    padding-left: 5px;
}

.dashbord .card1-mid {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box5 {
    margin-left: 17px !important;
}

.vernav {
}

.workcopies a {
    color: #194877;
    text-decoration: none;
    font-family: times;
}