 .dashbord {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.16, rgb(35, 81, 135)), color-stop(0.44, rgb(51, 102, 137)), color-stop(0.92, rgb(61, 115, 140)));
    width: 100%;
    border-top: none;   
    height: 145px;
    color: #ffffff;
    margin-top: 34px;
    position: fixed;
    z-index:4;
}

.prof_dp {
    width: 40px;
}

.dashbord .box2, .box4 {
    height: 100%;
    padding: 0;
}

.dashbord .box3 {
    padding-right: 0;
}

.dashbord .box4 > .bootstrap-select {
    padding: 0px;
}

.dashbord .box4 .bootstrap-select .btn {
    height: 25px;
    border: none;
    border-radius: 0;
    background: white;
    color: black;
    padding: 0px 0px 0px 7px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 183px;
}

.dashbord .box4 > h6 {
    margin-top: 5px;
}

.dashbord .box5 > .bootstrap-tagsinput {
    height: 97px;
    overflow-y: auto;
    background-color: #fafafa;
    border: none;
    box-shadow: none;
    width: 100%;
}

.dashbord .card1 {
    background-color: #ffffff;
    margin-left: 10px;
    height: 120px;
    margin-top: 10px;
    padding: 0;
    box-shadow: 0px 1px 3px 1px #3e6183;
    color: #2f323b;
    border-radius: 3px;
}

.dashbord .count {
    font-size: 15px;
    color: #949ba2;
}

.dashbord .head {
    font-size: 13px;
    padding: 2px;
    color: #ffffff;
    background: #2f323b;
    border-radius: 2px 2px 0px 0px;
}

.dashbord .icons {
    margin-right: 10px;
}

.dashbord .txtarea {
    width: 100%;
    height: 180px !important;
}

.objectDashB-toolbar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    padding: 2px 2px 2px 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
}

.app_div {
    padding-right: 0px;
    padding-left: 0px;
}
.app_div .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 219px;
}

    .objectDashB-toolbar .brdCrumb {
        font-size: 11px;
    }

.mr-0 {
    margin: 0 !important;
}

.pd-0 {
    padding: 0;
}

.toolbar2 {
    margin-top: 5px;
}
.bread_cr_title {
    float: left;
}
.obj_list_shortCut {
    float: left;
    background-color: transparent;
    color: #336699;
    padding: 3px 12px;
    font-size: 18px;
    margin-right: 5px;
}

.toolicons .btn {
    background-color: transparent;
    color: #336699;
    padding: 3px 12px;
    font-size: 18px;
    margin-right: 5px;
}

    .toolicons .btn:hover {
        background-color: #e4e4e4;
        border-radius: 0;
        outline: none;
        border-radius: 4px;
    }

    .toolicons .btn:focus {
        background-color: #e4e4e4;
        border-radius: 0;
        outline: none;
        border-radius: 4px;
    }
    /*profile image and dropdown style*/
.obj_dash_proimage_drp {
    float: right;
}
    .obj_dash_proimage_drp .dropdown-menu {
        right: 5px;
        left: unset;
        padding: 0;
    }
.drp_ul {
    list-style: none;
    padding: 5px;
    background-color: #fafafa;
    min-width: 270px;
    width: 270px;
    margin: 0;
    z-index:100;
}
.drp_item a {
    cursor: pointer;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 8px 20px 8px 20px;
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #333;
    font-family: open sans;
    align-items: center;
}
.border_b{
  border-bottom:1px solid #ccc;
}
.drp_item a i{
    margin-right:3rem;
}
.drp_item .user_info {
    min-width: 80%;
    height: 100%;
    float: left;
    padding: 5px 5px 5px 12px;
}
    .drp_item .user_info h4 {
        font-family: open sans;
        margin: 0;
        font-size:16px;
    }
    .drp_item .user_info p {
        margin: 3px 0;
    }
.proimage_inner {
    float: left;
    height: 83%;
    margin-right: 1rem;
}
.obj_dash_proimage {
    height: 28px;
    margin-right: 5px;
    cursor:pointer;
}
/*profile image and dropdown style end.....................*/
.notification_menu {
    position:relative;
}
.notification_menu:after {
    content: "10";
    position: absolute;
    font-size: 9px;
    width: 15px;
    border-radius: 50%;
    background-color: #f90a0a;
    height: 15px;
    color: white;
    border: 2px solid #f90a0a;
    right: 5px;
    top: -1px;
}

.dashbord .userimg {
    float: left;
    display: inline;
}

.dashbord .profileInfo {
    margin-left: 35px;
}

.dashbord .firstcommit {
    width: 100%;
    min-height: 60px;
    padding-right: 20%;
}

.dashbord .workcopies {
    overflow-y: auto;
    height: 80%;
}

.workcopies::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.workcopies::-webkit-scrollbar {
    width: 10px;
    background-color: #605b5b;
}

.workcopies::-webkit-scrollbar-thumb {
    background-color: #6f6f6f;
    border-radius: 6px;
}

.dashbord .col-md-3 {
    width: 23% !important;
}

.dashbord .smallfont {
    font-size: 12px;
}

.dashbord .xtrasmall {
    font-size: 10px;
    margin-bottom: 5px;
}

li:hover {
    cursor: pointer;
}

.toolicons .bootstrap-select {
    padding: 0;
}

.toolicons .bootstrap-select .btn {
    height: 25px;
    border: none;
    border-radius: 0;
    background: white;
    color: black;
    padding: 0px 0px 0px 7px;
}

.bootstrap-select .btn {
    font-size: 12px;
}

.open li {
    font-size: 12px;
}

.dashbord .card1-botm {
    height: 40%;
    padding-left: 5px;
}

.dashbord .card1-mid {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box5 {
    margin-left: 17px !important;
}
.wrkcpylink {
    text-decoration: none;
    font-family: sans-serif;
}

.codedit .tab-section-common .nav > li > a {
    background: #bf2c2c;
    width: 150px;
    padding: 2px 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
}
.codedit .tab-section-common .nav > .active a {
    background: white;
}
/*changelog*/
.changLog-container {
    display: none;
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
    position: fixed;
    left: 29%;
    top: 20%;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.imagesec {
    background: #ececec;
    height: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-sec {
    height: 300px;
}

.txt-area {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.textaerea-sec {
    padding: 0;
    height: inherit;
}

.chlog-top {
    width: 100%;
    background: black;
    /* height: 30px; */
    padding: 5px;
}

    .chlog-top .btn {
        background-color: transparent;
        border: none;
        color: white;
        display: inline-block;
        float: right;
        margin-top: -2px;
    }

.ch-l-title {
    width: 200px;
    color: white;
    display: inline;
    font-size: 16px;
}

.svgicon {
    width: 100px;
    height: 100px;
}

.submitsec-changeLog {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #5dddd3;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 3px;
}

    .submitsec-changeLog i {
        color: white;
        font-size: 25px;
    }

    .img-thumbnail{
        padding: 2px;
    }

.eb_slash {
    margin:0 3px;
}
.eb_context {
    color: #494e52;
}
.objectDashB-toolbar .solution_logo_cont {
    height: 33px;
    padding: 2px;
    margin-right: 10px;
}
.objectDashB-toolbar .solution_logo {
    height:100%;
    width:auto;
}