.pgTdval > input {
    height: 21px;
    width: 110px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background-color: transparent;
    border: none;
    padding: 3px;
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.propgrid-table-cont input[type="color"] {
    padding: 0px !important;
}

.propgrid-table-cont input[type="checkbox"] {
    height: 12px !important;
}

.propgrid-table-cont input[type="number"] {
    /*direction: rtl;*/
}

.propgrid-table-cont {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 526px;
    background-color: white;
    width: 100%;
    /*min-width: 250px;*/
}

.pg-wraper {
    display: flex;
    flex-flow: column;
    height: inherit;
    font-family: Tahoma;
    width: 100%;
    /*overflow-x: auto;*/
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

    .pg-wraper .pg-inp, .pgTdval .dropdown-toggle, .pgTdval .cxv-inp {
        border: solid 1px #ddd;
        width: calc(100% - 24px) !important;
        float: left;
        background-color: white;
        height: 21px;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        padding: 3px;
        font-size: 11.5px;
        -webkit-transition: box-shadow .1s ease,border-color .1s ease;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
    }

.cxv-inp {
    vertical-align: sub;
    background-color: rgba(255, 255, 255, 0.13) !important;
    border: solid 1px rgba(221, 221, 221, 0.45098039215686275) !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.65);
}

.pg-wraper .pg-inp-color {
    width: 17px;
    height: 21px;
    float: left;
}

.pg-wraper .pg-inp-checkbox {
    float: left;
    width: auto !important;
    margin-left: 2px;
}


.pg-table {
    min-width: 100%;
    overflow: auto;
    width: 100%;
    border-collapse: separate;
}

.pg-wraper .pg-fontcolor-inp {
    padding: 0px;
    background-color: transparent;
    width: 18px;
    height: 22px;
    border: none;
}

/*td {
    border: solid 1px #000;
}*/

.pgGroupRow td:first-child {
    padding-left: 3px;
    border-top-left-radius: 1px;
}

.pgGroupRow td:last-child {
    border-top-right-radius: 1px;
}

.pgGroupRow td:first-child {
    border-bottom-left-radius: 1px;
}

.pgGroupRow td:last-child {
    border-bottom-right-radius: 1px;
}

.pg-table [is-expanded] td {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0.1em;
}

.pg-table [subtype-of] .pgTdName {
    padding-left: 2.9em;
}

.pg-table [subtype-of] td {
    padding-top: 0.30em;
    padding-bottom: 0.30em;
}


.pgHead {
    /*background-color: rgba(0, 0, 0, 0.28);*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #369), color-stop(0.98, #2c5e90));
    color: #fff;
    padding: 2%;
    font-weight: bold;
    font-family: arial;
    width: 100%;
    font-size: 1.05em;
    letter-spacing: 0.06em;
    font-weight: bold;
    border-radius: 1px 1px 0px 0px;
}
/*.controls-dd-cont {
    border-bottom: var(--sild1pxDDD);
}*/
.OSE-DD-cont .btn-default {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ddd;
    box-shadow: none;
    border: none;
    text-shadow: none;
}

.pgCX-Editor-Btn {
    width: 17px;
    padding: 3px;
    margin-top: 2px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px #ddd;
    border: var(--sild1pxddd);
    float: right;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #FFF;
    font-size: 8px;
    text-align: center;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
}

    .pgCX-Editor-Btn:focus {
        outline: none;
        box-shadow: 0px 0px 15px rgba(0, 50, 255, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.29);
    }

.fup .imgup-Cont .modal-body {
}

.fup .imgup-Cont {
    width: 65%;
    position: fixed;
    left: 18%;
    top: 8vh;
    background-color: white;
    padding: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    float: left;
}

    .fup .imgup-Cont .modal-footer {
        padding: 5px 15px !important;
    }

.pgCXEditor-Cont {
    border-radius: 3px;
    /*width: 50%;*/
    height: 70VH;
    position: fixed;
    /*left: 25%;
    top: 15vh;*/
    background-color: white;
    padding: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    animation-name: example;
    animation-duration: 0.5s;
}

/* Standard syntax */
@keyframes example {
    from {
        opacity: 0;
        transform: perspective(4000px) rotateY(90deg); /* Standard syntax */
        -webkit-transform: perspective(4000px) rotateY(90deg); /* Safari */
    }

    40% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: perspective(4000px) rotateY(0deg); /* Standard syntax */
        -webkit-transform: perspective(4000px) rotateY(0deg); /* Safari */
    }
}

.pgCXEditor-Cont .propgrid-table-cont {
    height: 30.9vh;
}

.pgCXEditor-Cont .CodeMirror {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}



.pgCXEditor-Cont .CodeMirror-cursor {
    height: 20px !important;
}

.pgCXEditor-bg, .imgup-bg {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    animation-duration: 0.45s;
}

.CE-controls-head, .inner-PG-Cont .pgHead {
    padding: 8px;
    font-weight: bold;
    color: black;
    background-color: #ddd;
    background-image: none;
    border-radius: unset;
    user-select: none;
}

.colTile {
    padding: 4px 8px;
    background-color: #c8d4ef;
    margin: 3px 1px;
    border-radius: 15px;
    font-size: 13px;
    cursor: move;
    color: #111;
    user-select: none;
    transition-duration: 0.3s;
}

    .colTile:hover {
        background-color: var(--colorDDD);
        outline: none;
        color: #000;
    }

    .colTile:focus, .OSE-verTile-Cont .colTile:focus {
        background-color: #94bccc;
        outline: none;
        color: #222;
    }

    .colTile[is-selected=true] {
        background-color: #aebbbd;
        outline: none;
        color: #222;
    }

.Otile-active {
    background-color: #aebbbd;
    color: #222;
}

.ColT-right-arrow {
    visibility: hidden;
    font-size: 19px;
    color: white;
    transition-duration: 0.1s;
}

.colTile .ColT-right-arrow {
    visibility: hidden;
}

.colTile:hover .ColT-right-arrow {
    visibility: visible;
}

.ctrlHead {
    display: none;
    cursor: move;
}

.propgrid-helpbox {
    display: none;
    vertical-align: bottom;
    height: 50px;
    border-bottom: solid 1px whitesmoke;
    color: #333;
    overflow-y: auto;
    font-size: 10px;
    padding: 3px;
    background-color: rgba(204, 204, 204, 0.8);
}

.property-grid-cont .bs-searchbox .form-control {
    height: 21px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    border-radius: 2px;
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.pin {
    float: right;
    margin-top: 1px;
    cursor: default;
    margin-right: 5px;
}

.pgTdval {
    padding: 0px 3px;
    text-align: center;
}

.pg-wraper .pg-table td {
    /*font-size: 0.83em;*/
    font-size: 11.6px;
    border: none;
    word-break: break-word;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pgGroupCell {
    vertical-align: inherit !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
    padding-left: 0.4em !important;
}

.pgGroupRow {
    background-color: white;
    font-weight: bold;
    letter-spacing: 0.0835em;
    font-family: sans-serif;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.15), 0 -1px 0px 0px rgba(0, 0, 0, 0.05);
}

    .pgGroupRow > td:hover {
        background-color: #ddd !important;
    }

.pgTdval .property-grid-cont .btn {
    padding: 3px 12px !important;
    border: 1px solid rgba(34,36,38,.15);
}

.controls-dd-cont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    display: block !important;
    height: 24px;
}

.pgTdval .bootstrap-select [title=--none--] span {
    color: #778;
}

.pgTdval .dropdown-toggle {
    padding: 0px 12px;
    border-radius: 1px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 13px;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none !important;
}

    .pgTdval .dropdown-toggle:hover {
        background-color: transparent;
    }

    .pgTdval .dropdown-toggle:focus {
        outline: none !important;
    }

.pg-wraper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    height: 100%;
}


.sub-controls-DD-cont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 200px;
}

.pgCXEditor-Cont .OSE-DD-cont .btn {
    border-radius: 0px !important;
}

.pgCXEditor-Cont .btn[name="CXE_OK"] {
    border-radius: 0px !important;
    border: none;
    padding: 6px 14px;
    font-weight: bold;
    transition-duration: 0.2s;
}

    .pgCXEditor-Cont .btn[name="CXE_OK"]:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 1px !important;
    }

.pgCXEditor-Cont .modal-body {
    height: calc(100% - 111px);
}

/*overridding*/
.property-grid-cont .sp-preview {
    width: calc(100% - 15px) !important;
    height: 15px;
}

.property-grid-cont .sp-replacer {
    width: 100% !important;
    padding: 2px;
}

.OSE-body, .CE-body {
    height: 100%;
}


.controls-dd-cont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.editTbl {
    table-layout: fixed;
    height: 100%;
}

.CEctrlsCont, .OSEctrlsCont, .OSE-verTile-Cont, .CE-all-ctrlsCont {
    overflow-y: auto;
    height: calc(100% - 33px);
}

.coltile .coltile-delete {
}

.CE-all-ctrlsCont .coltile-left-arrow, .CEctrlsCont .coltile-right-arrow {
}

.CE-all-ctrlsCont .coltile-left-arrow {
    display: none;
}

.CEctrlsCont .coltile-right-arrow {
    display: none;
}

.pgCXEditor-Cont .modal-header .close:focus {
    outline: none;
    color: maroon;
}

.pgCXEditor-Cont .modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.pgCXEditor-Cont .modal-footer-body {
    width: calc(100% - 50px);
    float: left;
}

.pgCXEditor-Cont .pgHead .fa-times {
    display: none;
}

.inner-PG-Cont {
    /*border-bottom: var(--sild1pxDDD);*/
}

    .inner-PG-Cont .pin {
        display: none;
    }

/*.inner-PG-Cont .pgHead {
        background-color: var(--colorDDD);
        padding: 11px;
    }*/

.CE-add {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    border-left: none !important;
}

    .CE-add:hover {
        background-color: #eee;
    }

    .CE-add:focus {
        outline: none;
        /*border: solid 1px #cdcdcd;*/
    }

.propgrid-table-cont .bootstrap-select > select {
    height: .5px !important;
}

.sub-controls-DD-cont .btn-group > .btn:first-child {
    margin-left: 0;
    background-color: transparent;
    color: black;
    padding: 7px;
    font-size: 13px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-right: solid 1PX #e5e5e5;
}

    .sub-controls-DD-cont .btn-group > .btn:first-child:hover {
        background-color: #e5e5e5;
    }

.sub-controls-DD-cont {
    position: relative;
    z-index: 0;
    background-color: white;
    border: var(--sild1pxDDD);
}

.icon-cont {
    display: inline-block;
    padding: 0px 4px;
    width: 20.99px;
}

    .icon-cont:hover {
        color: black;
        background-color: #aaaaaa;
    }

.pgCXEditor-Cont .pgpin {
    display: none;
}

.DD-refresh {
    margin-right: 20px;
    margin-top: 2.4px;
    float: right;
    font-size: 14px;
}

/*.controls-dd-cont .dropdown-toggle {
    height: 24px !important;
    padding: 2px !important;
    border: 1px solid rgba(34,36,38,.08);
    margin-left: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: var(--pgTdBorder) !important;
}*/

.controls-dd-cont .dropdown-toggle {
    margin-left: 0 !important;
    box-shadow: none !important;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    color: rgba(51, 51, 94, 0.88);
    border: none !important;
    border-radius: 0px !important;
    border-bottom: var(--pgTdBorder) !important
}

.pgCXEditor-Cont div.controls-dd-cont > div > button > span.filter-option.pull-left {
    text-align: center !important;
}

.pgCXEditor-Cont div.controls-dd-cont > div > button:focus, .controls-dd-cont .dropdown-toggle:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: var(--sild1pxDDD) !important;
}

.pgCXEditor-Cont .controls-dd-cont .open, .pgCXEditor-Cont .controls-dd-cont .caret {
    display: none !important;
    outline: none !important;
}

.pgCXEditor-Cont .controls-dd-cont button:focus {
    background-color: white !important;
}

.pgTdName .fa-caret-right {
    font-size: 14px;
    height: 100%;
    padding: 0.6em 0.54em 0.5513em 0.65em;
}

    .pgTdName .fa-caret-right:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

.colTile .close {
    font-size: 18px;
    margin-top: -1px;
    color: #000;
}

.propgrid-table-cont .pg-table tr:focus {
    background-color: #c8d4ef;
    outline: unset;
}

/*.propgrid-table-cont .pg-table tr:focus td {
        border: solid 1px #c8d4ef;
    }*/

/*.propgrid-table-cont .pg-table tr:hover td {
    border: solid 1px #ddf;
}*/

.pg-wraper {
    color: rgba(17, 17, 68, 0.86);
    height: 100%;
}

.form-buider-cont {
    color: #114;
    background-color: white;
}

.pgRow .pgTdName {
    padding-top: 0.68em;
    padding-bottom: 0.68em;
    padding-left: 1.9em;
    color: rgba(0, 0, 0, 0.65);
    font-family: sans-serif;
    letter-spacing: 0.05em;
}

.pgTdName {
    padding: 0 0 0.4em 0.8em;
}

.pgRow {
    background-color: rgba(0, 0, 0, 0.045);
    animation-duration: 0.3s;
}

    .pgRow:hover {
        background-color: #c8d4ef !important;
    }

.pg-wraper .table-hover > tbody > tr:hover > td, .pg-wraper .table-hover > tbody > tr:hover > th {
    background-color: #dfdfdf;
}

.pg-wraper ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #F5F5F5;
    border-radius: 10px;
}

.pg-wraper ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.pg-wraper ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*background-image: var(--gbm);*/
    background-color: rgba(0, 0, 0, 0.10980392156862745);
}

.strE-texarea {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    background: #edf1f5;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

    .strE-texarea:focus {
        outline: none;
    }

.searchinp {
    float: left;
    width: calc(100% + 25px);
    padding: 3px;
    border: solid 1px #dddddd;
}

.modal-footer-body .input-group-addon {
    border-radius: 0;
}



/*FontStyle Editor Styles*/
.FEhead {
    background: #abd7ec;
    height: 30px;
    text-align: center;
    padding: 3px;
    font-size: 15px;
}

.FEhead-font {
    background: #abd7ec;
    height: 30px;
}

.FEcol {
    border: 1px solid #ccc;
    margin-left: 20px;
}

.FEfont-family {
}

.fup .FECont .modal-body:first-child {
    margin-left: 0px;
}

.fup .FECont {
    border-radius: 3px;
    width: 60%;
    height: 75VH;
    position: fixed;
    left: 10%;
    top: 10vh;
    background-color: white;
    padding: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

    .fup .FECont .modal-body {
        height: 53vh;
    }

.pd-0 {
    padding: 0 !important;
}

.FEcol-bdy {
    overflow-y: auto;
    width: 100%;
}

.fup .FE-section {
    width: inherit;
    height: 150px;
}

.FEhead-font .fontSearch {
    float: right;
    margin: 2px;
    display: inline-block;
}

.FE-sectionMprop {
    width: inherit;
    height: 50px;
    margin-left: 20px;
}

.FE-section select {
    border-radius: 0px;
    padding: 0;
    border-radius: 1px;
}

    .FE-section select option {
        padding: 0 5px;
    }

.font-text {
    display: inline-block;
    height: 30px;
    padding: 3px;
    font-size: 15px;
}

.font-editor-contaner {
    width: 50% !important;
    left: 25% !important;
    top: 15vh !important;
}

.font_ed_focus option:focus {
    background: blue;
    color: white;
}
