/*----------------------------------TILE SETUP---------------------------------------*/
.md-search-box button {
    background: white;
    border: 1px solid #ccc;
}

.md-search-box input {
    border-left: none;
}

.mydiv1 {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 13px;
    margin-top: 15px;
    box-shadow: 2px 2px 8px #ccc;
}

    .mydiv1 b {
        font-weight: 400;
    }

    .mydiv1:hover {
        background-color: #f5f5f5;
    }

    .mydiv1 .dropdown-toggle:hover {
        font-size: 16px;
        color: blue;
    }

.icondiv1 {
    display: inline-block;
    font-size: xx-large;
    padding-right: 10px;
    vertical-align: top;
    color: #555;
}

.textdiv1 {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.closediv1 {
    display: inline-block;
    float: right;
    cursor: pointer;
    vertical-align: top;
}

.ts-body-disp {
    display: flex;
    flex-flow: row wrap;
}

.ts-body-nothing-text {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #bbb;
    font-weight: 300;
    width: 100%;
    padding-top: 120px;
}

.ts-head-div {
    display: flex;
}
    .ts-head-div > .ts-head-text {
        font-size: 18px;
        color: #585555;
    }
    .ts-head-div .ts-head-span {
        top: 0;
        right: 16px;
        pointer-events: all;
    }
    .ts-head-div .ts-head-add-btn {
        background: #4987fb;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
        -webkit-transition: .2s;
        transition: .2s;
        -webkit-user-select: none;
        user-select: none;
        letter-spacing: 0.5px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

.ts-body-div .modal-body {
    padding-bottom: 0px;
    height: calc(100vh - 180px);
}
.ts-body-md-msg {
    padding-top: calc((100vh/2) - 150px);
    font-size: 18px;
    text-align: center;
    color: #bbb;
    display: none;
}
.ts-body-md-loader {
    margin-left: 45%;
    margin-top: 25%;
    display: none;
}
.ts-body-md-rslt {
    height: calc(100vh - 246px);
    overflow-y: auto;
}
.ts-body-md-pageinfo {
    color: #aaa;
    font-size: 12px;
    text-align: right;
    font-style: italic;
}

.ts-body-md-srch-rslt {
    margin-left: 5px;
    margin-right: 5px;
    display: none;
    cursor: pointer;
    /*pointer-events: none;
    opacity: 0.5;*/
}
    .ts-body-md-srch-rslt:hover {
        background-color: #eee;
    }


/*---------------------------------CREATE USER-------------------------------------*/
#divVisibility .toggle {
    width: 100px !important;
    height: 32px !important;
}

.user-tab-paneInner {
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-status-div {
    margin-top: 20px;
}

.mu-parent-div {
    padding-bottom: 30px;
    display: flex;
    padding-top: 30px;
    min-height: 100%;
}
.btn-resetpw {
    background: #e65f66;
    color:white;
}

    .mu-parent-div .tab-pane {
       
    }

    .mu-parent-div .home-tab-cont {
       
    }


.label-custom-style {
    font-weight: 500;
    margin: 0px;
}

.input-custom-style {
    height:44px;
}
.input-group .input-custom-style {
    border-left:none;
}

.mu-parent-div .span-custom-style {
    background: white;
}

    .mu-parent-div .btn-custom-style {
        height: 28px;
        border-radius: 0px !important;
        padding: 0px 12px;
    }

    .mu-parent-div .ctrl-custom-feedback {
        top: -3px;
        right: 16px;
        display: block;
    }

    .mu-parent-div .bootstrap-tagsinput {
        width: 100%;
        min-height: 150px;
        border-radius: 0px;
    }

.mu-parent-div .checkbox {
    padding-left: 25px;
    font-weight: 300;
}
.mu-parent-div .checkbox:hover {
    cursor: pointer;
    background-color: #EEE;
}


/*----------------------------------ROLES---------------------------------------*/
.mr-parent-div {
    display: flex;
}
.role-tab-pane {
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mr-parent-div .tab-pane {
}
.eb-perm-wrapper{
    margin-bottom:15px;
}
.eb-perm-wrapper .dataTable tr {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
    .eb-perm-wrapper .dataTable th{
        font-weight:500;
    }
    .eb-perm-wrapper .dataTable tr:last-child {
        border-bottom: 1px solid #ccc;
    }

.loc-all-select {
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #489ae0;
    color: white;
    padding: 3px 10px;
    transition: 0.3s;
    border-radius: 3px;
    display: inline-block;
}

    .loc-all-select:hover {
        transform: translateZ(-3px);
        zoom: 1.005;
        box-shadow: -1px 2px 3px 0px rgba(84, 84, 84, 0.55);
    }

    .loc-all-select:focus {
        background-color: #4286bf;
    }

#divLocation {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    animation: comein 0.2s ease forwards;
}

@keyframes comein {
    0% {
        opacity: 0;
        transform: translate(0,-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.locListHead-wraper {
    background-color: #e6e6e6;
    box-shadow: 0 2px 3px 0 #0000003b;
    padding: 2px;
}

#divLocationList label {
    padding-left: 5px;
}

.locListHead {
    width: calc(100% - 110px);
    display: inline-block;
    padding: 3px;
    font-weight: bold;
}

.dataTables_scrollHead {
    padding-bottom: 10px;
    margin-bottom: -10px;
}

/*.dataTables_scroll {
	height: inherit;
}*/

.dataTableColumnStyle {
    font-size: 14px;
}

.active123 {
    background-color: #eee;
}

.objactiveclass:hover {
    background-color: #fff !important;
}

.nothing-text {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #bbb;
    font-weight: 300;
    width: 100%;
    padding-top: 120px;
}


/*----------------------------------USER GROUP---------------------------------------*/

.mug-parent-div {
   
}
.eb-usrgrp-pane {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
}

    .eb-usrgrp-pane #divIp, .eb-usrgrp-pane #divTime {
        display: flex;
        flex-flow: column;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        background: #f2f2f2;
    }

.mug-parent-div .tab-pane {
    
}
.eb-user-listview {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 25px;
}
    .eb-user-listview .dataTables_scrollHead {
        background: #eae9e9;
    }
/*----------------------------------COMMON LIST---------------------------------------*/
.outer-section-commonlist {
    /*height: 100vh;
    background: white;
    padding: 38px 6% 0 6%;*/
}

/*.dataTables_scrollHead {
	padding-bottom: 10px;
	margin-bottom: -10px;
}*/

#divCommonList .dataTables_scroll {
    height: calc(100vh - 160px);
}

/*.dataTableColumnStyle {
	font-size: 14px;
}*/

/*table.display tbody tr:nth-child(even):hover td {
        background-color: red !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: blue !important;
    }*/

/*tbody tr:nth-child(even):hover td {
        background-color: rgb(255,255,255) !important;
    }*/

.dataTable tr {
    height: 40px;
}

.editviewclass {
    cursor: pointer;
    color: #245cd0;
}

    .editviewclass:hover {
        color: blue;
        font-weight: 600;
    }

.convertuserclass:hover {
    color: blue;
}


tbody tr:hover td {
    background-color: rgb(220,220,220) !important;
}

.dataTable td {
    max-width: 250px;
    min-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.dataTables_wrapper {
	height: 100%;
}*/


/*login activity*/

.loginActivity {
    border: 1px solid #eae6e6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}