/*----------------------------------USERS---------------------------------------*/
.outer-section-createuser {
    height: 100vh;
    font-weight: 300;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 15px;
}

.searchRsulsItemsDiv:hover {
    background-color: #eee;
}

.mydiv1 {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    /*border-radius: 6px;*/
    align-items: center;
    height: 75px;
    overflow: hidden;
    padding: 10px 13px;
    margin-top: 15px;
}

    .mydiv1:hover {
        background-color: #f5f5f5;
        /*border: none;*/
    }

    .mydiv1 .dropdown-toggle:hover {
        font-size: 16px;
        color: blue;
    }

.icondiv1 {
    display: inline-block;
    font-size: xx-large;
    padding-right: 10px;
    vertical-align: top;
    color: #555;
}

.textdiv1 {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.closediv1 {
    display: inline-block;
    float: right;
    cursor: pointer;
    vertical-align: top;
}

.tilediv1 {
    padding: 10px;
    margin: 0px;
    height: calc(100vh - 170px) !important;
    overflow: auto;
}

.subHeading {
    font-size: 22px;
    color: #ccc;
}

.nav-tabs > li.active {
    border-top: 3px solid #339bb3;
}

    /*for remove flickering https://stackoverflow.com/questions/26595481/bootstrap-3-tabs-active-tab-flicker-on-hover-only-in-firefox?rq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa*/
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: 1px solid #ddd !important;
        border-bottom: none !important;
        margin: 0px;
        border-radius: 0px;
    }

.nav-tabs > li:hover {
    background-color: #eee;
}

/*---------------------------------CREATE USER-------------------------------------*/

.mu-parent-div {
    padding: 60px 0% 0% 0%;
    height: 100vh;
    font-weight: 300;
}

    .mu-parent-div .tab-pane {
        border: 1px solid #ddd;
        border-top: none;
        background-color: white;
    }

    .mu-parent-div .home-tab-cont {
        padding: 10px;
        margin: 0px;
        height: calc(100vh - 150px);
        overflow: auto;
    }


.label-custom-style {
    font-weight: 400;
    color: #339bb3;
}

.input-custom-style {
    height: 28px;
    border-radius: 0px !important;
    padding: 2px 12px;
}

    .mu-parent-div .span-custom-style {
        border-radius: 0px !important;
        padding: 0 8px;
    }

    .mu-parent-div .btn-custom-style {
        height: 28px;
        border-radius: 0px !important;
        padding: 0px 12px;
    }

    .mu-parent-div .ctrl-custom-feedback {
        top: -3px;
        right: 16px;
        display: block;
    }


/*----------------------------------ROLES---------------------------------------*/
.outer-section-manageroles {
    height: 100vh;
    font-weight: 300;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 15px;
}

.searchRsulsItemsDiv:hover {
    background-color: #eee;
}

.loc-all-select {
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #489ae0;
    color: white;
    padding: 3px 10px;
    transition: 0.3s;
    border-radius: 3px;
    display: inline-block;
}

    .loc-all-select:hover {
        transform: translateZ(-3px);
        zoom: 1.005;
        box-shadow: -1px 2px 3px 0px rgba(84, 84, 84, 0.55);
    }

    .loc-all-select:focus {
        background-color: #4286bf;
    }

#divLocation {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    animation: comein 0.2s ease forwards;
}

@keyframes comein {
    0% {
        opacity: 0;
        transform: translate(0,-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.locListHead-wraper {
    background-color: #e6e6e6;
    box-shadow: 0 2px 3px 0 #0000003b;
    padding: 2px;
}

#divLocationList label {
    padding-left: 5px;
}

.locListHead {
    width: calc(100% - 110px);
    display: inline-block;
    padding: 3px;
    font-weight: bold;
}

.dataTables_scrollHead {
    padding-bottom: 10px;
    margin-bottom: -10px;
}

/*.dataTables_scroll {
	height: inherit;
}*/

.dataTableColumnStyle {
    font-size: 14px;
}

.active123 {
    background-color: #eee;
}

.objactiveclass:hover {
    background-color: #fff !important;
}


/*----------------------------------USER GROUP---------------------------------------*/



/*----------------------------------COMMON LIST---------------------------------------*/

.outer-section-commonlist {
    height: 100vh;
    background: white;
    padding: 38px 6% 0 6%;
}

/*.dataTables_scrollHead {
	padding-bottom: 10px;
	margin-bottom: -10px;
}*/

#divCommonList .dataTables_scroll {
    height: calc(100vh - 80px);
}

/*.dataTableColumnStyle {
	font-size: 14px;
}*/

/*table.display tbody tr:nth-child(even):hover td {
        background-color: red !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: blue !important;
    }*/

/*tbody tr:nth-child(even):hover td {
        background-color: rgb(255,255,255) !important;
    }*/

.dataTable tr {
    height: 40px;
}

.editviewclass {
    cursor: pointer;
    color: blue;
}

    .editviewclass:hover {
        color: blue;
        font-weight: 600;
    }

.convertuserclass:hover {
    color: blue;
}


tbody tr:hover td {
    background-color: rgb(220,220,220) !important;
}

.dataTable td {
    max-width: 250px;
    min-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.dataTables_wrapper {
	height: 100%;
}*/
