/*----------------------------------USERS---------------------------------------*/
#divVisibility .toggle {
    width: 100px !important;
    height: 32px !important;
}
.user-tab-paneInner {
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.outer-section-createuser {
    height: 100vh;
    font-weight: 300;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 15px;
}
.md-search-box button {
    background: white;
    border: 1px solid #ccc;
}
.md-search-box input{
    border-left:none;
}
.searchRsulsItemsDiv:hover {
    background-color: #eee;
}

.mydiv1 {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 13px;
    margin-top: 15px;
}
    .mydiv1 b{
        font-weight:400;
    }

    .mydiv1:hover {
        background-color: #f5f5f5;
    }

    .mydiv1 .dropdown-toggle:hover {
        font-size: 16px;
        color: blue;
    }
.user-status-div {
    margin-top:20px;
}
.icondiv1 {
    display: inline-block;
    font-size: xx-large;
    padding-right: 10px;
    vertical-align: top;
    color: #555;
}

.textdiv1 {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.closediv1 {
    display: inline-block;
    float: right;
    cursor: pointer;
    vertical-align: top;
}

.tilediv1 {
    display: flex;
    flex-flow: row wrap;
}
.roles-tab-header{
    display:flex;
}
.subHeading {
    font-size: 18px;
    color: #585555;
}
.eb-usrgrp-pane #divIp, .eb-usrgrp-pane #divTime {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background: #f2f2f2;
}
/*---------------------------------CREATE USER-------------------------------------*/
.mu-parent-div {
    padding-bottom: 30px;
    display: flex;
    padding-top: 30px;
    min-height: 100%;
}
.btn-resetpw {
    background: #e65f66;
    color:white;
}

    .mu-parent-div .tab-pane {
       
    }

    .mu-parent-div .home-tab-cont {
       
    }


.label-custom-style {
    font-weight: 500;
}

.input-custom-style {
    height:45px;
}
.input-group .input-custom-style {
    border-left:none;
}

.mu-parent-div .span-custom-style {
    background: white;
}

    .mu-parent-div .btn-custom-style {
        height: 28px;
        border-radius: 0px !important;
        padding: 0px 12px;
    }

    .mu-parent-div .ctrl-custom-feedback {
        top: -3px;
        right: 16px;
        display: block;
    }

    .mu-parent-div .bootstrap-tagsinput {
        width: 100%;
        min-height: 150px;
        border-radius: 0px;
    }

.mu-parent-div .checkbox {
    padding-left: 25px;
    font-weight: 300;
}
.mu-parent-div .checkbox:hover {
    cursor: pointer;
    background-color: #EEE;
}


/*----------------------------------ROLES---------------------------------------*/
.mr-parent-div {
    display: flex;
}
.role-tab-pane {
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mr-parent-div .tab-pane {
}
.eb-perm-wrapper{
    margin-bottom:15px;
}
.eb-perm-wrapper .dataTable tr {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
    .eb-perm-wrapper .dataTable th{
        font-weight:500;
    }
    .eb-perm-wrapper .dataTable tr:last-child {
        border-bottom: 1px solid #ccc;
    }
.searchRsulsItemsDiv:hover {
    background-color: #eee;
}

.loc-all-select {
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #489ae0;
    color: white;
    padding: 3px 10px;
    transition: 0.3s;
    border-radius: 3px;
    display: inline-block;
}

    .loc-all-select:hover {
        transform: translateZ(-3px);
        zoom: 1.005;
        box-shadow: -1px 2px 3px 0px rgba(84, 84, 84, 0.55);
    }

    .loc-all-select:focus {
        background-color: #4286bf;
    }

#divLocation {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    animation: comein 0.2s ease forwards;
}

@keyframes comein {
    0% {
        opacity: 0;
        transform: translate(0,-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.locListHead-wraper {
    background-color: #e6e6e6;
    box-shadow: 0 2px 3px 0 #0000003b;
    padding: 2px;
}

#divLocationList label {
    padding-left: 5px;
}

.locListHead {
    width: calc(100% - 110px);
    display: inline-block;
    padding: 3px;
    font-weight: bold;
}

.dataTables_scrollHead {
    padding-bottom: 10px;
    margin-bottom: -10px;
}

/*.dataTables_scroll {
	height: inherit;
}*/

.dataTableColumnStyle {
    font-size: 14px;
}

.active123 {
    background-color: #eee;
}

.objactiveclass:hover {
    background-color: #fff !important;
}


/*----------------------------------USER GROUP---------------------------------------*/

.mug-parent-div {
   
}
.eb-usrgrp-pane {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
}

.mug-parent-div .tab-pane {
    
}
.eb-user-listview {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 25px;
}
    .eb-user-listview .dataTables_scrollHead {
        background: #eae9e9;
    }
/*----------------------------------COMMON LIST---------------------------------------*/
.outer-section-commonlist {
    /*height: 100vh;
    background: white;
    padding: 38px 6% 0 6%;*/
}

/*.dataTables_scrollHead {
	padding-bottom: 10px;
	margin-bottom: -10px;
}*/

#divCommonList .dataTables_scroll {
    height: calc(100vh - 160px);
}

/*.dataTableColumnStyle {
	font-size: 14px;
}*/

/*table.display tbody tr:nth-child(even):hover td {
        background-color: red !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: blue !important;
    }*/

/*tbody tr:nth-child(even):hover td {
        background-color: rgb(255,255,255) !important;
    }*/

.dataTable tr {
    height: 40px;
}

.editviewclass {
    cursor: pointer;
    color: #245cd0;
}

    .editviewclass:hover {
        color: blue;
        font-weight: 600;
    }

.convertuserclass:hover {
    color: blue;
}


tbody tr:hover td {
    background-color: rgb(220,220,220) !important;
}

.dataTable td {
    max-width: 250px;
    min-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.dataTables_wrapper {
	height: 100%;
}*/
