.closebtn {
    cursor: pointer;
}

.my-container {
    background-color: #2b95a8;
    width: 100%;
    height: 612px;
}

.sub-windows-head {
    height: 30px;
    background-color: #489097;
    width: 100%;
}

.sub-windows {
    height: calc(100vh - 100px) !important;
    /*width: inherit !important;*/
    padding: 0px 17px;
}

.parent {
    height: 100%;
    /*border: solid 1px red;*/
}

.dv-body-dev .sub-windows {
    height: calc(100vh - 115px) !important;
}

.dv-body-dev .dataTables_scroll {
    height: calc(100vh - 181px) !important;
}

.dv-body-dev .filter-display {
    background-color: white;
}

.filter-display {
    position: relative;
    padding: 1px 5px;
}

.sub-windows:focus {
    outline: none;
}

.sub-window-first {
    margin-right: 15px !important;
}

.sub-window-last {
    margin-left: 15px !important;
}

.sub-window-middle {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.head-btn {
    border: none;
    background-color: #489097;
    color: white;
}

.fd {
    background-color: white;
    height: inherit;
    /*border-right: 1px solid;*/
}

.no-padd {
    padding: 0;
}

.padd-2 {
}

.dv-body-dev .dv {
    height: calc( 100vh - 115px ) !important;
}

.dv .toolbar-com {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
}

.dv .btn-tb-com {
    border: none;
    background-color: white;
}

.cont-wnd {
    overflow-x: scroll;
    white-space: nowrap;
    height: inherit;
    overflow-y: hidden;
}

.pg {
    background-color: white;
    height: inherit;
    border-left: 1px solid;
    z-index: 1000;
}

.min-btn {
    width: 100%;
    height: 15px;
    /*border-bottom: 1px solid #e7e7e7;*/
}

.toggled {
    margin-left: -230px;
    z-index: 100;
}

.pg-toggled {
    margin-right: -230px;
    z-index: 100;
}

.sub-w {
    width: 100%;
    height: inherit;
    background-color: #2b95a8;
    display: inline-block;
}

.rotated {
    -webkit-transform: rotate(180deg); /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg); /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg); /* IE 9 */
    -o-transform: rotate(180deg); /* Opera 10.50-12.00 */
    transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.splitdiv_parent {
    white-space: nowrap;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important;
}

    .slick-next:hover {
        color: none !important;
        background-color: none !important;
    }

.slick-prev:hover {
    color: none !important;
    background-color: none !important;
}

.slick-track {
    height: inherit !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*width: 100% !important;*/
}

.slick-list {
    height: inherit !important;
}

.slick-arrow {
    z-index: 3;
    width: auto !important;
    height: auto !important;
    font-size: 27px;
    padding: 0 20px !important;
    background-color: rgba(0, 0, 0, 0);
    top: 33px !important;
    position: absolute;
    color: #336699;
    font-weight: bold;
    cursor: pointer;
    /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.4), 2px 2px 15px rgba(0, 0, 0, 0.43); */
}

.slick-disabled {
    cursor: auto;
    display: none !important;
}

.split-inner {
    /*width: 100%;*/
    height: 100%;
    border: none;
    border-radius: 2px;
    /* padding: 1px 10px 10px 10px; */
    background-color: transparent;
    position: relative;
}

.slick-slider {
    user-select: text !important;
    height: 100%;
    position: inherit !important;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}

    .slick-initialized .slick-slide:focus {
        outline: none;
    }

.slick-active {
    /*min-width: 100% !important;*/
}

.pgHead {
    border-radius: 0px;
}

.pagination-wrapper select {
    padding: 0 !important;
    border-radius: 2px !important;
    height: inherit !important;
}

.dv-body {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    height: 100vh;
    padding-top: 38px;
}

.dv-body2 {
    height: calc( 100% - 20px );
    padding: 0 1px;
}

.dv-body1 {
    display: none;
}

.filter-cont {
    top: 0;
    left: 0;
    width: 300px;
    position: absolute;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.23), 14px 14px 16px 8px rgba(0, 0, 0, 0.01), 22px 24px 26px 16px rgba(0, 0, 0, 0.01);
    background-color: white;
    padding-top: 38px;
}

.pp-cont {
    top: 0;
    width: 350px;
    position: absolute;
    right: 0px;
    max-height: 100%;
    height: 100%;
    box-shadow: -4px 2px 6px 0px rgba(0, 0, 0, 0.23), -14px 14px 16px 8px rgba(0, 0, 0, 0.01), -22px 24px 26px 16px rgba(0, 0, 0, 0.01);
    padding-top: 38px;
}

.dotsDiv {
    display: none;
    /*position: relative;
    margin-top: 38px;
    margin-left: -15px;
    width: calc( 100% + 32px );*/
}

.dotstable .dottool {
    display: inline;
}

    .dotstable .dottool .fa {
        color: rgba(0, 0, 0, 0.79);
    }

.dotstable .dottool {
    display: inline;
    font-size: 13px;
}

.navi-bar {
    /*background-color: #ffffff;
    border: solid 1px #ddd;*/
}

.dotstable {
    display: table;
    margin: 0 auto;
    padding-bottom: 1px;
    margin-top: -1px;
}

.dot {
    /*border-radius: 50%;
    padding: 4px;*/
}
/*.dot a i:hover {
        color: #444 !important;
    }*/

.ppcont {
    width: 350px;
    position: fixed;
    right: 0px;
    max-height: 100%;
    height: 100%;
    z-index: 3;
    /*box-shadow: -4px 2px 6px 0px rgba(0, 0, 0, 0.23), -14px 14px 16px 8px rgba(0, 0, 0, 0.01), -22px 24px 26px 16px rgba(0, 0, 0, 0.01);*/
    top: 0;
    margin-top: 38px;
}

#filterBox {
    padding: 5px 15px;
}

.filterCont {
    left: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 4;
    border-radius: 2px;
    /*box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.23), 14px 14px 16px 8px rgba(0, 0, 0, 0.01), 22px 24px 26px 16px rgba(0, 0, 0, 0.01);*/
    top: 0;
    margin-top: 38px;
}

.relatedCont {
    width: 300px;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 5;
    padding-top: 34px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0px 21px 0px rgba(189,189,189,1);
}

.relatedli {
    margin: 5px 5px 5px 20px;
    list-style: none;
}

    .relatedli:hover {
        background-color: #e4e8f7;
        cursor: unset;
    }

.relatedlabel {
    font-size: 13px;
    margin-left: 10px;
    font-family: open sans;
    font-weight: 100;
    cursor: pointer;
}

.relatedHeader {
    background-color: var(--ebbg);
    color: white;
    background-image: var(--ebbgimage);
    padding: 7px;
}

.relatedIcon {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

    .relatedIcon:hover {
        background-color: red;
    }

#dotsDetail {
    /*width: 200px;
    height: 175px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
    box-shadow: -4px 0px 21px 0px rgba(189,189,189,1);*/
}

.dotheader {
    background-color: var(--ebbg);
    color: white;
    background-image: var(--ebbgimage);
    padding: 7px;
}

#copydiv canvas {
    width: 200px;
}
/*#dotsul {
    padding-top: 10px;
}*/

/*#parent-div0::-webkit-scrollbar-track {
    background-color: white;
}

#parent-div0::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

#parent-div0::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
}*/
