.closebtn{
    cursor:pointer;
}
.my-container {
    background-color: #2b95a8;
    width: 100%;
    height: 612px;
}

.sub-windows-head {
        height: 30px;
        background-color: #489097;
        width: 100%;
    }

.sub-windows {
    background-color: #fafafa;
    float: none;
    border: 1px solid #808080;
    display: inline-block;
    /*height: calc(100vh - 60px);*/
    height: 100%;
    width: 100%;
    padding: 80px 60px 10px 60px;
}

.sub-window-first {
    margin-right: 15px !important;
}

.sub-window-last {
    margin-left: 15px !important;
}

.sub-window-middle {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.head-btn {
    border: none;
    background-color: #489097;
    color: white;
}

 .fd {
    background-color: white;
    height: inherit;
    //border-right: 1px solid;
}

.no-padd {
    padding: 0;
}

.padd-2 {
    padding: 4px;
}

.dv .toolbar-com {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
}

.dv .btn-tb-com {
    border: none;
    background-color: white;
}

 .cont-wnd {
    overflow-x: scroll;
    white-space: nowrap;
    height: inherit;
    overflow-y: hidden;
}

.pg {
    background-color: white;
    height: inherit;
    border-left: 1px solid;
    z-index: 1000;
}

.min-btn {
    width: 100%;
    height: 15px;
    /*border-bottom: 1px solid #e7e7e7;*/
}

 .toggled {
    margin-left: -230px;
    z-index: 100;
}

 .pg-toggled {
    margin-right: -230px;
    z-index: 100;
}

 .sub-w {
    width: 100%;
    height: inherit;
    background-color: #2b95a8;
    display: inline-block;
}

 .rotated {
    -webkit-transform: rotate(180deg); /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg); /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg); /* IE 9 */
    -o-transform: rotate(180deg); /* Opera 10.50-12.00 */
    transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.splitdiv_parent {
    white-space: nowrap;
    /*margin-top: 25px;*/
    /*padding-top: 24px;*/
    /*height: 98vh;*/
    height: 100vh;
    /*padding-top:15px;*/
    /*overflow-y: hidden;*/
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

.slick-prev {
    left: 0px !important;
    z-index: 1 !important;
    background-color: red !important;
}
.slick-next {
    right: 0px !important;
    z-index: 1 !important;
    background-color: red !important;
}
.slick-next:hover {
    color: none !important;
    background-color: none !important;
}
.slick-prev:hover {
    color: none !important;
    background-color: none !important;
}
.slick-track{
    height:inherit !important;
}
.slick-list {
    height: inherit !important;
}
.split-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #d6cacafa;
    border-radius: 10px;
    box-shadow: 4px 4px #dcd8d8fa;
    padding: 1px 10px 10px 10px;
    background: white;
}
.dotsDiv {
    height: 40px;
    position: absolute;
    background: white;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    z-index:1;
}

.dotstable div {
    display: inline;
}
.dotstable {
    display: table;
    margin: 0 auto;
    margin-top: 2px;
}
.dot {
    border-radius: 50%;
    background-color: #ccc;
    padding: 6px;
}
.dot a i:hover{
    color:blue!important;
}

.ppcont {
    width: 225px;
    height: 75%;
    position: absolute;
    top: 86px;
    right: 66px;
    z-index: 1;
}

.filterCont {
    width: 200px;
    position: absolute;
    top: 86px;
    max-height: 526px;
    z-index: 1;
}
/*#dotsul {
    padding-top: 10px;
}*/

/*#parent-div0::-webkit-scrollbar-track {
    background-color: white;
}

#parent-div0::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

#parent-div0::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
}*/