.closebtn{
    cursor:pointer;
}
.my-container {
    background-color: #2b95a8;
    width: 100%;
    height: 612px;
}

 .sub-windows-head {
        height: 30px;
        background-color: #489097;
        width: 100%;
    }

.sub-windows {
    background-color: white;
    float: none;
    border: 1px solid #808080;
    display: inline-block;
    height: calc(100vh - 87px);
    width: 100%;
    /*margin: 3px;*/
}

.head-btn {
    border: none;
    background-color: #489097;
    color: white;
}

 .fd {
    background-color: white;
    height: inherit;
    //border-right: 1px solid;
}

.no-padd {
    padding: 0;
}

.padd-2 {
    padding: 4px;
}

.dv .toolbar-com {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
}

.dv .btn-tb-com {
    border: none;
    background-color: white;
}

 .cont-wnd {
    overflow-x: scroll;
    white-space: nowrap;
    height: inherit;
    overflow-y: hidden;
}

.pg {
    background-color: white;
    height: inherit;
    border-left: 1px solid;
    z-index: 1000;
}

.min-btn {
    width: 100%;
    height: 15px;
    //border-bottom: 1px solid #e7e7e7;
}

 .toggled {
    margin-left: -230px;
    z-index: 100;
}

 .pg-toggled {
    margin-right: -230px;
    z-index: 100;
}

 .sub-w {
    width: 100%;
    height: inherit;
    background-color: #2b95a8;
    display: inline-block;
}

 .rotated {
    -webkit-transform: rotate(180deg); /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg); /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg); /* IE 9 */
    -o-transform: rotate(180deg); /* Opera 10.50-12.00 */
    transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.splitdiv_parent {
    white-space: nowrap;
    margin-top: 85px;
    height: calc(100vh - 98px);
}