
body {
    padding: 0 !important;
}

.nopadding {
    padding: 0;
}
/*/*       Slider       */
/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control {
    width: 0;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #3b5998;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand i {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 30px;
    }

.navbar-default {
    background-color: #ffffff !important;
}

    .navbar-default img {
        height: 40px;
        margin-top: 3px;
        margin-bottom: 0px;
        margin-right: 10px;
    }

.navbar {
    height: 40px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 13px;
    font-weight: normal;
}

#submenu .fa .fa-list {
    font-size: 20px;
}

.navbar-nav > li > a {
    padding: 0px;
    margin: 10px 5px;
    padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: #3b5998;
    color: #ffffff !important;
    padding-bottom: 6px;
    padding-top: 6px;
}

.btn-trial a {
    background-color: #3b5998;
    color: #ffffff !important;
    border: 0px solid;
}

.navbar-collapse {
    text-align: center;
}

@media(max-width: 768px) {
    .navbar-collapse {
        background: white;
    }

    #logo img {
    }
}

.padding-zero {
    padding: 0px;
}

.mart20 {
    margin-top: 20px;
}

.img-cir {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    margin-right: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.badge {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    bottom: 14px !important;
    right: -13px !important;
    background-color: #3b5998 !important;
}

.notifications {
    top: 20px !important;
    right: 30px !important;
}
/*PARTNERS*/
.img-responsive {
    margin: 20px auto;
}

#partners {
    background-color: rgb(260, 260, 260);
    padding-top: 20px;
    padding-bottom: 28px;
}

    #partners h4 {
        font-weight: normal;
        color: #717f86;
    }

    #partners img {
        width: auto;
        height: 100px;
    }
/*Work Shop*/
.nopadding {
    padding: 0 !important;
}

#work-shop {
    background-color: rgb(260, 260, 260);
    padding-bottom: 40px;
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    line-height: 18px;
}

.service-box {
    background: #fff;
    border-radius: 8px;
}

.icon-box {
    font-size: 40px;
    color: #3b5998;
}

    .icon-box i {
        margin-top: 22px !important;
    }

.ser-text {
    font-size: 22px;
}

.icon-text {
    padding: 20px 0px 0px;
    font-size: 30px;
}
/*workshop ends*/
/*team*/
.team {
    padding: 75px 0;
    background-color: rgb(260,260,260);
}

.profile {
    margin-top: 25px;
}

    .profile h1 {
        font-weight: normal;
        font-size: 20px;
        margin: 0 0 0 0;
    }

    .profile h2 {
        font-size: 14px;
        font-weight: lighter;
        margin-top: 5px;
    }

    .profile .img-box {
        opacity: 1;
        display: block;
        position: relative;
    }

        .profile .img-box:after {
            content: "";
            opacity: 0;
        }
/*end team*/
/*overlay2*/
#overlay2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding-bottom: 20px;
}

    #overlay2 h2 {
        color: #ffffff !important;
    }

.bg-white {
    background-color: #fff !important;
}
/*Footer*/
footer {
    padding-top: 30px;
    background-color: rgba(0, 0, 0,0.1);
    color: #080d15;
    min-height: 250px;
}

    footer .main {
        color: #3b5998;
        font-weight: 700;
    }

    footer a {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
    }

        footer a:hover, footer a:focus {
            color: #aaa;
            text-decoration: none;
            border-bottom: 1px dotted #999;
        }

    footer .form-control {
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        color: #d1d2d2;
        padding: 0.7em 1em;
    }

.copyright {
    min-height: 40px;
    background-color: #081e29;
}

    .copyright p {
        text-align: left;
        color: #FFF;
        padding: 15px 0;
        margin-bottom: 0px;
        font-size: 12px;
    }

.heading7 {
    font-size: 15px;
    font-weight: 700;
    color: #3b5998;
    margin-bottom: 10px;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

    .bottom_ul li {
        float: left;
        line-height: 40px;
    }

        .bottom_ul li:after {
            content: "|";
            color: #FFF;
            margin-right: 8px;
            margin-left: 8px;
        }

        .bottom_ul li a {
            color: #FFF;
            font-size: 12px;
        }
/*Footer*/
.btn-submit:hover, .btn-submit:focus {
    background-color: #5fcf80;
    color: #fff;
}
/*Responsive media queries*/
@media (max-width: 768px) {
    .navbar-default .navbar-brand {
        font-size: 25px !important;
    }
}

@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
        font-size: 20px;
    }

    .service-box, .feature-info, .orga-stru {
        margin-bottom: 30px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
        font-size: 20px;
    }

    .service-box, .feature-info {
        margin-bottom: 30px;
    }

    .service-box {
        padding: 0 !important;
    }
}

@media (min-width: 20px) and (max-width: 450px) {
    .header-section p {
        font-size: 20px;
    }

    .heading {
        margin-bottom: 20px;
    }

    .service-box {
        margin-bottom: 30px;
    }

    .contact-form-button {
        width: 40%;
    }

    .footer .social-links li {
        margin: 0 5px 25px;
    }

    .modal-sm {
        width: 300px;
    }

    .login-box-body {
        padding: 15px 20px;
    }

    .navbar-default .navbar-brand {
        margin-left: 10px;
    }

    .navbar-default .navbar-nav > li > a {
        text-align: center;
        font-size: 12px;
        font-weight: normal;
    }
}

.aboutus-header {
    min-height: 500px;
    background: url('../images/aboutus.jpg') center center no-repeat scroll;
    background-size: cover;
    width: 100%;
}
/*pricing*/
#headerPricing {
    background-color: rgb(260,260,260);
    margin-top: 100px;
    text-align: center;
}

.pricing {
    min-height: 500px;
    background-color: rgb(260, 260, 260);
    padding-top: 70px;
    padding-bottom: 70px;
}

.panel {
    text-align: center;
}

    .panel:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    }

.panel-body {
    padding: 0px;
    text-align: center;
}

.the-price {
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
    color: #e60909;
}

    .the-price h1 {
        line-height: 1em;
        padding: 0;
        margin: 0;
    }

.subscript {
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash {
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}

.cnrflash-inner {
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%; /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}

    .cnrflash-inner:before, .cnrflash-inner:after {
        /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
        content: " ";
        display: block;
        position: absolute;
        bottom: -16px;
        width: 0;
        height: 0;
        border: 8px solid #800000;
    }

    .cnrflash-inner:before {
        left: 1px;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }

    .cnrflash-inner:after {
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

.cnrflash-label {
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}

.left {
    text-align: left;
    background-color: gainsboro;
}

.right {
    text-align: center;
    font-size: 12px;
}

#technnology {
    padding-bottom: 40px;
}

    #technnology img {
        margin-bottom: 20px;
        height: 150px;
    }

/*sidebar*/
#EbsideBar {
    margin-top: 50px;
    padding-left: 0;
    width: 250px;
    border-radius: 0;
    height: calc(100% - 50px);
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    overflow-x: hidden;
    background-color: #153076;
}
    #EbsideBar::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }

    #EbsideBar::-webkit-scrollbar {
        width: 10px;
        background-color: #605b5b;
    }

    #EbsideBar::-webkit-scrollbar-thumb {
        background-color: #6f6f6f;
        border-radius: 6px;
    }


.side-menu-container {
    height: inherit;
    width: inherit;
}


    .side-menu-container .list-group-item {
        line-height: 41px !important;
        vertical-align: baseline;
        border: 0;
        padding: 0px 15px;
    }


    .side-menu-container .outer .list-group-item {
        background-color: #153076;
        color: white;
        font-size: 15px;
        font-family: Tahoma;
    }
    .side-menu-container .list-group-item:hover {
        background-color: #49459b;
    }

    .side-menu-container .list-group-item:focus {
        background-color: #49459b;
    }
    .side-menu-container .sub-menu {
        padding: 0;
        margin-left: 10px;
        list-style: none;
    }
/*sidebar end*/
.main-cont {
    margin-bottom: 40px;
    margin-right: 10px;
}
#layout_div .row {
    margin-right: -10px;
    margin-left: -10px;
}
.padd {
    padding-right: 7px;
    padding-bottom: 7px;
}

.list-group a {
    padding: 0;
    padding-left: 10px;
}

#EbsideBar i {
    padding-right: 2px;
    padding-top: 10px;
}
/*ebObject list*/

.objitems {
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color: #fafafa;
    border-radius: 4px;
}

.bottpadd {
    margin-bottom: 50px;
}

#btnOpen {
    margin-left: 53px;
    margin-top: 9%;
}

.obj-list .list-group-item {
    padding: 5px 5px 5px 5px;
}
/*imageuploader*/
#mdfooter .bootstrap-tagsinput {
    width: 100%;
}
#mdfooter .bootstrap-tagsinput input {
        float: left;
}
#mdfooter .bootstrap-tagsinput .tag {
        float: left;
        font-size:14px;
}