body{
     background: url('../images/sample.jpg') no-repeat center center fixed;
     background-size: cover;     
        background-color:#4b4b4b;
        font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/*       Slider       */
.fade-carousel {
    position: relative;
    height: 60vh;
}
.fade-carousel .carousel-inner .item {
    height: 60vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #3b5998;
    border-color: #3b5998;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
/*            Overlay           */
.overlay {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}
/*       Slides backgrounds     */
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('../images/bg-banner.jpg'); 
}
.fade-carousel .slides .slide-2 {
  background-image: url('../images/bgm1.jpg');
}
.fade-carousel .slides .slide-3 {
  background-image: url('../images/bgm3.jpg');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
.section-padding{
	padding: 40px 0px;
}
.section-padding2{
padding:20px 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #4B4B4C;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #3b5998;
}
.navbar-default {
    background-color: #ffffff;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 13px;
    font-weight: normal;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
.navbar-nav .active a{
    background: none !important;
    color: #5FCF80 !important;
    outline: none;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color:#3b5998;
    color:#ffffff !important;
}
.btn-trial a{
	background-color:#3b5998;
	//border-radius: 25px;
	color: #ffffff !important;
	border: 0px solid;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 0px;
	background-color: #3b5998;
	color: #5FCF80 !important;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight:normal;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}
.navbar {
    margin-bottom: 0px;
}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}
.img-cir {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        margin-right:90px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
.quote .btn{
    background-color: #5fcf80;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.quote .btn:hover, .quote .btn:focus{
    background-color: #fff;
    color: #5fcf80;
    border-color: #fff;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*PARTNERS*/
#partners{
 background-color: rgb(260, 260, 260);
padding-top:0px;
}
#partners h2{
    font-weight:normal;
}
#partners img{
    width:200px;
    height:auto;
}
/*Work Shop*/
.nopadding{
    padding:0 !important;
}
#work-shop {
    background-color: rgb(260, 260, 260);
    padding-bottom:40px;
}
.content{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:12px;
    color:#727272;
    line-height:18px;
}
.service-box{
    background: #fff;
    //padding: 40px 20px 60px;
    //box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
border-radius:8px;
}
.icon-box {
    font-size: 40px;
    color:#3b5998;
}
    .icon-box i {
    margin-top:22px !important;
    }
.ser-text {
    font-size: 18px;
}
 .icon-text {
    padding: 20px 0px 0px;
    font-size: 30px;
}
 /*workshop ends*/
/*Express Team*/
.pm-staff-profile-image{
  width: 150px;
  height: 150px;
  background-color: #C6C6C6;
  border-radius: 50%;
  display: inline-block;
}
.pm-staff-profile-details {
    padding: 20px 20px;
}
.pm-staff-profile-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #2b5d83;
}
.pm-staff-profile-title {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 500;
    padding: 12px 0px;
}
.pm-staff-profile-bio {
  text-transform: capitalize;
  color: #4b4b4b;
  font-weight: 100;
}
/***********************************
Testimonial
************************************/
#overlay2{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
#overlay2-btn{
background-color:#3b5998 !important;
color:#ffffff !important;
border-radius:25px;
}
.bg-white {
    background-color: #fff !important;
}
/*Course*/
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: #5FCF80;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: #5FCF80;
    color: #fff;
}
/*Price Table*/
.price-table {
    box-shadow: 0px 0px 1px 0px RGBA(0, 0, 0, 0.4);
    position: relative;
}
.price-table .pricing-head {
    background: #fff;
    padding: 40px;
    text-align: center;
}
.price-table .pricing-head h4 {
    font-size: 22px;
    color: #232c3b;
    margin-top: 0px;
    letter-spacing: 1px;
    border-bottom: 1px solid #232c3b;
    padding-bottom: 20px;
}
.pricing-head .amount {
    font-size: 60px;
    font-weight: bold;
}
.pricing-head .curency {
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 20px;
}
.price-in {
    background: #fff;
    text-align: center;
}
.btn-bg {
    border: 0px;
    border-radius: 0px;
    color: #fff !important;
    padding: 20px 0px;
    font-weight: bold !important;
    font-size: 14px;
    background-color: #5fcf80;
}
/*Contact Us*/
.contact form .form {
    width: 100%;
    height: auto;
    padding: 15px 15px 12px;
    font-size: 18px;
    margin-bottom: 18px;
    color: #7f7f7f;
    letter-spacing: 0.5px;
}
#contact .form-control {
    background: #fafafa;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 100%;
	margin-bottom: 15px;
    border-radius: 0;
    
}
.textarea {
    height: 228px;
    max-width: 100%;
    max-height: 229px;
}
.light {
    font-weight: 100;
}
.white{
    color: #fff !important;
}
.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}
#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}
#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}
#sendmessage.show, #errormessage.show, .show {
	display:block;
}
/*Footer*/
footer { background-color:rgb(247, 247, 247); min-height:265px; font-family: 'Open Sans', sans-serif;border-top:solid;border-color:rgba(119, 81, 81, 0.34); }
.footerleft { margin-top:25px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#3b5998; font-weight:700;}

.footerleft p { color:#3b5998; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#3b5998;}


.paddingtop-bottom {  margin-top:25px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#4b4b4b; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 .copyright { min-height:40px; background-color:#3b5998;}
 .copyright p { text-align:left; color:#FFF; padding:15px 0; margin-bottom:0px;font-size:12px;}
 .heading7 { font-size:21px; font-weight:700; color:#3b5998; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"|";color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
/*Footer*/
.btn-submit:hover, .btn-submit:focus{
    background-color: #5fcf80;
    color: #fff;
}
.btn-submit{
	padding: 14px 12px;
	border-radius: 50px;
	text-transform: uppercase;
    background-color: #5fcf80;
    color: #fff;
}
.btn-submit i{
	padding-left: 8px;
}
.btn-sec {
    margin-top: 20px;
}
.ser-btn {
    padding: 10px 18px;
    border: 0px;
    background-color: #222935;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
}
.mem-info{
    padding: 45px 10px 0px;
    background-color: #eee;
}
.mem-info h4 {
    font-size: 16px;
    padding: 10px 0px;
}
.mem-info h3{
    font-size: 24px;
    padding: 15px 0px;
}
.mem-info h5
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mem-info p {
    margin: 0 0 10px;
}
.agent-social li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
}
.light-form-button{
    background: #5fcf80;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 24%;
    padding: 10px 10px;
    margin-bottom: 15px;
    color: #fff;: #fafafa;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 24%;
    margin-bottom: 15px;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-green, .btn-green:hover{
    background-color: #5fcf80;
    color: #fff;
}
.footer .form-control:focus{
    box-shadow: none;
}
/*Responsive media queries*/
@media (max-width: 768px) {
    .navbar-default .navbar-brand {
        font-size:25px !important;
    }
}
@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info, .orga-stru{
        margin-bottom: 30px;
    }
    .pricing-head .amount {
    font-size: 51px;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info{
        margin-bottom: 30px;
    }
    .pricing-head .amount {
    font-size: 51px;
    }
    .service-box{
        padding:0 !important;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }   
}
@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
        font-size: 20px;
    }
    .big-text {
        font-size: 30px;
    }
    .small-text {
        font-size: 14px;
    }
    .intro-para {
        font-size: 30px;
    }
    .header-section p {
        font-size: 20px;
    }
    .heading {
        margin-bottom: 20px;
    }
    .orga-stru i {
        font-size: 92px;
    }
    .orga-stru {
        padding: 5px 5px 15px 5px;
        width: 75px;
        margin-bottom: 20px;
    }
        .orga-stru h3 {
            font-size: 28px;
        }
        .orga-stru p {
            font-size: 13px;
        }
    h3.det-txt {
        font-size: 28px;
    }
    .service-box, .text-comment, .price-table {
        margin-bottom: 30px;
    }
    .contact-form-button {
        width: 40%;
    }
   .footer .social-links li {
        margin: 0 5px 25px;
    }
    .modal-sm {
        width: 300px;
    }
    .login-box-body {
        padding: 15px 20px;
    }
    .navbar-default .navbar-brand {
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a {
        text-align: center;
        font-size:12px;
        font-weight:normal;
    }
}