.alt {background-color: rgb(243, 249, 249);}
body {
    padding: 0 !important;
    --ebbg: #0280db;
    --ebbgimage: linear-gradient(46deg,rgba(0,130,235,.17) 0,rgba(150,195,34,.32) 100%);
    --eb-blue: #339bb3;
    --eb-grey: #efefef;
    --eb-font: open sans;
    --eb-fontweight-light: 300;
    --eb-grey2: #fafafa;
    --eb-green: #31d031;
    --eb-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.1);
    --eb-shadow2: 0 5px 20px rgba(0, 0, 0, 0.05);
    --fontf: Montserrat;
    --eb-black: #272c33;
    --eb-black-color: #c8c9ce;
}
.mb {padding-bottom: 5em;}
.mt {padding-top: 5em;}
    .mt:first-child {padding-top: 4em;}
.mt0{margin:0;}
.h_b {margin-bottom: 2em;}
.eb_font_H {font-weight: 600;font-size: 2.6rem;color: #656565;font-family: Montserrat;}
.eb_font_T {font-weight: 400;color: #828181;font-family: Montserrat;}
.nopadding {padding: 0;}
.pd-b-0{padding-bottom:0 !important;}
.pd-l-0{padding-left:0;}
.pd-r-0{padding-right:0;}
.jumb {box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);}
    .jumb:hover {transform: translateY(-1px);box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}
/****** LOGIN MODAL ******/
.login_spiner {display:none;}
.log_error {
    display: none;
    max-width: 400px;
    width: 100% !important;
    color: #86181d;
    background-color: #ffdce0;
    border-color: rgba(27,31,35,0.15);
    margin: 0 auto;
    border-radius: 4px;
    font-family: Montserrat;
    padding: 15px;
    margin-top: 2em;
    position: fixed;
    font-size: 15px;
    margin-left: 28.2%;
}
.eb_login {
    height: 100vh;
    max-height: 100vh;
    background-color: #f9f9f9;
}
.log_error_close {
    position: absolute;
    right: 22px;
}
.inputEmail {
    border-top-right-radius:4px !important;
    border-bottom-right-radius:4px !important;
}
.remembrpw {
    font-size: 13px;
    color: #898a8a;
    margin-bottom:2rem;
}
.mb-25 {
    margin-bottom:25px;
}
.eb_login .container{
    height:inherit;
}
.login_container {
    max-width: 400px;
    width: 100% !important;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 10%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}
    .login_container form {
        padding: 30px;
    }
    .login_container h1 {
        font-size: 1.8em;
        margin-bottom: 10px;
        font-weight: 300;
        margin-top: 10px;
    }
.login_container a {
    text-decoration: none;
    color: #666;
    text-align: center;
    display: inline-block;
}

.login_container .signin-btn {
    width: 100%;
    background-color: #31d031;
    color: white;
}
.login-sec-image {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}
.login-sec-image img{
   height:50px;
}
/*end login*/
/*       Slider       */
/*forgetpassword msgBox*/
.message-box-indexpage {
    background-color: #31d031;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1200;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    display: none;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #3b5998;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand i {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 30px;
    }

.navbar-default {
    background-color: #ffffff;
    border-bottom:none;
}

.navbar-default .navbar-nav > li > a {
    color: #212535;
    font-size: 13px;
    font-weight: normal;
}

#submenu .fa .fa-list {
    font-size: 20px;
}

.navbar-nav > li > a {
    margin: 10px 5px;
    padding: 10px 10px 5px;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 100%;
    bottom: 0;
    background-color: #168ac2;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

    .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
       left:0;
        right: 0;
    }
   
.navbar-collapse {
    text-align: center;
}
.ext-pageheader .navbar {
    height: auto;
    padding: 5px;
}
.ext-pageheader .navbar-default {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.1);
}
.ext-pageheader .navbar-nav > li > a {
    color: #0f86cb;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
}
    .ext-pageheader .navbar-nav > li > a:hover {
        color: #0f86cb;
        font-family: Montserrat;
    }
.ext-pageheader .navbar-right {
    margin-right: 0;
}

.ext-pageheader .navbar img {
    height: 50px;
}

.ext-pageheader .btn-trial a {
    background-color: #23c523;
    border: none;
    border-radius: 2px;
    padding: 7px !important;
    color: white !important;
    box-shadow: 0 6px 20px 2px rgb(180, 228, 180);
}
.ext-pageheader .btn-trial a:hover {
    background-color: #31d031 !important;
}

@media(max-width: 768px) {
    .navbar-collapse {
        background-color: white;
    }
}

.padding-zero {
    padding: 0px;
}

.mart20 {
    margin-top: 20px;
}

.login-box-msg .img-cir {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.eb-banner {
    background-color: #0280db;
    padding: 15px 15px 15px 15px;
    background-image: linear-gradient(46deg,rgba(0,130,235,.17) 0,rgba(150,195,34,.32) 100%);
}
.eb-banner-text-img-sec {
    width: 100%;
}
.get-start-sec {
    font-family: Montserrat;
}
.no-creditcared {
    text-align: center;
    color: #cad4d3;
    margin-bottom: 10px;
    font-size: 13px;
}
.getStarted .no-creditcared {   
    color: #7b7b7b;  
}
.get-start-sec input {
    height: 45px;
    box-shadow: none;
}
.get-start-sec span {
    background-color: #23c523;
    font-family: Montserrat;
    font-weight: 300;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    border: none;
}
    .get-start-sec span button {
        background-color: transparent;
        height: 45px;
        border: none;
        color: white;
        font-family: Montserrat;
    }
        .get-start-sec span button:hover {
            color: white;
        }
        .get-start-sec span button:focus {
            color: white;
        }
    .get-start-sec .social-btn-sec {
        margin-top: 10px;
        text-align: center;
    }
    .get-start-sec .socialbtns {      
        color: #ffffff;   
    }
.eb-banner .banner-img {
    margin-top: 15rem;
}
    .eb-banner .banner-img img{
        width:100%
    }

.bg-color-banner {
    margin-top: 100px;
}
    .bg-color-banner h2 {
        color: white;
        font-size: 40px;
        font-family: Montserrat;
        font-weight: 300;
        padding-bottom: 20px;
    }
    .bg-color-banner p {
        width: 90%;
        font-size: 16px;
        line-height: 3.2rem;
        color: white;
        font-family: Montserrat;
        font-weight: 300;
    }
.customers {
    padding-top: 2em;
    padding-bottom: 2em;
}
/*Work Shop*/
.nopadding {
    padding: 0 !important;
}

.work-shop {
    font-family: Montserrat;
    font-weight: 300;
}
.service-box {
    width:100%;
    float:left;
}

.content {
    font-size: 1.5rem;
    color: #828181;
    line-height: 2.7rem;
}

.icon-box {
    font-size: 40px;
    color: #238fb1;
}

    .icon-box i {
        margin-top: 22px !important;
    }

.ser-text {
    font-size: 22px;
    margin: 10px 0px 15px;
}
.feature_row_second {
    margin-top: 4rem;
}
/*workshop ends*/
/*aboutus*/
.eb-banner-abtus-head {
    padding-top: 130px;
}
    .eb-banner-abtus-head .banner-img-abtus img{
        width:100%;
    }
/*team*/
.team {
    font-family: Montserrat;
    font-weight: 300;
}

.profile {
   
}

    .team_name {
        font-size: 18px;
        margin: 15px 0px 10px 0px;
    }
        .team_role {
            font-size: 13px;
            font-weight: lighter;
            margin-top: 5px;
        }

    .profile .img-box {
        display: flex;
        justify-content: center;
    }

        .profile .img-box img {
            width: 50%;
            height: 50%;
        }
.img-box_lead {
    padding: 0 12%;
}
/*end team*/
/*overlay2*/
.bg-white {
    background-color: #fff !important;
}

.eb-integrations {
    height: 300px;
    background-color: #fafafa;
}
/*Footer*/
footer {
    padding-top: 30px;
    background-color: #1c3c4c;
    color: white;
    padding-bottom: 30px;
    font-family: Montserrat;
    font-weight: 300;
}
    footer h5 {
        color: #a7a7a7;
        margin-top:0;
    }

    footer a {
        text-decoration: none;
        color: #a7a7a7;
        font-size: 13px;
        cursor:auto;
    }

        footer a:hover, footer a:focus {
            color: #aaa;
            text-decoration: none;
            cursor: auto;
            /*border-bottom: 1px dotted #999;*/
        }
    footer p {
        color: #a7a7a7;
        font-size: 12px;
    }
    footer .cmpny-details {
        padding-left: 32px;
    }
    footer ul {
        list-style-type: none;
        padding: 0;
        padding-left: 20px;
    }
    footer ul li {
        margin-bottom:2px;
    }

.f_social {
    background-color: #2e7dfd;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    margin: 6px;
    float:left;
    color:white;
}
.f_social i{
    width:20px;
}
.copyright {
    background-color: #1c3c4c;
}

    .copyright p {
        color: #d8cdcd;
        padding: 10px 0px 0px 0px;
        font-size: 11px;
        margin-bottom: 4px;
    }

.heading7 {
    font-size: 15px;
    font-weight: 700;
    color: #3b5998;
    margin-bottom: 10px;
}
/*Footer*/
.btn-submit:hover, .btn-submit:focus {
    background-color: #5fcf80;
    color: #fff;
}
/*Responsive media queries*/
@media (max-width: 768px) {
    .navbar-default .navbar-brand {
        font-size: 25px !important;
    }
}

@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
        font-size: 20px;
    }

    .service-box, .feature-info, .orga-stru {
        margin-bottom: 30px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
        font-size: 20px;
    }

    .service-box, .feature-info {
        margin-bottom: 30px;
    }

    .service-box {
        padding: 0 !important;
    }
    .cust_callout_content {height: auto !important;}
    .multi_db_supp_text {width: 100%;}
        .multi_db_supp_text p {text-align: center;}
        .multi_db_supp_text h3 {text-align: center;}
    ._quats{width:100% !important}
    .mt {padding-top: 2em;}
    .mb {padding-bottom: 2em;}
    .h_b {margin-bottom: 1em;}
    .pdl0xssm{padding-left:0;}
    .pdr0xssm{padding-right:0;}
    .img_main_callout img {height: 19px !important;}
    .bg-color-banner h2 {padding-bottom: 30px;}
}

@media (min-width: 20px) and (max-width: 450px) {
    .header-section p {
        font-size: 20px;
    }
    .heading {
        margin-bottom: 20px;
    }
    .contact-form-button {
        width: 40%;
    }
    .footer .social-links li {
        margin: 0 5px 25px;
    }
    .modal-sm {
        width: 300px;
    }
    .login-box-body {
        padding: 15px 20px;
    }
    .navbar-default .navbar-brand {
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a {
        text-align: center;
        font-size: 12px;
        font-weight: normal;        
    }
    .eb-banner2-img {padding-left:15px;padding-right:15px;border:none;}
    .chatbot-container img{width:98%;}
    .parteners-last { padding-top:20px;}
    .gl {text-align: center;}
    .pr_cont{margin-bottom:30px;}
    .pd-t6em {padding-top: 0 !important;}
    .for-mob {display: flex;align-items: center;justify-content: center;}
    .supportedBy {display: flex;align-items: center;justify-content: center;margin-bottom: 15px;}
    .cmpny-details{text-align:center;}
    .gl{text-align:center;}
    .gl ul{ margin:0;padding:0;}
    .f12 {font-size: 13px;}
    .for-mob-pd-t{padding-top:15px;}
    .copyright p {font-size: 9px;}
    .techstack {height: 90px; padding: 10px;}
    .b40 {margin-bottom: 0 !important;}
    .bg-color-banner h2 {font-size: 35px;}
    .bg-color-banner p {font-size: 14px;}
    .get-start-sec .col-md-4{margin:20px 0;}
    .multi_db_supp_img img {width: 100% !important;height: auto !important;}
    .cust_callout_content {height: auto !important;padding:0 !important;text-align:left !important;}
    .callfaction_cont{padding:0;}
    .callfaction_cont .getstarted{font-size:9px;}
    .emailtxt {font-size: 11px;}
    .h_b {margin-bottom: 1em;}
    .feature_row_second {margin-top: 0;}
    .multi_db_supp_text p {font-size: 1.6rem !important;text-align: center;}
    .mt { padding-top: 2em;}
    .mb {padding-bottom: 2em;}
    .multi_db_supp_text h3 {text-align: center;}
    .img_main_callout {text-align: right;}
    .bg-color-banner{padding:0 !important}
    .ml12_5{margin-left:0 !important;}
    .team_name {font-size: 14px;text-align:center;}
    .team_role {font-size: 11px;text-align:center;}
    .founder .detail-info h3 {text-align: center; font-size: 20px;}
    .founder .detail-info p {padding: 0 5px;}
    .founder .detail-info h4{text-align:center;}
    .mv_com {font-size: 15px;}
    .team_lead_txt{width:100% !important;}
    .team_lead_img{width:100% !important;}
    .flx {flex-direction: column-reverse;}
    .team_lead p {margin-bottom: 3em;}
    .message-box-indexpage {font-size: 12px;}
}
.ml12_5 {
    margin-left:12.5%;
}
.login-box-body {
    margin-top: 100px;
}

.aboutus-header {
    min-height: 480px;
    width: 100%;
    font-family: Montserrat;
    font-weight: 300;
    background-image: url(../images/wall_people.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layer {
    background-color: black;
    float: left;
    height: 480px;
    width: 100%;
    opacity: .6;
    padding-top: 150px;
    color: white;
}
.icon_mis {
    width:100%;
}
.aboutus-header h1 {
    color: white;
    font-size: 3.5em;
}
.abt_us_sunH {
    font-size: 1.9em;
}
.mv_com {
    padding: 5px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 17px;
    line-height: 3.4rem;
}
.eb_mis {
    margin-bottom: 2.6em;
}
.pd_for_img {
    padding: 0px 10px 0px 40px;
}
.founder {  
    font-family: Montserrat;
}
    .founder .detail-info {
        line-height: 3rem;
    }
.al_bottom {
    margin-top:13%;
}
.sign-in-ext {
    margin-top: 50px;
    background: url(../images/signinExt.jpg) no-repeat center center fixed;
    height: calc(100vh - 50px);
    width: 100%;
}

.cont-signin {
    height: inherit;
}

.row-sign-in {
    height: inherit;
}

.log-form {
    height: inherit;
    background-color: white;
}

.subscript {
    font-size: 25px;
}

.getStarted {
    padding-bottom: 6em;
}
    .getStarted .socialbtns {
        color: #7b7b7b;
    }
.left {
    text-align: left;
    background-color: gainsboro;
}

.right {
    text-align: center;
    font-size: 12px;
}


.main-cont {
    background-color: #f2f2f2;
    min-height: 100vh;
}

#layout_div #objlist-items {
    height: calc(100vh - 84px);
    margin-right: -15px;
    margin-left: -8px;
    margin-top: 85px;
}

.padd {
    padding-right: 7px;
    padding-bottom: 7px;
}

.list-group a {
    padding: 0;
    padding-left: 10px;
}
/*imageuploader*/
.fup .modal-body .bootstrap-tagsinput {
    width: 100%;
}

    .fup .modal-body .bootstrap-tagsinput input {
        float: left;
    }

    .fup .modal-body .bootstrap-tagsinput .tag {
        float: left;
        font-size: 14px;
    }

/*ebsidedivtoolbar*/
.ebsidedivtoolbar {
    height: 100vh;
    width: 40px;
    background-color: #403f3e;
    position: fixed;
}

.togglemenu {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: rgb(51, 102, 153);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 50%;
    z-index:1;
}

/*chart.....................................................*/

 #charttype {
    display: flex;
    flex-direction: column;
}

 .chartBody {
    display: flex;
    flex-direction: row;
}

 .divLLType {
    margin: 10px;
    cursor: pointer;
}

     .divLLType:hover {
        background-color: #d0cbf9;
    }

 .chartHeader {
    background-color: #e4dcdc;
    font-size: 13px;
    padding-left: 10px;
}

 .chartname {
    font-size: 11px;
    padding-left: 8px;
    margin-top: 3px;
}

#charttype img{
    height: 40px;
}
.techstack {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.techstack a{
    height:100%
}
.techstack img{
    height:100%;
}
.supportedBy{
    float:left;
    width:100%;
}
.support_logos {
    width: 25%;
    float: left;
    margin: 5% 7% 1% 0%;
}
.support_logos img{
    width: 100%;
}
.f12{
    font-size:12px;
}
.cust_img {
    height: 70px;
    display: flex;
    justify-content: center;
}
.cust_img img{
    height:100%;
}
.pr_img_cont {
    height: 70px;
    display: flex;
    justify-content: center;
}
.pr_img_cont img{
    height:100%;
    width:auto;
}
.pr_text {
    font-weight: 400;
    font-family: Montserrat;
}
    .pr_text h4 {
        margin: 15px 0px 15px;
        font-size: 22px;
        color: #4e4c4c;
    }
    .pr_text p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #36424c;
    }
.pd-t6em{
    padding-top:5em;
}
.pd-t-1em{
    padding-top:1em;
}
.pr_link {
    color: #238fb1;
    font-size: 12px;
    width: 100%;
}
.multi_db_supp {
   
}
.multi_db_supp_img img{
    height:326px;
    float:right;
}
.multi_db_supp_text p {
    font-weight: 400;
    font-size: 1.7rem;
    color: #828181;
    margin-bottom: 1em;
}
.multi_db_supp_text {
    font-family: Montserrat;
    line-height: 3.5rem;
}
    .multi_db_supp_text h3 {
        font-weight: 600;
        font-size: 2.6rem;
        margin-bottom: 25px;
        color: #656565;
        margin-bottom: 5px;
    }
.b40{
    margin-bottom:40px;
}
.cust_callout_block {
    padding: 20px;
    text-align: center;
}
.img_main_callout {
    margin-bottom: 20px;
}
.img_main_callout img{
    height:22px;
    width:auto;
}
.cust_callout_content {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 300;
    min-height: 185px;
    text-align: center;
    padding: 10px 40px;
}
.speakers {
    background-color: #0280db;
    background-image: linear-gradient(46deg,rgba(0,130,235,.17) 0,rgba(150,195,34,.32) 100%);
    font-family: Montserrat;
    font-weight: 300;
}
.cw {
    color: gainsboro;
}
.jb {
    margin-left: 5px;
    font-size: 18px;
    display:none;
}
.team_lead p{
    line-height:2.5rem;
}
.flx {
    display:flex;
}
.team_lead_txt {
    width: 66.6%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}
.team_lead_img {
    width: 33.3%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

/*eb loader css*/
.eb-loader-prcbar {
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #ddd;
    height: 3px;
    z-index: 2;
}

    .eb-loader-prcbar:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 3px;
        background-color: #23c523;
        animation: loading 2s linear infinite;
    }

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}
.loader_mask_EB {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: #585656;
    opacity: .3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eb_common_loader {
    bottom:0;
}
/*eb loader css end*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-spinner div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 29px;
            width: 5px;
            height: 14px;
            border-radius: 20%;
            background: #fff;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*home page dropdown*/
.nav_drp_li .sub{
    padding: 7px 20px !important;
    color: #1488c5 !important;
    font-size: 15px;
    font-family:open sans;
}
.nav_drp_li .dropdown-menu {
    padding: 10px;
}
/*EbMsgBox*/
.eb_messageBox_container {
    width: 100%;
    padding: 8px 15px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    display: none;
    text-align: center;
    position: fixed;
    z-index: 10000;
    top: 0;
}