.tier {
    padding: 10px;
}

.tier-cropie {    
    padding: 10px;
    height: 200px;
}

.tier i {
    position: center;
}
.Eb-product-container-bdy {
    border-radius: 4px;
    padding-bottom: 25px;
    background: white;
    padding-top: 25px;
}

.pro-icon-bx {
    padding: 10px 60px 15px 60px;
}

.pro-name-bx {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.client-id-sec {
    width: 100%;
    text-align: left;
}

.input-clientId {
    width: 50%;
    display: inline;
}

.clientId-auto {
    font-size: 14px;
    color: #9e9e9e;
    display: inline;
}

.is-edit-clientid {
    display: inline;
    float: right;
}
    .pricing-icon img {
        height: 50px;
    }

.T-add-amount {
    font-size: 20px;
    color: #7d7979;
}

.pricing-container {
    padding: 10px;
}

.tadd-pricing-head {
    text-align: center;
    color: #9a9595;
}

.eb-common-price-modal-container {
    padding: 15px;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

#eb-common-price-modal .modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
/*cdgfdjhdtjykuflkjyh*/
.tAddAcc {
    padding-top: 50px;
    font-family: sans-serif;
    background-color: #e3e8ee;
}
.tAddAcc .detailsec {
    margin-top:50px;
}
.detailsec-name{
    height:inherit;
}
.detailsec-form {
    height: inherit;
}
.detailsec-name-head h4{
    color: #3ea8dc;
}
.eb-products {
    margin-top: 30px;
}
.products-head {
    margin-top: 70px;
    color: #3ea8dc;
}
.detailsec-name-desc{
    text-align:center;
}
.add-accPricing-sec {
    padding: 30px 100px 10px 100px;
}
.pricing-modal-btn {
    background: #66cdcc;
    color: white;
}
.add-accPricing-sec-table{
    background:white;
}
.add-accPricing-sec-table td{
    text-align: center;
}
.popular-td {
    border-left: 2px solid #87c4f7;
    border-right: 2px solid #87c4f7;
}
.tAddAcc-l-tool-bar {
    position: fixed;
    height: 100vh;
    width: 50px;
    background: #fafbfc;
    padding: 5px;
}
.onboard-icons {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}
.onboard-icons img{
    background:white;
}
    .onboard-icons:hover {
        color: white;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
.Eb-product-container:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}