
.form-inline .form-group {
    margin-right: 10px;
}

.well-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
}

.glyphicon {
    margin-right: 5px;
}

.tier {
    padding: 10px;
}

.tier-cropie {    
    padding: 10px;
    height: 200px;
}

.tier i {
    position: center;
}

.disable-anchor i {
    color: grey;
}

.Eb-product-container {
}

.Eb-product-container-bdy {
    height: 100%;
    width: 100%;
}

.pro-icon-bx {
    width: 100%;
    height: auto;
    padding: 10px 40px 20px 40px;
}

.pro-name-bx {
    font-size: 18px;
    color: #696161;
    font-family: robot;
    padding: 0px 16px 5px 16px;
}

.prod-container-padd {
    padding: 30px 0px 30px 0px;
}

.tAddAcc .panel-default > .panel-heading {
    color: #757575;
    background-color: white;
    border-color: #ddd;
    background-image: none;
    text-align: left;
}

.addAccDesc {
    position: fixed;
    height: calc(100vh - 100px);
    margin-top: 100px;
}

.Eb-CommonMenuStyle {
    height: 30px;
    z-index: 100;
}

.addAccCollapse {
    margin-top: 100px;
}

.addAccDesc {
    padding: 0px 10px 0px;
    margin-top: 100px;
}

.addAccDesc-body {
    width: 100%;
    height: 100%;
    background: white;
}

.Eb-product-container:hover {
    cursor: pointer;
    background: #cccccc;
}

.addAccDesc-head {
    color: #fff;
    background-color: var(--ebbg);
    border-color: #ddd;
    background-image: var(--ebbgimage);
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.solution-info-body {
    height: 300px;
}

.client-id-sec {
    width: 100%;
    text-align: left;
}

.input-clientId {
    width: 50%;
    display: inline;
}

.clientId-auto {
    font-size: 14px;
    color: #9e9e9e;
    display: inline;
}

.is-edit-clientid {
    display: inline;
    float: right;
}

.pricing-icon {
}

    .pricing-icon img {
        height: 50px;
    }

.T-add-amount {
    font-size: 25px;
    color: #7d7979;
}

.pricing-container {
    padding: 10px;
}

.tadd-pricing-head {
    text-align: center;
    color: #9a9595;
}

.eb-common-price-modal-container {
    padding: 15px;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

#eb-common-price-modal .modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
/*cdgfdjhdtjykuflkjyh*/
.tAddAcc {
    padding-top:50px;
    font-family:sans-serif;
}
.tAddAcc .detailsec {
    margin-top:50px;
}
.detailsec-name{
    height:inherit;
}
.detailsec-form {
    height: inherit;
}
.detailsec-name-head h4{
    color: #3ea8dc;
}
.eb-products{
    margin-top:100px;
}