<!DOCTYPE html>
<html>
@{
    var BotDtls = Html.Raw(ViewBag.BotDetails);
    //string Logourl = "/static/logo/logo_" + ViewBag.cid + ".png";
    string LogoUrl = "/static/logo/logo_" + ViewBag.SolutionId + ".png";
}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link async rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    @*<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="~/images/favicon.ico">
    <link async href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link async href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

    @*
        <link rel="stylesheet" type="text/css" href="~/css/Ebproducts.css" />*@
    
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.8/jquery.lazy.min.js"></script>@*amal*@

    <script type="text/javascript">
        //window.EXPRESSbase_SOLUTION_ID = "eb_dbpjl5pgxleq20180130063835";
        //window.EXPRESSbase_APP_IDS = [13, 93];

        $(document).ready(function () {
            d = document;
            d.ebmod = '@ViewBag.Env';
            var BotList = @BotDtls ;
            var jssrc = "http://localhost:41500";
            if (d.ebmod === 'Production')
                jssrc = "https://files.expressbase.com";
            else if (d.ebmod === 'Staging')
                jssrc = "https://files.eb-test.info";
            window.EXPRESSbase_SOLUTION_ID = window.location.host.split('.')[0].trim();
            window.EXPRESSbase_APP_IDS = [];
            d.ebbotThemeColorColl = [];
            d.botWelcomeMsgColl = [];
            botNames = [];
            botDpUrl = [];
            botIcon = [];
            $.each(BotList.$values, function (k, bobj) {
                if (bobj.botsettings === null) {
                    bobj.botsettings = { Name : 'EbBot', DpUrl : '', ThemeColor : '#fcb714', WelcomeMessage : 'Hi, I am EBbot from EXPRESSbase!!!' };
                }
                window.EXPRESSbase_APP_IDS.push(bobj.id);
                botNames.push(bobj.botsettings.Name);
                botDpUrl.push(bobj.botsettings.DpUrl);
                botIcon.push(bobj.icon);
                d.ebbotThemeColorColl.push(bobj.botsettings.ThemeColor);
                d.botWelcomeMsgColl.push(bobj.botsettings.WelcomeMessage);
            });

            d.appIdColl = window.EXPRESSbase_APP_IDS;
            //d.ebbotThemeColorColl = ["#fcb714", "#4B0082", "#0000FF", "#00FF00", "#FFFF00", "#FF7F00", "#FF0000"];
            d.ebbotNameColl = botNames;
            d.botdpURLColl = botDpUrl;

            d.appIdCount = 0;
            d.createBotFns = [];
            for (var i = 0; i < d.appIdColl.length; i++) {
                d = document;
                d.createBotFns.push(function () {
                    s = d.createElement("script");
                    s.src = jssrc + "/Bote/Js?id=" + window.EXPRESSbase_SOLUTION_ID + "-" + window.EXPRESSbase_APP_IDS.toString() + "&mode=m";
                    s.async = 1;
                    d.getElementsByTagName("head")[0].appendChild(s);
                });
            }
            $.each(d.createBotFns, function (i, fun) {
                $(".botBtnsCont").append(`<div class="btnOutCont">
                                            <div class="btnInnerCont" onclick="clickOnDiv(${i}, ${d.appIdColl[i]});">
                                                <i class='fa fa-2x ${botIcon[i]}' aria-hidden='true' style='padding: 7px;'></i>
                                                <h4 style='display: inline-block;'>${botNames[i]}</h4>
                                            </div>
                                          </div>`);
            });
            if (d.appIdColl.length > 0) {
                clickOnDiv(0, d.appIdColl[0]);
            }
        });


        function clickOnDiv(i, appid) {
            //console.error(7);
            var d = document;
            if (d.latestAppid === appid && $($(`[appid=${appid}]`)[0]).css("display") !== 'none')
                return;
            d.appIdCount = i;
            if ($(`[appid=${appid}]`).length === 0) {
                d.createBotFns[i]();
            }

            var html = d.getElementsByTagName('html')[0];
            html.style.setProperty("--ebbotThemeColor", d.ebbotThemeColorColl[i]);
            $(`.usecase-bots-cont [appid=${appid}] .eb-chat-head`).css("background-color", d.ebbotThemeColorColl[i]);
            $(".eb_iframecont").not(`[appid=${appid}]`).animate({ opacity: '0' }, 400);
            $(".eb_iframecont").hide();
            $(`.usecase-bots-cont [appid=${appid}]`).show(100, function () { $(this).css("display", "flex"); $(this).animate({ opacity: '1' }, 400); });
            setTimeout(function () { $(`#maximizediv${appid}`).click();}, 2000);//////////
            d.latestAppid = appid;
        }
    </script>
    <style>


        .eb_iframecont {
            position: relative !important;
            float: right;
            /*width: 50% !important;*/
        }

        .botBtnsCont {
            /*height: 80vh;
            overflow-y: auto;*/
            width: 75%;
        }

        .botBtnsParent {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 95vh;
            /*padding-top: 100px;*/
            overflow-y: auto;
            flex-direction: column;
        }

        .btnOutCont {
            width: 100%;
            float: left;
            padding: 10px;
        }

        .btnInnerCont {
            float: left;
            background: white;
            box-shadow: var(--eb-shadow);
            width: 100%;
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
            transition: 1s;
        }

            .btnInnerCont:hover {
                background: #eee;
            }

        .livebothead {
            text-align: center;
            color: white;
        }

        .eb-banner-local {
            padding: 15px;
            background-color: #0280db;
            background-image: linear-gradient(46deg,rgba(245,248,253,0.17) 0,rgba(0,0,0,0.32) 100%);
        }

        .ext-pageheader .navbar {
            height: auto;
            padding: 5px;
        }

        .ext-pageheader .navbar-default {
            background-color: white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.1);
        }
        .ext-pageheader .navbar img {
            height: 50px;
        }
    </style>
</head>
<body>
    <section class="ext-pageheader" id="pgheaderExt">
        <nav class="navbar navbar-default navbar-fixed-top" style="top: 0px;">
            <div class="">
                <div class="navbar-header">
                    <img src="~/images/your_company_logo.png" data-src=@LogoUrl class="solution_logo Eb_Image" />
                </div>
            </div>
        </nav>
    </section>
    <section class="slider eb-banner-local">
        <div class="container-fluid">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 botBtnsParent">
                <div class="col-md-12"><h2 class="livebothead">Live Bots</h2></div>
                <div class="botBtnsCont">

                </div>
            </div>
        </div>
        <div class="usecase-bots-cont"></div>
    </section>
    <script>
        $('.Eb_Image').Lazy();
    </script>
    
</body>
</html>