@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link href="~/css/LeadManagement.css" rel="stylesheet" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/LeadManagement.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>

<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<div class="form-cont">
    <div class="container" style="padding: 60px 0px 10px 0px;">
        <div class="lm-form-inline">
            <div class="col-md-10" style="padding-left:0px;width: 88%;">
                <div class="lm-form-inline">
                    <div class="col-md-2" style="min-width: 21%;">
                        <div class="lm-form-group">
                            <label>Cost Center</label>
                            <select id="selCostCenter" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>EN Date</label>
                            <div class="input-group">
                                <input id="txtEnDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtEnDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="min-width: 31%;">
                        <div class="lm-form-group">
                            <label>Name</label>
                            <input id="txtName" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Mobile</label>
                            <input id="txtMobile" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Phone</label>
                            <input id="txtPhone" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Profession</label>
                            <input id="txtProfession" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Email</label>
                            <input id="txtEmail" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>DOB</label>
                            <div class="input-group">
                                <input id="txtDob" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtDob').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>Age</label>
                            <input id="txtAge" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="lm-form-group">
                            <label>Sex</label>
                            <select id="selSex" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>NRI</label>
                            <select id="selNri" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City</label>
                            <input id="txtCrntCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Country</label>
                            <input id="txtCrntCountry" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Home City</label>
                            <input id="txtHomeCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service</label>
                            <select id="selService" class="form-control">
                                <option>BMT</option>
                                <option>EBT</option>
                                <option>Hair Extension</option>
                                <option>Hair Fixing</option>
                                <option>Hair Fixing (Wig)</option>
                                <option>Hair Treatment</option>
                                <option>Hair Transplant</option>
                                <option>Patch</option>
                                <option>PRP</option>
                                <option>SMP</option>
                            </select>
                            @*<input id="txtService" type="text" class="form-control">*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 lm-img-cont"></div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Basic Details</a></li>
            @*<li><a data-toggle="tab" href="#menu1">Add Follow-up Details</a></li>*@
            @*<li><a data-toggle="tab" href="#menu2">Graft Details</a></li>*@
            <li><a data-toggle="tab" href="#menu3">Billing</a></li>
            <li><a data-toggle="tab" href="#menu4">Surgery Details</a></li>
            <li><a data-toggle="tab" href="#menu5">Attach</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active" style="padding-top: 25px;">
                <div class="lm-form-inline">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Source Category</label>
                            <input id="txtSourceCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <input id="txtSubCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <label>Consultation</label>
                        <select id="selConsultation" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <label>Pictures Recevied</label>
                        <select id="selPicReceived" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="form-group">
                            <label>Consulted Date</label>
                            <div class="input-group">
                                <input id="txtConsultedDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtConsultedDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 30.5%;">
                        <div class="form-group">
                            <label>Consulting Doctor</label>
                            <select id="selDoctor" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="form-group">
                            <label>Probable Month</label>
                            <input id="txtProbableMonth" type="text" class="form-control" maxlength="7">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>No of Grafts</label>
                            <input id="txtTotalGrafts" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>Total Rate</label>
                            <input id="txtTotalRate" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 11%;">
                        <div class="form-group">
                            <label>No of PRP</label>
                            <input id="txtNoOfPRP" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>Fee Paid</label>
                            <select id="selFeePaid" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                            @*<input id="txtFeePaid" type="number" class="form-control">*@
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Closing</label>
                            <select id="selClosing" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 22%;">
                        <div class="form-group">
                            <label>Nature of Patient</label>
                            <select id="selNature" class="form-control">
                                <option>Easy</option>
                                <option>Moderate</option>
                                <option>Difficult</option>
                            </select>
                            @*<input id="txtNature" type="text" class="form-control">*@
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="lm-form-sec-heading" style="padding-bottom: 12px; display: inline-block; width:49%;">
                        Followup Details
                    </div>
                    <div style="text-align:right; padding: 15px 0px; display: inline-block; width:49%;">
                        <button id="btnNewFeedBack" class="btn btn-primary">New</button>
                    </div>

                    <div id="divFdbk"></div>
                </div>

            </div>
            <div id="menu1" class="tab-pane fade">
                @*<div style="text-align:right; padding: 15px 0px;">
                        <button id="btnNewFeedBack" class="btn btn-primary">Save</button>
                    </div>*@


                @*<div class="modal-body" style="height: 250px; padding: 0% 25% 0% 25%;">
                        <div class="lm-form-inline">
                            <div class="col-md-6">
                                <div class="lm-form-group">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input id="txtFlUpDate" type="text" class="form-control" autocomplete="off">
                                        <span class="input-group-addon" onclick="$('#txtFlUpDate').focusin();"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lm-form-inline">
                            <div class="col-md-6">
                                <div class="lm-form-group">
                                    <label>Lead Status</label>
                                    <input id="txtFlUpStatus" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="lm-form-group">
                                    <label>Follow up Date</label>
                                    <div class="input-group">
                                        <input id="txtFlUpFolDate" type="text" class="form-control" autocomplete="off">
                                        <span class="input-group-addon" onclick="$('#txtFlUpFolDate').focusin();"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lm-form-inline">
                            <div class="col-md-12">
                                <div class="lm-form-group">
                                    <label>Comment</label>
                                    <textarea id="txaFlUpComnt" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>*@



            </div>
            <div id="menu2" class="tab-pane fade" style="padding-top: 25px;">
                <div class="lm-form-inline">
                    <div class="col-md-4" style="padding: 0px;">

                    </div>
                    <div class="col-md-4" style="border-left: 1px solid #ccc; padding: 0px; height: 300px;">
                        <div class="lm-form-inline">

                        </div>
                    </div>
                    <div class="col-md-4" style="border-left: 1px solid #ccc; height: 300px;padding-top: 19px;">
                        <table class="table table-bordered" style="padding:15px;">
                            <thead>
                                <tr>
                                    <th>Zone</th>
                                    <th>Grafts</th>
                                    <th>Density</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 35px;">
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr style="height: 35px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 35px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 35px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="text-align:right; padding: 15px 0px;">
                            <button id="" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div style="text-align:right; padding: 15px 0px;">
                    <button id="btnNewBilling" class="btn btn-primary">New</button>
                </div>
                <div id="divBilling" style="max-height: 300px; overflow: auto;"></div>
            </div>
            <div id="menu4" class="tab-pane fade">
                <div style="text-align:right; padding: 15px 0px;">
                    <button id="btnNewSurgeryDtls" class="btn btn-primary">New</button>
                </div>

                @*<div class="lm-form-inline">
                        <div class="col-md-4" style="padding: 0px;">
                            <div class="lm-form-inline">
                                <div class="col-md-6">
                                    <div class="lm-form-group">
                                        <label>Date</label>
                                        <div class="input-group">
                                            <input id="txtSrgyDate" type="text" class="form-control" autocomplete="off">
                                            <span class="input-group-addon" onclick="$('#txtSrgyDate').focusin();"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lm-form-group">
                                        <label>Branch</label>
                                        <input id="txtSrgyBranch" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="lm-form-inline">
                                <div class="col-md-4">
                                    <div class="lm-form-group">
                                        <label>Zone</label>
                                        <input id="txtSrgyBranch" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="lm-form-group">
                                        <label>Grafts</label>
                                        <input id="txtSrgyBranch" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="lm-form-group">
                                        <label>Density</label>
                                        <input id="txtSrgyBranch" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="lm-form-group">
                                <label>Patients Instructions</label>
                                <textarea id="" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="lm-form-group">
                                <label>Doctors Instructions</label>
                                <textarea id="" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                            </div>
                        </div>


                    </div>*@


                <div class="lm-form-inline">
                    @*<div class="lm-form-sec-heading" style="padding-bottom: 12px;">
                            Surgery Details
                        </div>*@
                    <div id="divSrgy" style="max-height: 300px; overflow: auto;"></div>
                </div>
            </div>
            <div id="menu5" class="tab-pane fade">
                <div style="text-align: center; padding-top: 13%; font-size: 32px; color: #bbb; "> Coming Soon </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Followup Details Modal -->
<div class="modal fade" id="mdlFeedBack" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Feedback Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label>Date</label>
                            <div class="input-group">
                                <input id="txtFlUpDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label>Lead Status</label>
                            <input id="txtFlUpStatus" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label>Follow up Date</label>
                            <div class="input-group">
                                <input id="txtFlUpFolDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpFolDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-12">
                        <div class="lm-form-group">
                            <label>Comment</label>
                            <textarea id="txaFlUpComnt" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnFlUpSave" class="btn btn-default" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Graft Details Modal -->
<div class="modal fade" id="mdlGraft" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Graft Details</h4>
            </div>
            <div class="modal-body form-cont" style="height: 270px;">



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnGraftSave" class="btn btn-default" type="button">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Billing Details Modal -->
<div class="modal fade" id="mdlBilling" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Total Amount</label>
                            <input id="txtBlngTotal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Amount Received</label>
                            <input id="txtBlngRcvd" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Balance Amount</label>
                            <input id="txtBlngBal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline"></div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Cash Paid</label>
                            <input id="txtBlngPaid" type="number" class="form-control" autocomplete="off" >
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Date</label>
                            <div class="input-group">
                                <input id="txtBlngDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Payment Mode</label>
                            <select id="selBlngMode" class="form-control">
                                <option>Cash</option>
                                <option>Cheque</option>
                                <option>Credit Card</option>
                                <option>RTGS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label>Bank</label>
                            <input id="txtBlngBank" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Clearence Date</label>
                            <div class="input-group">
                                <input id="txtBlngClrDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngClrDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label>Narration</label>
                            <input id="txtBlngNarr" type="text" class="form-control" maxlength="30">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBlngSave" class="btn btn-default" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Surgery Details Modal -->
<div class="modal fade" id="mdlSurgery" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Surgery Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Date</label>
                            <div class="input-group">
                                <input id="txtSrgyDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtSrgyDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Branch</label>
                            <select id="selSrgyBranch" class="form-control">
                                <option>Kochi</option>
                                <option>Kozhikode</option>
                                <option>Trivandrum</option>
                                <option>Coimbatore</option>
                            </select>
                            @*<input id="txtSrgyBranch" type="text" class="form-control">*@
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Zone</label>
                            <input id="txtSrgyZone" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Grafts</label>
                            <input id="txtSrgyGrafts" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label>Density</label>
                            <input id="txtSrgyDensity" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label>Patients Instructions</label>
                            <textarea id="txaPatientInstr" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label>Doctors Instructions</label>
                            <textarea id="txaDoctorInstr" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSrgySave" class="btn btn-default" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .MyTempColStyle {
        /*white-space: nowrap;
        overflow: hidden;*/
        overflow: visible;
        white-space: normal !important;
        /*text-overflow: ellipsis;*/
        max-width: 200px;
        height: 30px !important;
    }
    /*.MyTempColStyle:hover {
            overflow: visible;
            white-space: normal;
        }*/
</style>




@{
    @using Newtonsoft.Json;
    var CInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CustomerData));
    var CenterInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CostCenter));
    var DocInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.DocDict));
    var StaffInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.StaffDict));

    var CCityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCityList));
    var CCountryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCountryList));
    var CityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CityList));
    var SourceCategoryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.SourceCategoryList));
    var SubCategoryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.SubCategoryList));

    var FeedbackList = (Html.Raw(ViewBag.FeedbackList).ToString() == "") ? "null" : Html.Raw(ViewBag.FeedbackList);
    var BillingList = (Html.Raw(ViewBag.BillingList).ToString() == "") ? "null" : Html.Raw(ViewBag.BillingList);
    var SurgeryList = (Html.Raw(ViewBag.SurgeryList).ToString() == "") ? "null" : Html.Raw(ViewBag.SurgeryList);
}

<script>
    var leadObject = new LeadManagementObj(@ViewBag.AccId, @ViewBag.MC_Mode, @CInfo, @CenterInfo, @DocInfo, @StaffInfo, @FeedbackList, @BillingList, @SurgeryList, @CCityList, @CCountryList, @CityList, @SourceCategoryList, @SubCategoryList );
</script>

@*<div class="col-md-6" style="padding:0px;">
        <div class="lm-form-sec-heading">
            Current Location Details
        </div>
        <div class="lm-form-inline">

        </div>
        <div class="lm-form-inline">
            <div class="lm-form-sec-heading">
                Home Town Details
            </div>

        </div>
    </div>*@
@*<div class="col-md-3">
        <div class="lm-form-group">
        <label>ID</label>
        <input id="txtId" type="text" class="form-control" autocomplete="off">
        </div>
    </div>*@
@*<div class="col-md-6" style="border-left: 1px solid #ccc; padding: 0px;">
        <div class="lm-form-inline">

        </div>
        <div class="lm-form-inline">

        </div>
        <div class="lm-form-inline">

        </div>
    </div>*@

@*<div class="col-md-3">
        <div class="form-group">
            <label>Home District</label>
            <input id="txtHomeDistrict" type="text" class="form-control">
        </div>
    </div>*@
@*<div class="col-md-2">
        <div class="form-group">
            <label>Lead Owner</label>
            <input id="txtLeadOwner" type="text" class="form-control">
        </div>
    </div>*@