@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link href="~/css/LeadManagement.css" rel="stylesheet" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link href="~/css/Docs.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />@*amal*@
<link rel="stylesheet" type="text/css" href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css" />
<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/piexif.min.js" type="text/javascript"></script>@*amal*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/sortable.min.js" type="text/javascript"></script>@*amal*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/plugins/purify.min.js" type="text/javascript"></script>@*amal*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>@*amal*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.4/js/fileinput.min.js"></script>@*amal*@

<script type="text/javascript" src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>

<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/LeadManagement.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbCropper.js"></script>
<script type="text/javascript" src="~/js/UserScripts/EbFormsImageRender.js"></script>

<div class="form-cont">
    <div class="container" style="padding: 60px 0px 10px 0px;">
        <div class="lm-form-inline">
            <div class="col-md-12" style="padding-left:0px;">
                <div class="lm-form-inline">
                    <div class="col-md-2" style="min-width: 21%;">
                        <div class="lm-form-group">
                            <label>Cost Center</label>
                            <select id="selCostCenter" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>EN Date</label>
                            <div class="input-group">
                                <input id="txtEnDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtEnDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="min-width: 31%;">
                        <div class="lm-form-group">
                            <label>Name</label>
                            <input id="txtName" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Mobile</label>
                            <input id="txtMobile" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Phone</label>
                            <input id="txtPhone" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Profession</label>
                            <input id="txtProfession" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Email</label>
                            <input id="txtEmail" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>DOB</label>
                            <div class="input-group">
                                <input id="txtDob" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtDob').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>Age</label>
                            <input id="txtAge" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="lm-form-group">
                            <label>Sex</label>
                            <select id="selSex" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>NRI</label>
                            <select id="selNri" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City</label>
                            <input id="txtCrntCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Country</label>
                            <input id="txtCrntCountry" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Home City</label>
                            <input id="txtHomeCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service</label>
                            <select id="selService" class="form-control">
                                <option value="bmt">BMT</option>
                                <option value="ebt">EBT</option>
                                <option value="hair extension">Hair Extension</option>
                                <option value="hair fixing">Hair Fixing</option>
                                <option value="hair fixing (wig)">Hair Fixing (Wig)</option>
                                <option value="hair treatment">Hair Treatment</option>
                                <option value="hair transplant">Hair Transplant</option>
                                <option value="patch">Patch</option>
                                <option value="prp">PRP</option>
                                <option value="smp">SMP</option>
                            </select>
                            @*<input id="txtService" type="text" class="form-control">*@
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-2 lm-img-cont"></div>*@
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Basic Details</a></li>
            <li><a data-toggle="tab" href="#menuBilling">Billing</a></li>
            <li><a data-toggle="tab" href="#menuSurgery">Surgery Details</a></li>
            <li><a data-toggle="tab" href="#menuAttach">Attach</a></li>
        </ul>

        <div class="tab-content white-tab">

            <!-- Home Menu -->
            <div id="home" class="tab-pane fade in active" style="padding-top: 25px;">
                <div class="lm-form-inline">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Source Category</label>
                            <input id="txtSourceCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <input id="txtSubCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <label>Consultation</label>
                        <select id="selConsultation" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <label>Pictures Recevied</label>
                        <select id="selPicReceived" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="form-group">
                            <label>Consulted Date</label>
                            <div class="input-group">
                                <input id="txtConsultedDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtConsultedDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 30.5%;">
                        <div class="form-group">
                            <label>Consulting Doctor</label>
                            <select id="selDoctor" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="form-group">
                            <label>Probable Month</label>
                            <input id="txtProbableMonth" type="text" class="form-control" maxlength="7">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>No of Grafts</label>
                            <input id="txtTotalGrafts" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>Total Rate</label>
                            <input id="txtTotalRate" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 11%;">
                        <div class="form-group">
                            <label>No of PRP</label>
                            <input id="txtNoOfPRP" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>Fee Paid</label>
                            <select id="selFeePaid" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Closing</label>
                            <select id="selClosing" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 22%;">
                        <div class="form-group">
                            <label>Nature of Patient</label>
                            <select id="selNature" class="form-control">
                                <option value="easy">Easy</option>
                                <option value="moderate">Moderate</option>
                                <option value="difficult">Difficult</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="lm-form-sec-heading pd-lr-15" style="padding-bottom: 12px; display: inline-block; width:49%;">
                        Followup Details
                    </div>
                    <div style="text-align:right; padding: 15px 0px; display: inline-block; width:49%;">
                        <button id="btnNewFeedBack" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>
                    </div>
                    <div id="divFdbk"></div>
                </div>

            </div>

            <!-- Billing Menu -->
            <div id="menuBilling" class="tab-pane fade">
                <div style="text-align:right; padding: 15px 15px;">
                    <button id="btnNewBilling" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>
                </div>
                <div id="divBilling" style="max-height: 300px; overflow: auto;"></div>
            </div>

            <!-- Surgery Menu -->
            <div id="menuSurgery" class="tab-pane fade">
                <div style="text-align:right; padding: 15px 15px;">
                    <button id="btnNewSurgeryDtls" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>
                </div>
                <div class="lm-form-inline">
                    <div id="divSrgy" style="max-height: 300px; overflow: auto;"></div>
                </div>
            </div>

            <!-- Attach Menu -->
            <div id="menuAttach" class="tab-pane fade">
                <div style="text-align:right; padding: 15px 15px;">
                    <button data-target="#mdlAttach" data-toggle="modal" class="ebbtn eb_btn-sm eb_btngreen"><i class="fa fa-upload"></i> Upload</button>
                </div>

                @{
                    if (ViewBag.MC_Mode == 1)
                    {
                        string url = string.Empty;
                        if (ViewBag.ImageIdList.Count == 0)
                        {
                            @*<div style="text-align: center; padding: 5%; font-size: 22px; color: #bbb; "> No Data Available </div>*@
                        }
                        else
                        {
                            foreach (string id in ViewBag.ImageIdList)
                            {
                                url = "/images/" + id + ".jpg";
                                <div class="img_wrapper">
                                    <div class="img_wrapper_img">
                                        <img src="@url" class="img-responsive" />
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        @*<div style="text-align: center; padding: 5%; font-size: 22px; color: #bbb; "> No Data Available </div>*@
                    }
                }

                @*<div style="text-align: center; padding-top: 13%; font-size: 32px; color: #bbb; "> Coming Soon </div>*@
            </div>
        </div>
    </div>
</div>


<!-- Add Followup Details Modal -->
<div class="modal fade" id="mdlFeedBack" role="dialog" data-id="">
    <div class="modal-dialog" style="max-width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Feedback Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date</label>
                            <div class="input-group">
                                <input id="txtFlUpDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Lead Status</label>
                            <input id="txtFlUpStatus" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Follow up Date</label>
                            <div class="input-group">
                                <input id="txtFlUpFolDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpFolDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-12">
                        <div class="lm-form-group">
                            <label class="tag-title">Comment</label>
                            <textarea id="txaFlUpComnt" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnFlUpSave" class="ebbtn eb_btn-sm eb_btnblue" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="ebbtn eb_btn-sm eb_btnblue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Billing Details Modal -->
<div class="modal fade" id="mdlBilling" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Total Amount</label>
                            <input id="txtBlngTotal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Amount Received</label>
                            <input id="txtBlngRcvd" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Balance Amount</label>
                            <input id="txtBlngBal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline"></div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Cash Paid</label>
                            <input id="txtBlngPaid" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date</label>
                            <div class="input-group">
                                <input id="txtBlngDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Payment Mode</label>
                            <select id="selBlngMode" class="form-control">
                                <option>Cash</option>
                                <option>Cheque</option>
                                <option>Credit Card</option>
                                <option>RTGS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Bank</label>
                            <input id="txtBlngBank" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Clearence Date</label>
                            <div class="input-group">
                                <input id="txtBlngClrDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngClrDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Narration</label>
                            <input id="txtBlngNarr" type="text" class="form-control" maxlength="30">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBlngSave" class="ebbtn eb_btn-sm eb_btnblue" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="ebbtn eb_btn-sm eb_btnblue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Surgery Details Modal -->
<div class="modal fade" id="mdlSurgery" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Surgery Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date</label>
                            <div class="input-group">
                                <input id="txtSrgyDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtSrgyDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Branch</label>
                            <select id="selSrgyBranch" class="form-control">
                                <option>Kochi</option>
                                <option>Kozhikode</option>
                                <option>Trivandrum</option>
                                <option>Coimbatore</option>
                            </select>
                            @*<input id="txtSrgyBranch" type="text" class="form-control">*@
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Zone</label>
                            <input id="txtSrgyZone" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Grafts</label>
                            <input id="txtSrgyGrafts" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Density</label>
                            <input id="txtSrgyDensity" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Patients Instructions</label>
                            <textarea id="txaPatientInstr" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Doctors Instructions</label>
                            <textarea id="txaDoctorInstr" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSrgySave" class="ebbtn eb_btn-sm eb_btnblue" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="ebbtn eb_btn-sm eb_btnblue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Attach Modal -->
<div class="modal fade" id="mdlAttach" role="dialog">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Images</h4>
            </div>
            <div class="modal-body pd-0">
                <div class="image_up_container_outer_body display-flex pd-0">
                    <div class="col-md-9" style="padding:30px;height:100%;">
                        <input id="image_up_input" type='file' data-preview-file-type='text' multiple />
                    </div>
                    <div class="col-md-3 tag_wrapper">
                        <h4 class="tag-title">Add Tags</h4>
                        <input class="form-control" id="tagsinput_input_comm" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="ebbtn eb_btn-sm eb_btnblue" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade tag_modal_wrapper" id="TagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:12%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="tagsinput_input_modal" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save_tag" id="save_tag">Save</button>
            </div>
        </div>
    </div>
</div>
<style>
    .MyTempColStyle {
        /*white-space: nowrap;
        overflow: hidden;*/
        overflow: visible;
        white-space: normal !important;
        /*text-overflow: ellipsis;*/
        max-width: 200px;
        height: 30px !important;
    }
    /*.MyTempColStyle:hover {
            overflow: visible;
            white-space: normal;
        }*/
</style>




@{
    @using Newtonsoft.Json;
    var CInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CustomerData));
    var CenterInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CostCenter));
    var DocInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.DocDict));
    var StaffInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.StaffDict));

    var CCityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCityList));
    var CCountryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCountryList));
    var CityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CityList));
    var SourceCategoryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.SourceCategoryList));
    var SubCategoryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.SubCategoryList));

    var FeedbackList = (Html.Raw(ViewBag.FeedbackList).ToString() == "") ? "null" : Html.Raw(ViewBag.FeedbackList);
    var BillingList = (Html.Raw(ViewBag.BillingList).ToString() == "") ? "null" : Html.Raw(ViewBag.BillingList);
    var SurgeryList = (Html.Raw(ViewBag.SurgeryList).ToString() == "") ? "null" : Html.Raw(ViewBag.SurgeryList);


}

<script>
    var leadObject = new LeadManagementObj(@ViewBag.AccId, @ViewBag.MC_Mode, @CInfo, @CenterInfo, @DocInfo, @StaffInfo, @FeedbackList, @BillingList, @SurgeryList, @CCityList, @CCountryList, @CityList, @SourceCategoryList, @SubCategoryList );
    var imgup = new ImageRender({
        TenantId:'@ViewBag.cid'
    })
</script>
