@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@section EbHead {
    <script>
    @Html.Raw(ViewBag.HtmlHead);
    </script>
}

<div id='filterBox'>
    @Html.Raw(ViewBag.HtmlBody)
</div>

<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">

<script>

    $(document).ready(function () {
        initFilterDialogCtrls($('#filterBox'));
    });

    function initFilterDialogCtrls($filterBox) {
        this.$filterBox = $filterBox;
        $.each(this.$filterBox.children('div'), function (k, cObj) {
            if ($(cObj).attr('ctype') === 'Date') {
                var $input = $(cObj).children().find('input');
                $input.datetimepicker({ timepicker: false, format: "Y-m-d" });
                $input.next().children('i').off('click').on('click', function () { $input.datetimepicker('show'); });
            }
        }.bind(this));
    }
</script>