@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@section EbHead {
    <script>
        @Html.Raw(ViewBag.HtmlHead);
    </script>

}

<div id='filterBox' class="filter-box">
    @Html.Raw(ViewBag.HtmlBody)
    <button class="filter-run" id="btnGo"><i class="fa fa-play" aria-hidden="true"></i></button>
</div>

<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">

<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script src="https://rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js"></script>
<script src="~/js/Eb_Basic_DataTable.js"></script>
<script src="~/js/FilterDialogBuilder/Eb_FilterDialogRender.js"></script>

<style>
    .ds-cont .filter-box {
        padding: 1px;
    }

    .filter-box .input-group-addon {
        border-radius: 0px;
        border: 0px;
    }

    .filter-box .filter-run {
        border: none;
        color: white;
        background-color: #369;
        padding: 4px 12px;
        float: right;
        border-radius: 2px;
    }

        .filter-box .filter-run:hover {
            background-color: #247;
        }

    .filter-box .search-wraper {
        border: solid 1px #ddd;
    }
</style>

<script>
    //$(document).ready(function () {
    @Html.Raw(ViewBag.ControlOperations);
    var fobj = @Html.Raw(ViewBag.FilterObj);
    var FilterDialog = new Eb_FilterDialogRender(fobj);

    //});
</script>