@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@Html.Raw(ViewBag.HtmlHead);

<div style='margin-top:10px;' id='filterBox'>
    @Html.Raw(ViewBag.HtmlBody);
</div>
