body {
    font-family: Arial;
    font-size: 10pt;
}

.borderstyle {
    border: 2px solid #9092dc;
    border-radius: 5px;
    border-width: 1px;
}

#hdbar a {
    color: black;
}

#subkeydiv a {
    color: black;
}

.pading0 {
    padding-left: 0;
    padding-right: 0;
}

.txtboxwidth {
    width: 98%;
    display: inline;
    height: auto;
    margin: 0;
    /*box-shadow: none;*/
    border-radius: 0;
    /*background-color: transparent;*/
    border: 0;
    cursor: auto;
    border-color: #080808;
}

    .txtboxwidth:focus {
        outline: none !important;
    }

.margin0 {
    margin-top: 7px;
}

.marginleft {
    margin-left: 10px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.btnbackground {
    background-color: #157490;
    color: white;
    border-color: #10a8d6;
}

.borders {
    /*display: inline-block;*/
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.infodiv {
    background-color: lightgrey;
    width: 300px;
    height: 200px;
    border: 10px solid;
    border-color: #a4a3ad;
    padding: 25px;
    margin: 25px;
}

.column2 {
    float: right;
    width: 75%;
    padding: 10px;
}

.noscrol {
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrol {
    width: 25%;
    overflow: auto;
    outline: 0px;
    position: relative;
    height: 568px;
    /*overflow-y: scroll*/;
    overflow-x: hidden;
    word-wrap: break-word;
}

.scrol_2 {
    overflow: auto;
    outline: 0px;
    position: relative;
    height: 200px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.scrol_3 {
    overflow-y: auto;
    outline: 0px;
    position: relative;
    height: 100px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.resizes {
    resize: horizontal;
    min-width: 20%;
}

.scrol_1 {
    width: 100%;
    overflow: scroll;
    outline: 0px;
    position: relative;
    height: 470px;
    /*overflow-y: scroll;*/
    word-wrap: break-word
    /*overflow-x: hidden;*/
    /*width: 10%;*/
}

.scrol_0 {
    width: 100%;
    overflow: auto;
    outline: 0px;
    position: relative;
    max-height: 480px;
    word-wrap: break-word
}

.scrol_4 {
    overflow: auto;
    outline: 0px;
    position: relative;
    height: 300px;
    /*overflow-y: scroll*/;
    overflow-x: hidden;
    word-wrap: break-word;
}
/* horizontal panel*/
.li_select {
    background: #bbd5ec;
}

.li_select1 {
    background: red;
}

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    /* avoid browser level touch actions 
    xtouch-action: none;*/
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    min-width: 25%;
}

.splitter {
    flex: 0 0 auto;
    width: 10px;
    /*background: #535353;*/
    /*min-height: 200px;*/
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}



.ui-menu .ui-menu-item a {
    background: red;
    width: 50%;
    height: 10px;
    font-size: 8px;
}

.ui-autocomplete {
    height: 70%;
    width: auto;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #1f2b31;
    background: #1f2b31;
    color: aliceblue;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}


    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }


.list-group-hover .list-group-item:hover {
    background-color: #dfe5ea;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}





.Grid {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

    .Grid th {
        background-color: #F7F7F7;
        font-weight: bold;
    }

    .Grid th, .Grid td {
        padding: 5px;
        border: 1px solid #ccc;
    }

    .Grid, .Grid table td {
        border: 0px solid #ccc;
    }

        .Grid th a, .Grid th a:visited {
            color: #333;
        }

.toolbox ul {
    margin: 0;
}

.toolbox.branch ul {
    margin-left: 4px;
}

.toolbox i {
    margin-right: 5px;
}

/*prety_jsonWrpr overrider*/
.prety_jsonWrpr {
    width: 100%;
    height: 100%;
    font-family: open sans;
    font-weight: 600;
    background: #f2f2f2;
    padding: 5px 10px;
}

.hdrtabs .nav-tabs {
}

.hdrtabs li a {
    border-color: blue;
    background-color: #336699;
    color: white;
}

    .hdrtabs li a:hover {
        background-color: #22508a;
        color: #FFFFFF;
    }

    .hdrtabs li a:focus {
        background-color: #22508a;
        color: #FFFFFF;
    }

.hdrtabs .nav .open a, .nav .open a:hover, .nav .open a:focus {
    background-color: #22508a;
    border-color: none;
}

.hdrtabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: #22508a;
    border: 1px solid blue;
    border-bottom-color: transparent
}

.hdrtabs .nav-tabs li.active a {
    color: #FFFFFF;
    cursor: default;
    background-color: #22508a;
    border: 1px solid blue;
    border-bottom-color: transparent
}

#diffBar {
    width: 3%;
    height: 100%;
    float: left;
    position: relative;
    background: #DDDDDD;
}

.diffBarLineLeft, .diffBarLineRight {
    width: 50%;
    float: left;
    height: 0px;
    cursor: pointer;
}

.inView {
    background-repeat: repeat;
}

#activeBar {
    position: absolute;
    top: 0px;
    background-color: #6699FF;
    opacity: 0.5;
    filter: alpha(opacity= '50');
}


#diffBox {
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #000000;
}


.leftPane, .rightPane {
    float: left;
    width: 50%;
    font-family: monospace;
    height: 400px;
    color: black;
    overflow-x: scroll;
}

.leftPane {
    border-right: solid 1px #bbb4b4;
}

.rightPane {
    border-left: solid 1px #bbb4b4;
}

.diffHeader {
    font-weight: bold;
    padding: 2px 0px 2px 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.diffPane {
    margin-right: 0px;
    padding: 0px;
    overflow-y: scroll;
    font-family: Consolas;
    font-size: xx-small;
    background-color: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
}

    .diffPane table {
        width: 100%;
    }

.line {
    padding-left: .2em;
    white-space: nowrap;
    width: 50%;
}

.lineNumber {
    padding: 0 .3em;
    background-color: #FFFFFF;
    //text-align: center;
}

.InsertedLine {
    background-color: lightgreen;
}

.ModifiedLine {
    background-color: lightyellow;
}

.DeletedLine {
    background-color: lightpink;
}

.UnchangedLine {
    background-color: #FFFFFF;
}

.ImaginaryLine {
    background-color: #C8C8C8;
}

.InsertedCharacter {
    background-color: palegreen;
}

.DeletedCharacter {
    background-color: hotpink;
}

.UnchangedCharacter {
}

.ImaginaryCharacter {
}

.clear {
    clear: both;
}

#oldtext .diffTable {
    width: 50%;
    height: 50%;
    padding-left: 0px;
    overflow-y: scroll;
}

#newtext .diffTable {
    width: 50%;
    height: 50%;
    padding-right: 0px;
    overflow-y: scroll;
}

.ViewCode_btn {
    width: 32px;
    height: 37px;
    background: #5dddd3;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.fd-loader {
    position: absolute;
    color: dodgerblue;
    display: inline-block;
    top: 6px;
    height: 100%;
}
