/*new location*/
.new_location_bdy {
    float: left;
    width: 100%;
}
.new_location_bdy .form-group {
    float:left;
    width:100%;
}
.create_loc_mod{
    font-family:open sans;
}
.location_conf .btn_container {
    margin-bottom: 15px;
    width:100%;
}
.location_conf .btn_container .btn{
    margin-left: 15px;
}
#textspace table thead {
    background-color: #055d9c;
    color: white;
}
#textspace table td, #textspace table th {
    font-size: 14px;
}
.fa-green{
    color:darkgreen;
}
#locspace .logo_img_cont {
    height: 34px !important;
}
.locsImage img{
    width:100%;
}
.loc_tile{
    background-color:white !important;
    cursor:pointer;
}
/*solution-dash_loaders*/
.dbConnection_loder {
    bottom: 0;
    left: 0;
}
.relative{
    position:relative;
}
/*billing*/
.billing_wrap {
    font-family: open sans;
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    float: left;
    width: 100%;
    line-height: 2.4rem;
}
    .billing_wrap .head__ {
        margin-bottom: 15px;
    }
    .billing_wrap .s-dash-workplace {
        width: 100%;
        padding: 0;
    }
        .billing_wrap .s-dash-workplace .s-dash-workplace-tabs {
            background: white;
            min-height: unset;
            box-shadow: unset;
        }
    .billing_wrap .s-dash-workplace .nav > li {
        width: unset;
    }
        .billing_wrap .s-dash-workplace .tab-content {
            padding: 0;
            float: left;
            width: 100%;
            border: 2px solid #dddddd;
            border-top: none;font-weight:400;
        }
    .billing_wrap .paypal_btn {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        background-color: #1664e0;
        color: white;
        margin: 15px 0;
    }
    .billing_wrap .s-dash-workplace .tab-pane {
        padding: 30px;
    }
    .billing_wrap .credit_info_head {
        width: 100%;
        float: left;
    }
    .billing_wrap .credit_info {
        display: none;
        width: 66%;
        float: left;
        margin-top: 40px;
        margin-left: 17%;
        padding: 30px;
        border: 1px solid #dddddd;
        transition: all .5s;
        border-radius: 5px;
    }
        .billing_wrap .credit_info .form-horizontal {
            padding: 0 15px;
        }
/*Tenant header css*/
.tenant_sidebar {
    width: 100px;
}
/*.tenant_workpane {
    width: calc(100% - 100px);
}*/
.tenant_sidebar .t-container {
    padding-top: 0 !important;
}
.t_a {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    line-height: 2.2em;
}
    .t_a:hover, .t_a:focus {
        text-decoration:none;
    }
.t__sidebar_icon {
    color: #fdfbfb;
    font-size: 30px;
}
.t__sidebar_text {
    color: #d2d0d0;
    font-size: 15px;
}
/*solution dash*/
.eb_connection_wrapper {
    float: left;
    width: 100%;
    display:flex;
    /*overflow-x:auto;*/
    flex-flow:wrap;
}

.pdt-5 {
    padding-top: 5px;
}

.chormer-effect {
    background: white !important;
    border: none;
}

    .chormer-effect.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none !important;
        //text-decoration: underline;
    }

    .chormer-effect > li > a {
        padding: 9px 12px !important;
    }

.connection_wrap_outer {
    padding: 5px;
    width: 16.6666666667%;
}

    .connection_wrap_outer {
        position: relative;
        /*width: 50%;*/
    }

    .image-vender {
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        transition: .5s ease;
    }

    .image-add {
        position: absolute;
         /*top: 79px; 
        bottom: 9px;
         left: 71px; 
        right: 0;*/
        height: 73%; 
        width: 63%; 
        opacity: 0;
        transition: .5s ease;
        background-color: white; 
        /*margin-right: 15%;
        margin-bottom: 14%;*/
    }

    .connection_wrap_outer:hover .image-add {
        opacity: .7;
        z-index:100;

    }
    /*.connection_wrap_outer:hover .image-vender {
        opacity: 1;
    }*/

    .image-add .fa-plus-square {
        color: #44a00c;
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-add .fa-coming-soon {
        color: #000000;
        font-size: 27px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight:800;
    }
    .image-add .fa-coming-soon:before {
        content: "";
    }


    .connection_wrap {
    display: flex;
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    /*background-color: #f2f2f2;*/
    flex-direction: column;
}
        .connection_wrap .connection_wrap_header {
            padding: 10px 41px;
            display: flex;
            margin: auto;
            min-height: 110px;
        }
    
    .vend_img {
        margin-left: 24px;
        height: 40px;
    }

    .db_vendorimg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


.inteConfContainer {
    width: 23%;
    height: 73px;
    float: left;
    padding: 7px;
    display: flex;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
    box-shadow: 0 3px 9px rgba(0,0,0,.05);
    background-color: white;
    border-radius: 5px;
}
    .inteConfContainer:hover {
        background-color: #f2f2f299;
    }

    .context-menu-active {
        background-color: #f2f2f2;
    }
    .inteConfContainer .inteConfContainer_Image {
        width:32%;
        margin:auto;
    }

    .inteConfContainer_NN{
        width:50%;
        margin:auto;
    }

    .inteConfContainer_caret-down{
        width:4%;
        margin:auto;
    }
    .inteConfContainer:hover .inteConfContainer_caret-down {
        transform: scale(2);
        transition: all .75s;
    }




.integrationbody {
    font-size: 14px;
}
.integrationContainer {
    width: 23%;
    height: 73px;
    float: left;
    padding: 7px;
    display: flex;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
    box-shadow: 0 3px 9px rgba(0,0,0,.05);
    background-color: white;
    border-radius: 5px;
}

    .integrationContainer:hover {
        background-color: #f2f2f2;
    }

    .integrationContainer .context-menu-active {
        background-color: #f2f2f2;
    }

    .integrationContainer .integrationContainer_Image {
        width: 32%;
        margin: auto;
    }

    .integrationContainer_NN {
        width: 50%;
        margin: auto;
        display:grid;
    }
    .integrationContainer_NN .PF_span {
        font-weight: 100;
    }

    .integrationContainer_caret-down {
        width: 4%;
        margin: auto;
    }













.tab {
    float: left;
    //border: 5px solid #ccc;
    //background-color: #f1f1f1;
    width: 20%;
    height: 470px;
}
    .tab button {
        display: block;
        background-color: inherit;
        box-shadow: 0 3px 10px rgba(0,0,0,.05);
        color: black;
        padding: 10px 24px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }
        

    .tabcontent {
        float: left;
        padding: 0px 12px;
      //  border: 1px solid #ccc;
        width: 80%;
        border-left: none;
        height: 100%;
    }
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
    .grayscale:hover::after {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "coming soon";
        justify-content: center;
        align-items: center;
        background-color: #3c3c3c;
        font-size: 20px;
        font-weight: 400;
        opacity: 0.4;
        color: white;
    }
    /*appdash*/
    .appcontainer{
        float:left;
        padding:5px;
    }
.appcontainer_inner {
    display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #f2f2f2;
    color: #4a4747;
    text-decoration: none !important;
    padding: 10px 5px;
}
.appcontainer_inner .flex-center{
    font-size:27px;
}
.txtdecor_none{
    text-decoration:none;
}
.appcontainer_inner:hover {
    background-color: #f3f8ff !important;
}
/*locswitch*/
.loc_switchModal {
    display: none;
    font-family: open sans;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.display-flex{
    display:flex;
}
.loc_switchModal_box {
    background: white;
    box-shadow: var(--eb-shadow);
    min-width: 60%;
    display: flex;
    flex-direction: column;
    font-family: open sans;
    border-radius: 6px;
    max-width: 60%;
}
.loc_switchModal_outer{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;align-items:center;
}
.loc_switchModal_box .locs_head {
    padding: 10px 20px;
    background: #ececec;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e2e0e0;
}
/*new loc window styles*/
    .loc_switchModal_box .locs_head .loc_searchInput {
     display: flex;
        align-items: center;
    }
    .loc_switchModal_box .locs_head .loc_searchInput:before {
        content: "\f002";
        font-family: FontAwesome;
        position: absolute;
        margin-left: 10px;
    }
.loc_switchModal_box .locs_head .loc_searchInput input{
    height: 40px;
    padding-left: 35px;
}
.loc-item {
    padding: 5px;
    width:33.3%;
    float:left;
}
.loc-item-inner {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    display: flex;
}
    .loc-item-inner:hover {
        background: #508bf9;
        color: white;
        cursor:pointer;
    }
        .loc-item-inner:hover .subtitle {
            color:white;
        }
.loc-item-imgsec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
    .loc-item-imgsec img {
        height: 30px;
        border-radius: 4px;
    }
.loc-item-content {
    line-height: 1.8em;
    flex: 1;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:10px;
}
.loc-switchbtn {
    background: #508bf9;
    color: white;
}
.subtitle {
    font-size: 13px;
    color: #7d7b7b;
}
.active-loc {
    background-color: #508bf9;
    color:white;
}
    .active-loc .subtitle{
        color:white;
    }
.loc_switchModal_box .locs_bdy {
    overflow: auto;
    padding: 15px 15px 5px 15px;
    max-height: 50vh;
    overflow-y: auto;
    min-height: 50vh;
}
.loc_switchModal_box .locs_foot {
    padding: 10px 20px 10px 10px;
}
.loc_switchModal_fade {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: .5;
}
.no_loc_config {
    display:none;
    position: absolute;
    align-self: center;
    top: 47%;
}
/*app store*/
.exp_apps {
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.ftr_exp_apps {
    background: white;
    border-top: 1px solid #e8e8e8;
    padding: 5px;
}
.l-h1_2{
    line-height:1.2rem;
}
.share_to_pub_info {
    padding: 15px 15px;
    background-color: #f2f2f2;
}
.share_to_pub_info label{
    font-weight:400;
}
.share_to_publicWraper .app_profile {
    margin-top: 50px;
}

.share_to_publicWraper .bootstrap-tagsinput {
    width: 100%;
}

.share_to_publicWraper .vdeo_lnks_main .label-info {
    background-color: #676a8e;
}

.share_to_publicWraper .tags_main .label-info {
    background-color: #676a8e;
}

.share_to_publicWraper #store_nav .nav > li > a {
    padding: 5px 15px;
}

.share_to_publicWraper #store_nav {
    padding-top: 30px;
    margin-top: 19px;
}

.share_to_publicWraper .note-editable {
    height: 255px;
}

.share_to_publicWraper table tr td {
    border: 1px solid #ccc;
    padding: 0;
    vertical-align: middle;
}
.mr-r-10{
    margin-right:10px;
}
.border-none{
    border:none;
}
.h-100{
    height:100%;
}
pd-10{
    padding:5px !important;
}
.mr-b-15{
    margin-bottom:15px;
}
/*appstorepublic*/
.fd_As_hd {
    position: fixed;
    padding: 15px;
    /*background-color: #0280db;*/
    color: white;
    font-family: Montserrat;
    font-weight: 500;
}
.font_wmed{
    font-weight:400;
}
.as_search_in input {
    height: 55px;
    font-size: 20px;
    border-left: none;
    box-shadow: none;
}
.as_search_in span {
    height: 55px;
    font-size: 20px;
    background: white;
    border-right: none !important;
    color: #b5b2b2;
}
.as_search_in input:focus{
outline:none;
}

/*dashboras sidebar*/
.menuwrapper_ul_outer {
    padding-left: 0;
    list-style: none;
}

    .menuwrapper_ul_outer .outer_li {
        border-radius: 0 !important;
        border: none !important;
        font-weight: 400;
        color: #4d4a4e !important;
        background-color: transparent;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
/*dashboras sidebar end*/
/*for app dashboard*/
.appdash_obj_container .obType_wrapper_head {
    padding: 5px;
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 6px;
}

    .appdash_obj_container .obType_wrapper_head .btn {
        padding: 0;
        margin-right: 5px;
    }

.appdash_obj_container .collapse_headBG {
    background-color: #ffffff;
    color: #191717;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

    .appdash_obj_container .collapse_headBG .btn {
        color: #262729 !important;
    }

.appdash_obj_container .brd {
    border: 1px solid #cccaca;
    padding: 0;
}

.appdash_obj_container .btn_container {
    display: inline-block;
}

.appdash_obj_container .drp_menuitems {
    padding: 5px;
}
.drp_menuitems{
    padding:5px 0;
}
.appdash_obj_container .objContainer_f_app {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
}

.appdash_obj_container .objContainer2 {
    width: 100%;
    float: left;
    box-shadow: var(--eb-shadow);
    border-radius: 2px;
}

.appdash_obj_container .obtype_container {
    width: 100%;
    float: left;
    padding: 5px;
    background-color: white;
}

.appdash_obj_container .label_container {
    width: 100%;
}

    .appdash_obj_container .label_container span {
        background-color: #eaeaea;
        color: #369;
    }

.appdash_obj_container .objitems h4 {
    margin: 3px 0 2px;
    color: black;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
}

.appdash_obj_container .objitems p {
    margin: 0;
    height: 17px;
    font-size: 11px;
    text-overflow: ellipsis;
}

.appdash_obj_container .objitems {
    padding: 9px 9px;
}

    .appdash_obj_container .objitems .object_container {
        width: 100%;
        height: 100%;
        float: left;
        background-color: white;
        padding: 6px;
        border-radius: 2px;
        border: 1px solid #e8e6e6;
    }

.appdash_obj_container .objContainer2 {
    width: 100%;
    float: left;
    box-shadow: none;
}

.appdash_obj_container .obj_count, .Eb_quick_menu .obj_count {
    margin-left: 0.4em;
}

.shrtcurt_info {
    position: absolute;
    width: 100%;
    color: white;
}

.appdash_obj_container .objContainer2 .obType_wrapper_head {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
}

.appdash_obj_container .btn_container {
    margin-left: auto;
}

.appdash_obj_container .collapse_headBG {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.appdash_obj_container .objContainer2 .btn_container .form-control {
    height: 28px !important;
}

.appdash_obj_container .objitems .object_container {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #f2f2f2;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #e8e6e6;
}

    .appdash_obj_container .objitems .object_container:hover {
        background-color: #f3f8ff;
    }

/*marker for export*/
.ExportMark {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 0;
    margin: 0;
    display: none;
}

.appdash_obj_container .objitems .object_container:hover .ExportMark {
    display: block;
}

.appdash_obj_container .objitems .object_container .ExportMark:checked {
    display: block;
}

.appdash_obj_container .raw {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-right: 5px;
}

.obtypeic {
    width: 25px;
    font-size: 15px;
}

.bg-gradient-9 {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
}
/*export button end*/