body {
    --eb-blue: #339bb3;
    --eb-grey:#efefef;
    --eb-font:open sans;
    --eb-fontweight-light:300;
    --eb-grey2:#fafafa;
}
.btn-orange {
    background: #f37e1a;
    color: white;  
    padding: 6px 25px 6px 25px;
    border-radius: 20px;
    border: 2px #f37e1a;  
    margin:0px 5px 0px 5px;
}
.btn-orange:hover{
    background: #f37e1a;
    color: white;
}
.btn-blue {
    background: #4aade3;
    color: white;
    padding: 6px 25px 6px 25px;
    border-radius: 20px;
    border: 2px #f37e1a;
    margin: 0px 5px 0px 5px;
}
.btn-blue:hover {
    background: #4aade3;
    color: white;
}
.eb-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pd-0 {
    padding: 0;
}
.mr-t-0{
margin-top:0;
 }

.pd-r-0 {
    padding-right: 0
}

.mr-t-50 {
    margin-top: 50px;
}

.pd-l-0 {
    padding-left: 0
}

/*ProfileSetup*/

.outer-row-profsetup {
    height: 100vh;
    padding-top: 40px;
    font-family: open sans;
    font-weight: 300;
    background: #efefef;
}

    .outer-row-profsetup label {
        font-weight: 300;
    }

    .outer-row-profsetup .profSetupSec {
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

        .outer-row-profsetup .profSetupSec .form-horizontal {
            padding: 0px 70px 15px 70px;
        }

    .outer-row-profsetup .set-form-head {
        width: 100%;
        background: #339bb3;
        color: white;
        font-size: 20px;
        padding: 10px;
    }

        .outer-row-profsetup .set-form-head img {
            height: 100%;
            float: right;
            display: inline-block;
            background: white;
        }

    .outer-row-profsetup .set-form-head-name {
        display: inline-block;
    }

    .outer-row-profsetup .cropie {
        max-width: 100%;
        height: 500px;
        padding-bottom: 50px;
    }

    .outer-row-profsetup .skip-btn {
        border: none;
        background: none;
    }

    .outer-row-profsetup .savebtn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

        .outer-row-profsetup .savebtn .btn {
            font-family: open sans;
            font-weight: 300;
            color: #fff;
            background-color: #339bb3;
        }

    .outer-row-profsetup .profimage {
        text-align: center;
        padding: 20px;
    }

        .outer-row-profsetup .profimage .p-st-dp {
            height: 100px;
        }

.prof-setup-cropie .loginmodal-container {
    max-width: 500px;
    height: 400px;
    padding-bottom: 50px;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
/*ProfileSetup end*/
/*tdashboard*/
.tdasboard-sidebar {
    height: 100vh;
    padding: 0;
    position: fixed;
    /*background: #fbfbfb;*/
}

.t-container {
    height: inherit;
    width: 100%;
    padding-top: 30px;
    color: #666666;
    font-family: open sans;
}

    .t-container .list-group-item {
        padding: 10px 15px;
        padding-right: 0;
        margin-bottom: -1px;
        background-color: transparent;
        border: none;
    }

.t-dash-workplace {
    font-family: open sans;
    font-weight: 300;
}
.tdash-box {
    /*background: white;*/
    width: 100%;
}

.tdash-box-head {
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    /*background: #339bb3;*/
    /*color: white;*/
}

.tdash-box-body {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.tdash-sol-box {
    width: 150px;
    border: 1px solid #ccc;
    margin-right: 15px;
    background: white;
}

.tdash-icon {
    width: 30px;
}

.newsolution-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tr-on-hov {
    visibility: hidden;
    display: inline-block;
    float: right;
    border: 15px solid #f2f2f2;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    margin-top: -7px;
}

.solutionhead {
    width: 100%;
    /* height: 100px; */
    background: #339bb3;
    padding: 10px;
    color: white;
}

.solutionbdy {
    text-align: center;
}
.solution-footer-new {
    text-align: center;
    margin-top: 30px;
}
/*tdashboard end*/
/*solution dashboard */
.s-dash-solution-desc {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.s-dash-container {
    min-height: 100vh;
}
.s-dash-workplace {
    font-family: open sans;
    font-weight: 300;
    padding: 30px 10px 0px 0px;
}
    .s-dash-workplace .s-dash-workplace-tabs {
        background: white;
        min-height: 80vh;
        border-radius: 4px;
    }
    .s-dash-workplace .nav-tabs {
        border-bottom: 2px solid #DDD;
    }

    .s-dash-workplace .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }
    .s-dash-workplace .nav > li{
       width:25%;
    }

    .s-dash-workplace .nav > li > a {
        padding: 15px 15px;
        font-size: 14px;
        text-align: center;
        border: none;
        color: #666;
    }

    .s-dash-workplace .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        color: #4285F4 !important;
        background: transparent;
    }
    .s-dash-workplace .nav-tabs > li > a::after {
        content: "";
        background: #4285F4;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }
   .s-dash-workplace .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }
    .s-dash-workplace .tab-nav > li > a::after {
        background: #21527d none repeat scroll 0% 0%;
        color: #fff;
    }
    .s-dash-workplace .tab-content {
       padding:10px;
    }
    .s-dash-workplace .solution-logo{
        width:100%;
    }
    .s-dash-workplace .tab-pane {
        padding:10px;
    }
.s-dash-container .connectons-container {
    width: 100%;
    margin-bottom: 10px;
}
.s-dash-headComm {
    width: 100%;
    padding: 5px;
    background: #336699;
    color: white;
}

.s-dash-bodyComm {
    width: 100%;
}
    .s-dash-bodyComm thead {
        background: #efefef;
    }
    .s-dash-bodyComm td {
        border: 1px solid #adaaaa;
        padding:0 !important;
    }
    .s-dash-bodyComm .form-control {
        border: none;
        border-radius: 0;
        -webkit-box-shadow:none;
         box-shadow:none; 
        -webkit-transition:none;
        -o-transition: none;
        transition:none;
    }
    .s-dash-bodyComm .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: none; 
        text-align: center;
        font-weight: 400;
        border: 1px solid #adaaaa;
    }
.table-btn {
    background-color: transparent;
}
.s-dash-bodyComm .edit-row {
    width: 100px;
    text-align:center;
}

/*tenant add solution*/
.pd-0 {
    padding: 0;
}

.eb-flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.Eb-product-container-bdy {
    padding-bottom: 15px;
    background: white;
    padding-top: 15px;
    text-align: center;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
}

.pro-icon-bx {
    padding: 0;
}

    .pro-icon-bx img {
        height: 50px;
        margin: auto;
    }

.pro-name-bx {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.client-id-sec {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

    .client-id-sec p {
        margin-top: 10px;
        font-size: 13px;
    }

.input-clientId {
    width: 69%;
    display: inline-block;
}

.clientId-auto {
    font-size: 14px;
    color: #9e9e9e;
    display: inline;
}

.pricing-icon img {
    height: 40px;
}

.T-add-amount {
    font-size: 17px;
    color: #8e8282;
    font-weight: lighter;
}

.pricing-container {
    padding: 10px;
}

.tadd-pricing-head {
    text-align: center;
    color: #797878;
    font-weight: 100;
}

.eb-common-price-modal-container {
    padding: 15px;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

#eb-common-price-modal .modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
/*cdgfdjhdtjykuflkjyh*/
.tAddAcc {
    font-family: open sans;
    font-weight: 300;
    background-color: #f8f8f8;
}

    .tAddAcc .btn {
        border-radius: 0;
        background: white;
        border: 1px solid #e1e0e0;

    }
        .tAddAcc .btn:focus {
            border: none;
            outline: none;
        }

    .tAddAcc .form-control {       
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .tAddAcc .detailsec {
        margin-top: 50px;
    }

.detailsec-name {
    height: inherit;
}

.btn-upload i {
    pointer-events: none !important;
}

.detailsec-form {
    height: inherit;
}

.eb-products {
    margin-top: 30px;
}

.products-head {
    margin-top: 40px;
    color: #3ea8dc;
    font-family: sans-serif;
}

.detailsec-name-desc {
    text-align: center;
}

.pricing-modal-btn {
}

.add-accPricing-sec-table {
    background: white;
}

    .add-accPricing-sec-table .btn {
        background: white;
        border: 1px solid #e1e0e0;
        font-size: 12px;
    }

    .add-accPricing-sec-table td {
        text-align: center;
        cursor: pointer;
    }

.tAddAcc table td {
    vertical-align: central !important;
    width: 200px;
}

.logo-upload-container {
    padding: 10px 40px 0px 40px;
    border-radius: 4px;
}

.logo-upload {
    background: white;
    height: 130px;
    border: 1px solid #d7d7d7;
}

.eb-cropper .modal-dialog {
    width: 500px;
    margin: 100px auto;
}

.eb-cropper .eb-cropie-container {
    height: 350px;
    padding: 50px 50px 80px 50px;
    background: white;
    border-radius: 4px;
}

.subscribed {
    background: #69ea69;
    border: none;
}

.price-selected .T-add-amount {
    font-size: 17px;
    color: #ffffff;
    font-weight: lighter;
}

.price-selected {
    background: #69ea69;
    border: none;
}

#save-subscrip {
    background: var(--eb-blue);
}

.popover-clientid-edit {
    display: none;
    background: #3ea8dc;
    position: fixed;
    z-index: 10000;
    top: 40vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    /* height: 150px; */
    padding: 20px;
    border-radius: 4px;
}

    .popover-clientid-edit .popover-text {
        width: 100%;
        height: 78px;
        color: white;
        font-size: 16px;
    }

    .popover-clientid-edit .btn-section .btn {
        display: inline-block;
        color: #8c8989;
        border-radius: 4px;
        background: white;
        border: none;
    }

.height-100 {
    height: 100vh;
    padding-top: 50px;
}

.card {
    padding-top: 30px;
    display: flex;
    height: 100%;
    overflow-x: auto;
    padding-bottom: 30px;
    overflow-y: hidden;
}

.card--content {
    background: white;
    border: 1px solid #ccc;
    min-width: 60%;
    
    border-radius: 6px;
    height: 100%;
}

.card--content-large {
    background: white;
    border: 1px solid #ccc;
    min-width: 80%;
    margin: 5px;
    border-radius: 6px;
    height: 100%;
}

.card--form {
    height: 100%;
}

.none {
    min-width: 20%;
   
    margin-top: 50px;
}

.mr-l-20 {
    margin-left: 20%;
}
.mr-l-15 {
    margin-left: 15%;
}
.mr-l-10 {
    margin-left: 10%;
}

.desc-section {
    background: #fafafa;
    height: 100%;
    padding: 15px;
}

.products-head {
    margin-top: 0px;
    padding: 10px 0px;
    height: 50px;
}

.card--content-body {
    height: calc(100% - 100px);
    padding-top: 20px;
}

.card--content-footer {
}

.steps {
    width: 100%;
    text-align: center;
}

.step-no {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #ccc;
    margin: 5px;
    padding: 3px;
}

.step-no-blue {
    border-color: #3ea8e2;
}

.card--content-footer .btn {
    background: #4aade3;
    color: white;
    border-radius: 20px;
}

.card--content-footer .btn-success {
    background: green !important;
}

.subscript-submit {
    margin-top: 15px;
}

.company-logo {
    margin-top: 10px;
}

.company-logo {
    height: 80px;
}

.pro-icon-bx img {
    height: 50px;
    margin: auto;
}


.small-desc{
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: open sans;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: open sans;
}

.small-desc-last {
    height: calc(100% - 75px);
    padding-top: 30px;
}

.small-desc h4, p {
    color: #6f6d6d;
}

.small-desc-img {
    width: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.sol-name-review {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    resize: none;
    width: 100%;
}

.plan-label {
    width: 120px;
}

.plan-details {
    display: inline;
}

.tot-container {
    height: 50px;
}

.eb-sub-tot {
    font-size: 42px;
    text-align: center;
    color: #4aade3;
    font-weight: 600;
}

.total-head {
    display: flex;
    align-items: flex-end;
    height: inherit;
    font-size: 20px;
    text-align: right;
}

.logo-upload-sec {
    height: 87%;
}

.log-upload-btn {
    background: #4aade3 !important;
    color: white;
    border-radius: 20px !important;
}
/*t addaacc latest----*/
.sol-info{
    display:none;
}
.prod-info{
    display:none;
}
.prof-info-skip{
    display:none;
}
.profimage {
    text-align: center;
    padding-top: 4%;
}
    .profimage img {
        height: 90px;
    }
.company-logo-cont {
    padding-left: 0;
    border: 1px solid #ccc;
}
    /*common message box*/
.eb-mesageBox {
    position: fixed;
    padding: 10px;
    width: auto;
    border: 3px solid #25d012;
    color: #25d012;
    font-family: open sans;
    font-weight: 600;
    top: 30%;
    right: 5px;
    white-space: nowrap;
    padding-top: 3px;
    display: none;
}
    .eb-mesageBox .mesageBox-head {
        padding-bottom: 20px;
        width: 100%;
        height: 15px;
    }
.eb-mesageBox-error {
    position: fixed;
    padding: 10px;
    width: auto;
    border: 3px solid #eb561e;
    color: #eb561e;
    font-family: open sans;
    font-weight: 600;
    top: 30%;
    right: 5px;
    white-space: nowrap;
    padding-top: 3px;
    display: none;
}
/*common message box end*/
.display-inline{
    display:inline-block;
}
.solutiondetails-app {
    border-bottom: 1px solid #909090;
    margin-bottom: 20px;
}
.SolUrl {
    font-size: 12px;
    font-style: italic;
}
.app-info{
    display:none;
}

.apps-wrapper {    
    padding: 15px;
    cursor:pointer;
}
.apptype {
    width: 100%;
    height: 35px;   
    margin: 10px;
}
.apps-wrapper-fchiled {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appselected{
    outline:2px solid #4285F4;
}
/*confirmation for solution*/

.confTo-solution .modal-dialog {
    width: 500px;
    margin: 100px auto;
}

.confTo-solution .confTo-solution-container {
    height: 210px;
    padding: 50px 50px 50px 50px;
    background: white;
}
.confTo-solution .confTo-solution-inner{
    height:100%;
}
.confTo-solution .heading{
    height:70%;
}
.confTo-solution .form-inline {
    height: 30%;
}
