body {
    --eb-blue: #339bb3;
    --eb-grey:#efefef;
    --eb-font:open sans;
    --eb-fontweight-light:300;
    --eb-grey2:#fafafa;
}
.btn-orange {
    background: #f37e1a;
    color: white;  
    padding: 6px 25px 6px 25px;
    border-radius: 20px;
    border: 2px #f37e1a;  
    margin:0px 5px 0px 5px;
}
.btn-blue {
    background: #4aade3;
    color: white;
    padding: 6px 25px 6px 25px;
    border-radius: 20px;
    border: 2px #f37e1a;
    margin: 0px 5px 0px 5px;
}
.eb-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pd-0 {
    padding: 0;
}
.mr-t-0{
margin-top:0;
 }

.pd-r-0 {
    padding-right: 0
}

.mr-t-50 {
    margin-top: 50px;
}

.pd-l-0 {
    padding-left: 0
}

/*ProfileSetup*/

.outer-row-profsetup {
    height: 100vh;
    padding-top: 40px;
    font-family: open sans;
    font-weight: 300;
    background: #efefef;
}

    .outer-row-profsetup label {
        font-weight: 300;
    }

    .outer-row-profsetup .profSetupSec {
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

        .outer-row-profsetup .profSetupSec .form-horizontal {
            padding: 0px 70px 15px 70px;
        }

    .outer-row-profsetup .set-form-head {
        width: 100%;
        background: #339bb3;
        color: white;
        font-size: 20px;
        padding: 10px;
    }

        .outer-row-profsetup .set-form-head img {
            height: 100%;
            float: right;
            display: inline-block;
            background: white;
        }

    .outer-row-profsetup .set-form-head-name {
        display: inline-block;
    }

    .outer-row-profsetup .cropie {
        max-width: 100%;
        height: 500px;
        padding-bottom: 50px;
    }

    .outer-row-profsetup .skip-btn {
        border: none;
        background: none;
    }

    .outer-row-profsetup .savebtn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

        .outer-row-profsetup .savebtn .btn {
            font-family: open sans;
            font-weight: 300;
            color: #fff;
            background-color: #339bb3;
        }

    .outer-row-profsetup .profimage {
        text-align: center;
        padding: 20px;
    }

        .outer-row-profsetup .profimage .p-st-dp {
            height: 100px;
        }

.prof-setup-cropie .loginmodal-container {
    max-width: 500px;
    height: 400px;
    padding-bottom: 50px;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
/*ProfileSetup end*/
/*tdashboard*/
.tdasboard-sidebar {
    height: 100vh;
    padding: 0;
    position: fixed;
    /*background: #fbfbfb;*/
}

.t-container {
    height: inherit;
    width: 100%;
    padding-top: 30px;
    color: #666666;
    font-family: open sans;
}

    .t-container .list-group-item {
        padding: 10px 15px;
        padding-right: 0;
        margin-bottom: -1px;
        background-color: transparent;
        border: none;
    }

.t-dash-workplace {
    font-family: open sans;
    font-weight: 300;
}
.tdash-box {
    /*background: white;*/
    width: 100%;
}

.tdash-box-head {
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    /*background: #339bb3;*/
    /*color: white;*/
}

.tdash-box-body {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.tdash-sol-box {
    width: 150px;
    border: 1px solid #ccc;
    margin-right: 15px;
    background: white;
}

.tdash-icon {
    width: 30px;
}

.newsolution-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tr-on-hov {
    visibility: hidden;
    display: inline-block;
    float: right;
    border: 15px solid #f2f2f2;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    margin-top: -7px;
}

.solutionhead {
    width: 100%;
    /* height: 100px; */
    background: #339bb3;
    padding: 10px;
    color: white;
}

.solutionbdy {
    text-align: center;
}
.solution-footer-new {
    text-align: center;
    margin-top: 30px;
}
/*tdashboard end*/
/*solution dashboard */
.s-dash-solution-desc {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.s-dash-container {
    min-height: 100vh;
    padding-top: 50px;
}
.s-dash-workplace {
    font-family: open sans;
    font-weight: 300;
    padding: 30px 10px 0px 0px;
}
    .s-dash-workplace .s-dash-workplace-tabs {
        background: white;
        min-height: 80vh;
        border-radius: 4px;
    }
    .s-dash-workplace .nav-tabs {
        border-bottom: 2px solid #DDD;
    }

    .s-dash-workplace .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }
    .s-dash-workplace .nav > li{
       width:25%;
    }

    .s-dash-workplace .nav > li > a {
        padding: 15px 15px;
        font-size: 14px;
        text-align: center;
        border: none;
        color: #666;
    }

    .s-dash-workplace .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        color: #4285F4 !important;
        background: transparent;
    }
    .s-dash-workplace .nav-tabs > li > a::after {
        content: "";
        background: #4285F4;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }
   .s-dash-workplace .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }
    .s-dash-workplace .tab-nav > li > a::after {
        background: #21527d none repeat scroll 0% 0%;
        color: #fff;
    }
    .s-dash-workplace .tab-content {
       padding:10px;
    }
    .s-dash-workplace .solution-logo{
        width:100%;
    }
