
body {
    --eb-blue: #339bb3;
    --eb-grey: #efefef;
    --eb-font: open sans;
    --eb-fontweight-light: 300;
    --eb-grey2: #fafafa;
    --on-boarding-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.c-blue {
    color: #4aade3;
}
.c-orange {
    color: #f37e1a;
}
.c-normal {
    color: #7d7979;
}
.eb-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-0 {
    padding: 0;
}

.mr-t-0 {
    margin-top: 0;
}

.mr-b-0 {
    margin-bottom: 0;
}

.pd-r-0 {
    padding-right: 0
}

.mr-t-50 {
    margin-top: 50px;
}

.pd-l-0 {
    padding-left: 0
}

/*ProfileSetup*/

.outer-row-profsetup {
    height: 100vh;
    padding-top: 40px;
    font-family: open sans;
    font-weight: 300;
    background: #efefef;
}

    .outer-row-profsetup label {
        font-weight: 300;
    }

    .outer-row-profsetup .profSetupSec {
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

        .outer-row-profsetup .profSetupSec .form-horizontal {
            padding: 0px 70px 15px 70px;
        }

    .outer-row-profsetup .set-form-head {
        width: 100%;
        background: #339bb3;
        color: white;
        font-size: 20px;
        padding: 10px;
    }

        .outer-row-profsetup .set-form-head img {
            height: 100%;
            float: right;
            display: inline-block;
            background: white;
        }

    .outer-row-profsetup .set-form-head-name {
        display: inline-block;
    }

    .outer-row-profsetup .cropie {
        max-width: 100%;
        height: 500px;
        padding-bottom: 50px;
    }

    .outer-row-profsetup .skip-btn {
        border: none;
        background: none;
    }

    .outer-row-profsetup .savebtn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

        .outer-row-profsetup .savebtn .btn {
            font-family: open sans;
            font-weight: 300;
            color: #fff;
            background-color: #339bb3;
        }

    .outer-row-profsetup .profimage {
        text-align: center;
        padding: 20px;
    }

        .outer-row-profsetup .profimage .p-st-dp {
            height: 100px;
        }

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
/*ProfileSetup end*/
/*tdashboard*/
.solution_container {
    width: 25%;
    float: left;
    padding: 5px;
}
.solution_container_pd {
    float: left;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: white;
}
    .solution_container_pd:hover, .solution_container_pd:focus {
        color: inherit;
        text-decoration: none;
        transform: translateY(-2px) scale(1.01);
    }
.sso_head {
    border-top: 1px solid #ebeff6;
    display: flex;
    justify-content: center;
}
.solution_container_pd .s_info {
    padding: 5px 15px;
    line-height: 1.3em;
}
    .s_info p {
        color: #979797;
    }
.solution_container_pd .s_info_img {
    justify-content: center;
    display: flex;
    WIDTH: AUTO;
    padding: 10px 10px 2px 10px;
}
    .solution_container_pd .s_info_img img{
        height:40px;
        width:auto;
    }
.s_info h4 {
    margin: 5px 0;
    font-size: 16px;
    color: #737373;
    font-weight: bold;
}
.tdasboard-sidebar {
    height: 100%;
    position: fixed;
    width: 18%;
    float: left;
}

.t-container {
    height: inherit;
    width: 100%;
    padding-top: 30px;
    font-family: open sans;
    background-color: #031b4d;
    border: 0 solid #e7e7e7;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.tdash-box-body {
    padding: 0 12px;
    float: left;
    width: 100%;
}

.solutionhead {
    width: 100%;
    background: #339bb3;
    padding: 10px;
    color: white;
}
.solution-footer-new {
    text-align: center;
    margin-top: 30px;
}
/*tdashboard end*/
/*solution dashboard */
.s-dash-solution-desc {
    padding: 15px 15px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.s-dash-container {
    min-height: 100vh;
    padding-top: 37px;
    background-color: white;
}

.s-dash-workplace {
    font-family: open sans;
    font-weight: 300;
    width: 82%;
    float: right;
}
.s-dash-workplace-tabs .nav-tabs {
    background-color: #f2f2f2;
}
.bgf2f2 {
    background-color: #f2f2f2 !important;
}
.s-dash-workplace .nav > li > a {
    font-size: 14px;
    color: #5d5c5c;
    font-weight: 400;
}
    .s-dash-workplace .nav-tabs > li.active > a {
        font-weight: bold;
        color: #528ff0;
    }
    .s-dash-workplace .tab-content {
        padding: 12px;
        float: left;
        width: 100%;
        background: white;
    }

    .s-dash-workplace .solution-logo {
        width: auto;
        height: 50px;
        float: right;
    }

    .s-dash-workplace .tab-pane {
        float: left;
        width: 100%;
    }

.table-form {
    margin-bottom: 0;
}

    .table-form .form-control {
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .table-form td {
        padding: 0 !important;
        vertical-align: middle !important;
        text-align: center;
    }

.table-btn {
    background-color: transparent;
}

.s-dash-modal .modal-dialog {
    width: 800px;
}

.s-dash-modal label {
    font-weight: 400;
}

.table-message {
    text-align: center;
    padding: 10px;
    border: 1px solid #adaaaa;
}

.td-width15 {
    width: 15%;
}
.uname-advanced-sec {
    margin-top: 10px;
    display: flex;
}
/*tenant add solution*/
.pd-0 {
    padding: 0;
}

.eb-flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.client-id-sec {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

    .client-id-sec p {
        margin-top: 10px;
        font-size: 13px;
    }

.input-clientId {
    width: 69%;
    display: inline-block;
}

.clientId-auto {
    font-size: 14px;
    color: #9e9e9e;
    display: inline;
}

.pricing-icon img {
    height: 40px;
}

.T-add-amount {
    font-size: 17px;
    color: #8e8282;
    font-weight: lighter;
}

.pricing-container {
    padding: 10px;
}

.tadd-pricing-head {
    text-align: center;
    color: #797878;
    font-weight: 100;
}

.eb-common-price-modal-container {
    padding: 15px;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

#eb-common-price-modal .modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
/*cdgfdjhdtjykuflkjyh*/
.tAddAcc {
    font-family: open sans;
    font-weight: 300;
    background-color: #eee;
}

    .tAddAcc .btn {
        border-radius: 0;
        background: white;
        border: 1px solid #e1e0e0;
    }

        .tAddAcc .btn:focus {
            border: none;
            outline: none;
        }

    .tAddAcc .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .tAddAcc .detailsec {
        margin-top: 50px;
    }

.detailsec-name {
    height: inherit;
}

.btn-upload i {
    pointer-events: none !important;
}

.detailsec-form {
    height: inherit;
}

.eb-products {
    margin-top: 30px;
}

.products-head {
    margin-top: 40px;
    color: #3ea8dc;
    font-family: sans-serif;
}

.detailsec-name-desc {
    text-align: center;
}

.pricing-modal-btn {
}

.add-accPricing-sec-table {
    background: white;
}

    .add-accPricing-sec-table .btn {
        background: white;
        border: 1px solid #e1e0e0;
        font-size: 12px;
    }

    .add-accPricing-sec-table td {
        text-align: center;
        cursor: pointer;
    }

.tAddAcc table td {
    vertical-align: central !important;
    width: 200px;
}

.logo-upload-container {
    padding: 10px 40px 0px 40px;
    border-radius: 4px;
}

.logo-upload {
    background: white;
    height: 130px;
    border: 1px solid #d7d7d7;
}

.eb-cropper .modal-dialog {
    width: 500px;
    margin: 100px auto;
}

.eb-cropper .eb-cropie-container {
    height: 350px;
    padding: 50px 50px 80px 50px;
    background: white;
    border-radius: 4px;
}

.price-selected .T-add-amount {
    font-size: 17px;
    color: #ffffff;
    font-weight: lighter;
}

.price-selected {
    background: #69ea69;
    border: none;
}

.popover-clientid-edit {
    display: none;
    background: #3ea8dc;
    position: fixed;
    z-index: 10000;
    top: 40vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    padding: 20px;
    border-radius: 4px;
}

    .popover-clientid-edit .popover-text {
        width: 100%;
        height: 78px;
        color: white;
        font-size: 16px;
    }

    .popover-clientid-edit .btn-section .btn {
        display: inline-block;
        color: #8c8989;
        border-radius: 4px;
        background: white;
        border: none;
    }

.height-100 {
    height: 100vh;
}

.card {
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 4em 0;
    font-family: open sans;
}

.card--content {
    background: white;
    min-width: 60%;
    border-radius: 4px;
    height: 100%;
    box-shadow: var(--eb-shadow2);
    position: relative;
}

.card--content-large {
    background: white;
    border: 1px solid #ccc;
    min-width: 80%;
    margin: 5px;
    border-radius: 6px;
    height: 100%;
}

.card--form {
    height: 100%;
    padding: 0 30px;
}

.none {
    min-width: 20%;
    margin-top: 50px;
}

.mr-l-20 {
    margin-left: 20%;
}

.mr-l-15 {
    margin-left: 15%;
}

.mr-l-10 {
    margin-left: 10%;
}

.desc-section {
    background: #fafafa;
    height: 100%;
    padding: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.products-head {
    margin-top: 0px;
    padding: 10px 0px;
    height: 50px;
}

.card--content-body {
    height: calc(100% - 100px);
    padding-top: 20px;
}

.card--content-footer {
}

.steps {
    width: 100%;
    text-align: center;
}

.step-no {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #ccc;
    margin: 5px;
    padding: 3px;
}

.step-no-blue {
    border-color: #3ea8e2;
}

.card--content-footer .btn {
    background: #4aade3;
    color: white;
    border-radius: 20px;
}

.card--content-footer .btn-success {
    background: #23c523 !important;
}

.subscript-submit {
    margin-top: 15px;
}

.small-desc {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: open sans;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: open sans;
}
.flex-center_rowwise {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: open sans;
}
.tdash_btn {
    font-size:18px;
}
.small-desc-last {
    height: calc(100% - 75px);
    padding-top: 30px;
}

.small-desc h4, p {
    color: #6f6d6d;
}

.small-desc-img {
    width: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.sol-name-review {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    resize: none;
    width: 100%;
}

.plan-label {
    width: 120px;
}

.plan-details {
    display: inline;
}

.tot-container {
    height: 50px;
}

.eb-sub-tot {
    font-size: 42px;
    text-align: center;
    color: #4aade3;
    font-weight: 600;
}

.total-head {
    display: flex;
    align-items: flex-end;
    height: inherit;
    font-size: 20px;
    text-align: right;
}

/*t addaacc latest----*/
.sol-info {
    display: none;
}

.prof-info-skip {
    display: none;
}

.display-inline {
    display: inline-block;
}
.prof-info-skip {
    display: none;
}
.app-info {
    display: none;
}

.apps-wrapper {
    padding: 15px;
    cursor: pointer;
    padding-left: 2px;
}

.apptype {
    height: 30px;
    margin: 10px;
}

.apps-wrapper-fchiled {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appselected {
    outline: 2px solid #4aade3;
}

/*toggle button*/
.uname-advanced-sec .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

    .uname-advanced-sec .switch input {
        display: none;
    }

.uname-advanced-sec .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .uname-advanced-sec .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 0px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.uname-advanced-sec input:checked + .slider {
    background-color: #2196F3;
}

.uname-advanced-sec input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.uname-advanced-sec input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.uname-advanced-sec .slider.round {
    border-radius: 34px;
}

    .uname-advanced-sec .slider.round:before {
        border-radius: 50%;
    }
/*toggle btn end*/
.log-upload-btn{
    border-radius:4px;
}
.logo_img_cont {
    height: 58px;
}
.logo_img_cont img{
    height: 100%;
    width:auto;
}
.mr-t-15{
    margin-top:15px;
}
.no-pointer-action{
    pointer-events:none;
}
.prdBTN_Click:hover {
    background: #eee;
}
.sname_fAppcreate {
    color: #9a9797;
}
.slash {
    color: #9a9797;
    padding: 0 3px;
}
.appicon_box input[name="AppIcon"] {
    border-color: #cccccc !important;
}
.appicon_box .input-group-addon {
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
}
.appicon_btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background: white;
    border: 1px solid #e1e0e0 !important;
    font-size: 20px;
    padding: 5px 12px;
}
/*DevDash*/
.apptype_icon_devd {
    height: 18px;
    width: auto;
    margin-top: -8px;
    margin-right: .3em;
}
/*app dash*/
.appicon_style {
    font-size: 30px;
    color: #e49a4c;
}
.apptype_icon {
    height: 15px;
    width: auto;
    margin-right: 0.4em;
}
.f16{
    font-size:16px;
}
.card--content-body .form-control {
    
    height: 40px;
    border: 1px solid #dedcda;
    border-radius: 0; 
}
    .card--content-body .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fff;
    }
.card--content-body .input-group .input-group-addon {
    border-radius:0;
}
.card--content-body label {
    font-weight: 400;
}
.circ_shadow {
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 2px;
    margin: 6px 0;
}
.row_eblog_t {
    position: fixed;
    width: 100%;
    text-align: center;
}
    .row_eblog_t img {
        height: 40px;
    }