@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link href="~/css/Docs.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="~/js/EbCropper.js" type="text/javascript"></script>
<script src="~/js/Docs/ImageUp.js" type="text/javascript"></script>
<div class="row home_head">
    <div class="home_head_header">
    </div>
    <div class="home_head_container form-inline" style="padding-left:20%;">
        <button class="btn home_btns upload_btn_docs mr-l20">Upload <i class="fa fa-upload"></i></button>
        <input type="text" class="form-control mr-l20 btn-search" placeholder="Search" aria-describedby="basic-addon1">
        <span class="fa fa-search" style="margin-left:-25px;color: #3e8ef7;"></span>
    </div>
</div>
<div class="row page-container">
    <div class="site-gridmenu site-menubar-unfold">
        <ul class="site-menu" data-plugin="menu" style="transform: translate3d(0px, 0px, 0px);">
            <li class="site-menu-category">General</li>
            <li class="site-menu-item" data-toggle="collapse" data-target="#demo">
                <a class="site-menu-list-item">
                    <i class="fa fa-home menu-icon"></i>
                    <span class="site-menu-title">Album</span>
                    <span class="site-menu-arrow"><i class="fa fa-chevron-right"></i></span>
                </a>
                <ul class="site-menu-sub collapse" id="demo">
                    <li class="site-menu-sub-items">
                        <a class="site-menu-list-item-a">
                            <span class="site-menu-sub-title">test</span>
                        </a>
                    </li>
                    <li class="site-menu-sub-items">
                        <a class="site-menu-list-item-a">
                            <span class="site-menu-sub-title">test1</span>
                        </a>
                    </li>
                    <li class="site-menu-sub-items">
                        <a class="site-menu-list-item-a">
                            <span class="site-menu-sub-title">test2</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="site-page">
        <div class="page-header">
            <h1 class="page-title">File Uploads</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
                <li class="breadcrumb-item active">File Uploads</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading" style="padding:0;">
                    <h3 class="panel-title">
                        Recent Uploads
                        <a class="last_update">last uploaded on 12/05/18</a>
                    </h3>
                </div>
                <div class="image_down_cont_body" id="image_down_cont_body">
                    @*<div class="img_wrapper">
                        <div class="img_wrapper_img">
                            <img src="~/images/amal.jpg" class="img-responsive" />
                        </div>
                        <div class="img_wrapper_text">
                            <h5 class="f">amal.jpg</h5>
                            <p class="f_s" data-toggle="tooltip" title="12/01/18"><i class="fa fa-upload"></i> 12/01/18</p>
                        </div>
                        <div class="btn_container form-inline">
                            <div class="dropdown" style="float:left;margin-right:5px">
                                <button type='button' data-toggle="dropdown" class='kv-file-upload btn btn-kv btn-default btn-outline-secondary dropdown-toggle' title='Download'><i class="fa fa-download"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Orgninal</a></li>
                                    <li><a href="#">Medium</a></li>
                                    <li><a href="#">small</a></li>
                                </ul>
                            </div>                            
                            <button type='button' class='kv-file-upload btn btn-kv btn-default btn-outline-secondary' title='Tag'>Tag</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        @*<div class="Recent_up_prev">
            <div class="Recent_up_prev_bdy">
                <img src="~/images/amal.jpg" class="img-responsive" />
            </div>
            <div class="img_info">
                <span class="fa fa-close _close_prev"></span>
                <h5>Upload success</h5>
            </div>
        </div>*@
    </div>  
</div>
<div class="upload_sec" style="display:none;">
    <div class="image_up_container_outer" id="image_up_container_outer">
        <div class="image_up_container_outer_header form-inline">
            <label><i class="fa fa-uplopad"></i> Upload Image</label>
            <button class="btn pull-right" onclick="$('.upload_sec').toggle('slide', { direction: 'down' }, 300);" style="color:white;background-color:transparent;margin-top:-7px"><i class="fa fa-close"></i></button>
        </div>
        <div class="image_up_container_outer_body">
            <div class="col-md-9" style="padding:30px;height:100%;">
                <input id="image_up_input" type='file' data-preview-file-type='text' multiple/>
            </div>
            <div class="col-md-3 tag_wrapper">
                <h4 class="tag-title">Add Tags</h4>
                <input class="form-control" id="tagsinput_input_comm" value="" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade tag_modal_wrapper" id="TagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:12%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="tagsinput_input_modal" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save_tag" id="save_tag">Save</button>
            </div>
        </div>
    </div>
</div>
   
<script>
    var im = new ImageUploader_Doc({Tenantid:'@ViewBag.cid'});
</script>